<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jinqiu/bg_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,521},{462,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,34}</string>
			</dict>
			<key>img/jinqiu/btn_ks.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,540},{131,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,61}</string>
			</dict>
			<key>img/jinqiu/btn_wdcj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1964,380},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/jinqiu/ico_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,342},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>
			<key>img/jinqiu/ico_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,2},{36,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,29}</string>
			</dict>
			<key>img/jinqiu/img_fs_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,2},{597,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,157}</string>
			</dict>
			<key>img/jinqiu/img_fs_dyh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,35},{28,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,18}</string>
			</dict>
			<key>img/jinqiu/img_fs_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,484},{587,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,33}</string>
			</dict>
			<key>img/jinqiu/img_guadai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1964,296},{82,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,163},{597,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,157}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,178},{597,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,157}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,324},{597,156}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,157}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,182},{597,156}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,157}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{609,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{609,172}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,470},{431,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,112}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,674},{158,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,41}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,521},{158,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,41}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_tab3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,551},{158,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,41}</string>
			</dict>
			<key>img/jinqiu/img_jjlb_tab4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,559},{158,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,41}</string>
			</dict>
			<key>img/jinqiu/img_kuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,586},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>img/jinqiu/img_kuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,2},{141,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,143}</string>
			</dict>
			<key>img/jinqiu/img_kuang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,149},{141,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,143}</string>
			</dict>
			<key>img/jinqiu/img_kuang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,296},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/jinqiu/img_qrjc_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,339},{629,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{629,138}</string>
			</dict>
			<key>img/jinqiu/img_qrjc_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,176}</string>
			</dict>
			<key>img/jinqiu/img_qrjc_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,342},{523,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,124}</string>
			</dict>
			<key>img/jinqiu/img_qrjc_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,2},{1,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,123}</string>
			</dict>
			<key>img/jinqiu/img_wp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,400},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,586},{91,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,456},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,565},{86,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,586},{89,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,470},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_wp7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,481},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img/jinqiu/img_xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,620},{572,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{572,1}</string>
			</dict>
			<key>img/jinqiu/jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,596},{584,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,20}</string>
			</dict>
			<key>img/jinqiu/jdt_jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,605},{582,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,16}</string>
			</dict>
			<key>img/jinqiu/wz_fsxd.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,481},{206,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,59}</string>
			</dict>
			<key>img/jinqiu/wz_hhjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,481},{395,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,55}</string>
			</dict>
			<key>img/jinqiu/wz_jjlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,648},{98,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,27}</string>
			</dict>
			<key>img/jinqiu/wz_jjlb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,540},{203,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,54}</string>
			</dict>
			<key>img/jinqiu/wz_jqth.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,586},{99,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,27}</string>
			</dict>
			<key>img/jinqiu/wz_jqxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,544},{202,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,54}</string>
			</dict>
			<key>img/jinqiu/wz_qrjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,617},{99,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,27}</string>
			</dict>
			<key>img/jinqiu/wz_qrjc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,598},{203,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jinqiu.png</string>
			<key>realTextureFileName</key>
			<string>jinqiu.png</string>
			<key>size</key>
			<string>{2048,717}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>717</integer>
		</dict>
	</dict>
</plist>