<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shirenmoshouling/Skill/baodian_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{529,465}}</string>
				<key>offset</key>
				<string>{65,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{591,627}}</string>
				<key>offset</key>
				<string>{39,97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/baodian_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,1510},{458,439}}</string>
				<key>offset</key>
				<string>{-70,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/baodian_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,529},{528,439}}</string>
				<key>offset</key>
				<string>{-58,63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/baodian_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1163},{549,443}}</string>
				<key>offset</key>
				<string>{-59,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/baodian_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,627},{536,479}}</string>
				<key>offset</key>
				<string>{-62,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/baodian_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1057},{498,453}}</string>
				<key>offset</key>
				<string>{39,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,627},{599,550}}</string>
				<key>offset</key>
				<string>{43,79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1226},{596,535}}</string>
				<key>offset</key>
				<string>{14,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1226},{653,460}}</string>
				<key>offset</key>
				<string>{1,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1712},{555,284}}</string>
				<key>offset</key>
				<string>{44,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,0},{568,274}}</string>
				<key>offset</key>
				<string>{51,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,522},{455,247}}</string>
				<key>offset</key>
				<string>{8,-63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
			<key>img/shirenmoshouling/Skill/di_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,274},{469,248}}</string>
				<key>offset</key>
				<string>{4,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,940}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shirenmoshouling_skill_baodian.png</string>
			<key>realTextureFileName</key>
			<string>ani_shirenmoshouling_skill_baodian.png</string>
			<key>size</key>
			<string>{2008,1996}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2008</integer>
			<key>height</key>
			<integer>1996</integer>
		</dict>
	</dict>
</plist>