<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dh/xndyh_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,2},{287,249}}</string>
				<key>offset</key>
				<string>{-17,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,253},{285,248}}</string>
				<key>offset</key>
				<string>{-16,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,505},{252,239}}</string>
				<key>offset</key>
				<string>{-21,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,265},{252,241}}</string>
				<key>offset</key>
				<string>{-21,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,510},{247,242}}</string>
				<key>offset</key>
				<string>{-23,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,756},{240,242}}</string>
				<key>offset</key>
				<string>{-22,-52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,761},{232,241}}</string>
				<key>offset</key>
				<string>{-19,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,2},{287,247}}</string>
				<key>offset</key>
				<string>{-17,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{287,259}}</string>
				<key>offset</key>
				<string>{-17,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,505},{224,232}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,255},{246,274}}</string>
				<key>offset</key>
				<string>{-14,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/zj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,505},{216,203}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dh/zj_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,741},{226,210}}</string>
				<key>offset</key>
				<string>{-6,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dh/zj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,761},{241,216}}</string>
				<key>offset</key>
				<string>{-9,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_boss_dh02.png</string>
			<key>realTextureFileName</key>
			<string>ani_boss_dh02.png</string>
			<key>size</key>
			<string>{934,1004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>934</integer>
			<key>height</key>
			<integer>1004</integer>
		</dict>
	</dict>
</plist>