<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/aofa/skill/baodian/jizhong_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,2},{68,67}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{71,68}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,2},{66,67}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,2},{64,68}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,2},{66,68}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,2},{64,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2},{65,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,70},{65,64}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,72},{67,60}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,133},{68,54}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{68,55}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,133},{68,56}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,73},{68,57}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,72},{67,57}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,134},{62,57}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,191},{62,57}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,136},{53,57}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,70},{50,56}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,70},{46,56}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,120},{46,48}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,120},{32,47}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,124},{30,46}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
			<key>img/aofa/skill/baodian/jizhong_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,70},{23,33}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_aofa_skill_baodian.png</string>
			<key>realTextureFileName</key>
			<string>ani_aofa_skill_baodian.png</string>
			<key>size</key>
			<string>{507,250}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>507</integer>
			<key>height</key>
			<integer>250</integer>
		</dict>
	</dict>
</plist>