<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/aoshumoshushi/skill/bd/bd_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,710},{238,238}}</string>
				<key>offset</key>
				<string>{-9,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,2},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,356},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,2},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,356},{348,350}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,319},{316,313}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,2},{324,313}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,2},{329,313}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,2},{323,324}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,710},{291,325}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,710},{108,167}}</string>
				<key>offset</key>
				<string>{20,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/bd/bd_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,881},{100,152}}</string>
				<key>offset</key>
				<string>{17,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aoshumoshushi_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>aoshumoshushi_jnbd.png</string>
			<key>size</key>
			<string>{2045,1003}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>1003</integer>
		</dict>
	</dict>
</plist>