<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangci/atkbd/00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,624},{273,264}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,322},{300,300}}</string>
				<key>offset</key>
				<string>{2,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,330},{311,301}}</string>
				<key>offset</key>
				<string>{7,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{328,316}}</string>
				<key>offset</key>
				<string>{18,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,2},{324,316}}</string>
				<key>offset</key>
				<string>{22,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{340,324}}</string>
				<key>offset</key>
				<string>{29,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
			<key>img/guangci/atkbd/00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,322},{331,298}}</string>
				<key>offset</key>
				<string>{24,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,371}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_gc_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_gc_jnbd.png</string>
			<key>size</key>
			<string>{1004,890}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1004</integer>
			<key>height</key>
			<integer>890</integer>
		</dict>
	</dict>
</plist>