<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heianyouxia/atk/bd/bd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,754},{244,244}}</string>
				<key>offset</key>
				<string>{38,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,518},{249,249}}</string>
				<key>offset</key>
				<string>{38,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,773},{258,249}}</string>
				<key>offset</key>
				<string>{34,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{255,253}}</string>
				<key>offset</key>
				<string>{35,-143}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{258,258}}</string>
				<key>offset</key>
				<string>{36,-145}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{256,260}}</string>
				<key>offset</key>
				<string>{36,-147}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,767},{249,249}}</string>
				<key>offset</key>
				<string>{38,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,258},{249,249}}</string>
				<key>offset</key>
				<string>{38,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,507},{244,247}}</string>
				<key>offset</key>
				<string>{38,-142}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/atk/bd/bd_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{240,240}}</string>
				<key>offset</key>
				<string>{38,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_hayx_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_hayx_jnbd.png</string>
			<key>size</key>
			<string>{751,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>751</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>