<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zd/zd_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zd/zd_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_lxmr_pgzd.png</string>
			<key>realTextureFileName</key>
			<string>atk_lxmr_pgzd.png</string>
			<key>size</key>
			<string>{1216,912}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1216</integer>
			<key>height</key>
			<integer>912</integer>
		</dict>
	</dict>
</plist>