<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingcike/atk_dd/dd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{282,99}}</string>
				<key>offset</key>
				<string>{41,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/wanglingcike/atk_dd/dd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{282,99}}</string>
				<key>offset</key>
				<string>{41,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/wanglingcike/atk_dd/dd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{282,99}}</string>
				<key>offset</key>
				<string>{41,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/wanglingcike/atk_dd/dd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{282,100}}</string>
				<key>offset</key>
				<string>{41,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/wanglingcike/atk_dd/dd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{282,102}}</string>
				<key>offset</key>
				<string>{41,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_wlck_jndd.png</string>
			<key>realTextureFileName</key>
			<string>atk_wlck_jndd.png</string>
			<key>size</key>
			<string>{1410,102}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1410</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</plist>