<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jnbd/jnbd_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/jnbd/jnbd_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_lxmr_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_lxmr_jnbd.png</string>
			<key>size</key>
			<string>{2020,2020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2020</integer>
			<key>height</key>
			<integer>2020</integer>
		</dict>
	</dict>
</plist>