<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,720},{185,183}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{244,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,2},{244,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,2},{244,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,2},{244,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,249},{244,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,729},{227,227}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,497},{228,227}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,497},{219,218}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
			<key>img/zhixingguan/atkbaodian/shouji/zxg_skill_hit_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,249},{203,205}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_zxg_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_zxg_jnbd.png</string>
			<key>size</key>
			<string>{992,958}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>992</integer>
			<key>height</key>
			<integer>958</integer>
		</dict>
	</dict>
</plist>