<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zb/zb_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2830},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3234},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3638},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2426,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2830,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{3234,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{3638,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2830},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_059.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,3234},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_061.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,3638},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_064.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_066.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_068.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_070.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_073.png</key>
			<dict>
				<key>frame</key>
				<string>{{2426,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_075.png</key>
			<dict>
				<key>frame</key>
				<string>{{2830,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_077.png</key>
			<dict>
				<key>frame</key>
				<string>{{3234,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_079.png</key>
			<dict>
				<key>frame</key>
				<string>{{3638,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_082.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_084.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_086.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/zb/zb_088.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2830},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,3234},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,3638},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2426,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2830,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3234,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{3638,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/gz/gz_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_lxmr_buff.png</string>
			<key>realTextureFileName</key>
			<string>atk_lxmr_buff.png</string>
			<key>size</key>
			<string>{4040,4040}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4040</integer>
			<key>height</key>
			<integer>4040</integer>
		</dict>
	</dict>
</plist>