<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dikang/dikang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,216},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,431},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,216},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,431},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,646},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,216},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,216},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,431},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,646},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
			<key>img/dikang/dikang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,431},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,213}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_dikang.png</string>
			<key>realTextureFileName</key>
			<string>buff_dikang.png</string>
			<key>size</key>
			<string>{832,860}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>832</integer>
			<key>height</key>
			<integer>860</integer>
		</dict>
	</dict>
</plist>