<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buffhuihe/shalou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{29,34}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_huihe.png</string>
			<key>realTextureFileName</key>
			<string>buff_huihe.png</string>
			<key>size</key>
			<string>{33,38}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
		</dict>
	</dict>
</plist>