<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buffbingdong/10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{283,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,252}</string>
			</dict>
			<key>img/buffbingdong/tu/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,2},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,2},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,2},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,102},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,102},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,102},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,102},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,202},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,258},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,202},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,202},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,202},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,302},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
			<key>img/buffbingdong/tu/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,358},{154,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_bingdong.png</string>
			<key>realTextureFileName</key>
			<string>buff_bingdong.png</string>
			<key>size</key>
			<string>{919,456}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>919</integer>
			<key>height</key>
			<integer>456</integer>
		</dict>
	</dict>
</plist>