<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/fanshe/fanshe_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,208},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,208},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,208},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,415},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,622},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,415},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,415},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>img/fanshe/fanshe_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,622},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_fanshe.png</string>
			<key>realTextureFileName</key>
			<string>buff_fanshe.png</string>
			<key>size</key>
			<string>{944,828}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>944</integer>
			<key>height</key>
			<integer>828</integer>
		</dict>
	</dict>
</plist>