<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buffchenmo/cm0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>img/buffchenmo/cm0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_chenmo.png</string>
			<key>realTextureFileName</key>
			<string>buff_chenmo.png</string>
			<key>size</key>
			<string>{549,47}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>549</integer>
			<key>height</key>
			<integer>47</integer>
		</dict>
	</dict>
</plist>