<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,2},{307,191}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,2},{306,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,198},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,587},{304,191}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,198},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,392},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,392},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{306,192}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,2},{306,192}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,2},{306,192}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,2},{307,191}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,197},{306,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,392},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,587},{304,191}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,393},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,393},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,393},{305,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,197},{306,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,197},{306,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
			<key>img/chaoxixingzhe/chaoxixingzhe/chuan/cxxz_skill_chuan_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,198},{306,191}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_cx_jndd.png</string>
			<key>realTextureFileName</key>
			<string>sk_cx_jndd.png</string>
			<key>size</key>
			<string>{1862,780}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1862</integer>
			<key>height</key>
			<integer>780</integer>
		</dict>
	</dict>
</plist>