<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangci/skillbd/00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,253},{162,161}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{265,247}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,429},{155,151}}</string>
				<key>offset</key>
				<string>{7,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,253},{172,175}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,220},{201,208}}</string>
				<key>offset</key>
				<string>{-4,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,2},{265,247}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2},{222,214}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,2},{216,216}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,253},{177,177}}</string>
				<key>offset</key>
				<string>{13,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,418},{154,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,434},{142,157}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,580},{141,143}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,2},{146,132}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
			<key>img/guangci/skillbd/00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,2},{139,129}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,247}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_gc_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>sk_gc_jnbd.png</string>
			<key>size</key>
			<string>{1277,723}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1277</integer>
			<key>height</key>
			<integer>723</integer>
		</dict>
	</dict>
</plist>