<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heianyouxia/skill/bd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{4018,1},{290,68}}</string>
				<key>offset</key>
				<string>{1,-208}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3382,1},{455,159}}</string>
				<key>offset</key>
				<string>{2,-208}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{3382,162},{258,161}}</string>
				<key>offset</key>
				<string>{9,-175}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{3839,1},{266,177}}</string>
				<key>offset</key>
				<string>{-4,-168}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{587,394}}</string>
				<key>offset</key>
				<string>{19,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,1},{490,369}}</string>
				<key>offset</key>
				<string>{12,-124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{492,375}}</string>
				<key>offset</key>
				<string>{16,-121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1},{493,375}}</string>
				<key>offset</key>
				<string>{16,-121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1},{492,374}}</string>
				<key>offset</key>
				<string>{16,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2565,1},{426,310}}</string>
				<key>offset</key>
				<string>{-10,-150}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/skill/bd_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2993,1},{387,263}}</string>
				<key>offset</key>
				<string>{21,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_hayx_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>sk_hayx_jnbd.png</string>
			<key>size</key>
			<string>{4087,396}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4087</integer>
			<key>height</key>
			<integer>396</integer>
		</dict>
	</dict>
</plist>