<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jixiezhanjing/skill/xiaobaodian/baodian1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,370},{133,141}}</string>
				<key>offset</key>
				<string>{216,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1220,828}</string>
			</dict>
			<key>img/jixiezhanjing/skill/xiaobaodian/baodian1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,560},{164,173}}</string>
				<key>offset</key>
				<string>{217,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1220,828}</string>
			</dict>
			<key>img/jixiezhanjing/skill/xiaobaodian/baodian1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{163,188}}</string>
				<key>offset</key>
				<string>{216,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1220,828}</string>
			</dict>
			<key>img/jixiezhanjing/skill/xiaobaodian/baodian1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{174,188}}</string>
				<key>offset</key>
				<string>{212,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1220,828}</string>
			</dict>
			<key>img/jixiezhanjing/skill/xiaobaodian/baodian1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{174,177}}</string>
				<key>offset</key>
				<string>{214,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1220,828}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_jxzj_jnbd1.png</string>
			<key>realTextureFileName</key>
			<string>sk_jxzj_jnbd1.png</string>
			<key>size</key>
			<string>{300,734}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>734</integer>
		</dict>
	</dict>
</plist>