<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3956},{144,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3380},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3759},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,3380},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,3095},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,2792},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2479},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,2165},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1845},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,3759},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1498},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1118},{375,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1118},{361,180}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,721},{361,180}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,352},{361,180}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,3292},{348,174}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzx/aosu_skill_bzx_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,3292},{329,164}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,200}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,2989},{185,190}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1845},{285,316}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1498},{309,343}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,753},{330,361}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{348,364}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,384},{348,365}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,753},{338,372}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{340,378}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1129},{340,365}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2},{342,346}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,370},{343,347}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2165},{310,280}}</string>
				<key>offset</key>
				<string>{19,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2479},{309,274}}</string>
				<key>offset</key>
				<string>{19,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2792},{299,270}}</string>
				<key>offset</key>
				<string>{24,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3095},{281,268}}</string>
				<key>offset</key>
				<string>{23,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
			<key>img/aoshu/bzs/aosu_skill_bzs_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1695},{160,144}}</string>
				<key>offset</key>
				<string>{-30,77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,391}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_sbtj_jndb.png</string>
			<key>realTextureFileName</key>
			<string>sk_sbtj_jndb.png</string>
			<key>size</key>
			<string>{1042,4061}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1042</integer>
			<key>height</key>
			<integer>4061</integer>
		</dict>
	</dict>
</plist>