<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{109,141}}</string>
				<key>offset</key>
				<string>{-45,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{106,141}}</string>
				<key>offset</key>
				<string>{-46,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,846},{106,141}}</string>
				<key>offset</key>
				<string>{-46,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{113,141}}</string>
				<key>offset</key>
				<string>{-43,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{113,141}}</string>
				<key>offset</key>
				<string>{-43,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{114,141}}</string>
				<key>offset</key>
				<string>{-42,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,705},{106,141}}</string>
				<key>offset</key>
				<string>{-46,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,846},{106,141}}</string>
				<key>offset</key>
				<string>{-46,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,423},{106,139}}</string>
				<key>offset</key>
				<string>{-46,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{110,141}}</string>
				<key>offset</key>
				<string>{-44,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/sk_dd/sk_dandao_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{110,141}}</string>
				<key>offset</key>
				<string>{-44,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_wlck_jndd.png</string>
			<key>realTextureFileName</key>
			<string>sk_wlck_jndd.png</string>
			<key>size</key>
			<string>{318,987}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>318</integer>
			<key>height</key>
			<integer>987</integer>
		</dict>
	</dict>
</plist>