<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingcike/bd/bd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3203,677},{378,290}}</string>
				<key>offset</key>
				<string>{50,-109}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2806,411},{397,297}}</string>
				<key>offset</key>
				<string>{43,-109}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{600,449}}</string>
				<key>offset</key>
				<string>{29,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2806,0},{557,411}}</string>
				<key>offset</key>
				<string>{50,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,0},{551,423}}</string>
				<key>offset</key>
				<string>{53,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,0},{551,425}}</string>
				<key>offset</key>
				<string>{53,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{551,426}}</string>
				<key>offset</key>
				<string>{53,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{3363,0},{492,354}}</string>
				<key>offset</key>
				<string>{29,-114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{3363,354},{428,323}}</string>
				<key>offset</key>
				<string>{60,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3791,354},{451,277}}</string>
				<key>offset</key>
				<string>{69,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
			<key>img/wanglingcike/bd/bd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2253,0},{553,420}}</string>
				<key>offset</key>
				<string>{52,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_wlck_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>sk_wlck_jnbd.png</string>
			<key>size</key>
			<string>{4068,967}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4068</integer>
			<key>height</key>
			<integer>967</integer>
		</dict>
	</dict>
</plist>