<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{125,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,2},{125,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,2},{125,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,2},{125,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,2},{124,64}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
			<key>img/zhixingguan/jndandao/zidan/zxg_skill_zd_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2},{125,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_zxg_jndd.png</string>
			<key>realTextureFileName</key>
			<string>sk_zxg_jndd.png</string>
			<key>size</key>
			<string>{773,68}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>773</integer>
			<key>height</key>
			<integer>68</integer>
		</dict>
	</dict>
</plist>