<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengzhanshi/gj/ptgj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{340,162}}</string>
				<key>offset</key>
				<string>{39,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/xienengzhanshi/gj/ptgj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{298,108}}</string>
				<key>offset</key>
				<string>{53,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/xienengzhanshi/gj/ptgj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,2},{266,102}}</string>
				<key>offset</key>
				<string>{77,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/xienengzhanshi/gj/ptgj_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,2},{240,96}}</string>
				<key>offset</key>
				<string>{66,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/xienengzhanshi/gj/ptgj_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,108},{86,88}}</string>
				<key>offset</key>
				<string>{119,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengzhanshigongji.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengzhanshigongji.png</string>
			<key>size</key>
			<string>{1016,244}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>244</integer>
		</dict>
	</dict>
</plist>