<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengfashi/pgbaodian/bao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{106,99}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,143},{146,134}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1},{152,144}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{162,141}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{159,140}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,144},{140,139}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{138,141}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/xienengfashi/pgbaodian/bao_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{136,136}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengfashi_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengfashi_pgbaodian.png</string>
			<key>size</key>
			<string>{868,284}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>868</integer>
			<key>height</key>
			<integer>284</integer>
		</dict>
	</dict>
</plist>