<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shexianpugong_shouji/jizhong_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,2},{115,117}}</string>
				<key>offset</key>
				<string>{-9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,166},{162,157}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2},{179,162}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,2},{180,160}}</string>
				<key>offset</key>
				<string>{6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{188,163}}</string>
				<key>offset</key>
				<string>{14,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,2},{169,163}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,292},{190,136}}</string>
				<key>offset</key>
				<string>{13,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,168},{146,120}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,411},{147,114}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,169},{147,118}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2},{147,109}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,291},{147,116}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,115},{147,109}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,123},{84,96}}</string>
				<key>offset</key>
				<string>{-11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
			<key>img/shexianpugong_shouji/jizhong_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,223},{81,61}}</string>
				<key>offset</key>
				<string>{-11,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,202}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xiaobingattack0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xiaobingattack0.png</string>
			<key>size</key>
			<string>{1002,527}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1002</integer>
			<key>height</key>
			<integer>527</integer>
		</dict>
	</dict>
</plist>