<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duye/putonggongji/daguang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,246},{233,230}}</string>
				<key>offset</key>
				<string>{-45,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
			<key>img/duye/putonggongji/daguang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{324,257}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
			<key>img/duye/putonggongji/daguang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{324,253}}</string>
				<key>offset</key>
				<string>{12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
			<key>img/duye/putonggongji/daguang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,2},{304,240}}</string>
				<key>offset</key>
				<string>{14,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
			<key>img/duye/putonggongji/daguang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,259},{181,139}}</string>
				<key>offset</key>
				<string>{56,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
			<key>img/duye/putonggongji/daguang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,2},{46,58}}</string>
				<key>offset</key>
				<string>{103,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,325}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_duyegongji.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_duyegongji.png</string>
			<key>size</key>
			<string>{1014,478}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>478</integer>
		</dict>
	</dict>
</plist>