<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/feifuchongji_shouji/baodian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{109,109}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,676},{147,153}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,676},{154,157}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,344},{161,162}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,510},{161,162}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,176},{165,164}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,2},{167,170}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,721},{168,173}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{168,177}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,183},{168,177}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,364},{168,175}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,543},{168,174}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,837},{135,168}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
			<key>img/feifuchongji_shouji/baodian_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,898},{85,85}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_feifuchongji0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_feifuchongji0.png</string>
			<key>size</key>
			<string>{481,1009}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>481</integer>
			<key>height</key>
			<integer>1009</integer>
		</dict>
	</dict>
</plist>