<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xieneng_baozha/hit_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,103},{110,72}}</string>
				<key>offset</key>
				<string>{25,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,411},{163,128}}</string>
				<key>offset</key>
				<string>{27,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,395},{176,127}}</string>
				<key>offset</key>
				<string>{37,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,362},{206,133}}</string>
				<key>offset</key>
				<string>{40,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,218},{212,140}}</string>
				<key>offset</key>
				<string>{37,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,228},{180,165}}</string>
				<key>offset</key>
				<string>{15,-96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,204},{189,187}}</string>
				<key>offset</key>
				<string>{15,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,2},{199,198}}</string>
				<key>offset</key>
				<string>{15,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,2},{212,212}}</string>
				<key>offset</key>
				<string>{17,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,2},{225,222}}</string>
				<key>offset</key>
				<string>{17,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{236,234}}</string>
				<key>offset</key>
				<string>{17,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,261},{142,146}}</string>
				<key>offset</key>
				<string>{6,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,240},{142,142}}</string>
				<key>offset</key>
				<string>{6,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,386},{137,141}}</string>
				<key>offset</key>
				<string>{5,-78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,2},{108,97}}</string>
				<key>offset</key>
				<string>{-6,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,179},{71,78}}</string>
				<key>offset</key>
				<string>{14,-76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,240},{62,39}}</string>
				<key>offset</key>
				<string>{7,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
			<key>img/xieneng_baozha/hit_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,179},{54,37}}</string>
				<key>offset</key>
				<string>{2,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,672}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengjiguang0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengjiguang0.png</string>
			<key>size</key>
			<string>{1024,541}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>541</integer>
		</dict>
	</dict>
</plist>