<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anmu/pgbaodian/baodian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,818},{171,210}}</string>
				<key>offset</key>
				<string>{4,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,279},{253,255}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{269,276}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,279},{263,271}}</string>
				<key>offset</key>
				<string>{11,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,552},{258,264}}</string>
				<key>offset</key>
				<string>{21,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,552},{256,256}}</string>
				<key>offset</key>
				<string>{22,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,536},{240,239}}</string>
				<key>offset</key>
				<string>{22,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,810},{208,221}}</string>
				<key>offset</key>
				<string>{17,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,818},{167,206}}</string>
				<key>offset</key>
				<string>{17,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anmu/pgbaodian/baodian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,778},{148,163}}</string>
				<key>offset</key>
				<string>{17,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anmu_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anmu_pgbaodian.png</string>
			<key>size</key>
			<string>{793,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>793</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>