<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duye/jineng/dz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,281},{172,171}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,457},{156,171}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,457},{139,171}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{289,171}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{288,171}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{289,171}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,2},{289,171}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,469},{287,171}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,760},{284,170}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/jineng/dz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,2},{283,125}}</string>
				<key>offset</key>
				<string>{-5,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,709},{26,52}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,709},{44,86}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,934},{63,110}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,177},{105,138}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,260},{138,164}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,632},{168,149}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,505},{200,183}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,289},{177,212}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,888},{129,103}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,804},{165,136}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,739},{145,193}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,177},{100,134}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,177},{79,54}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,177},{95,67}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,934},{113,78}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
			<key>img/duye/duozhanji/zdcs_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,934},{125,83}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_duyejineng01.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_duyejineng01.png</string>
			<key>size</key>
			<string>{1008,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>