<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangshuxing_baozhao/gsx01.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,868},{128,137}}</string>
				<key>offset</key>
				<string>{28,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx02.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,719},{143,145}}</string>
				<key>offset</key>
				<string>{27,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx03.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,2},{155,154}}</string>
				<key>offset</key>
				<string>{27,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx04.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,371},{167,164}}</string>
				<key>offset</key>
				<string>{27,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,373},{174,174}}</string>
				<key>offset</key>
				<string>{25,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx06.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,198},{170,160}}</string>
				<key>offset</key>
				<string>{21,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx07.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,551},{173,164}}</string>
				<key>offset</key>
				<string>{20,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx08.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,198},{176,169}}</string>
				<key>offset</key>
				<string>{21,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{180,171}}</string>
				<key>offset</key>
				<string>{21,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx11.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,2},{157,179}}</string>
				<key>offset</key>
				<string>{33,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,551},{159,187}}</string>
				<key>offset</key>
				<string>{32,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,742},{159,187}}</string>
				<key>offset</key>
				<string>{32,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx17.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,2},{159,192}}</string>
				<key>offset</key>
				<string>{32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
			<key>img/guangshuxing_baozhao/gsx19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{159,192}}</string>
				<key>offset</key>
				<string>{32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,254}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_guangxian0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_guangxian0.png</string>
			<key>size</key>
			<string>{667,1007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>667</integer>
			<key>height</key>
			<integer>1007</integer>
		</dict>
	</dict>
</plist>