<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{309,109}}</string>
				<key>offset</key>
				<string>{73,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,257},{308,115}}</string>
				<key>offset</key>
				<string>{74,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,125},{311,118}}</string>
				<key>offset</key>
				<string>{72,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1},{317,122}}</string>
				<key>offset</key>
				<string>{75,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1},{322,125}}</string>
				<key>offset</key>
				<string>{81,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{325,128}}</string>
				<key>offset</key>
				<string>{86,-61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{285,127}}</string>
				<key>offset</key>
				<string>{113,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,128},{289,127}}</string>
				<key>offset</key>
				<string>{116,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/jiguang/jiguang_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,245},{317,112}}</string>
				<key>offset</key>
				<string>{108,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shenpanpifu_jiguang.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shenpanpifu_jiguang.png</string>
			<key>size</key>
			<string>{970,570}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>970</integer>
			<key>height</key>
			<integer>570</integer>
		</dict>
	</dict>
</plist>