<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anyingcike/pgbaodian/bao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,910},{129,95}}</string>
				<key>offset</key>
				<string>{13,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,184},{147,138}}</string>
				<key>offset</key>
				<string>{37,-71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{173,181}}</string>
				<key>offset</key>
				<string>{64,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{138,144}}</string>
				<key>offset</key>
				<string>{61,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{148,132}}</string>
				<key>offset</key>
				<string>{62,-75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{150,125}}</string>
				<key>offset</key>
				<string>{64,-77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/anyingcike/pgbaodian/bao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,781},{127,109}}</string>
				<key>offset</key>
				<string>{72,-80}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anyingcike_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anyingcike_pgbaodian.png</string>
			<key>size</key>
			<string>{175,1006}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>1006</integer>
		</dict>
	</dict>
</plist>