<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heifeng_pifu/shouji/f_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,2},{335,268}}</string>
				<key>offset</key>
				<string>{216,-301}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,2},{350,238}}</string>
				<key>offset</key>
				<string>{227,-287}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,244},{356,264}}</string>
				<key>offset</key>
				<string>{237,-291}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,262},{380,274}}</string>
				<key>offset</key>
				<string>{235,-293}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,409},{396,281}}</string>
				<key>offset</key>
				<string>{232,-299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,2},{411,256}}</string>
				<key>offset</key>
				<string>{227,-284}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,646},{391,260}}</string>
				<key>offset</key>
				<string>{209,-279}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{403,295}}</string>
				<key>offset</key>
				<string>{209,-294}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,409},{385,286}}</string>
				<key>offset</key>
				<string>{197,-302}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00075.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,604},{312,289}}</string>
				<key>offset</key>
				<string>{230,-300}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,2},{290,244}}</string>
				<key>offset</key>
				<string>{219,-275}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,341},{308,251}}</string>
				<key>offset</key>
				<string>{224,-282}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
			<key>img/heifeng_pifu/shouji/f_00081.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,809},{111,166}}</string>
				<key>offset</key>
				<string>{213,-309}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_heifeng_pifu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_heifeng_pifu1.png</string>
			<key>size</key>
			<string>{1641,977}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1641</integer>
			<key>height</key>
			<integer>977</integer>
		</dict>
	</dict>
</plist>