<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhangyunv/jn_bd/d02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1616},{260,266}}</string>
				<key>offset</key>
				<string>{-82,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d03.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,366},{297,281}}</string>
				<key>offset</key>
				<string>{-84,-106}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,369},{294,283}}</string>
				<key>offset</key>
				<string>{-84,-103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,1751},{268,276}}</string>
				<key>offset</key>
				<string>{-93,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d06.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1560},{271,278}}</string>
				<key>offset</key>
				<string>{-93,-107}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1191},{276,285}}</string>
				<key>offset</key>
				<string>{-92,-104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/jn_bd/d08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1471},{276,281}}</string>
				<key>offset</key>
				<string>{-90,-96}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00076.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,667},{361,229}}</string>
				<key>offset</key>
				<string>{-38,-256}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,667},{359,229}}</string>
				<key>offset</key>
				<string>{-37,-256}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00078.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,1030},{357,230}}</string>
				<key>offset</key>
				<string>{-36,-257}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1560},{359,330}}</string>
				<key>offset</key>
				<string>{-35,-208}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00080.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,828},{359,531}}</string>
				<key>offset</key>
				<string>{-35,-107}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00081.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,2},{360,722}}</string>
				<key>offset</key>
				<string>{-35,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00082.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,2},{363,691}}</string>
				<key>offset</key>
				<string>{-36,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00083.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,828},{364,495}}</string>
				<key>offset</key>
				<string>{-36,-127}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00084.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,1391},{451,314}}</string>
				<key>offset</key>
				<string>{6,-296}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou1/f_00087.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1191},{474,365}}</string>
				<key>offset</key>
				<string>{15,-320}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1032},{83,108}}</string>
				<key>offset</key>
				<string>{-42,-346}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00080.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1304},{456,308}}</string>
				<key>offset</key>
				<string>{-39,-353}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00081.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,366},{458,421}}</string>
				<key>offset</key>
				<string>{-37,-298}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00082.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1327},{457,314}}</string>
				<key>offset</key>
				<string>{-37,-353}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00083.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,369},{455,462}}</string>
				<key>offset</key>
				<string>{-36,-280}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00084.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{577,666}}</string>
				<key>offset</key>
				<string>{28,-179}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/chushou/e_00087.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,672},{599,628}}</string>
				<key>offset</key>
				<string>{45,-202}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_zhangyu_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_zhangyu_jn.png</string>
			<key>size</key>
			<string>{2044,2021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2044</integer>
			<key>height</key>
			<integer>2021</integer>
		</dict>
	</dict>
</plist>