<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/meidusha/jn/bao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,2},{421,231}}</string>
				<key>offset</key>
				<string>{-5,-125}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{401,296}}</string>
				<key>offset</key>
				<string>{10,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,427},{337,286}}</string>
				<key>offset</key>
				<string>{-3,-97}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,2},{340,305}}</string>
				<key>offset</key>
				<string>{-2,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{345,295}}</string>
				<key>offset</key>
				<string>{-6,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,601},{329,302}}</string>
				<key>offset</key>
				<string>{-2,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,311},{338,296}}</string>
				<key>offset</key>
				<string>{-3,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,611},{321,279}}</string>
				<key>offset</key>
				<string>{1,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,768},{191,151}}</string>
				<key>offset</key>
				<string>{3,-85}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,894},{137,99}}</string>
				<key>offset</key>
				<string>{-2,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/meidusha/jn/bao_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,894},{137,99}}</string>
				<key>offset</key>
				<string>{-2,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skillani_meidusha_jn.png</string>
			<key>realTextureFileName</key>
			<string>skillani_meidusha_jn.png</string>
			<key>size</key>
			<string>{984,995}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>984</integer>
			<key>height</key>
			<integer>995</integer>
		</dict>
	</dict>
</plist>