<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duye/beiji/dd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,213},{263,144}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/duye/beiji/dd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,195},{267,146}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/duye/beiji/dd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,2},{268,144}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/duye/beiji/dd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,150},{264,144}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/duye/beiji/dd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,213},{264,144}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/duye/cy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{368,189}}</string>
				<key>offset</key>
				<string>{94,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,370}</string>
			</dict>
			<key>img/duye/cy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,2},{321,207}}</string>
				<key>offset</key>
				<string>{-118,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,370}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_duyejineng02.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_duyejineng02.png</string>
			<key>size</key>
			<string>{969,478}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>969</integer>
			<key>height</key>
			<integer>478</integer>
		</dict>
	</dict>
</plist>