<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/hudie/jnbaodian/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,632},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,913},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,547},{83,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,758},{83,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,671},{83,85}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnbaodian/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,795},{82,87}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/hudie/jnxu/ju_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{121,137}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{123,134}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,272},{123,130}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,136},{122,131}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{125,134}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{123,124}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{121,122}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,671},{116,122}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/hudie/jnxu/ju_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,795},{113,116}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_hudie_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_hudie_jnbaodian.png</string>
			<key>size</key>
			<string>{286,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>286</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>