<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/niutoujijia/pgbaodian/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1},{202,215}}</string>
				<key>offset</key>
				<string>{5,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{216,212}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{231,224}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1},{235,225}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{243,222}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,205},{226,189}}</string>
				<key>offset</key>
				<string>{-8,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,215},{184,189}}</string>
				<key>offset</key>
				<string>{8,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,228},{179,188}}</string>
				<key>offset</key>
				<string>{9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,396},{176,126}}</string>
				<key>offset</key>
				<string>{14,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,401},{157,127}}</string>
				<key>offset</key>
				<string>{27,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,396},{159,127}}</string>
				<key>offset</key>
				<string>{28,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/niutoujijia/pgbaodian/baodian_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,409},{140,112}}</string>
				<key>offset</key>
				<string>{17,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_niutoujijia_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_niutoujijia_pgbaodian.png</string>
			<key>size</key>
			<string>{1012,529}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>529</integer>
		</dict>
	</dict>
</plist>