<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{232,193}}</string>
				<key>offset</key>
				<string>{21,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,173},{169,192}}</string>
				<key>offset</key>
				<string>{19,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{183,191}}</string>
				<key>offset</key>
				<string>{17,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,186},{183,183}}</string>
				<key>offset</key>
				<string>{12,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,207},{178,171}}</string>
				<key>offset</key>
				<string>{16,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,340},{167,140}}</string>
				<key>offset</key>
				<string>{24,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnbaodian/bao_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,196},{169,142}}</string>
				<key>offset</key>
				<string>{25,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,409}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1},{204,170}}</string>
				<key>offset</key>
				<string>{-111,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1},{204,170}}</string>
				<key>offset</key>
				<string>{-110,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1},{204,170}}</string>
				<key>offset</key>
				<string>{-110,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,173},{203,170}}</string>
				<key>offset</key>
				<string>{-110,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,344},{212,121}}</string>
				<key>offset</key>
				<string>{-35,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,345},{211,118}}</string>
				<key>offset</key>
				<string>{-35,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,499},{211,116}}</string>
				<key>offset</key>
				<string>{-35,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
			<key>img/wanglingzhanshi/jnrenwu/ren_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,380},{211,117}}</string>
				<key>offset</key>
				<string>{-35,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_wanglingzhanshi_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_wanglingzhanshi_jnbaodian.png</string>
			<key>size</key>
			<string>{1011,616}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1011</integer>
			<key>height</key>
			<integer>616</integer>
		</dict>
	</dict>
</plist>