<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heilong/skill/bd/bd_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{3881,2},{204,650}}</string>
				<key>offset</key>
				<string>{0,307}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{3817,897},{204,821}}</string>
				<key>offset</key>
				<string>{0,222}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{3027,2},{434,922}}</string>
				<key>offset</key>
				<string>{6,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{3064,2727},{456,926}}</string>
				<key>offset</key>
				<string>{15,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{3524,2722},{445,926}}</string>
				<key>offset</key>
				<string>{9,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{2587,2750},{473,926}}</string>
				<key>offset</key>
				<string>{5,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,2},{509,926}}</string>
				<key>offset</key>
				<string>{0,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{556,926}}</string>
				<key>offset</key>
				<string>{10,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2759},{526,926}}</string>
				<key>offset</key>
				<string>{-6,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,2},{518,925}}</string>
				<key>offset</key>
				<string>{-29,170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,928},{487,920}}</string>
				<key>offset</key>
				<string>{-1,172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{2105,2751},{478,922}}</string>
				<key>offset</key>
				<string>{-7,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,2},{487,922}}</string>
				<key>offset</key>
				<string>{-2,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,932},{509,924}}</string>
				<key>offset</key>
				<string>{0,170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,932},{556,923}}</string>
				<key>offset</key>
				<string>{10,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,2759},{526,923}}</string>
				<key>offset</key>
				<string>{-6,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,931},{518,922}}</string>
				<key>offset</key>
				<string>{-29,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{2088,2},{477,923}}</string>
				<key>offset</key>
				<string>{4,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{2569,2},{454,922}}</string>
				<key>offset</key>
				<string>{5,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{2088,929},{473,918}}</string>
				<key>offset</key>
				<string>{5,172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,2756},{509,901}}</string>
				<key>offset</key>
				<string>{0,181}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1859},{556,896}}</string>
				<key>offset</key>
				<string>{10,183}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,2757},{526,903}}</string>
				<key>offset</key>
				<string>{-6,180}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1857},{518,896}}</string>
				<key>offset</key>
				<string>{-29,183}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,1852},{414,895}}</string>
				<key>offset</key>
				<string>{11,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{2334,1851},{414,895}}</string>
				<key>offset</key>
				<string>{11,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{2565,929},{414,895}}</string>
				<key>offset</key>
				<string>{11,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{2752,1828},{414,895}}</string>
				<key>offset</key>
				<string>{11,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{2983,928},{414,894}}</string>
				<key>offset</key>
				<string>{11,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1860},{412,893}}</string>
				<key>offset</key>
				<string>{10,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,1860},{412,892}}</string>
				<key>offset</key>
				<string>{10,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{3170,1826},{412,892}}</string>
				<key>offset</key>
				<string>{10,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{3401,928},{412,892}}</string>
				<key>offset</key>
				<string>{10,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{3465,2},{412,891}}</string>
				<key>offset</key>
				<string>{10,185}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{3586,1824},{412,890}}</string>
				<key>offset</key>
				<string>{10,185}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
			<key>img/heilong/skill/bd/bd_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3689},{387,328}}</string>
				<key>offset</key>
				<string>{-1,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_heikong_pifu3.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_heikong_pifu3.png</string>
			<key>size</key>
			<string>{4087,4019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4087</integer>
			<key>height</key>
			<integer>4019</integer>
		</dict>
	</dict>
</plist>