<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dijing/skill/zd1/zi_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{251,83}}</string>
				<key>offset</key>
				<string>{-18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd1/zi_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,89},{241,83}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd1/zi_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,89},{239,83}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd1/zi_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,2},{242,83}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd1/zi_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,176},{239,83}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_dijing_pifu3.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_dijing_pifu3.png</string>
			<key>size</key>
			<string>{501,261}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>501</integer>
			<key>height</key>
			<integer>261</integer>
		</dict>
	</dict>
</plist>