<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dijing/skill/zd2/zi_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{241,83}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd2/zi_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{231,83}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd2/zi_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,83},{230,83}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd2/zi_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,0},{232,83}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
			<key>img/dijing/skill/zd2/zi_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{229,83}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_dijing_pifu4.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_dijing_pifu4.png</string>
			<key>size</key>
			<string>{473,249}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>473</integer>
			<key>height</key>
			<integer>249</integer>
		</dict>
	</dict>
</plist>