<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/niutou/jizhong_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,2},{234,230}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,291},{254,265}}</string>
				<key>offset</key>
				<string>{-1,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{265,285}}</string>
				<key>offset</key>
				<string>{-16,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,575},{250,276}}</string>
				<key>offset</key>
				<string>{-13,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,291},{256,280}}</string>
				<key>offset</key>
				<string>{-7,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,575},{244,278}}</string>
				<key>offset</key>
				<string>{-10,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,2},{245,274}}</string>
				<key>offset</key>
				<string>{-8,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,236},{222,238}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,573},{229,152}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,855},{232,152}}</string>
				<key>offset</key>
				<string>{9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,823},{233,168}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,855},{232,151}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,478},{179,138}}</string>
				<key>offset</key>
				<string>{13,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,478},{91,112}}</string>
				<key>offset</key>
				<string>{-11,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
			<key>img/niutou/jizhong_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,478},{88,38}}</string>
				<key>offset</key>
				<string>{-10,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,588}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_niutou_pf2.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_niutou_pf2.png</string>
			<key>size</key>
			<string>{875,1009}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>875</integer>
			<key>height</key>
			<integer>1009</integer>
		</dict>
	</dict>
</plist>