<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/diyuquanshi/pg/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,495},{381,143}}</string>
				<key>offset</key>
				<string>{-79,-121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,1138}</string>
			</dict>
			<key>img/diyuquanshi/pg/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{564,143}}</string>
				<key>offset</key>
				<string>{13,-121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1024,1138}</string>
			</dict>
			<key>img/diyuquanshi/pg/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,2},{564,143}}</string>
				<key>offset</key>
				<string>{14,-121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,1138}</string>
			</dict>
			<key>img/diyuquanshi/pg/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2},{489,143}}</string>
				<key>offset</key>
				<string>{51,-121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,1138}</string>
			</dict>
			<key>img/diyuquanshi/pg/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,495},{488,142}}</string>
				<key>offset</key>
				<string>{52,-122}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_diyuquanshigongji.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_diyuquanshigongji.png</string>
			<key>size</key>
			<string>{1008,985}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>985</integer>
		</dict>
	</dict>
</plist>