<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heifenghuang/Screenshot-_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,139},{141,104}}</string>
				<key>offset</key>
				<string>{2,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,359},{141,127}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,354},{141,120}}</string>
				<key>offset</key>
				<string>{2,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,220},{140,132}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{140,133}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,134},{140,134}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,270},{138,132}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,220},{138,132}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,228},{138,131}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,274},{139,133}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,228},{139,129}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,486},{139,116}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,361},{137,123}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,488},{137,113}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,354},{151,117}}</string>
				<key>offset</key>
				<string>{-2,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{246,136}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1},{240,131}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1},{235,118}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1},{229,115}}</string>
				<key>offset</key>
				<string>{-5,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,118},{228,108}}</string>
				<key>offset</key>
				<string>{-4,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
			<key>img/heifenghuang/Screenshot-_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,121},{211,97}}</string>
				<key>offset</key>
				<string>{-7,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_heifenghuang.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_heifenghuang.png</string>
			<key>size</key>
			<string>{958,603}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>958</integer>
			<key>height</key>
			<integer>603</integer>
		</dict>
	</dict>
</plist>