<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jianshengyaogun/pgdandao/yinfu_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,149},{54,69}}</string>
				<key>offset</key>
				<string>{-68,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,700}</string>
			</dict>
			<key>img/jianshengyaogun/pgdandao/yinfu_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{60,71}}</string>
				<key>offset</key>
				<string>{-13,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,700}</string>
			</dict>
			<key>img/jianshengyaogun/pgdandao/yinfu_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,2},{68,60}}</string>
				<key>offset</key>
				<string>{40,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,700}</string>
			</dict>
			<key>img/jianshengyaogun/pgdandao/yinfu_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,77},{68,61}}</string>
				<key>offset</key>
				<string>{95,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill_jianshengyaogun_pgdandao.png</string>
			<key>realTextureFileName</key>
			<string>skill_jianshengyaogun_pgdandao.png</string>
			<key>size</key>
			<string>{128,220}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>220</integer>
		</dict>
	</dict>
</plist>