<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wuyafashi/jnbaodian/baodian_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,246},{196,114}}</string>
				<key>offset</key>
				<string>{12,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{355,153}}</string>
				<key>offset</key>
				<string>{11,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,233},{382,216}}</string>
				<key>offset</key>
				<string>{11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{408,230}}</string>
				<key>offset</key>
				<string>{11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,243}}</string>
				<key>offset</key>
				<string>{11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,684},{300,248}}</string>
				<key>offset</key>
				<string>{17,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{314,247}}</string>
				<key>offset</key>
				<string>{11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,451},{321,236}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,358},{324,182}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{315,137}}</string>
				<key>offset</key>
				<string>{-4,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/wuyafashi/jnbaodian/baodian_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,451},{198,138}}</string>
				<key>offset</key>
				<string>{-62,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_wuyafashi_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_wuyafashi_jnbaodian.png</string>
			<key>size</key>
			<string>{1002,985}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1002</integer>
			<key>height</key>
			<integer>985</integer>
		</dict>
	</dict>
</plist>