<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{141,130}}</string>
				<key>offset</key>
				<string>{3,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1},{156,133}}</string>
				<key>offset</key>
				<string>{3,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{159,138}}</string>
				<key>offset</key>
				<string>{-1,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1},{159,135}}</string>
				<key>offset</key>
				<string>{-1,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{157,125}}</string>
				<key>offset</key>
				<string>{-1,-72}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
			<key>img/shenpanzhiren_pifu/baodian/baodian_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1},{156,123}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,796}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shenpanpifu_baodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shenpanpifu_baodian.png</string>
			<key>size</key>
			<string>{940,140}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>940</integer>
			<key>height</key>
			<integer>140</integer>
		</dict>
	</dict>
</plist>