<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranyouxia/jiantuowei_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,858},{152,353}}</string>
				<key>offset</key>
				<string>{77,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,750}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,1},{245,298}}</string>
				<key>offset</key>
				<string>{133,-126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{270,375}}</string>
				<key>offset</key>
				<string>{123,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{247,378}}</string>
				<key>offset</key>
				<string>{143,-76}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,1},{272,245}}</string>
				<key>offset</key>
				<string>{149,-141}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,872},{255,127}}</string>
				<key>offset</key>
				<string>{151,-200}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi/zadi_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,872},{222,121}}</string>
				<key>offset</key>
				<string>{135,-201}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1500}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,250},{302,296}}</string>
				<key>offset</key>
				<string>{71,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,564},{306,296}}</string>
				<key>offset</key>
				<string>{73,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,250},{312,296}}</string>
				<key>offset</key>
				<string>{76,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{330,296}}</string>
				<key>offset</key>
				<string>{85,-129}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1},{330,296}}</string>
				<key>offset</key>
				<string>{85,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,664},{313,296}}</string>
				<key>offset</key>
				<string>{65,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,333},{329,296}}</string>
				<key>offset</key>
				<string>{58,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{337,296}}</string>
				<key>offset</key>
				<string>{53,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,554},{302,296}}</string>
				<key>offset</key>
				<string>{71,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
			<key>img/ziranyouxia/zadi1/dazadi_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,248},{302,296}}</string>
				<key>offset</key>
				<string>{71,-129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{840,1050}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ziranyouxia_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ziranyouxia_jn.png</string>
			<key>size</key>
			<string>{1524,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1524</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>