<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ailin_pifu/dandao/hudie_02_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,2},{200,91}}</string>
				<key>offset</key>
				<string>{28,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
			<key>img/ailin_pifu/dandao/hudie_02_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,80},{213,74}}</string>
				<key>offset</key>
				<string>{22,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
			<key>img/ailin_pifu/dandao/hudie_02_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,96},{228,90}}</string>
				<key>offset</key>
				<string>{16,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
			<key>img/ailin_pifu/dandao/hudie_02_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{239,91}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
			<key>img/ailin_pifu/dandao/hudie_02_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,2},{254,74}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
			<key>img/ailin_pifu/dandao/hudie_02_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{276,90}}</string>
				<key>offset</key>
				<string>{-8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ailinpifu_dandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ailinpifu_dandao.png</string>
			<key>size</key>
			<string>{985,188}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>985</integer>
			<key>height</key>
			<integer>188</integer>
		</dict>
	</dict>
</plist>