<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yifulite/atk/dd/dd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,2},{196,87}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,94},{196,86}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,94},{196,86}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{196,88}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2},{196,88}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,93},{193,88}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,2},{196,88}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/yifulite/atk/dd/dd_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2},{196,88}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_yifulite_pifu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_yifulite_pifu1.png</string>
			<key>size</key>
			<string>{1000,183}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>183</integer>
		</dict>
	</dict>
</plist>