<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heifeng_pifu/jn/e_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{529,147}}</string>
				<key>offset</key>
				<string>{-5,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,289},{527,127}}</string>
				<key>offset</key>
				<string>{-5,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1},{525,123}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,126},{524,120}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{527,167}}</string>
				<key>offset</key>
				<string>{-4,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{525,166}}</string>
				<key>offset</key>
				<string>{-4,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{525,153}}</string>
				<key>offset</key>
				<string>{-4,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,698},{525,157}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,150},{522,137}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00075.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,150},{524,124}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,418},{524,109}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
			<key>img/heifeng_pifu/jn/e_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1},{525,102}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_heifeng_pifu.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_heifeng_pifu.png</string>
			<key>size</key>
			<string>{1754,1011}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1754</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>