<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xieneng_jiguang/jg0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,63}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/xieneng_jiguang/jg0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,63}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/xieneng_jiguang/jg0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,63}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/xieneng_jiguang/jg0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,69},{300,63}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengjiguang1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengjiguang1.png</string>
			<key>size</key>
			<string>{912,134}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>912</integer>
			<key>height</key>
			<integer>134</integer>
		</dict>
	</dict>
</plist>