<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/skilljson_huoyanmodaoshi0/1_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{161,190}}</string>
				<key>offset</key>
				<string>{110,-78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi0/1_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,196},{156,175}}</string>
				<key>offset</key>
				<string>{113,-78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi0/1_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,375},{126,134}}</string>
				<key>offset</key>
				<string>{117,-69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_huoyanmodaoshi000.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_huoyanmodaoshi000.png</string>
			<key>size</key>
			<string>{165,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>165</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>