<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangshuxingbaozha/hit_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,895},{123,119}}</string>
				<key>offset</key>
				<string>{67,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{316,321}}</string>
				<key>offset</key>
				<string>{64,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,327},{311,310}}</string>
				<key>offset</key>
				<string>{66,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,641},{308,297}}</string>
				<key>offset</key>
				<string>{68,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,641},{274,250}}</string>
				<key>offset</key>
				<string>{67,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,327},{236,235}}</string>
				<key>offset</key>
				<string>{50,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,2},{206,206}}</string>
				<key>offset</key>
				<string>{62,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,283},{200,183}}</string>
				<key>offset</key>
				<string>{62,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,689},{191,186}}</string>
				<key>offset</key>
				<string>{67,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,497},{195,188}}</string>
				<key>offset</key>
				<string>{67,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,2},{201,188}}</string>
				<key>offset</key>
				<string>{66,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,304},{207,189}}</string>
				<key>offset</key>
				<string>{65,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,2},{211,190}}</string>
				<key>offset</key>
				<string>{65,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,689},{181,169}}</string>
				<key>offset</key>
				<string>{68,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,862},{179,157}}</string>
				<key>offset</key>
				<string>{68,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,895},{116,114}}</string>
				<key>offset</key>
				<string>{67,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,895},{113,111}}</string>
				<key>offset</key>
				<string>{67,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,212},{110,108}}</string>
				<key>offset</key>
				<string>{68,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,212},{107,105}}</string>
				<key>offset</key>
				<string>{69,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,196},{104,104}}</string>
				<key>offset</key>
				<string>{69,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,196},{99,99}}</string>
				<key>offset</key>
				<string>{68,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,194},{89,85}}</string>
				<key>offset</key>
				<string>{66,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,942},{77,78}}</string>
				<key>offset</key>
				<string>{63,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,942},{62,63}}</string>
				<key>offset</key>
				<string>{60,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
			<key>img/guangshuxingbaozha/hit_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,942},{48,48}}</string>
				<key>offset</key>
				<string>{62,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,521}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_guangbao1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_guangbao1.png</string>
			<key>size</key>
			<string>{970,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>970</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>