<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengyouxia/jndandao/dandao_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1},{105,101}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/xienengyouxia/jndandao/dandao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{110,106}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/xienengyouxia/jndandao/dandao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{101,103}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/xienengyouxia/jndandao/dandao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,1},{106,107}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/xienengyouxia/jndandao/dandao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{101,103}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/xienengyouxia/jndandao/dandao_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1},{106,107}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengyouxia_jndandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengyouxia_jndandao.png</string>
			<key>size</key>
			<string>{647,108}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>647</integer>
			<key>height</key>
			<integer>108</integer>
		</dict>
	</dict>
</plist>