<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xianzhi-pifu/pgbaodian/bao_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,194},{134,138}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/xianzhi-pifu/pgbaodian/bao_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{191,191}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/xianzhi-pifu/pgbaodian/bao_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,194},{158,129}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/xianzhi-pifu/pgbaodian/bao_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{160,125}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/xianzhi-pifu/pgbaodian/bao_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1},{123,117}}</string>
				<key>offset</key>
				<string>{17,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xianzhipf_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xianzhipf_pgbaodian.png</string>
			<key>size</key>
			<string>{312,480}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>480</integer>
		</dict>
	</dict>
</plist>