<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranlvdong/gs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,455},{188,322}}</string>
				<key>offset</key>
				<string>{-6,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,2},{190,321}}</string>
				<key>offset</key>
				<string>{-5,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,526},{190,324}}</string>
				<key>offset</key>
				<string>{-5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,2},{194,331}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,644},{195,332}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,644},{195,332}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/gs_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,327},{195,332}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/lh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,327},{227,313}}</string>
				<key>offset</key>
				<string>{6,108}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>img/ziranlvdong/lh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{235,321}}</string>
				<key>offset</key>
				<string>{2,117}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>img/ziranlvdong/gs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,854},{143,323}}</string>
				<key>offset</key>
				<string>{8,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,342}</string>
			</dict>
			<key>img/ziranlvdong/lh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,200},{245,251}}</string>
				<key>offset</key>
				<string>{-3,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ziranlvdong.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ziranlvdong.png</string>
			<key>size</key>
			<string>{917,999}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>917</integer>
			<key>height</key>
			<integer>999</integer>
		</dict>
	</dict>
</plist>