<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dh/xndyh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,912},{106,91}}</string>
				<key>offset</key>
				<string>{42,77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,2},{147,179}}</string>
				<key>offset</key>
				<string>{29,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,305},{260,302}}</string>
				<key>offset</key>
				<string>{-18,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,607},{269,301}}</string>
				<key>offset</key>
				<string>{-18,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{283,301}}</string>
				<key>offset</key>
				<string>{-15,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,2},{281,299}}</string>
				<key>offset</key>
				<string>{-19,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,307},{286,296}}</string>
				<key>offset</key>
				<string>{-17,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,607},{287,280}}</string>
				<key>offset</key>
				<string>{-17,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{287,273}}</string>
				<key>offset</key>
				<string>{-17,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,569},{287,267}}</string>
				<key>offset</key>
				<string>{-17,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/xndyh_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,293},{287,267}}</string>
				<key>offset</key>
				<string>{-17,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/dh/st_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,860},{139,179}}</string>
				<key>offset</key>
				<string>{-17,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_boss_dh01.png</string>
			<key>realTextureFileName</key>
			<string>ani_boss_dh01.png</string>
			<key>size</key>
			<string>{1000,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>