<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/lvseguangtuan/lvse01.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,734},{49,104}}</string>
				<key>offset</key>
				<string>{2,128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse03.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{59,110}}</string>
				<key>offset</key>
				<string>{-2,79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse05.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,2},{60,116}}</string>
				<key>offset</key>
				<string>{1,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse07.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,439},{102,234}}</string>
				<key>offset</key>
				<string>{23,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,241},{171,252}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,241},{179,225}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{186,235}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,497},{203,212}}</string>
				<key>offset</key>
				<string>{6,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse17.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,2},{214,183}}</string>
				<key>offset</key>
				<string>{1,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse19.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,166},{215,158}}</string>
				<key>offset</key>
				<string>{0,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,713},{216,161}}</string>
				<key>offset</key>
				<string>{0,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse23.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{216,160}}</string>
				<key>offset</key>
				<string>{0,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse25.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,470},{216,161}}</string>
				<key>offset</key>
				<string>{0,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse27.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,189},{216,161}}</string>
				<key>offset</key>
				<string>{0,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse29.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,635},{216,160}}</string>
				<key>offset</key>
				<string>{0,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse31.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,466},{216,158}}</string>
				<key>offset</key>
				<string>{0,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse33.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,2},{216,156}}</string>
				<key>offset</key>
				<string>{0,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse37.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,162},{216,154}}</string>
				<key>offset</key>
				<string>{0,-68}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse41.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,320},{216,151}}</string>
				<key>offset</key>
				<string>{0,-69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,878},{216,142}}</string>
				<key>offset</key>
				<string>{0,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse49.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,677},{216,138}}</string>
				<key>offset</key>
				<string>{0,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse53.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,475},{216,137}}</string>
				<key>offset</key>
				<string>{0,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse57.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,354},{216,108}}</string>
				<key>offset</key>
				<string>{0,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse61.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,328},{216,107}}</string>
				<key>offset</key>
				<string>{0,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
			<key>img/lvseguangtuan/lvse65.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,628},{193,102}}</string>
				<key>offset</key>
				<string>{-10,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,384}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_lvguangtuan1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_lvguangtuan1.png</string>
			<key>size</key>
			<string>{1018,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>