<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huoqiupugong/huoqiu_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{301,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,126}</string>
			</dict>
			<key>img/huoqiupugong/huoqiu_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{301,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,126}</string>
			</dict>
			<key>img/huoqiupugong/huoqiu_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,2},{301,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,126}</string>
			</dict>
			<key>img/huoqiupugong/huoqiu_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,132},{301,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,126}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,405},{108,138}}</string>
				<key>offset</key>
				<string>{10,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,336},{127,174}}</string>
				<key>offset</key>
				<string>{8,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,140},{157,193}}</string>
				<key>offset</key>
				<string>{11,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,132},{176,200}}</string>
				<key>offset</key>
				<string>{12,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,132},{184,181}}</string>
				<key>offset</key>
				<string>{12,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,132},{185,183}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,262},{183,191}}</string>
				<key>offset</key>
				<string>{11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,317},{174,190}}</string>
				<key>offset</key>
				<string>{9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,337},{165,188}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,319},{155,180}}</string>
				<key>offset</key>
				<string>{10,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,457},{129,147}}</string>
				<key>offset</key>
				<string>{19,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,262},{111,139}}</string>
				<key>offset</key>
				<string>{12,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,2},{101,134}}</string>
				<key>offset</key>
				<string>{16,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
			<key>img/huoqiupugong/jizhong_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,503},{84,74}}</string>
				<key>offset</key>
				<string>{23,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,204}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xiaohuoqiu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xiaohuoqiu1.png</string>
			<key>size</key>
			<string>{1023,606}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>606</integer>
		</dict>
	</dict>
</plist>