<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/faqiugongji_baozha/fq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,193},{180,187}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,193},{184,187}}</string>
				<key>offset</key>
				<string>{-9,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{185,187}}</string>
				<key>offset</key>
				<string>{-10,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,571},{176,182}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,757},{179,177}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq06.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,384},{178,166}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq07.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,571},{180,175}}</string>
				<key>offset</key>
				<string>{6,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,384},{187,183}}</string>
				<key>offset</key>
				<string>{8,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq09.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,2},{193,172}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq10.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,750},{180,144}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq11.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,723},{167,142}}</string>
				<key>offset</key>
				<string>{16,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq12.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,2},{174,149}}</string>
				<key>offset</key>
				<string>{16,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq13.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,178},{177,156}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq14.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,723},{143,166}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq15.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,338},{148,163}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq16.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,2},{153,171}}</string>
				<key>offset</key>
				<string>{-9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq17.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,869},{140,153}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq18.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,505},{147,158}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq19.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,554},{151,165}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq20.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,338},{138,140}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq21.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,155},{124,149}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq22.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,893},{110,128}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq23.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,308},{114,134}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
			<key>img/faqiugongji_baozha/fq24.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,893},{117,129}}</string>
				<key>offset</key>
				<string>{7,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,211}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_huiqiu0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_huiqiu0.png</string>
			<key>size</key>
			<string>{785,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>785</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>