<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/baopo/bp_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,557},{209,151}}</string>
				<key>offset</key>
				<string>{-26,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,372},{220,168}}</string>
				<key>offset</key>
				<string>{-11,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,192},{227,176}}</string>
				<key>offset</key>
				<string>{-7,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{232,184}}</string>
				<key>offset</key>
				<string>{-8,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,369},{209,184}}</string>
				<key>offset</key>
				<string>{-26,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,358},{219,181}}</string>
				<key>offset</key>
				<string>{-14,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,181},{221,181}}</string>
				<key>offset</key>
				<string>{-11,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,2},{227,186}}</string>
				<key>offset</key>
				<string>{-16,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,366},{217,172}}</string>
				<key>offset</key>
				<string>{-13,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,179},{232,175}}</string>
				<key>offset</key>
				<string>{-14,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,2},{244,173}}</string>
				<key>offset</key>
				<string>{-3,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,190},{231,175}}</string>
				<key>offset</key>
				<string>{5,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2},{231,175}}</string>
				<key>offset</key>
				<string>{4,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,543},{195,170}}</string>
				<key>offset</key>
				<string>{-17,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,712},{180,170}}</string>
				<key>offset</key>
				<string>{-9,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,542},{180,170}}</string>
				<key>offset</key>
				<string>{-9,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,544},{168,164}}</string>
				<key>offset</key>
				<string>{-8,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,712},{167,164}}</string>
				<key>offset</key>
				<string>{-9,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,717},{162,164}}</string>
				<key>offset</key>
				<string>{-6,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,716},{159,164}}</string>
				<key>offset</key>
				<string>{-6,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
			<key>img/baopo/bp_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,542},{152,162}}</string>
				<key>offset</key>
				<string>{-6,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,480}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_baopo1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_baopo1.png</string>
			<key>size</key>
			<string>{1022,884}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>884</integer>
		</dict>
	</dict>
</plist>