<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/daleidian/dld_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,410},{108,161}}</string>
				<key>offset</key>
				<string>{54,172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,410},{80,200}}</string>
				<key>offset</key>
				<string>{50,152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{92,264}}</string>
				<key>offset</key>
				<string>{50,120}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,633},{177,367}}</string>
				<key>offset</key>
				<string>{73,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,731},{174,193}}</string>
				<key>offset</key>
				<string>{75,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,267},{185,364}}</string>
				<key>offset</key>
				<string>{69,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,363}}</string>
				<key>offset</key>
				<string>{67,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,366},{188,363}}</string>
				<key>offset</key>
				<string>{68,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,366},{189,345}}</string>
				<key>offset</key>
				<string>{67,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{184,331}}</string>
				<key>offset</key>
				<string>{70,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,713},{180,307}}</string>
				<key>offset</key>
				<string>{72,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{170,200}}</string>
				<key>offset</key>
				<string>{77,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,142},{161,140}}</string>
				<key>offset</key>
				<string>{81,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{164,139}}</string>
				<key>offset</key>
				<string>{80,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1},{167,133}}</string>
				<key>offset</key>
				<string>{78,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/daleidian/dld_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,284},{169,124}}</string>
				<key>offset</key>
				<string>{77,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_leidian1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_leidian1.png</string>
			<key>size</key>
			<string>{807,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>807</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>