<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{187,73}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,72},{177,71}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,2},{194,66}}</string>
				<key>offset</key>
				<string>{-7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{215,90}}</string>
				<key>offset</key>
				<string>{-7,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,2},{181,87}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
			<key>img/biaoqiangtuxi_zidan/bqtx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,2},{187,73}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_biaoqiang1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_biaoqiang1.png</string>
			<key>size</key>
			<string>{984,145}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>984</integer>
			<key>height</key>
			<integer>145</integer>
		</dict>
	</dict>
</plist>