<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anyingsiguang_zidan/sy0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/anyingsiguang_zidan/sy0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,2},{300,84}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/anyingsiguang_zidan/sy0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{293,100}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/anyingsiguang_zidan/sy0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,105},{293,92}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anyingsiguang1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anyingsiguang1.png</string>
			<key>size</key>
			<string>{905,199}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>905</integer>
			<key>height</key>
			<integer>199</integer>
		</dict>
	</dict>
</plist>