<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/siwangheiqiu_shouji/swhq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,536},{198,162}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,361},{207,171}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,2},{211,171}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,562},{185,160}}</string>
				<key>offset</key>
				<string>{20,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,568},{192,166}}</string>
				<key>offset</key>
				<string>{24,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,196},{194,174}}</string>
				<key>offset</key>
				<string>{31,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,191},{203,182}}</string>
				<key>offset</key>
				<string>{31,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{206,185}}</string>
				<key>offset</key>
				<string>{30,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,198},{192,188}}</string>
				<key>offset</key>
				<string>{21,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,192}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,2},{199,190}}</string>
				<key>offset</key>
				<string>{26,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,177},{199,180}}</string>
				<key>offset</key>
				<string>{26,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,195},{191,178}}</string>
				<key>offset</key>
				<string>{26,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,377},{167,182}}</string>
				<key>offset</key>
				<string>{14,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,377},{173,187}}</string>
				<key>offset</key>
				<string>{16,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,374},{178,189}}</string>
				<key>offset</key>
				<string>{18,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,2},{179,189}}</string>
				<key>offset</key>
				<string>{18,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,390},{178,168}}</string>
				<key>offset</key>
				<string>{19,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,567},{156,146}}</string>
				<key>offset</key>
				<string>{18,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,563},{157,146}}</string>
				<key>offset</key>
				<string>{16,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,713},{157,140}}</string>
				<key>offset</key>
				<string>{16,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{154,112}}</string>
				<key>offset</key>
				<string>{15,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,842},{113,98}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
			<key>img/siwangheiqiu_shouji/swhq_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,567},{76,65}}</string>
				<key>offset</key>
				<string>{16,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,357}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_siwangheiqiu0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_siwangheiqiu0.png</string>
			<key>size</key>
			<string>{1015,942}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>942</integer>
		</dict>
	</dict>
</plist>