<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shexianpugong_zidan/jj0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{294,29}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/shexianpugong_zidan/jj0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,2},{294,29}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/shexianpugong_zidan/jj0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{294,29}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>img/shexianpugong_zidan/jj0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,35},{294,29}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shexianattack1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shexianattack1.png</string>
			<key>size</key>
			<string>{894,66}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>894</integer>
			<key>height</key>
			<integer>66</integer>
		</dict>
	</dict>
</plist>