<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/pikanbaozhao_jineng/bz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,506},{218,243}}</string>
				<key>offset</key>
				<string>{32,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,254},{224,248}}</string>
				<key>offset</key>
				<string>{29,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,506},{222,238}}</string>
				<key>offset</key>
				<string>{26,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,755},{231,244}}</string>
				<key>offset</key>
				<string>{27,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,254},{235,247}}</string>
				<key>offset</key>
				<string>{28,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{238,248}}</string>
				<key>offset</key>
				<string>{30,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,505},{235,246}}</string>
				<key>offset</key>
				<string>{31,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,755},{232,245}}</string>
				<key>offset</key>
				<string>{30,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,748},{220,232}}</string>
				<key>offset</key>
				<string>{36,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,2},{197,175}}</string>
				<key>offset</key>
				<string>{39,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,2},{177,178}}</string>
				<key>offset</key>
				<string>{30,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,184},{174,180}}</string>
				<key>offset</key>
				<string>{29,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,167},{164,159}}</string>
				<key>offset</key>
				<string>{23,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,2},{164,161}}</string>
				<key>offset</key>
				<string>{22,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
			<key>img/pikanbaozhao_jineng/bz_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2},{161,154}}</string>
				<key>offset</key>
				<string>{23,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,768}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_pikan0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_pikan0.png</string>
			<key>size</key>
			<string>{957,1002}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>957</integer>
			<key>height</key>
			<integer>1002</integer>
		</dict>
	</dict>
</plist>