<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/animation/chouka/light_lelft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{217,50}}</string>
				<key>offset</key>
				<string>{54,157}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,431}</string>
			</dict>
			<key>img/animation/chouka/light_lelft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{207,109}}</string>
				<key>offset</key>
				<string>{44,98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,431}</string>
			</dict>
			<key>img/animation/chouka/light_lelft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{253,160}}</string>
				<key>offset</key>
				<string>{25,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,431}</string>
			</dict>
			<key>img/animation/chouka/light_lelft4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1},{207,181}}</string>
				<key>offset</key>
				<string>{83,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,431}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chouka_light.png</string>
			<key>realTextureFileName</key>
			<string>chouka_light.png</string>
			<key>size</key>
			<string>{683,273}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>683</integer>
			<key>height</key>
			<integer>273</integer>
		</dict>
	</dict>
</plist>