<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/julongshendian/img_sdmw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{597,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,184}</string>
			</dict>
			<key>img/julongshendian/img_sdsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1},{597,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,184}</string>
			</dict>
			<key>img/julongshendian/img_sdzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1},{597,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,184}</string>
			</dict>
			<key>img/julongshendian/img_ycsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1},{476,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,39}</string>
			</dict>
			<key>img/julongshendian/img_fst_xy.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,757},{108,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,71}</string>
			</dict>
			<key>img/julongshendian/img_jssz.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,867},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>img/julongshendian/img_sdbfxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,890},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>img/julongshendian/img_sdbg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,852},{61,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>img/julongshendian/img_sdsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,741},{15,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,77}</string>
			</dict>
			<key>img/julongshendian/img_sdtiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,905},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,30}</string>
			</dict>
			<key>img/julongshendian/img_sdtiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,559},{411,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{411,20}</string>
			</dict>
			<key>img/julongshendian/img_sdzl_sdxx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,559},{244,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,62}</string>
			</dict>
			<key>img/julongshendian/img_shph_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,731},{43,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,153}</string>
			</dict>
			<key>img/julongshendian/btn_qxtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,823},{125,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,48}</string>
			</dict>
			<key>img/julongshendian/img_qxdb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,776},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>img/julongshendian/img_qxdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,912},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>img/julongshendian/img_qxdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,867},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>
			<key>img/julongshendian/img_qxdi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,947},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/julongshendian/img_qxdiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,479},{250,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,42}</string>
			</dict>
			<key>img/julongshendian/img_qxltk.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,886},{96,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,59}</string>
			</dict>
			<key>img/julongshendian/img_qxsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,600},{15,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,139}</string>
			</dict>
			<key>img/julongshendian/img_qxx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,600},{221,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,30}</string>
			</dict>
			<key>img/julongshendian/img_tzdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,600},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>img/julongshendian/btn_bangzhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,776},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/julongshendian/btn_shendianjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,776},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/julongshendian/btn_tdrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,850},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/julongshendian/dilao_qb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,559},{174,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,249}</string>
			</dict>
			<key>img/julongshendian/dilao_qb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,559},{174,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,249}</string>
			</dict>
			<key>img/julongshendian/dilao_qb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,600},{174,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,249}</string>
			</dict>
			<key>img/julongshendian/img_sdsw_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{597,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,184}</string>
			</dict>
			<key>img/julongshendian/img_sdmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{597,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>julongshendian3.png</string>
			<key>realTextureFileName</key>
			<string>julongshendian3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>