<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/04/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{248,291}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,385},{82,75}}</string>
				<key>offset</key>
				<string>{-13,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,297},{84,78}}</string>
				<key>offset</key>
				<string>{-23,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,471},{72,79}}</string>
				<key>offset</key>
				<string>{-42,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,554},{62,79}}</string>
				<key>offset</key>
				<string>{-54,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,637},{49,90}}</string>
				<key>offset</key>
				<string>{-60,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,731},{42,96}}</string>
				<key>offset</key>
				<string>{-64,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,831},{37,94}}</string>
				<key>offset</key>
				<string>{-69,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,929},{31,85}}</string>
				<key>offset</key>
				<string>{-72,79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,929},{30,75}}</string>
				<key>offset</key>
				<string>{-72,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
			<key>img/shenbing/04/02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,831},{31,61}}</string>
				<key>offset</key>
				<string>{-72,96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_01.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_01.png</string>
			<key>size</key>
			<string>{252,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>