<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_huiyuan/baoshi_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,63},{45,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,63},{54,61}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,122},{52,61}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,59},{53,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,124},{52,60}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,63},{53,60}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,63},{53,61}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/baoshi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,113},{45,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,0},{6,19}}</string>
				<key>offset</key>
				<string>{-38,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,120},{30,50}}</string>
				<key>offset</key>
				<string>{-26,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,182},{59,50}}</string>
				<key>offset</key>
				<string>{-12,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{77,50}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,63},{49,50}}</string>
				<key>offset</key>
				<string>{17,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/huiguang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,113},{21,50}}</string>
				<key>offset</key>
				<string>{31,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,0},{58,59}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{55,59}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{51,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,63},{51,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,63},{51,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,124},{54,58}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,63},{54,59}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{53,58}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,63},{51,57}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/neikuang_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,63},{51,57}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{95,63}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{96,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{96,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{95,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,0},{95,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,0},{95,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{96,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,0},{95,63}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,0},{95,63}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_huiyuan/waikuang_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{95,63}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_huiyuan.png</string>
			<key>realTextureFileName</key>
			<string>ani_huiyuan.png</string>
			<key>size</key>
			<string>{1017,287}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>287</integer>
		</dict>
	</dict>
</plist>