<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhenfatubiao/2/2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,156},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,310},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,464},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,156},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,618},{150,148}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,618},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,772},{149,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,310},{145,150}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,618},{144,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,772},{142,150}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,156},{140,148}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,310},{142,148}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,156},{140,149}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,772},{141,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,464},{145,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhenfatubiao/2/2_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,772},{148,150}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenyingbuff_06.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenyingbuff_06.png</string>
			<key>size</key>
			<string>{924,924}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>924</integer>
			<key>height</key>
			<integer>924</integer>
		</dict>
	</dict>
</plist>