<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_mijing_saodang/saodanga_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,608},{278,269}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodanga_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,692},{320,328}}</string>
				<key>offset</key>
				<string>{-7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodanga_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{340,341}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodanga_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,347},{334,341}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodanga_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,347},{322,301}}</string>
				<key>offset</key>
				<string>{-3,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodangb_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,309},{299,295}}</string>
				<key>offset</key>
				<string>{11,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,353}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodangb_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{303,301}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,353}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodangb_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,692},{326,323}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,353}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodangb_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2},{267,294}}</string>
				<key>offset</key>
				<string>{21,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,353}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_mijing_saodang.png</string>
			<key>realTextureFileName</key>
			<string>ani_mijing_saodang.png</string>
			<key>size</key>
			<string>{946,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>946</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>