<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tubiao/chongzhi/huan_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,68},{1,1}}</string>
				<key>offset</key>
				<string>{39,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,125},{16,15}}</string>
				<key>offset</key>
				<string>{-10,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,112},{26,23}}</string>
				<key>offset</key>
				<string>{-9,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,51},{35,31}}</string>
				<key>offset</key>
				<string>{-8,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,82},{37,33}}</string>
				<key>offset</key>
				<string>{-7,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,26},{38,38}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,2},{38,41}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,2},{34,44}}</string>
				<key>offset</key>
				<string>{-9,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,26},{28,45}}</string>
				<key>offset</key>
				<string>{-10,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,66},{24,42}}</string>
				<key>offset</key>
				<string>{-9,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,101},{24,36}}</string>
				<key>offset</key>
				<string>{-7,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,68},{42,31}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,44},{41,34}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,124},{26,37}}</string>
				<key>offset</key>
				<string>{18,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{29,33}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,90},{31,33}}</string>
				<key>offset</key>
				<string>{13,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,89},{31,34}}</string>
				<key>offset</key>
				<string>{9,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,66},{35,34}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,51},{38,34}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,53},{38,32}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,89},{35,32}}</string>
				<key>offset</key>
				<string>{-8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,104},{28,24}}</string>
				<key>offset</key>
				<string>{-8,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/chongzhi/huan_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,89},{20,14}}</string>
				<key>offset</key>
				<string>{-8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tubiao/cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,101},{43,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,20}</string>
			</dict>
			<key>img/ani_tubiao/rmbmoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>img/ani_tubiao/sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,2},{73,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,21}</string>
			</dict>
			<key>img/ani_tubiao/lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,40},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>img/ani_tubiao/hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,2},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>img/ani_tubiao/mr.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,27},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/ani_tubiao/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{121,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,34}</string>
			</dict>
			<key>img/ani_tubiao/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,53},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>img/ani_tubiao/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,69},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>img/ani_tubiao/xs.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{72,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,20}</string>
			</dict>
			<key>img/ani_tubiao/lllb_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,40},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xiaotubiao_chongzhi.png</string>
			<key>realTextureFileName</key>
			<string>ani_xiaotubiao_chongzhi.png</string>
			<key>size</key>
			<string>{492,152}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>492</integer>
			<key>height</key>
			<integer>152</integer>
		</dict>
	</dict>
</plist>