<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_mijing/zhuozi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,392},{86,99}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,467},{85,151}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,622},{85,151}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,931},{85,149}}</string>
				<key>offset</key>
				<string>{-6,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,759},{85,144}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,307},{85,147}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,153},{84,150}}</string>
				<key>offset</key>
				<string>{-5,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,307},{84,150}}</string>
				<key>offset</key>
				<string>{-5,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,153},{84,150}}</string>
				<key>offset</key>
				<string>{-5,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,756},{84,145}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,458},{85,146}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,91},{85,147}}</string>
				<key>offset</key>
				<string>{-5,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,622},{85,150}}</string>
				<key>offset</key>
				<string>{-5,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{86,151}}</string>
				<key>offset</key>
				<string>{-5,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,157},{86,151}}</string>
				<key>offset</key>
				<string>{-5,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,777},{85,151}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,776},{84,151}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,776},{85,149}}</string>
				<key>offset</key>
				<string>{-6,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,2},{86,147}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,907},{85,144}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,608},{85,144}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,608},{84,147}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,458},{84,148}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,610},{84,148}}</string>
				<key>offset</key>
				<string>{-5,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{85,147}}</string>
				<key>offset</key>
				<string>{-5,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,242},{85,146}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,91},{85,146}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{85,148}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,932},{85,151}}</string>
				<key>offset</key>
				<string>{-5,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,312},{86,151}}</string>
				<key>offset</key>
				<string>{-5,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/mianbao/fashi_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,467},{85,151}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ico_wu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,91},{51,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ico_wu3.png</string>
			<key>realTextureFileName</key>
			<string>ani_ico_wu3.png</string>
			<key>size</key>
			<string>{483,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>483</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>