<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chouka/guangzhu/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,120},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,655},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,120},{113,38}}</string>
				<key>offset</key>
				<string>{-4,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,120},{119,38}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,0},{119,159}}</string>
				<key>offset</key>
				<string>{-1,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,0},{120,161}}</string>
				<key>offset</key>
				<string>{-1,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,491},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,693},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,325},{121,166}}</string>
				<key>offset</key>
				<string>{-1,47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,158},{121,167}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,307},{121,147}}</string>
				<key>offset</key>
				<string>{-1,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,158},{121,149}}</string>
				<key>offset</key>
				<string>{-1,39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,880},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,528},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,704},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,880},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,704},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,172},{121,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,348},{121,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,172},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,348},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>img/chouka/guangzhu/1_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,524},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka_chongji_ht.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka_chongji_ht.png</string>
			<key>size</key>
			<string>{747,1005}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>747</integer>
			<key>height</key>
			<integer>1005</integer>
		</dict>
	</dict>
</plist>