<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shuaxinzise/shuaxin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,656},{202,185}}</string>
				<key>offset</key>
				<string>{42,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,451},{160,213}}</string>
				<key>offset</key>
				<string>{36,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,451},{197,201}}</string>
				<key>offset</key>
				<string>{40,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,2},{193,208}}</string>
				<key>offset</key>
				<string>{41,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,231},{186,216}}</string>
				<key>offset</key>
				<string>{41,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{179,225}}</string>
				<key>offset</key>
				<string>{40,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,214},{165,233}}</string>
				<key>offset</key>
				<string>{40,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,862},{144,250}}</string>
				<key>offset</key>
				<string>{38,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,656},{141,270}}</string>
				<key>offset</key>
				<string>{36,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,214},{140,216}}</string>
				<key>offset</key>
				<string>{37,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2},{135,209}}</string>
				<key>offset</key>
				<string>{36,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/shuaxinzise/shuaxin_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,615},{129,198}}</string>
				<key>offset</key>
				<string>{37,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yuwaizhenhba_shuaxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_yuwaizhenhba_shuaxin.png</string>
			<key>size</key>
			<string>{593,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>593</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>