<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,2},{116,57}}</string>
				<key>offset</key>
				<string>{2,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,2},{102,61}}</string>
				<key>offset</key>
				<string>{9,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,63},{88,72}}</string>
				<key>offset</key>
				<string>{16,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,118},{73,76}}</string>
				<key>offset</key>
				<string>{23,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,207},{58,77}}</string>
				<key>offset</key>
				<string>{31,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,138},{60,76}}</string>
				<key>offset</key>
				<string>{30,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,58},{75,74}}</string>
				<key>offset</key>
				<string>{22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,67},{89,67}}</string>
				<key>offset</key>
				<string>{15,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,139},{104,54}}</string>
				<key>offset</key>
				<string>{8,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,2},{118,52}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,2},{118,52}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,58},{107,56}}</string>
				<key>offset</key>
				<string>{-7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,125},{92,68}}</string>
				<key>offset</key>
				<string>{-14,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,77},{77,76}}</string>
				<key>offset</key>
				<string>{-22,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,157},{63,77}}</string>
				<key>offset</key>
				<string>{-29,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,138},{65,77}}</string>
				<key>offset</key>
				<string>{-28,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2},{80,76}}</string>
				<key>offset</key>
				<string>{-20,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,2},{93,71}}</string>
				<key>offset</key>
				<string>{-14,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,63},{109,58}}</string>
				<key>offset</key>
				<string>{-6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/xuanzhuankuang/anndukuang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{118,57}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian_nanduxuanze.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian_nanduxuanze.png</string>
			<key>size</key>
			<string>{773,267}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>773</integer>
			<key>height</key>
			<integer>267</integer>
		</dict>
	</dict>
</plist>