<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/bg/bgdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{629,593}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{629,593}</string>
			</dict>
			<key>img/bg/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,596},{451,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{451,291}</string>
			</dict>
			<key>img/bg/img_shouchong_rw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1},{285,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,461}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shouchong.png</string>
			<key>realTextureFileName</key>
			<string>ani_shouchong.png</string>
			<key>size</key>
			<string>{918,888}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>918</integer>
			<key>height</key>
			<integer>888</integer>
		</dict>
	</dict>
</plist>