<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/denglu/dimian/dimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{602,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,448}</string>
			</dict>
			<key>img/denglu/dimian/shuye.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1499},{216,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,116}</string>
			</dict>
			<key>img/denglu/dimian/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1274},{385,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,223}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1975},{126,32}}</string>
				<key>offset</key>
				<string>{-58,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1975},{90,46}}</string>
				<key>offset</key>
				<string>{-80,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,1},{101,75}}</string>
				<key>offset</key>
				<string>{20,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu04.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1975},{56,50}}</string>
				<key>offset</key>
				<string>{-50,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu05.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1975},{25,45}}</string>
				<key>offset</key>
				<string>{-46,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu06.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1975},{80,55}}</string>
				<key>offset</key>
				<string>{5,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu07.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,2023},{44,24}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu08.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1975},{67,58}}</string>
				<key>offset</key>
				<string>{-29,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1975},{169,52}}</string>
				<key>offset</key>
				<string>{48,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/shijiu/shijiu10.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2009},{30,28}}</string>
				<key>offset</key>
				<string>{-15,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,185}</string>
			</dict>
			<key>img/denglu/tiankbg/2_dimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1218},{640,755}}</string>
				<key>offset</key>
				<string>{0,-339}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1433}</string>
			</dict>
			<key>img/denglu/tiankbg/2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,1215}}</string>
				<key>offset</key>
				<string>{0,109}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1433}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,834},{229,408}}</string>
				<key>offset</key>
				<string>{0,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,866},{229,406}}</string>
				<key>offset</key>
				<string>{0,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,834},{229,402}}</string>
				<key>offset</key>
				<string>{0,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,1641},{229,398}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1244},{229,400}}</string>
				<key>offset</key>
				<string>{0,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1499},{229,397}}</string>
				<key>offset</key>
				<string>{0,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1646},{229,393}}</string>
				<key>offset</key>
				<string>{0,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1249},{229,387}}</string>
				<key>offset</key>
				<string>{0,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1638},{229,383}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,1238},{229,401}}</string>
				<key>offset</key>
				<string>{0,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1646},{229,398}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,864},{229,408}}</string>
				<key>offset</key>
				<string>{0,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,1},{229,414}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,417},{229,414}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,1},{229,415}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,418},{229,414}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,418},{229,414}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1},{229,415}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,451},{229,413}}</string>
				<key>offset</key>
				<string>{0,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,451},{229,411}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
			<key>img/denglu/tiankbg/yun2/yun16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,833},{229,414}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,456}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_denglu1.png</string>
			<key>realTextureFileName</key>
			<string>ani_denglu1.png</string>
			<key>size</key>
			<string>{2042,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2042</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>