<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/ziran/ziran_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,501},{133,142}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,493},{138,143}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,351},{139,145}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,351},{135,148}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,351},{142,140}}</string>
				<key>offset</key>
				<string>{-9,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,498},{138,139}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,645},{134,138}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,491},{136,145}}</string>
				<key>offset</key>
				<string>{-7,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,639},{133,142}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,637},{136,145}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{137,144}}</string>
				<key>offset</key>
				<string>{-11,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,491},{136,144}}</string>
				<key>offset</key>
				<string>{-12,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,638},{135,139}}</string>
				<key>offset</key>
				<string>{-12,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,637},{136,140}}</string>
				<key>offset</key>
				<string>{-11,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/ziran_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,491},{136,145}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/ziran/zr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1},{353,348}}</string>
				<key>offset</key>
				<string>{-21,-152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/ziran/zr3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{562,488}}</string>
				<key>offset</key>
				<string>{9,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,779},{108,107}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,747},{110,108}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,784},{112,109}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang04.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,779},{113,110}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang05.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,779},{114,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang06.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,638},{114,107}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang07.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,891},{112,103}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,895},{112,101}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang09.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,887},{110,100}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,888},{109,100}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang11.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,783},{109,102}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,857},{109,104}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>img/6zhongzu/ziran/yeshang13.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,638},{109,107}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ziran1.png</string>
			<key>realTextureFileName</key>
			<string>ani_ziran1.png</string>
			<key>size</key>
			<string>{986,997}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>986</integer>
			<key>height</key>
			<integer>997</integer>
		</dict>
	</dict>
</plist>