<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/fashita_0002_shit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,971},{41,82}}</string>
				<key>offset</key>
				<string>{-81,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/fashita_0003_shit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,971},{43,60}}</string>
				<key>offset</key>
				<string>{70,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/fashita_0004_shit3.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,971},{17,25}}</string>
				<key>offset</key>
				<string>{39,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/fashita_0005_shit4.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,396},{83,59}}</string>
				<key>offset</key>
				<string>{-5,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/fashita_0007_zuanshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,1014},{9,15}}</string>
				<key>offset</key>
				<string>{-28,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jlsd/img_city_fashita.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,838},{158,420}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,420}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/jjc/img_city_jingjichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{209,211}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,212}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/yxfj/1122.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,278},{184,116}}</string>
				<key>offset</key>
				<string>{7,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,252}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/yxfj/dishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,778},{58,77}}</string>
				<key>offset</key>
				<string>{4,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{509,511}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/rhjt/songhejitan_0000_ronghejitanxuanfu.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,421},{65,125}}</string>
				<key>offset</key>
				<string>{-4,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/rhjt/songhejitan_0005_ronghejitan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,471},{184,165}}</string>
				<key>offset</key>
				<string>{0,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/mrsl/img_city_shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1},{418,296}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{438,348}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/szj/img_city_shizijun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,278},{187,191}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,212}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/swz/3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{533,434}}</string>
				<key>offset</key>
				<string>{44,-72}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{779,693}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/dzf/img_city_tiejiangpu.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,508},{328,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,268}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/xs/zhucheng_xuanshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,214},{146,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,189}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/zp/xuyuanchi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,421},{175,85}}</string>
				<key>offset</key>
				<string>{2,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/yxjt/img_city_jisifazhen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{532,522}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,523}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/yxjt/img_ciy_jishifazhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1},{185,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,275}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/ywzb/fudao_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,488},{255,288}}</string>
				<key>offset</key>
				<string>{-18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,304}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/ywzb/y_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,971},{48,83}}</string>
				<key>offset</key>
				<string>{90,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,304}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/ywzb/z_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,396},{74,92}}</string>
				<key>offset</key>
				<string>{-96,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,304}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/zhp/img_city_zahuodian.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,778},{252,221}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,225}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinnian/zhzs/tanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,1},{175,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhucheng_xinnian.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhucheng_xinnian.png</string>
			<key>size</key>
			<string>{1345,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1345</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>