<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_qicaisaoguang/guanghc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{146,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,148}</string>
			</dict>
			<key>img/ani_qicaisaoguang/hongjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,110},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>img/ani_qicaisaoguang/lanjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,110},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,28}</string>
			</dict>
			<key>img/ani_qicaisaoguang/qicaisaoguang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,142},{11,6}}</string>
				<key>offset</key>
				<string>{-55,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,290}</string>
			</dict>
			<key>img/ani_qicaisaoguang/qicaisaoguang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,110},{25,21}}</string>
				<key>offset</key>
				<string>{-48,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,290}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,142},{1,1}}</string>
				<key>offset</key>
				<string>{-100,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,110},{42,43}}</string>
				<key>offset</key>
				<string>{-79,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,56},{83,50}}</string>
				<key>offset</key>
				<string>{-59,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,56},{89,50}}</string>
				<key>offset</key>
				<string>{-21,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,56},{89,50}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,56},{83,50}}</string>
				<key>offset</key>
				<string>{58,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,110},{42,44}}</string>
				<key>offset</key>
				<string>{79,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/saoguang_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,147},{1,1}}</string>
				<key>offset</key>
				<string>{99,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,2},{4,12}}</string>
				<key>offset</key>
				<string>{-98,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{38,50}}</string>
				<key>offset</key>
				<string>{-81,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,142},{73,50}}</string>
				<key>offset</key>
				<string>{-64,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,56},{94,50}}</string>
				<key>offset</key>
				<string>{-53,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,2},{115,50}}</string>
				<key>offset</key>
				<string>{-43,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2},{136,50}}</string>
				<key>offset</key>
				<string>{-32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,2},{157,50}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{177,50}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,56},{198,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,154},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,2},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/ani_qicaisaoguang/liuguangbai_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,56},{190,50}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_qicai.png</string>
			<key>realTextureFileName</key>
			<string>ani_qicai.png</string>
			<key>size</key>
			<string>{1005,206}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1005</integer>
			<key>height</key>
			<integer>206</integer>
		</dict>
	</dict>
</plist>