<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian_nanduxuanze/yj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{31,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,2},{31,23}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,2},{30,23}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,28},{29,23}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,29},{30,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,2},{30,23}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,2},{30,24}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,2},{30,24}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,2},{28,24}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,29},{29,22}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,30},{30,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,30},{30,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,49},{30,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,29},{29,21}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/yj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,57},{30,22}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/bj_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{52,51}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/jw.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,2},{49,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian_nanduxuanze_jw.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian_nanduxuanze_jw.png</string>
			<key>size</key>
			<string>{347,81}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>347</integer>
			<key>height</key>
			<integer>81</integer>
		</dict>
	</dict>
</plist>