<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_xuyuanchi/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,2},{154,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,141}</string>
			</dict>
			<key>img/ani_xuyuanchi/100010001.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,490},{390,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_xuyuanchi/100010003.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,546},{390,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_xuyuanchi/100010004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,590},{390,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_xuyuanchi/100010005.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,602},{390,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_xuyuanchi/100010006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,646},{390,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_xuyuanchi/12213131.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,290},{282,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,32}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,2},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,34},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,66},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,98},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,130},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,162},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,194},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,226},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,258},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,326},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,358},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/bw_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,390},{196,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuyuanchi/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,441},{439,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,145}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,147},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,215},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,272},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,272},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,283},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,340},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,340},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,351},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,326},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,408},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,408},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,419},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,394},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,422},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/sh0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,422},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>img/ani_xuyuanchi/yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{658,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{658,266}</string>
			</dict>
			<key>img/ani_xuyuanchi/jinbj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,272},{470,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xuyuanchi.png</string>
			<key>realTextureFileName</key>
			<string>ani_xuyuanchi.png</string>
			<key>size</key>
			<string>{1020,700}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>700</integer>
		</dict>
	</dict>
</plist>