<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shizijunshan/yuandian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,374},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/shizijunshan/img_yz_gq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,718},{46,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,31}</string>
			</dict>
			<key>img/shizijunshan/img_yz_gq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,658},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,56}</string>
			</dict>
			<key>img/shizijunshan/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/shizijunshan/sh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,554},{100,57}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/shizijunshan/yuandian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,466},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/shizijunshan/yuandianhuan_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,240},{130,129}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shizijun_shan.png</string>
			<key>realTextureFileName</key>
			<string>ani_shizijun_shan.png</string>
			<key>size</key>
			<string>{219,766}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>766</integer>
		</dict>
	</dict>
</plist>