<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_mofashu/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,36},{11,19}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,67},{38,22}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,52},{66,22}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,52},{92,20}}</string>
				<key>offset</key>
				<string>{-6,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,42},{101,21}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,2},{109,21}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,27},{109,21}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,2},{109,38}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,2},{109,38}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2},{109,36}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/guangqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,2},{46,46}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>img/ani_mofashu/MFS_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{190,63}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/MFS_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,2},{184,63}}</string>
				<key>offset</key>
				<string>{1,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,94}</string>
			</dict>
			<key>img/ani_mofashu/MFS123.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{129,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{413,98}</string>
			</dict>
			<key>img/ani_mofashu/shuguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,36},{90,39}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_mofashu.png</string>
			<key>realTextureFileName</key>
			<string>ani_mofashu.png</string>
			<key>size</key>
			<string>{1017,91}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>91</integer>
		</dict>
	</dict>
</plist>