<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/choukapng/taizidh/taizi_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,321},{499,286}}</string>
				<key>offset</key>
				<string>{-1,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizidh/taizi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,609},{491,287}}</string>
				<key>offset</key>
				<string>{-2,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizidh/taizi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{489,290}}</string>
				<key>offset</key>
				<string>{-1,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizidh/taizi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1},{489,318}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizidh/taizi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{493,350}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka1.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka1.png</string>
			<key>size</key>
			<string>{996,897}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>996</integer>
			<key>height</key>
			<integer>897</integer>
		</dict>
	</dict>
</plist>