<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chouka/baodian/yuanbaodian_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,901},{111,82}}</string>
				<key>offset</key>
				<string>{-4,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/baozha/boom_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,208},{174,205}}</string>
				<key>offset</key>
				<string>{14,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{221,208}}</string>
				<key>offset</key>
				<string>{-4,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,190},{199,181}}</string>
				<key>offset</key>
				<string>{-17,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1},{190,205}}</string>
				<key>offset</key>
				<string>{11,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,1},{210,194}}</string>
				<key>offset</key>
				<string>{-8,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,373},{186,186}}</string>
				<key>offset</key>
				<string>{-17,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{207,187}}</string>
				<key>offset</key>
				<string>{-7,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,193},{188,188}}</string>
				<key>offset</key>
				<string>{-16,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/baozha/boom_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1},{205,153}}</string>
				<key>offset</key>
				<string>{-8,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{15,17}}</string>
				<key>offset</key>
				<string>{24,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,415},{39,31}}</string>
				<key>offset</key>
				<string>{12,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,612},{72,48}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{95,137}}</string>
				<key>offset</key>
				<string>{-9,70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,919},{94,162}}</string>
				<key>offset</key>
				<string>{-9,91}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangdai/guangdai_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,755},{93,143}}</string>
				<key>offset</key>
				<string>{-10,104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,211},{41,161}}</string>
				<key>offset</key>
				<string>{1,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,932},{74,176}}</string>
				<key>offset</key>
				<string>{0,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,825},{83,195}}</string>
				<key>offset</key>
				<string>{0,74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{84,200}}</string>
				<key>offset</key>
				<string>{0,75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,886},{86,200}}</string>
				<key>offset</key>
				<string>{0,75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{72,199}}</string>
				<key>offset</key>
				<string>{0,76}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,686},{63,198}}</string>
				<key>offset</key>
				<string>{1,76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,702},{61,197}}</string>
				<key>offset</key>
				<string>{3,77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,671},{47,197}}</string>
				<key>offset</key>
				<string>{-2,77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>img/chouka/guangzhu/guangzhu_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,870},{67,153}}</string>
				<key>offset</key>
				<string>{3,70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
			<key>a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,498},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,495},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,383},{113,38}}</string>
				<key>offset</key>
				<string>{-4,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,374},{119,38}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,798},{119,159}}</string>
				<key>offset</key>
				<string>{-1,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,687},{120,161}}</string>
				<key>offset</key>
				<string>{-1,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,579},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,632},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,509},{121,166}}</string>
				<key>offset</key>
				<string>{-1,47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,592},{121,167}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,702},{121,147}}</string>
				<key>offset</key>
				<string>{-1,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,809},{121,149}}</string>
				<key>offset</key>
				<string>{-1,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,671},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,452},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,415},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,543},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,197},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,211},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,338},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,325},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,383},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>1_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,561},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka_chuxian.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka_chuxian.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>