<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghuizhenfeng/js.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{115,102}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,2},{79,118}}</string>
				<key>offset</key>
				<string>{145,69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/shui.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,507},{181,483}}</string>
				<key>offset</key>
				<string>{91,113}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/st1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,507},{372,475}}</string>
				<key>offset</key>
				<string>{-134,81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/st2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{386,501}}</string>
				<key>offset</key>
				<string>{127,93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/stliangge.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,2},{290,168}}</string>
				<key>offset</key>
				<string>{0,-69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,986},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,454},{52,38}}</string>
				<key>offset</key>
				<string>{-206,176}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,388},{90,60}}</string>
				<key>offset</key>
				<string>{-209,181}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,195},{124,73}}</string>
				<key>offset</key>
				<string>{-211,186}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,399},{144,81}}</string>
				<key>offset</key>
				<string>{-212,186}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,496},{154,96}}</string>
				<key>offset</key>
				<string>{-210,180}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,2},{153,99}}</string>
				<key>offset</key>
				<string>{-209,176}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,2},{147,101}}</string>
				<key>offset</key>
				<string>{-208,171}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,159},{137,110}}</string>
				<key>offset</key>
				<string>{-206,160}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,273},{122,118}}</string>
				<key>offset</key>
				<string>{-203,147}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,153},{105,127}}</string>
				<key>offset</key>
				<string>{-201,137}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,262},{100,122}}</string>
				<key>offset</key>
				<string>{-203,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,121},{93,115}}</string>
				<key>offset</key>
				<string>{-205,132}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,85},{88,106}}</string>
				<key>offset</key>
				<string>{-206,128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,323},{79,92}}</string>
				<key>offset</key>
				<string>{-207,124}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,991},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/gx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,996},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/st2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,296},{121,181}}</string>
				<key>offset</key>
				<string>{-6,253}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/gonghuizhenfeng/222_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,296},{154,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,141}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuizhenfeng_baoming.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuizhenfeng_baoming.png</string>
			<key>size</key>
			<string>{1023,999}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>999</integer>
		</dict>
	</dict>
</plist>