<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wangzekuang/sg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/wangzekuang/st_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,165},{36,36}}</string>
				<key>offset</key>
				<string>{1,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,53},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,165},{63,19}}</string>
				<key>offset</key>
				<string>{-6,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,126},{64,26}}</string>
				<key>offset</key>
				<string>{-12,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,117},{66,32}}</string>
				<key>offset</key>
				<string>{-19,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,123},{65,38}}</string>
				<key>offset</key>
				<string>{-25,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{61,42}}</string>
				<key>offset</key>
				<string>{-30,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,74},{56,45}}</string>
				<key>offset</key>
				<string>{-32,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,74},{52,48}}</string>
				<key>offset</key>
				<string>{-34,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,74},{47,53}}</string>
				<key>offset</key>
				<string>{-37,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,2},{44,56}}</string>
				<key>offset</key>
				<string>{-38,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,89},{39,59}}</string>
				<key>offset</key>
				<string>{-41,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,123},{32,65}}</string>
				<key>offset</key>
				<string>{-44,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,156},{25,65}}</string>
				<key>offset</key>
				<string>{-48,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,47},{21,66}}</string>
				<key>offset</key>
				<string>{-49,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,125},{21,66}}</string>
				<key>offset</key>
				<string>{-49,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,125},{26,66}}</string>
				<key>offset</key>
				<string>{-46,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,89},{33,66}}</string>
				<key>offset</key>
				<string>{-43,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{41,65}}</string>
				<key>offset</key>
				<string>{-40,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,2},{47,60}}</string>
				<key>offset</key>
				<string>{-38,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,2},{50,53}}</string>
				<key>offset</key>
				<string>{-36,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,2},{54,45}}</string>
				<key>offset</key>
				<string>{-34,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,50},{60,40}}</string>
				<key>offset</key>
				<string>{-31,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2},{66,40}}</string>
				<key>offset</key>
				<string>{-25,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,46},{66,39}}</string>
				<key>offset</key>
				<string>{-16,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,2},{66,40}}</string>
				<key>offset</key>
				<string>{-8,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,47},{66,39}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,53},{66,39}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,46},{66,39}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,120},{64,39}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,56},{63,38}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wangzekuang/wzk_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,53},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_wangzekuang.png</string>
			<key>realTextureFileName</key>
			<string>ani_wangzekuang.png</string>
			<key>size</key>
			<string>{693,230}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>693</integer>
			<key>height</key>
			<integer>230</integer>
		</dict>
	</dict>
</plist>