<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_xinhuode_wuxing/df.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,2},{108,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,101}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{477,86}}</string>
				<key>offset</key>
				<string>{0,386}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/x1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,2},{85,84}}</string>
				<key>offset</key>
				<string>{-172,241}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/x2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,75},{58,57}}</string>
				<key>offset</key>
				<string>{-172,240}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/z_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,44},{194,27}}</string>
				<key>offset</key>
				<string>{5,400}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,2},{158,38}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/guangyun_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,2},{121,292}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xinhuode_wuxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_xinhuode_wuxin.png</string>
			<key>size</key>
			<string>{1005,296}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1005</integer>
			<key>height</key>
			<integer>296</integer>
		</dict>
	</dict>
</plist>