<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/guangming/gm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{353,348}}</string>
				<key>offset</key>
				<string>{-8,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,451}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/guangming/zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,538},{99,115}}</string>
				<key>offset</key>
				<string>{144,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,760}</string>
			</dict>
			<key>img/6zhongzu/guangming/gmtai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,457},{259,77}}</string>
				<key>offset</key>
				<string>{0,-327}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,506},{133,142}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,538},{138,143}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,354},{139,145}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,354},{135,148}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,457},{142,140}}</string>
				<key>offset</key>
				<string>{-9,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,750},{138,139}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,652},{134,138}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,601},{136,145}}</string>
				<key>offset</key>
				<string>{-7,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,652},{133,142}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,685},{136,145}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,457},{137,144}}</string>
				<key>offset</key>
				<string>{-11,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,605},{136,144}}</string>
				<key>offset</key>
				<string>{-12,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,753},{135,139}}</string>
				<key>offset</key>
				<string>{-12,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,834},{136,140}}</string>
				<key>offset</key>
				<string>{-11,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/gm_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,503},{136,145}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,354},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,477},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,457},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,794},{78,118}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,657},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,580},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,780},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,600},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,703},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,893},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,903},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
			<key>img/6zhongzu/guangming/bs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,723},{78,119}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_guangming1.png</string>
			<key>realTextureFileName</key>
			<string>ani_guangming1.png</string>
			<key>size</key>
			<string>{1008,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>