<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxionghuijuan/guangan/guangan-fengdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{287,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-fengmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,359},{222,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-shuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,571},{78,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-youshupi.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,571},{237,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-youye.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,229},{209,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-zuoshupi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,722},{239,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/guangan-zuoye.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,653},{207,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/f111_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,2},{223,329}}</string>
				<key>offset</key>
				<string>{-19,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1000}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/f222_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,359},{208,360}}</string>
				<key>offset</key>
				<string>{-24,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1000}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fsz1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,520},{218,250}}</string>
				<key>offset</key>
				<string>{16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fsz2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/zb_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,944},{72,98}}</string>
				<key>offset</key>
				<string>{-29,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1000}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxionghuijuan_shuga.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxionghuijuan_shuga.png</string>
			<key>size</key>
			<string>{1000,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>