<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_mijing/ziyao/zis_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,952},{62,59}}</string>
				<key>offset</key>
				<string>{-12,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,952},{62,59}}</string>
				<key>offset</key>
				<string>{-12,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,87},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,154},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,288},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,355},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,422},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,489},{63,60}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,556},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,622},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,688},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,754},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,820},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/ziyao/zis_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,886},{62,60}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_mijing/zy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{66,81}}</string>
				<key>offset</key>
				<string>{-11,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_cio_ys3.png</string>
			<key>realTextureFileName</key>
			<string>ani_cio_ys3.png</string>
			<key>size</key>
			<string>{126,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>