<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tongguanjiangli/tongguangjiangli_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,2},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tongguanjiangli.png</string>
			<key>realTextureFileName</key>
			<string>ani_tongguanjiangli.png</string>
			<key>size</key>
			<string>{760,74}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>760</integer>
			<key>height</key>
			<integer>74</integer>
		</dict>
	</dict>
</plist>