<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_tanxian02/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,507},{55,52}}</string>
				<key>offset</key>
				<string>{-9,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,323},{71,53}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,592},{73,59}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,720},{73,71}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,251},{54,72}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,744},{61,73}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,791},{64,73}}</string>
				<key>offset</key>
				<string>{-8,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,471},{68,76}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,394},{70,77}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,785},{73,76}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,460},{79,73}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,713},{72,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,585},{80,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,634},{79,80}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,634},{79,79}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,667},{80,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,590},{84,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,511},{82,79}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,592},{81,79}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,411},{88,82}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,499},{86,83}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,511},{85,81}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,512},{84,84}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,380},{73,80}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,720},{74,77}}</string>
				<key>offset</key>
				<string>{3,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,713},{76,76}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,789},{76,72}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,667},{77,61}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,256},{62,55}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,318},{61,55}}</string>
				<key>offset</key>
				<string>{-8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/474.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,0},{158,164}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,0},{191,127}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,0},{194,125}}</string>
				<key>offset</key>
				<string>{8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long02.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,130},{194,126}}</string>
				<key>offset</key>
				<string>{9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,0},{195,124}}</string>
				<key>offset</key>
				<string>{9,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{197,124}}</string>
				<key>offset</key>
				<string>{10,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{199,124}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,128},{199,125}}</string>
				<key>offset</key>
				<string>{11,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long07.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,128},{200,125}}</string>
				<key>offset</key>
				<string>{12,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long08.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,129},{202,126}}</string>
				<key>offset</key>
				<string>{13,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long09.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,128},{204,127}}</string>
				<key>offset</key>
				<string>{13,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,0},{206,128}}</string>
				<key>offset</key>
				<string>{14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long11.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,0},{208,128}}</string>
				<key>offset</key>
				<string>{15,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long12.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{210,128}}</string>
				<key>offset</key>
				<string>{16,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long13.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{213,129}}</string>
				<key>offset</key>
				<string>{16,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long14.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,0},{215,130}}</string>
				<key>offset</key>
				<string>{17,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{217,130}}</string>
				<key>offset</key>
				<string>{18,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,251},{179,130}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,252},{180,129}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,382},{177,129}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,253},{180,129}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,381},{181,128}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,253},{179,128}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,507},{177,127}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,284},{180,127}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long24.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,253},{182,127}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,381},{184,126}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,158},{185,126}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,127},{186,126}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,125},{187,127}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/long29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,124},{190,127}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian02/youchuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,124},{67,40}}</string>
				<key>offset</key>
				<string>{73,59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>ani_tanxian02/zuochuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,284},{56,41}}</string>
				<key>offset</key>
				<string>{-141,68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>ain_tanxian04/shui00.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,256},{103,141}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui01.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,380},{102,139}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{103,140}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui03.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,357},{101,141}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui04.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,359},{103,141}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,480},{96,142}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,381},{99,142}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui07.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,255},{102,141}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,689},{104,141}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,615},{105,141}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,509},{106,142}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,547},{106,142}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,411},{101,137}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui13.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,255},{103,140}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ain_tanxian04/shui14.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,255},{103,142}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian2.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian2.png</string>
			<key>size</key>
			<string>{2048,861}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>861</integer>
		</dict>
	</dict>
</plist>