<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhandoushibai/dunpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,2},{161,181}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/pd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,332},{494,100}}</string>
				<key>offset</key>
				<string>{2,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/qizi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,130},{120,118}}</string>
				<key>offset</key>
				<string>{116,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/qizi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,312},{39,88}}</string>
				<key>offset</key>
				<string>{66,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,2},{117,118}}</string>
				<key>offset</key>
				<string>{118,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,2},{119,124}}</string>
				<key>offset</key>
				<string>{119,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,187},{126,124}}</string>
				<key>offset</key>
				<string>{118,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,187},{128,121}}</string>
				<key>offset</key>
				<string>{117,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,312},{123,116}}</string>
				<key>offset</key>
				<string>{113,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,124},{117,115}}</string>
				<key>offset</key>
				<string>{112,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,2},{116,115}}</string>
				<key>offset</key>
				<string>{114,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/sbqizi_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,252},{116,116}}</string>
				<key>offset</key>
				<string>{116,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/ziguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{325,326}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_zhandoushibai/zdsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,243},{98,56}}</string>
				<key>offset</key>
				<string>{-50,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
			<key>img/ani_zhandoushibai/zdsb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,252},{102,56}}</string>
				<key>offset</key>
				<string>{53,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,192}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhandoushibai.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhandoushibai.png</string>
			<key>size</key>
			<string>{919,434}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>919</integer>
			<key>height</key>
			<integer>434</integer>
		</dict>
	</dict>
</plist>