<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,877},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_jisifazhen/zise.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,970},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>img/ani_jisifazhen/guangyun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,513},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_fanpaidonghua/xuanwo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,177},{166,161}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,164}</string>
			</dict>
			<key>zhenbasai/m2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{439,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,507}</string>
			</dict>
			<key>zhenbasai/m3.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{171,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,198}</string>
			</dict>
			<key>zhenbasai/m6m.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,877},{115,140}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,153}</string>
			</dict>
			<key>zhenbasai/m9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,513},{437,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,453}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yuwaizhengba_jjc.png</string>
			<key>realTextureFileName</key>
			<string>ani_yuwaizhengba_jjc.png</string>
			<key>size</key>
			<string>{997,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>997</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>