<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/3/33/sl_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,140},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,278},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,294},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,278},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,278},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,278},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,278},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,416},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,432},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,448},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,416},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,416},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/sl_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,416},{150,134}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,2},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,112},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,112},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,112},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,222},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,248},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,274},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,300},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,326},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,352},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,378},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,404},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,430},{106,22}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/3/33/xw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_shuibai.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_shuibai.png</string>
			<key>size</key>
			<string>{1022,600}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>600</integer>
		</dict>
	</dict>
</plist>