<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/xuanwo5.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,326},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_shijieshu1/5saoguang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{129,268}}</string>
				<key>offset</key>
				<string>{-64,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,275}</string>
			</dict>
			<key>img/ani_shijieshu1/5saoguang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,174},{95,99}}</string>
				<key>offset</key>
				<string>{-62,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,275}</string>
			</dict>
			<key>img/ani_shijieshu1/3guang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,174},{74,162}}</string>
				<key>offset</key>
				<string>{47,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,2},{160,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,168}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshu2.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshu2.png</string>
			<key>size</key>
			<string>{1010,396}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>396</integer>
		</dict>
	</dict>
</plist>