<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tiejiangpu/dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1663},{118,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,54}</string>
			</dict>
			<key>img/ani_tiejiangpu/g1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1847},{471,84}}</string>
				<key>offset</key>
				<string>{14,299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1460}</string>
			</dict>
			<key>img/ani_tiejiangpu/g2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1935},{368,69}}</string>
				<key>offset</key>
				<string>{56,212}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1460}</string>
			</dict>
			<key>img/ani_tiejiangpu/g3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1663},{94,60}}</string>
				<key>offset</key>
				<string>{213,275}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1460}</string>
			</dict>
			<key>img/ani_tiejiangpu/ga1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1406},{187,137}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,140}</string>
			</dict>
			<key>img/ani_tiejiangpu/ga1_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1641},{97,72}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,73}</string>
			</dict>
			<key>img/ani_tiejiangpu/gaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1717},{102,108}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,115}</string>
			</dict>
			<key>img/ani_tiejiangpu/guangz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1935},{82,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,201}</string>
			</dict>
			<key>img/ani_tiejiangpu/guangzishang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1819},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,86}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1406},{286,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,319}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzi-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1929},{106,144}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,156}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzi-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1653},{65,123}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,145}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzishang.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1716},{99,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,86}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzishang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1602},{47,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,118}</string>
			</dict>
			<key>img/ani_tiejiangpu/guanzi-you.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1729},{268,313}}</string>
				<key>offset</key>
				<string>{23,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,323}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1406},{192,139}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,140}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1597},{84,40}}</string>
				<key>offset</key>
				<string>{-206,301}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1460}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz2_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1645},{100,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,73}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1406},{253,156}}</string>
				<key>offset</key>
				<string>{17,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,175}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1602},{104,39}}</string>
				<key>offset</key>
				<string>{92,118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1460}</string>
			</dict>
			<key>img/ani_tiejiangpu/gz3_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1843},{132,82}}</string>
				<key>offset</key>
				<string>{9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,265},{67,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,50}</string>
			</dict>
			<key>img/ani_tiejiangpu/menngb.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1729},{114,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,357}</string>
			</dict>
			<key>img/ani_tiejiangpu/xiangguanzi-shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,336},{53,46}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>img/ani_tiejiangpu/xiaoguanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,2},{75,50}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,60}</string>
			</dict>
			<key>img/ani_tiejiangpu/xiaoguanzi-xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,198},{58,63}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,115}</string>
			</dict>
			<key>img/ani_tiejiangpu/zhuangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1581},{51,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,77}</string>
			</dict>
			<key>img/ani_tiejiangpu/zuoguanjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1722},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,188}</string>
			</dict>
			<key>img/ani_tiejiangpu/zuoguanjie01.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1636},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>
			<key>img/ani_tiejiangpu/bj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,1400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,97},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,203},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,309},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,415},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,521},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,627},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,733},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,839},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,945},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1051},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1157},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1263},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1369},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/huo/huo_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1475},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
			<key>img/ani_tiejiangpu/zhuangshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,2},{51,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,77}</string>
			</dict>
			<key>img/ani_tiejiangpu/guangzishang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,97},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tiejiangpu_beijing.png</string>
			<key>realTextureFileName</key>
			<string>ani_tiejiangpu_beijing.png</string>
			<key>size</key>
			<string>{997,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>997</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>