<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,1394}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00070.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1394},{640,1393}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00072.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,0},{637,1078}}</string>
				<key>offset</key>
				<string>{1,159}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{628,1044}}</string>
				<key>offset</key>
				<string>{-6,177}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka11.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka11.png</string>
			<key>size</key>
			<string>{2030,2034}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2030</integer>
			<key>height</key>
			<integer>2034</integer>
		</dict>
	</dict>
</plist>