<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/choukapng/taizi_xin/dit_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1},{500,401}}</string>
				<key>offset</key>
				<string>{0,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizi_xin/dit_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1270},{500,441}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizi_xin/dit_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,1270},{496,410}}</string>
				<key>offset</key>
				<string>{-2,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizi_xin/dit_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,1682},{498,306}}</string>
				<key>offset</key>
				<string>{-1,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizi_xin/dit_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,1},{500,287}}</string>
				<key>offset</key>
				<string>{0,-96}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/taizi_xin/dit_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,503},{500,296}}</string>
				<key>offset</key>
				<string>{0,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1772},{317,152}}</string>
				<key>offset</key>
				<string>{4,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,801},{317,152}}</string>
				<key>offset</key>
				<string>{4,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,958},{325,955}}</string>
				<key>offset</key>
				<string>{4,223}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1},{340,955}}</string>
				<key>offset</key>
				<string>{5,223}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{321,952}}</string>
				<key>offset</key>
				<string>{-19,224}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,960},{353,965}}</string>
				<key>offset</key>
				<string>{-1,218}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{397,963}}</string>
				<key>offset</key>
				<string>{-57,219}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{418,957}}</string>
				<key>offset</key>
				<string>{-67,222}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,955},{313,949}}</string>
				<key>offset</key>
				<string>{-15,226}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka6.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka6.png</string>
			<key>size</key>
			<string>{2032,1989}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2032</integer>
			<key>height</key>
			<integer>1989</integer>
		</dict>
	</dict>
</plist>