<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_xuetiaobaoqi/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,2},{112,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,45},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,23},{113,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,2},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,2},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,2},{115,17}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,23},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,23},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,24},{112,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,23},{113,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/bw_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,2},{114,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/guangqiul.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,2},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/nengliangtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,23},{63,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,12}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,23},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,35},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,43},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,43},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,43},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,47},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,44},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,44},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,44},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xuetiaobaoqi/xuetiaobaoqi_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,55},{72,8}}</string>
				<key>offset</key>
				<string>{29,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xuetiaobaoqi.png</string>
			<key>realTextureFileName</key>
			<string>ani_xuetiaobaoqi.png</string>
			<key>size</key>
			<string>{1020,72}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>72</integer>
		</dict>
	</dict>
</plist>