<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,2},{341,311}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,349},{342,322}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,686},{344,331}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{350,338}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{350,338}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{350,338}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/wangze/wz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,344},{350,338}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,972},{32,23}}</string>
				<key>offset</key>
				<string>{28,67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,937},{31,24}}</string>
				<key>offset</key>
				<string>{29,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,937},{30,24}}</string>
				<key>offset</key>
				<string>{30,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,972},{29,25}}</string>
				<key>offset</key>
				<string>{29,67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,972},{28,22}}</string>
				<key>offset</key>
				<string>{29,67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,972},{31,22}}</string>
				<key>offset</key>
				<string>{29,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,937},{31,23}}</string>
				<key>offset</key>
				<string>{29,65}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,344},{1,1}}</string>
				<key>offset</key>
				<string>{174,-141}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,698},{92,92}}</string>
				<key>offset</key>
				<string>{62,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,802},{101,99}}</string>
				<key>offset</key>
				<string>{57,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,695},{108,103}}</string>
				<key>offset</key>
				<string>{53,61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,820},{113,106}}</string>
				<key>offset</key>
				<string>{48,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,695},{121,108}}</string>
				<key>offset</key>
				<string>{44,63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,820},{113,105}}</string>
				<key>offset</key>
				<string>{41,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,695},{107,103}}</string>
				<key>offset</key>
				<string>{38,65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,905},{100,98}}</string>
				<key>offset</key>
				<string>{36,65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,794},{93,91}}</string>
				<key>offset</key>
				<string>{33,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/sx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,344},{1,1}}</string>
				<key>offset</key>
				<string>{174,-141}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuizhenfeng_wangze2.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuizhenfeng_wangze2.png</string>
			<key>size</key>
			<string>{1023,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>