<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/denglu/niu/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,890},{203,183}}</string>
				<key>offset</key>
				<string>{-74,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,903},{200,187}}</string>
				<key>offset</key>
				<string>{-75,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,901},{197,190}}</string>
				<key>offset</key>
				<string>{-77,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,581},{195,194}}</string>
				<key>offset</key>
				<string>{-78,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,437},{193,197}}</string>
				<key>offset</key>
				<string>{-79,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,341},{193,198}}</string>
				<key>offset</key>
				<string>{-79,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,508},{193,197}}</string>
				<key>offset</key>
				<string>{-79,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,240},{195,195}}</string>
				<key>offset</key>
				<string>{-78,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,707},{198,192}}</string>
				<key>offset</key>
				<string>{-76,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,713},{201,188}}</string>
				<key>offset</key>
				<string>{-75,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,636},{203,186}}</string>
				<key>offset</key>
				<string>{-74,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1092},{205,182}}</string>
				<key>offset</key>
				<string>{-73,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,707},{206,181}}</string>
				<key>offset</key>
				<string>{-72,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1093},{206,180}}</string>
				<key>offset</key>
				<string>{-72,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/1_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,824},{205,181}}</string>
				<key>offset</key>
				<string>{-73,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,326}</string>
			</dict>
			<key>img/denglu/niu/2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1610},{228,71}}</string>
				<key>offset</key>
				<string>{-31,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,1447},{228,74}}</string>
				<key>offset</key>
				<string>{-31,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1534},{228,74}}</string>
				<key>offset</key>
				<string>{-31,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1588},{228,74}}</string>
				<key>offset</key>
				<string>{-31,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1610},{228,72}}</string>
				<key>offset</key>
				<string>{-31,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1664},{228,69}}</string>
				<key>offset</key>
				<string>{-31,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,1523},{228,66}}</string>
				<key>offset</key>
				<string>{-31,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,1582},{228,62}}</string>
				<key>offset</key>
				<string>{-31,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1591},{228,59}}</string>
				<key>offset</key>
				<string>{-31,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,1591},{228,58}}</string>
				<key>offset</key>
				<string>{-31,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1649},{228,58}}</string>
				<key>offset</key>
				<string>{-31,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,1651},{228,58}}</string>
				<key>offset</key>
				<string>{-31,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,1646},{228,61}}</string>
				<key>offset</key>
				<string>{-31,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1582},{228,65}}</string>
				<key>offset</key>
				<string>{-31,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/2_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1521},{228,68}}</string>
				<key>offset</key>
				<string>{-31,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>img/denglu/niu/3_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,935},{363,224}}</string>
				<key>offset</key>
				<string>{-17,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,708},{362,227}}</string>
				<key>offset</key>
				<string>{-17,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,475},{360,231}}</string>
				<key>offset</key>
				<string>{-17,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,239},{359,235}}</string>
				<key>offset</key>
				<string>{-18,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{359,237}}</string>
				<key>offset</key>
				<string>{-18,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{358,238}}</string>
				<key>offset</key>
				<string>{-18,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,1},{358,237}}</string>
				<key>offset</key>
				<string>{-18,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,1},{359,236}}</string>
				<key>offset</key>
				<string>{-19,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,240},{359,233}}</string>
				<key>offset</key>
				<string>{-19,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,476},{360,229}}</string>
				<key>offset</key>
				<string>{-18,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,707},{361,226}}</string>
				<key>offset</key>
				<string>{-18,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1075},{362,222}}</string>
				<key>offset</key>
				<string>{-17,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1159},{363,219}}</string>
				<key>offset</key>
				<string>{-17,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,1161},{363,219}}</string>
				<key>offset</key>
				<string>{-17,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/3_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,937},{363,220}}</string>
				<key>offset</key>
				<string>{-17,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,289}</string>
			</dict>
			<key>img/denglu/niu/wb01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1382},{171,132}}</string>
				<key>offset</key>
				<string>{-7,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1382},{170,137}}</string>
				<key>offset</key>
				<string>{-5,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1299},{169,141}}</string>
				<key>offset</key>
				<string>{-4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,1299},{168,146}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb05.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1380},{166,152}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb06.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1350},{164,157}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1281},{165,160}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb08.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1276},{165,162}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1114},{165,165}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{165,167}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,541},{165,170}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,777},{167,166}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1275},{168,161}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1191},{169,157}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb15.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1380},{169,152}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb16.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1438},{171,148}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1443},{172,145}}</string>
				<key>offset</key>
				<string>{-5,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1299},{171,141}}</string>
				<key>offset</key>
				<string>{-6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1442},{172,138}}</string>
				<key>offset</key>
				<string>{-6,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/wb20.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1509},{171,135}}</string>
				<key>offset</key>
				<string>{-7,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,185}</string>
			</dict>
			<key>img/denglu/niu/niu_shenti .png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1},{264,361}}</string>
				<key>offset</key>
				<string>{-40,-174}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,1},{86,111}}</string>
				<key>offset</key>
				<string>{-277,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,364},{300,142}}</string>
				<key>offset</key>
				<string>{-94,87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_wuqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{596,338}}</string>
				<key>offset</key>
				<string>{23,186}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_youjianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,390},{114,140}}</string>
				<key>offset</key>
				<string>{52,84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_zuogebo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,240},{161,148}}</string>
				<key>offset</key>
				<string>{-203,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
			<key>img/denglu/niu/niu_zuojianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1007},{203,182}}</string>
				<key>offset</key>
				<string>{-115,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{641,710}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_denglu_niu.png</string>
			<key>realTextureFileName</key>
			<string>ani_denglu_niu.png</string>
			<key>size</key>
			<string>{2048,1734}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1734</integer>
		</dict>
	</dict>
</plist>