<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghuizhenfeng/zise/01_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{250,146}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/gonghuizhenfeng/zise/yj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{30,23}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/gonghuizhenfeng/zise/zz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{34,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuizhenfeng_zi.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuizhenfeng_zi.png</string>
			<key>size</key>
			<string>{327,150}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>327</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
	</dict>
</plist>