<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhaomu/1/x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,2},{1,1}}</string>
				<key>offset</key>
				<string>{299,-299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,819},{101,81}}</string>
				<key>offset</key>
				<string>{-186,-108}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,589},{153,87}}</string>
				<key>offset</key>
				<string>{-157,-115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,891},{208,90}}</string>
				<key>offset</key>
				<string>{-128,-119}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,371},{262,90}}</string>
				<key>offset</key>
				<string>{-100,-120}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,371},{317,90}}</string>
				<key>offset</key>
				<string>{-73,-121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,371},{372,88}}</string>
				<key>offset</key>
				<string>{-44,-121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,370},{374,91}}</string>
				<key>offset</key>
				<string>{9,-117}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,2},{364,110}}</string>
				<key>offset</key>
				<string>{59,-106}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,187},{309,128}}</string>
				<key>offset</key>
				<string>{86,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,748},{252,132}}</string>
				<key>offset</key>
				<string>{114,-90}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,371},{233,131}}</string>
				<key>offset</key>
				<string>{121,-86}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,319},{285,126}}</string>
				<key>offset</key>
				<string>{92,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,371},{281,114}}</string>
				<key>offset</key>
				<string>{90,-76}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,656},{263,87}}</string>
				<key>offset</key>
				<string>{81,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,449},{211,85}}</string>
				<key>offset</key>
				<string>{55,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,746},{157,83}}</string>
				<key>offset</key>
				<string>{28,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/1/x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,870},{103,78}}</string>
				<key>offset</key>
				<string>{2,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,747},{140,150}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,830},{134,151}}</string>
				<key>offset</key>
				<string>{-5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,692},{123,147}}</string>
				<key>offset</key>
				<string>{-11,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,664},{114,142}}</string>
				<key>offset</key>
				<string>{-12,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,449},{106,138}}</string>
				<key>offset</key>
				<string>{-12,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,449},{100,136}}</string>
				<key>offset</key>
				<string>{-11,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,782},{84,119}}</string>
				<key>offset</key>
				<string>{-16,49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,870},{74,104}}</string>
				<key>offset</key>
				<string>{-14,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,370},{50,98}}</string>
				<key>offset</key>
				<string>{-2,63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,562},{47,91}}</string>
				<key>offset</key>
				<string>{-2,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/2/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,472},{52,86}}</string>
				<key>offset</key>
				<string>{-3,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,225}</string>
			</dict>
			<key>img/yingxiongzhaomu/byx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,2},{181,310}}</string>
				<key>offset</key>
				<string>{-210,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/dbg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,637},{189,72}}</string>
				<key>offset</key>
				<string>{128,239}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/yingxiongzhaomu/dg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{561,365}}</string>
				<key>offset</key>
				<string>{-15,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxiongzhaomu.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxiongzhaomu.png</string>
			<key>size</key>
			<string>{1005,1002}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1005</integer>
			<key>height</key>
			<integer>1002</integer>
		</dict>
	</dict>
</plist>