<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhenfatubiao/12/12_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,160},{75,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,82},{77,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,82},{77,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,2},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,2},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,2},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,2},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,81},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,81},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,81},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,81},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,82},{78,75}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/12/12_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,2},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenyingbuff_14.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenyingbuff_14.png</string>
			<key>size</key>
			<string>{992,235}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>992</integer>
			<key>height</key>
			<integer>235</integer>
		</dict>
	</dict>
</plist>