<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ui_anniu/beibao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,2},{96,86}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,94}</string>
			</dict>
			<key>img/ui_anniu/gonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,182},{71,91}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,99}</string>
			</dict>
			<key>img/ui_anniu/tanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{113,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,101}</string>
			</dict>
			<key>img/ui_anniu/yingxiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,89},{90,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,87}</string>
			</dict>
			<key>img/ui_anniu/yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,33},{39,17}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,50}</string>
			</dict>
			<key>img/ui_anniu/z.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,191},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>img/ui_anniu/zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,107},{86,80}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>img/ui_anniu/zi_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,2},{48,27}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_gh.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,336},{49,28}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,2},{50,26}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,32},{48,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_zc.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,2},{49,27}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,2},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,85},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,107},{33,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,180},{29,53}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,217},{29,53}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,85},{30,54}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,301},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,246},{30,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,212},{29,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,212},{29,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,237},{31,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,274},{29,50}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2},{28,49}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,336},{28,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,308},{27,52}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/lansehuo_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,54},{31,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ui_anniu/pp_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,162},{32,51}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,108},{31,51}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,108},{31,51}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,109},{31,51}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,139},{31,51}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,143},{31,50}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,146},{31,50}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,179},{31,50}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,92},{32,50}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,125},{32,50}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,54},{32,50}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,54},{32,50}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,191},{32,51}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,53},{32,51}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/pp_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,54},{32,51}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>img/ui_anniu/ganzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,2},{34,17}}</string>
				<key>offset</key>
				<string>{3,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>img/ui_anniu/beibao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,2},{93,48}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,141}</string>
			</dict>
			<key>img/ui_anniu/beibao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,2},{58,47}}</string>
				<key>offset</key>
				<string>{25,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,141}</string>
			</dict>
			<key>img/ui_anniu/beibao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,107},{98,71}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,141}</string>
			</dict>
			<key>img/ui_anniu/beibao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,2},{62,48}}</string>
				<key>offset</key>
				<string>{10,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,141}</string>
			</dict>
			<key>img/ui_anniu/beibao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,2},{104,83}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,92}</string>
			</dict>
			<key>img/ui_anniu/tanxian_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,2},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,101}</string>
			</dict>
			<key>img/ui_anniu/tanxian222_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,2},{113,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,101}</string>
			</dict>
			<key>img/ui_anniu/zi_bb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,277},{54,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_gh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,92},{55,29}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_tx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,274},{55,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_yx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,305},{53,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ui_anniu/zi_zc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,180},{54,28}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuchengui.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuchengui.png</string>
			<key>size</key>
			<string>{1021,388}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>388</integer>
		</dict>
	</dict>
</plist>