<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_guangbiaoqiehuan/qiehuan_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,270},{70,85}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_guangbiaoqiehuan/qiehuan2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,359},{63,82}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_guangbiaoqiehuan/1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,445},{63,63}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_guangbiaoqiehuan/2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,512},{63,63}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_guangbiaoqiehuan/qiehuan2_00_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,145},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_guangbiaoqiehuan/sk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{133,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_guangbiaoqiehuan.png</string>
			<key>realTextureFileName</key>
			<string>ani_guangbiaoqiehuan.png</string>
			<key>size</key>
			<string>{137,577}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>577</integer>
		</dict>
	</dict>
</plist>