<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_gonghuijuanxian/2_0010_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{145,137}}</string>
				<key>offset</key>
				<string>{-84,-403}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/guangqiuLAN.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,762},{46,46}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,264},{88,86}}</string>
				<key>offset</key>
				<string>{-94,-424}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,564},{88,86}}</string>
				<key>offset</key>
				<string>{-94,-424}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,459},{88,86}}</string>
				<key>offset</key>
				<string>{-94,-424}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,354},{88,85}}</string>
				<key>offset</key>
				<string>{-94,-423}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,654},{88,82}}</string>
				<key>offset</key>
				<string>{-94,-421}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,740},{88,82}}</string>
				<key>offset</key>
				<string>{-94,-419}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,220},{88,84}}</string>
				<key>offset</key>
				<string>{-94,-418}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,2},{88,84}}</string>
				<key>offset</key>
				<string>{-94,-412}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,826},{70,80}}</string>
				<key>offset</key>
				<string>{-85,-404}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,549},{65,72}}</string>
				<key>offset</key>
				<string>{-84,-399}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,696},{59,68}}</string>
				<key>offset</key>
				<string>{-82,-397}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,696},{58,62}}</string>
				<key>offset</key>
				<string>{-82,-394}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,625},{58,59}}</string>
				<key>offset</key>
				<string>{-83,-392}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,206},{55,54}}</string>
				<key>offset</key>
				<string>{-85,-390}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,768},{52,49}}</string>
				<key>offset</key>
				<string>{-86,-387}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,821},{50,44}}</string>
				<key>offset</key>
				<string>{-88,-385}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,549},{52,43}}</string>
				<key>offset</key>
				<string>{-87,-382}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,768},{54,50}}</string>
				<key>offset</key>
				<string>{-87,-384}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,143},{55,59}}</string>
				<key>offset</key>
				<string>{-87,-385}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,625},{62,67}}</string>
				<key>offset</key>
				<string>{-89,-386}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,910},{71,76}}</string>
				<key>offset</key>
				<string>{-93,-388}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,826},{77,84}}</string>
				<key>offset</key>
				<string>{-96,-389}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,90},{81,91}}</string>
				<key>offset</key>
				<string>{-98,-390}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,358},{83,97}}</string>
				<key>offset</key>
				<string>{-99,-392}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,358},{84,102}}</string>
				<key>offset</key>
				<string>{-99,-395}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{85,103}}</string>
				<key>offset</key>
				<string>{-100,-395}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,143},{85,104}}</string>
				<key>offset</key>
				<string>{-100,-396}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2},{85,105}}</string>
				<key>offset</key>
				<string>{-100,-396}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{85,96}}</string>
				<key>offset</key>
				<string>{-100,-393}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,914},{62,101}}</string>
				<key>offset</key>
				<string>{-88,-394}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{62,103}}</string>
				<key>offset</key>
				<string>{-88,-395}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ani_gonghuijuanxian/smzs_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,111},{85,105}}</string>
				<key>offset</key>
				<string>{-100,-396}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuijuanxian.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuijuanxian.png</string>
			<key>size</key>
			<string>{330,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>330</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>