<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhenfatubiao/11/11_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,702},{63,71}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,470},{63,74}}</string>
				<key>offset</key>
				<string>{-9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,238},{63,77}}</string>
				<key>offset</key>
				<string>{-9,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,625},{62,73}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,548},{63,73}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,238},{64,74}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,2},{65,75}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,395},{66,71}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,319},{67,72}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,2},{67,73}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,82},{69,75}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{70,76}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,82},{69,74}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,161},{70,73}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/11/11_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,160},{69,68}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenyingbuff_12.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenyingbuff_12.png</string>
			<key>size</key>
			<string>{214,775}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>775</integer>
		</dict>
	</dict>
</plist>