<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/ziran/yexia01.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,176},{119,166}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia02.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2},{120,170}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia03.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,346},{121,175}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia04.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,186},{123,179}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia05.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{124,182}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia06.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,2},{124,180}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia07.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,695},{125,176}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia08.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,188},{124,173}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia09.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,365},{124,168}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia10.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,537},{123,166}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia11.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,369},{123,167}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia12.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,525},{121,166}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/yexia13.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,540},{119,166}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,189}</string>
			</dict>
			<key>img/6zhongzu/ziran/zrtai.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,875},{259,77}}</string>
				<key>offset</key>
				<string>{0,-327}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/ziran/zra.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,959}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ziran2.png</string>
			<key>realTextureFileName</key>
			<string>ani_ziran2.png</string>
			<key>size</key>
			<string>{1024,963}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>963</integer>
		</dict>
	</dict>
</plist>