<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/xieneng/cnguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,443},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xna.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,959}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xntai.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,2},{259,77}}</string>
				<key>offset</key>
				<string>{1,-327}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,297},{133,142}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,146},{138,143}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{139,145}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,145},{135,148}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,2},{142,140}}</string>
				<key>offset</key>
				<string>{-9,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,857},{138,139}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,429},{136,145}}</string>
				<key>offset</key>
				<string>{-7,59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,569},{136,145}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,288},{137,144}}</string>
				<key>offset</key>
				<string>{-11,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,709},{136,144}}</string>
				<key>offset</key>
				<string>{-12,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,853},{135,139}}</string>
				<key>offset</key>
				<string>{-12,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,709},{136,140}}</string>
				<key>offset</key>
				<string>{-11,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/xieneng/xn_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,569},{136,145}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xieneng1.png</string>
			<key>realTextureFileName</key>
			<string>ani_xieneng1.png</string>
			<key>size</key>
			<string>{1021,998}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>998</integer>
		</dict>
	</dict>
</plist>