<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_gonghuitanbao/zhy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,267},{33,47}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,318},{33,47}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,215},{33,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,56},{33,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,109},{33,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{33,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhy_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,369},{33,46}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuikeji_shengji.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuikeji_shengji.png</string>
			<key>size</key>
			<string>{37,417}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>417</integer>
		</dict>
	</dict>
</plist>