<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/png/g33.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,646},{279,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,279}</string>
			</dict>
			<key>img/png/g44.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,870},{34,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,77}</string>
			</dict>
			<key>img/png/g55.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,2},{6,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,40}</string>
			</dict>
			<key>img/png/g66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{7,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,20}</string>
			</dict>
			<key>img/png/g77.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,963},{75,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,30}</string>
			</dict>
			<key>img/png/g99.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,616},{250,240}}</string>
				<key>offset</key>
				<string>{4,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>img/png/bg_xuyuanchi310.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,616},{387,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,387}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,929},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,929},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,2},{640,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,349}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,870},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{635,610}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,610}</string>
			</dict>
			<key>img/png/bg_xuyuanchi3-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,870},{125,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xuyuanchi_9.png</string>
			<key>realTextureFileName</key>
			<string>ani_xuyuanchi_9.png</string>
			<key>size</key>
			<string>{1013,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1013</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>