<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhenfatubiao/1/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,297},{1,1}}</string>
				<key>offset</key>
				<string>{-32,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,68},{59,41}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,147},{63,59}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,228},{65,62}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,375},{64,66}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{63,69}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,78},{67,71}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{70,72}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,153},{67,71}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,228},{65,70}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,302},{63,67}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,78},{62,65}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,2},{61,62}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,147},{60,59}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,2},{44,48}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,54},{41,39}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,99},{38,37}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,2},{35,36}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,445},{33,34}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,483},{31,33}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/1/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,520},{30,31}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenyingbuff_01.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenyingbuff_01.png</string>
			<key>size</key>
			<string>{226,553}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>553</integer>
		</dict>
	</dict>
</plist>