<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,226},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,226},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,226},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,226},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,226},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,264},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,264},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,264},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,264},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,264},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,302},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,338},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,338},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,302},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,302},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,302},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,302},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,340},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,376},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,376},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,340},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,340},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,340},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,340},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,414},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,414},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,378},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,452},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,452},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuzhong/rwz0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,416},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/xuanshang/xuanshang_renwuwancheng/rwwc.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,338},{104,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,12}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,2},{138,108}}</string>
				<key>offset</key>
				<string>{-224,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,114},{192,108}}</string>
				<key>offset</key>
				<string>{-197,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,114},{247,108}}</string>
				<key>offset</key>
				<string>{-170,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{283,108}}</string>
				<key>offset</key>
				<string>{-134,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,2},{283,108}}</string>
				<key>offset</key>
				<string>{-80,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,2},{283,108}}</string>
				<key>offset</key>
				<string>{-26,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,114},{281,108}}</string>
				<key>offset</key>
				<string>{27,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,114},{228,108}}</string>
				<key>offset</key>
				<string>{55,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{174,108}}</string>
				<key>offset</key>
				<string>{82,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,226},{119,108}}</string>
				<key>offset</key>
				<string>{109,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,226},{65,108}}</string>
				<key>offset</key>
				<string>{136,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
			<key>img/xuanshang/xuanshang_jieshourenwu/rwjs0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,2},{11,106}}</string>
				<key>offset</key>
				<string>{163,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xuanshang.png</string>
			<key>realTextureFileName</key>
			<string>ani_xuanshang.png</string>
			<key>size</key>
			<string>{1018,488}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>488</integer>
		</dict>
	</dict>
</plist>