<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-fengdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{287,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-fengmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,763},{215,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-shuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,256},{78,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-youshupi.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,406},{226,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-youye.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,2},{210,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-zuoshupi.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,716},{226,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/aoshu-zuoye.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,338},{207,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/gw/gh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,417},{198,195}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/gw/gh_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,216},{197,197}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/dg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/gh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{297,400}}</string>
				<key>offset</key>
				<string>{-52,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/zs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,629},{183,295}}</string>
				<key>offset</key>
				<string>{-6,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxionghuijuan_shuas.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxionghuijuan_shuas.png</string>
			<key>size</key>
			<string>{933,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>933</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>