<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_yingxiongjitan/by_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{149,151}}</string>
				<key>offset</key>
				<string>{12,61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,157},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,311},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,465},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,619},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,773},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,157},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,311},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,465},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,619},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,773},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,156},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,287},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,418},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_yingxiongjitan/wq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,418},{150,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuchengyingxiongjitan.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuchengyingxiongjitan.png</string>
			<key>size</key>
			<string>{1009,925}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1009</integer>
			<key>height</key>
			<integer>925</integer>
		</dict>
	</dict>
</plist>