<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/event/img_event_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{318,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,283}</string>
			</dict>
			<key>img/event/img_event_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{318,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,283}</string>
			</dict>
			<key>img/event/img_event_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1},{268,212}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,219}</string>
			</dict>
			<key>img/event/img_event_equal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,337},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/event/img_event_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,405},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/event/wz_event_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{529,66}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,78}</string>
			</dict>
			<key>img/event/wz_event_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{532,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,78}</string>
			</dict>
			<key>img/event/wz_event_info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,271},{520,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,91}</string>
			</dict>
			<key>img/event/wz_event_info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1},{520,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,121}</string>
			</dict>
			<key>img/public/jdt/bg_event_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{334,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,30}</string>
			</dict>
			<key>img/public/jdt/img_event_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,271},{322,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,18}</string>
			</dict>
			<key>img/event/wz_event_info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,271},{520,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,91}</string>
			</dict>
			<key>img/event/wz_event_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{403,103}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,104}</string>
			</dict>
			<key>img/event/wz_event_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,595},{352,65}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{367,78}</string>
			</dict>
			<key>img/event/wz_event_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,949},{332,63}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,70}</string>
			</dict>
			<key>img/event/img_event_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,523},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/event/btn_event_phjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,949},{72,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/event/img_event_hdsmbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,793},{202,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,73}</string>
			</dict>
			<key>img/event/img_event_song.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,286},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>img/event/btn_event_jlyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,793},{72,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/event/wz_event_title0.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,793},{385,104}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,104}</string>
			</dict>
			<key>img/event/event_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,337},{37,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event.png</string>
			<key>realTextureFileName</key>
			<string>event.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>