<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/png/sx_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,885},{146,136}}</string>
				<key>offset</key>
				<string>{-12,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,175},{145,143}}</string>
				<key>offset</key>
				<string>{-13,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,184},{144,151}}</string>
				<key>offset</key>
				<string>{-13,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,161},{149,160}}</string>
				<key>offset</key>
				<string>{-11,-98}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,2},{150,169}}</string>
				<key>offset</key>
				<string>{-10,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2},{153,178}}</string>
				<key>offset</key>
				<string>{-11,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,2},{155,187}}</string>
				<key>offset</key>
				<string>{-11,-81}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,789},{156,196}}</string>
				<key>offset</key>
				<string>{-10,-76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,789},{164,205}}</string>
				<key>offset</key>
				<string>{-7,-69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,571},{165,214}}</string>
				<key>offset</key>
				<string>{-8,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,2},{166,238}}</string>
				<key>offset</key>
				<string>{-8,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,315},{168,252}}</string>
				<key>offset</key>
				<string>{-8,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,614},{169,267}}</string>
				<key>offset</key>
				<string>{-8,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{170,281}}</string>
				<key>offset</key>
				<string>{-8,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,315},{173,295}}</string>
				<key>offset</key>
				<string>{-9,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sx_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{175,309}}</string>
				<key>offset</key>
				<string>{-9,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/png/sssxxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1001},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>img/png/sssxxx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,1001},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>img/png/xx01.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,958},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/png/xx02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,958},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/png/xx03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,899},{54,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>img/png/asdsff.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,2},{142,181}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fz_jssx2.png</string>
			<key>realTextureFileName</key>
			<string>fz_jssx2.png</string>
			<key>size</key>
			<string>{1020,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>