<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_ysq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{110,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,52}</string>
			</dict>
			<key>img/gonghui/img_qzk.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1},{241,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,235}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,675},{154,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_dt.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,527},{46,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,645},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,491},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghkj.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,774},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,795},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghz.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,491},{76,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jgzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,721},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>img/gonghui/img_gonghui_qy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,794},{53,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,118}</string>
			</dict>
			<key>img/gonghui/img_gonghui_qy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,675},{54,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,118}</string>
			</dict>
			<key>img/gonghui/img_gonghui_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{456,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,83}</string>
			</dict>
			<key>img/gonghui/img_gonghui_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,774},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,831},{169,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,831},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_ghbk.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{560,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{560,189}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{486,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,275}</string>
			</dict>
			<key>img/gonghui/bg_hei.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,449},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/gonghui/img_ygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,527},{110,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,77}</string>
			</dict>
			<key>img/gonghui/img_yqw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{110,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,77}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,574},{103,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>img/gonghui/btn_ghbk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/img_gonghui_kqbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,238},{104,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,43}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_xbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,344},{50,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,459},{113,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{85,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,563},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,721},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/img_guihui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,238},{182,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,60}</string>
			</dict>
			<key>img/gonghui/img_guihui_bq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,422},{182,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,60}</string>
			</dict>
			<key>img/gonghui/img_guihui_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,238},{287,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,130}</string>
			</dict>
			<key>img/gonghui/img_guihui_qt.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,396},{44,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,51}</string>
			</dict>
			<key>img/gonghui/gonghui_smrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,769},{163,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,197}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghtb.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,568},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,569},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui.png</string>
			<key>realTextureFileName</key>
			<string>gonghui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>