<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/hz_xiuzhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{423,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,353}</string>
			</dict>
			<key>img/gonghui/btn_bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,154},{280,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,91}</string>
			</dict>
			<key>img/gonghui/btn_gxbd.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,717},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>img/gonghui/btn_rwwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,571},{137,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,39}</string>
			</dict>
			<key>img/gonghui/btn_ztsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,436},{231,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,83}</string>
			</dict>
			<key>img/gonghui/ico_gxwp.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,258},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>img/gonghui/img_rwwdc.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,642},{164,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,30}</string>
			</dict>
			<key>img/gonghui/img_rwzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1},{223,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,289}</string>
			</dict>
			<key>img/gonghui/img_topban.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,154},{330,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,99}</string>
			</dict>
			<key>img/gonghui/img_ghrwjdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,154},{313,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,18}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,808},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,643},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw4.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,486},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw5.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,800},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/img_tp_ghrw6.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,800},{200,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,155}</string>
			</dict>
			<key>img/gonghui/btn_ghrwjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,356},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/gonghui/btn_tdrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/gonghui/img_ghqxdb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,158},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>img/gonghui/img_ghqxdiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,469},{250,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,42}</string>
			</dict>
			<key>img/gonghui/img_ghrwqxdi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,292},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/gonghui/img_ghrwsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,430},{15,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,139}</string>
			</dict>
			<key>img/gonghui/img_ghrwtk.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,258},{96,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,59}</string>
			</dict>
			<key>img/gonghui/img_ghtzdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,1},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>img/gonghui/img_tdzw.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{223,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,151}</string>
			</dict>
			<key>img/gonghui/img_rwcs_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,669},{113,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>img/gonghui/bg_zhandou_jdt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,430},{210,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,31}</string>
			</dict>
			<key>img/gonghui/img_zhandou_jdt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,321},{160,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui5.png</string>
			<key>realTextureFileName</key>
			<string>gonghui5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>