<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jingjichang/img_jjc_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,466},{49,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,489},{49,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,338},{52,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,388},{52,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,394},{49,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,438},{49,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_gjsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,1},{594,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/jingjichang/img_jjc_qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,199},{614,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,111}</string>
			</dict>
			<key>img/jingjichang/img_jjc_sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,199},{100,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,88}</string>
			</dict>
			<key>img/jingjichang/img_jjc_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,289},{95,88}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,88}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wzbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,510},{68,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,49}</string>
			</dict>
			<key>img/jingjichang/img_jjc_xcy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1},{441,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,38}</string>
			</dict>
			<key>img/jingjichang/img_jjc_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,444},{64,35}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,44}</string>
			</dict>
			<key>img/jingjichang/img_jjc_zyjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1},{594,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/jingjichang/wz_jjc_bxjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,445},{48,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,379},{39,69}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/jingjichang/img_jjc_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,338},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,54}</string>
			</dict>
			<key>img/jingjichang/ico_jingjichang_fp.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,199},{141,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,141}</string>
			</dict>
			<key>img/jingjichang/img_jjc_gjsl_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,197},{594,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,433},{54,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,379},{52,62}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_jjc_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,336},{133,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,128}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,580},{54,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_icobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,199},{496,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,90}</string>
			</dict>
			<key>img/jingjichang/ico_jingjichang_fpmc.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,199},{139,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,135}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,77},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,153},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,229},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,457},{30,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,23}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,305},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,381},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/img_jjc_dfwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{594,196}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/jingjichang/img_jjc_dfwz_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,199},{594,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/jingjichang/img_jjc_dfwz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{594,196}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jingjichang.png</string>
			<key>realTextureFileName</key>
			<string>jingjichang.png</string>
			<key>size</key>
			<string>{2045,814}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>814</integer>
		</dict>
	</dict>
</plist>