<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/julongshendian/jlsd_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,461},{287,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,102}</string>
			</dict>
			<key>img/public/bg_tip_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,581},{391,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{391,64}</string>
			</dict>
			<key>img/julongshendian/img_sttg.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1},{321,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,260}</string>
			</dict>
			<key>img/julongshendian/img_st.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{560,458}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,458}</string>
			</dict>
			<key>img/julongshendian/img_st2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,762},{207,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,119}</string>
			</dict>
			<key>img/julongshendian/jilong_yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,324},{141,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,23}</string>
			</dict>
			<key>img/julongshendian/jilong_yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,324},{458,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{458,158}</string>
			</dict>
			<key>img/julongshendian/jilong_yun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{578,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,154}</string>
			</dict>
			<key>img/julongshendian/jilong_yun4.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,324},{436,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,74}</string>
			</dict>
			<key>img/julongshendian/btn_julongphb.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,737},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/julongshendian/bg_shouwei_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{75,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,8}</string>
			</dict>
			<key>img/julongshendian/img_shouwei_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1},{73,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,6}</string>
			</dict>
			<key>img/julongshendian/img_shouwei_jdt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,76},{73,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,4}</string>
			</dict>
			<key>img/julongshendian/img_shouweitiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{414,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,20}</string>
			</dict>
			<key>img/julongshendian/img_shouweitiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,971},{118,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,31}</string>
			</dict>
			<key>img/julongshendian/img_lzsd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,581},{154,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,60}</string>
			</dict>
			<key>img/julongshendian/img_lzsd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,905},{115,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,69}</string>
			</dict>
			<key>img/julongshendian/img_lzsd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,971},{157,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,51}</string>
			</dict>
			<key>img/julongshendian/img_lzsd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,621},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>img/julongshendian/img_lzsd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,750},{153,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,69}</string>
			</dict>
			<key>img/julongshendian/img_stsdbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,784},{170,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,189}</string>
			</dict>
			<key>img/julongshendian/btn_tzjuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,467},{152,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>julongshendian.png</string>
			<key>realTextureFileName</key>
			<string>julongshendian.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>