<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/julongshendian/img_sdmw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{610,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,220}</string>
			</dict>
			<key>img/julongshendian/img_sdsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,725},{600,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,200}</string>
			</dict>
			<key>img/julongshendian/img_sdzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1},{610,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{610,220}</string>
			</dict>
			<key>img/julongshendian/img_ycsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{476,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,39}</string>
			</dict>
			<key>img/julongshendian/img_fst_xy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,926},{108,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,71}</string>
			</dict>
			<key>img/julongshendian/img_jssz.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,754},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>img/julongshendian/img_sdbfxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,926},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>img/julongshendian/img_sdbg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,691},{61,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>img/julongshendian/img_sdsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,402},{15,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,77}</string>
			</dict>
			<key>img/julongshendian/img_sdtaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{258,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,146}</string>
			</dict>
			<key>img/julongshendian/img_sdtiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,791},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,30}</string>
			</dict>
			<key>img/julongshendian/img_sdtiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,468},{411,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{411,20}</string>
			</dict>
			<key>img/julongshendian/img_sdzl_sdxx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,479},{244,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,62}</string>
			</dict>
			<key>img/julongshendian/img_shph_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,261},{43,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,153}</string>
			</dict>
			<key>img/julongshendian/btn_qxtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,418},{125,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,48}</string>
			</dict>
			<key>img/julongshendian/img_qxdb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,833},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>img/julongshendian/img_qxdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,881},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>img/julongshendian/img_qxdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>
			<key>img/julongshendian/img_qxdi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,881},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/julongshendian/img_qxdiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,479},{250,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,42}</string>
			</dict>
			<key>img/julongshendian/img_qxltk.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,731},{96,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,59}</string>
			</dict>
			<key>img/julongshendian/img_qxsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,261},{15,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,139}</string>
			</dict>
			<key>img/julongshendian/img_qxx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,468},{221,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,30}</string>
			</dict>
			<key>img/julongshendian/img_tzdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,261},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>julongshendian3.png</string>
			<key>realTextureFileName</key>
			<string>julongshendian3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>