<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/sale/bg_sale_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,812},{71,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,14}</string>
			</dict>
			<key>img/sale/img_sale_dot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,812},{14,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>img/sale/bg_sale_xb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,839},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/bg_sale_xb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,839},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/bg_sale_xb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,839},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/wz_sale_mxzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,986},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_sjslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,986},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_txzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,942},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,942},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/img_sale_mxzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,942},{98,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,79}</string>
			</dict>
			<key>img/sale/img_sale_txzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,642},{99,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/img_sale_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,436},{99,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/img_sale_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,917},{82,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,60}</string>
			</dict>
			<key>img/sale/img_sale_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,839},{86,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>img/sale/img_sale_floor.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,839},{143,197}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,200}</string>
			</dict>
			<key>img/sale/bg_sale_banner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{568,153}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/bg_sale_banner6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{568,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/bg_sale_banner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,2},{568,152}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/img_sale_sjslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,539},{99,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/btn_sale_tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,2},{260,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,119}</string>
			</dict>
			<key>img/sale/img_sale_ygm.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,971},{143,45}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,45}</string>
			</dict>
			<key>img/sale/img_sale_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,839},{74,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>img/sale/img_sale_zlv.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,929},{75,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>img/sale/img_ysk.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,745},{90,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,81}</string>
			</dict>
			<key>img/sale/bg_sale_jg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,266},{166,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,82}</string>
			</dict>
			<key>img/sale/bg_sale_tqqz.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,266},{46,542}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,543}</string>
			</dict>
			<key>img/sale/img_sale_dot3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,2},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sale2.png</string>
			<key>realTextureFileName</key>
			<string>sale2.png</string>
			<key>size</key>
			<string>{1021,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>