<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/setting/btn_setting_off1.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{89,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>
			<key>img/setting/btn_setting_off2.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1},{89,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>
			<key>img/setting/btn_setting_on1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,58},{89,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>
			<key>img/setting/btn_setting_on2.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,58},{89,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>
			<key>img/setting/btn_setting_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,216},{700,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,53}</string>
			</dict>
			<key>img/setting/img_setting_huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,197},{147,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,14}</string>
			</dict>
			<key>img/public/jdt/bg_setting_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{344,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,30}</string>
			</dict>
			<key>img/public/jdt/img_setting_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{338,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,24}</string>
			</dict>
			<key>img/setting/btn_setting_page1.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,97},{166,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,48}</string>
			</dict>
			<key>img/setting/btn_setting_page1_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,147},{166,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,48}</string>
			</dict>
			<key>img/setting/btn_setting_page2.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,154},{149,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,48}</string>
			</dict>
			<key>img/setting/btn_setting_page2_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,197},{149,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,48}</string>
			</dict>
			<key>img/setting/bg_setting_jyz.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,97},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>img/setting/bg_setting_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/setting/img_zhbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1},{229,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,55}</string>
			</dict>
			<key>img/setting/setting_lkdhdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{556,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,155}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>setting.png</string>
			<key>realTextureFileName</key>
			<string>setting.png</string>
			<key>size</key>
			<string>{1023,270}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>270</integer>
		</dict>
	</dict>
</plist>