<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shangdian/bg_shangdian_zt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{633,880}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,882}</string>
			</dict>
			<key>img/shangdian/img_shangdian_mb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{543,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,33}</string>
			</dict>
			<key>img/shangdian/img_shangdian_xy.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,883},{43,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,244}</string>
			</dict>
			<key>img/shangdian/bg_shangdian_djs.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,928},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shangdian/img_shangdian_xb.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>img/shangdian/img_shangdian_gh.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,928},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>img/shangdian/img_shangdian_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{533,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,88}</string>
			</dict>
			<key>img/shangdian/img_shangdian_yz.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,928},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>img/shangdian/img_shangdian_jj.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1},{146,116}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>
			<key>img/shangdian/xiebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,952},{80,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>img/shangdian/bg_shangdian_sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,928},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shangdian.png</string>
			<key>realTextureFileName</key>
			<string>shangdian.png</string>
			<key>size</key>
			<string>{1017,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>