<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,0},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,0},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,640},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/zs100.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,586},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>img/shenbing/shenbing_diban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_yzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,0},{149,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,38}</string>
			</dict>
			<key>img/shenbing/shenbing_diban_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban4.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban5.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,264},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,528},{640,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing2.png</string>
			<key>realTextureFileName</key>
			<string>shenbing2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>