<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_02/01/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,241},{121,151}}</string>
				<key>offset</key>
				<string>{-1,132}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1},{214,238}}</string>
				<key>offset</key>
				<string>{1,132}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,471},{250,239}}</string>
				<key>offset</key>
				<string>{-1,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,471},{249,240}}</string>
				<key>offset</key>
				<string>{-2,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/04/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,633},{164,150}}</string>
				<key>offset</key>
				<string>{-57,142}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/05/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,894},{524,119}}</string>
				<key>offset</key>
				<string>{-9,160}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1400,1400}</string>
			</dict>
			<key>img/shenbing_skill_02/05/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1},{630,109}}</string>
				<key>offset</key>
				<string>{-8,161}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,1400}</string>
			</dict>
			<key>img/shenbing_skill_02/05/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1},{721,107}}</string>
				<key>offset</key>
				<string>{-21,159}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,1400}</string>
			</dict>
			<key>img/shenbing_skill_02/05/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,366},{761,103}}</string>
				<key>offset</key>
				<string>{-22,157}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1400,1400}</string>
			</dict>
			<key>img/shenbing_skill_02/05/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,799},{725,93}}</string>
				<key>offset</key>
				<string>{-1,159}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1400,1400}</string>
			</dict>
			<key>img/shenbing_skill_02/06/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,471},{269,267}}</string>
				<key>offset</key>
				<string>{6,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/06/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{269,363}}</string>
				<key>offset</key>
				<string>{6,87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/06/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1},{274,280}}</string>
				<key>offset</key>
				<string>{-1,97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/06/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,799},{274,179}}</string>
				<key>offset</key>
				<string>{-1,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_02_2.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_02_2.png</string>
			<key>size</key>
			<string>{1024,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>