<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_04/01/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{492,122}}</string>
				<key>offset</key>
				<string>{-10,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,245},{188,189}}</string>
				<key>offset</key>
				<string>{8,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,293}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,228},{297,212}}</string>
				<key>offset</key>
				<string>{1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{376,242}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{310,230}}</string>
				<key>offset</key>
				<string>{-7,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,442},{263,230}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,233},{284,218}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1},{296,225}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,435},{225,133}}</string>
				<key>offset</key>
				<string>{5,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,442},{120,67}}</string>
				<key>offset</key>
				<string>{2,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
			<key>img/shenbing_skill_04/02/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{84,20}}</string>
				<key>offset</key>
				<string>{7,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,374}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_05.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_05.png</string>
			<key>size</key>
			<string>{1010,738}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>738</integer>
		</dict>
	</dict>
</plist>