<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,520},{153,158}}</string>
				<key>offset</key>
				<string>{-3,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,382},{159,177}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,194},{184,185}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,2},{190,187}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,2},{218,188}}</string>
				<key>offset</key>
				<string>{4,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{250,208}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{222,198}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,352},{187,175}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,214},{184,164}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,543},{180,151}}</string>
				<key>offset</key>
				<string>{-3,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,2},{176,123}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/chuxanefect/ChuXianEffect_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,520},{167,91}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,243}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,193},{247,139}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,378},{208,138}}</string>
				<key>offset</key>
				<string>{19,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,382},{204,138}}</string>
				<key>offset</key>
				<string>{21,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,444},{198,138}}</string>
				<key>offset</key>
				<string>{24,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,759},{163,105}}</string>
				<key>offset</key>
				<string>{41,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,677},{164,105}}</string>
				<key>offset</key>
				<string>{41,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,590},{165,105}}</string>
				<key>offset</key>
				<string>{40,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,182},{166,109}}</string>
				<key>offset</key>
				<string>{40,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,382},{161,109}}</string>
				<key>offset</key>
				<string>{42,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,545},{162,100}}</string>
				<key>offset</key>
				<string>{42,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,649},{163,96}}</string>
				<key>offset</key>
				<string>{41,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,547},{165,97}}</string>
				<key>offset</key>
				<string>{40,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/ffect/HitEffect_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,691},{166,91}}</string>
				<key>offset</key>
				<string>{40,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shenbing_skill_04/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,204},{185,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_04_1.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_04_1.png</string>
			<key>size</key>
			<string>{1024,924}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>924</integer>
		</dict>
	</dict>
</plist>