<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_shengbing/shengbing_b/3983-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,951},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3984-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,846},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3985-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,914},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3986-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,846},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3987-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,914},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3988-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,846},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3989-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,914},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3990-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,410},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3991-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,206},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3992-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,274},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3993-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,342},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3994-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3995-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,70},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3996-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,138},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3997-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,478},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/3998-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,546},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/gingjian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,410},{191,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/gingjian_062.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{220,228}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,234},{193,201}}</string>
				<key>offset</key>
				<string>{-4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,439},{193,200}}</string>
				<key>offset</key>
				<string>{-4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,643},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,643},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,234},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,438},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,642},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,2},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,206},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,847},{87,53}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,904},{87,52}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,847},{86,52}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,847},{85,51}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,957},{85,50}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,957},{84,50}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,902},{84,50}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,614},{84,48}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,410},{84,48}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,462},{84,48}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,847},{85,48}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,899},{85,48}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,951},{86,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,956},{87,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,847},{87,48}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,899},{87,48}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,903},{87,50}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/ym_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{87,52}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ani_shengbing/shengbing_b/guangxiao_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,2},{192,200}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_02.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_02.png</string>
			<key>size</key>
			<string>{744,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>744</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>