<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shijieshu/bg_sjs_zzxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,230}</string>
			</dict>
			<key>img/shijieshu/img_sjs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,236},{249,322}}</string>
				<key>offset</key>
				<string>{-2,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/shijieshu/img_sjs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,313},{231,298}}</string>
				<key>offset</key>
				<string>{7,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/shijieshu/img_sjs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,236},{237,317}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/shijieshu/img_sjs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,489},{245,289}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/shijieshu/img_sjs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{252,339}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,369}</string>
			</dict>
			<key>img/shijieshu/img_zhyx_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,236},{171,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,40}</string>
			</dict>
			<key>img/shijieshu/img_zhyx_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,548},{280,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,110}</string>
			</dict>
			<key>img/shijieshu/img_zhyx_qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,2},{1,1}}</string>
				<key>offset</key>
				<string>{10,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>img/shijieshu/img_zhyx_qz_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,2},{1,1}}</string>
				<key>offset</key>
				<string>{10,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>img/shijieshu/wz_sjs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,2},{75,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/shijieshu/wz_sjs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,81},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/shijieshu/wz_sjs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,237},{75,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/shijieshu/wz_sjs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,236},{73,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/shijieshu/wz_sjs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,159},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/shijieshu/img_zhyx_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,316},{87,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,149}</string>
			</dict>
			<key>img/shijieshu/btn_shijieshushangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,469},{75,73}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shijieshu.png</string>
			<key>realTextureFileName</key>
			<string>shijieshu.png</string>
			<key>size</key>
			<string>{1020,736}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>736</integer>
		</dict>
	</dict>
</plist>