<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tanxian/bg_tanxian_rwk.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,835},{68,82}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,84}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,739},{72,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_sjdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,813},{71,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_ssjf.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{96,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,94}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_tgjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,771},{72,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_cheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,953},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,953},{165,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,57}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,393},{45,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,438},{46,29}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,440},{49,32}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,447},{66,37}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_halx.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,217},{194,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,172}</string>
			</dict>
			<key>img/tanxian/img_halx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1},{194,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,172}</string>
			</dict>
			<key>img/tanxian/img_hydx.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>img/tanxian/img_hydx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,243},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>img/tanxian/img_lhsm.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{200,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,221}</string>
			</dict>
			<key>img/tanxian/img_lhsm_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,224},{200,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,221}</string>
			</dict>
			<key>img/tanxian/img_lrzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,495},{227,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,212}</string>
			</dict>
			<key>img/tanxian/img_lrzj_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,724},{227,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,212}</string>
			</dict>
			<key>img/tanxian/img_lydx.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,197},{189,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,174}</string>
			</dict>
			<key>img/tanxian/img_lydx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,388},{189,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,174}</string>
			</dict>
			<key>img/tanxian/img_shzt.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1},{214,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,165}</string>
			</dict>
			<key>img/tanxian/img_shzt_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,483},{214,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,165}</string>
			</dict>
			<key>img/tanxian/img_ttzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{199,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,245}</string>
			</dict>
			<key>img/tanxian/img_ttzd_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{199,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,245}</string>
			</dict>
			<key>img/tanxian/img_wlbl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{257,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,189}</string>
			</dict>
			<key>img/tanxian/img_wlbl_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,754},{257,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,189}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,891},{65,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,393},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,391},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,457},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,483},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,517},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,547},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,583},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,699},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,611},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,579},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,579},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,643},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,643},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,705},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,675},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,447},{34,70}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,94},{90,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2_zs_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,447},{34,70}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3_zs_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,391},{90,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,739},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img/tanxian/img_tanxian_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,957},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img/tanxian/wz_tanxian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,217},{66,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,24}</string>
			</dict>
			<key>img/tanxian/ico_woyaobianqiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,919},{70,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,709},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,763},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,827},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,707},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,769},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_nd0.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,393},{37,34}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,43}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_nd6.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,393},{49,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,43}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,831},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tanxian.png</string>
			<key>realTextureFileName</key>
			<string>tanxian.png</string>
			<key>size</key>
			<string>{1017,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>