<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/title_wz/wz_title_yxxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{103,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,63},{51,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,37},{52,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,37},{77,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,29}</string>
			</dict>
			<key>img/title_wz/wz_title_rhjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,32},{102,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,29}</string>
			</dict>
			<key>img/title_wz/wz_title_tgjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1},{103,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_tjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,37},{78,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,29}</string>
			</dict>
			<key>img/title_wz/wz_title_yxsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/title_wz/wz_title_zhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1},{91,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,32}</string>
			</dict>
			<key>img/title_wz/wz_title_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{103,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_xysd.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/title_wz/wz_title_jjsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/title_wz/wz_title_yzsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/title_wz/wz_title_ghdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,32},{102,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_ghfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,32},{102,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,37},{102,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_ghkj.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,37},{102,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_cjrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,37},{102,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_rcrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,35},{100,29}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
			<key>img/title_wz/wz_title_ghsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>img/title_wz/wz_title_gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,37},{52,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>title_wz.png</string>
			<key>realTextureFileName</key>
			<string>title_wz.png</string>
			<key>size</key>
			<string>{1024,93}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>93</integer>
		</dict>
	</dict>
</plist>