<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/toper/wz_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/toper/bg_toper_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,100}</string>
			</dict>
			<key>img/public/jdt/img_toper_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,102},{411,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,13}</string>
			</dict>
			<key>img/public/bg_toper_jg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,43},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>img/toper/img_toper_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1},{23,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>toper.png</string>
			<key>realTextureFileName</key>
			<string>toper.png</string>
			<key>size</key>
			<string>{709,116}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>709</integer>
			<key>height</key>
			<integer>116</integer>
		</dict>
	</dict>
</plist>