<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ui_shengxing/bg_shengxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{582,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,405}</string>
			</dict>
			<key>img/ui_shengxing/bg_sxtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{640,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,41}</string>
			</dict>
			<key>img/ui_shengxing/shengxing_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,89},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>img/ui_shengxing/txt_yxsx.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1},{405,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_shengxing.png</string>
			<key>realTextureFileName</key>
			<string>ui_shengxing.png</string>
			<key>size</key>
			<string>{991,450}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>991</integer>
			<key>height</key>
			<integer>450</integer>
		</dict>
	</dict>
</plist>