<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wangzherongyao/img_wzxian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,965},{55,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,186}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1005},{109,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,17}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,951},{17,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,259}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,831},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,965},{56,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,283}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,831},{140,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,118}</string>
			</dict>
			<key>img/wangzherongyao/img_wzxiandi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{555,658}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,658}</string>
			</dict>
			<key>img/wangzherongyao/img_jsjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1},{241,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,333}</string>
			</dict>
			<key>img/wangzherongyao/img_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,103},{85,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,99}</string>
			</dict>
			<key>img/wangzherongyao/wz_xwyi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,970},{134,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,33}</string>
			</dict>
			<key>img/wangzherongyao/img_wztaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{385,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,132}</string>
			</dict>
			<key>img/wangzherongyao/img_lxdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>img/wangzherongyao/img_lxhdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,117},{111,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,26}</string>
			</dict>
			<key>img/wangzherongyao/img_lxsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,970},{99,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,46}</string>
			</dict>
			<key>img/wangzherongyao/img_lxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,970},{97,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,46}</string>
			</dict>
			<key>img/wangzherongyao/img_lxvs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{583,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,168}</string>
			</dict>
			<key>img/wangzherongyao/img_wzry_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wangzherongyao3.png</string>
			<key>realTextureFileName</key>
			<string>wangzherongyao3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>