<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xianshizhaomu/btn_paihangjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,399},{68,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>img/xianshizhaomu/btn_xianshizhaomu.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{171,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,20}</string>
			</dict>
			<key>img/xianshizhaomu/zhaomu_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,314},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>img/xianshizhaomu/btn_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{171,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,20}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,174},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_bx1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,396}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{422,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,79}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,399},{84,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,68}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,228},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{84,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,17}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,228},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t5.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,399},{86,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,68}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,356},{61,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>img/xianshizhaomu/bg_xszh_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{640,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xianshizhaomu.png</string>
			<key>realTextureFileName</key>
			<string>xianshizhaomu.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>