<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xinshouyindao/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,383},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,383},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,430},{336,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,66}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_guangyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,150},{140,140}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,153}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,2},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,430},{226,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,102}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{288,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,424}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,330},{71,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,82}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,330},{51,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,49}</string>
			</dict>
			<key>img/xinshouyindao/t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,294},{200,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xinshouyindao.png</string>
			<key>realTextureFileName</key>
			<string>xinshouyindao.png</string>
			<key>size</key>
			<string>{570,532}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>570</integer>
			<key>height</key>
			<integer>532</integer>
		</dict>
	</dict>
</plist>