<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/youjian/btn_yjgb.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>img/youjian/img_fsyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,75}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,77}</string>
			</dict>
			<key>img/youjian/img_nrbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/youjian/img_wjyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1},{65,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>img/youjian/img_xtgg.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,52},{54,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>img/youjian/img_xtyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>img/youjian/img_ydyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>
			<key>img/youjian/img_yjbz.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{93,74}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>youjian.png</string>
			<key>realTextureFileName</key>
			<string>youjian.png</string>
			<key>size</key>
			<string>{528,102}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>528</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</plist>