<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zahuodian/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,849}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,849}</string>
			</dict>
			<key>img/zahuodian/img_spbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{146,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,186}</string>
			</dict>
			<key>img/zahuodian/img_wzbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,933},{121,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,30}</string>
			</dict>
			<key>img/zahuodian/img_ygm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,855},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img/zahuodian/img_zhekou.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,855},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>img/zahuodian/wz_mfsx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,967},{91,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,28}</string>
			</dict>
			<key>img/zahuodian/wz_sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,918},{47,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,28}</string>
			</dict>
			<key>img/zahuodian/wz_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,967},{64,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,26}</string>
			</dict>
			<key>img/zahuodian/img_zhekou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,855},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zahuodian.png</string>
			<key>realTextureFileName</key>
			<string>zahuodian.png</string>
			<key>size</key>
			<string>{794,997}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>794</integer>
			<key>height</key>
			<integer>997</integer>
		</dict>
	</dict>
</plist>