<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengfashi/xian01/xian01_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1},{295,90}}</string>
				<key>offset</key>
				<string>{35,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/xienengfashi/xian01/xian01_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1},{295,90}}</string>
				<key>offset</key>
				<string>{35,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/xienengfashi/xian01/xian01_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{294,100}}</string>
				<key>offset</key>
				<string>{36,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/xienengfashi/xian01/xian01_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{285,93}}</string>
				<key>offset</key>
				<string>{29,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/xienengfashi/xian01/xian01_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{283,83}}</string>
				<key>offset</key>
				<string>{30,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengfashi_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengfashi_jn.png</string>
			<key>size</key>
			<string>{480,297}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>297</integer>
		</dict>
	</dict>
</plist>