<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/3zhounian/shanxian/glow_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,411},{91,162}}</string>
				<key>offset</key>
				<string>{-3,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,229},{91,210}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,441},{91,209}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,861},{91,206}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{91,226}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,652},{91,207}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1},{91,203}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,206},{91,203}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,411},{90,202}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,615},{89,172}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,615},{85,177}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/3zhounian/shanxian/glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,794},{80,136}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3zn_shanxianchu_dx.png</string>
			<key>realTextureFileName</key>
			<string>3zn_shanxianchu_dx.png</string>
			<key>size</key>
			<string>{290,953}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>953</integer>
		</dict>
	</dict>
</plist>