<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/3zhounian/zhujiemian.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,44},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,45},{164,41}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,44},{165,41}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{166,41}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1},{167,41}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{166,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1},{167,41}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{167,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{167,41}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,44},{166,40}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,86},{166,39}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,44},{165,40}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,44},{164,40}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,45},{164,41}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,44},{164,41}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>img/3zhounian/piaodai/piaodai_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,210},{164,40}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3zn_piaodai_dx.png</string>
			<key>realTextureFileName</key>
			<string>3zn_piaodai_dx.png</string>
			<key>size</key>
			<string>{1012,375}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>375</integer>
		</dict>
	</dict>
</plist>