<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yuwaizhengba/kuangshi1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,303},{132,143}}</string>
				<key>offset</key>
				<string>{216,-219}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/yuwaizhengba/kuangshi2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,938},{80,54}}</string>
				<key>offset</key>
				<string>{-216,291}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,938},{74,58}}</string>
				<key>offset</key>
				<string>{-28,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,842},{82,92}}</string>
				<key>offset</key>
				<string>{-20,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{7,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,861},{83,109}}</string>
				<key>offset</key>
				<string>{-17,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,435},{85,115}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,586},{110,119}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,303},{121,128}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,872},{120,130}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,735},{119,133}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,735},{117,141}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,450},{118,132}}</string>
				<key>offset</key>
				<string>{12,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,586},{102,113}}</string>
				<key>offset</key>
				<string>{16,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,842},{79,100}}</string>
				<key>offset</key>
				<string>{12,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian01/shandian01_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,2},{49,61}}</string>
				<key>offset</key>
				<string>{26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,974},{58,44}}</string>
				<key>offset</key>
				<string>{0,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,783},{124,55}}</string>
				<key>offset</key>
				<string>{-1,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,783},{132,74}}</string>
				<key>offset</key>
				<string>{4,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,861},{135,71}}</string>
				<key>offset</key>
				<string>{3,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,160},{137,113}}</string>
				<key>offset</key>
				<string>{2,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,880},{135,119}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,160},{137,139}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{141,154}}</string>
				<key>offset</key>
				<string>{6,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,450},{141,127}}</string>
				<key>offset</key>
				<string>{6,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,1019},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shandian02/shandian02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,595},{136,127}}</string>
				<key>offset</key>
				<string>{4,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yuwaizhengba/shit_taizi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,946},{66,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,103}</string>
			</dict>
			<key>img/yuwaizhengba/shit_taizi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,709},{29,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,22}</string>
			</dict>
			<key>img/yuwaizhengba/shit_taizi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,709},{70,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yuwaizhengba_beijing.png</string>
			<key>realTextureFileName</key>
			<string>ani_yuwaizhengba_beijing.png</string>
			<key>size</key>
			<string>{636,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>636</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>