<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/rwsj/chib.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{140,149}}</string>
				<key>offset</key>
				<string>{-107,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>img/rwsj/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,928},{333,60}}</string>
				<key>offset</key>
				<string>{1,-132}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>img/rwsj/laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,858},{82,92}}</string>
				<key>offset</key>
				<string>{-100,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>img/rwsj/pid_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,533},{201,133}}</string>
				<key>offset</key>
				<string>{-175,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,397},{201,134}}</string>
				<key>offset</key>
				<string>{-175,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,587},{201,131}}</string>
				<key>offset</key>
				<string>{-175,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,668},{201,128}}</string>
				<key>offset</key>
				<string>{-175,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,720},{201,126}}</string>
				<key>offset</key>
				<string>{-175,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,708},{201,128}}</string>
				<key>offset</key>
				<string>{-175,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pid_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,573},{201,133}}</string>
				<key>offset</key>
				<string>{-175,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/pidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{396,129}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>img/rwsj/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,838},{164,112}}</string>
				<key>offset</key>
				<string>{0,80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>img/rwsj/690003.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,848},{133,138}}</string>
				<key>offset</key>
				<string>{-17,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,703},{149,153}}</string>
				<key>offset</key>
				<string>{-16,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,531},{159,174}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,342},{169,187}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690007.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,199},{184,196}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{195,208}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690009.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{197,209}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690010.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,132},{198,199}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690011.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1},{202,198}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690012.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1},{202,196}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690013.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,201},{183,194}}</string>
				<key>offset</key>
				<string>{-9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690014.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,333},{176,193}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690015.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,212},{179,194}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690016.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,397},{180,174}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690017.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,528},{176,173}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690018.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,408},{175,177}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/690019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{96,36}}</string>
				<key>offset</key>
				<string>{-1,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,210}</string>
			</dict>
			<key>img/rwsj/pid.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,798},{201,128}}</string>
				<key>offset</key>
				<string>{-175,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/rwsj/wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,952},{218,59}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_renwusj.png</string>
			<key>realTextureFileName</key>
			<string>ani_renwusj.png</string>
			<key>size</key>
			<string>{1016,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>