<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,338},{203,185}}</string>
				<key>offset</key>
				<string>{5,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,239},{161,208}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,331},{198,201}}</string>
				<key>offset</key>
				<string>{4,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,140},{194,208}}</string>
				<key>offset</key>
				<string>{5,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{187,216}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,2},{180,225}}</string>
				<key>offset</key>
				<string>{4,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,2},{166,233}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,186},{145,250}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,140},{142,267}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,335},{141,216}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,411},{136,209}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,527},{130,198}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{603,134}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshushuaxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshushuaxin.png</string>
			<key>size</key>
			<string>{1006,659}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1006</integer>
			<key>height</key>
			<integer>659</integer>
		</dict>
	</dict>
</plist>