<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/jineng/bd/bd_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1568,358},{381,353}}</string>
				<key>offset</key>
				<string>{-22,51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,699},{347,344}}</string>
				<key>offset</key>
				<string>{-12,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,1030},{323,321}}</string>
				<key>offset</key>
				<string>{-9,51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1353},{293,290}}</string>
				<key>offset</key>
				<string>{-9,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1644},{251,252}}</string>
				<key>offset</key>
				<string>{-11,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,918},{192,196}}</string>
				<key>offset</key>
				<string>{-10,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/bd/bd_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1835},{178,168}}</string>
				<key>offset</key>
				<string>{-1,51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,1},{386,360}}</string>
				<key>offset</key>
				<string>{-8,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{391,363}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1},{392,362}}</string>
				<key>offset</key>
				<string>{-9,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1},{390,360}}</string>
				<key>offset</key>
				<string>{-10,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1568,1},{383,355}}</string>
				<key>offset</key>
				<string>{-11,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,365},{378,349}}</string>
				<key>offset</key>
				<string>{-11,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,366},{372,344}}</string>
				<key>offset</key>
				<string>{-12,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,363},{361,334}}</string>
				<key>offset</key>
				<string>{-13,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1036},{351,325}}</string>
				<key>offset</key>
				<string>{-15,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,713},{339,315}}</string>
				<key>offset</key>
				<string>{-16,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1047},{326,298}}</string>
				<key>offset</key>
				<string>{-17,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1363},{305,279}}</string>
				<key>offset</key>
				<string>{-19,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1457},{286,263}}</string>
				<key>offset</key>
				<string>{-21,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1643},{267,243}}</string>
				<key>offset</key>
				<string>{-22,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1722},{251,229}}</string>
				<key>offset</key>
				<string>{-21,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,1714},{234,216}}</string>
				<key>offset</key>
				<string>{-19,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,713},{190,203}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1643},{190,187}}</string>
				<key>offset</key>
				<string>{-13,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/nb/nb_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1863},{177,160}}</string>
				<key>offset</key>
				<string>{-22,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1},{33,34}}</string>
				<key>offset</key>
				<string>{115,179}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,1346},{277,342}}</string>
				<key>offset</key>
				<string>{-12,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{350,358}}</string>
				<key>offset</key>
				<string>{-18,33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,723},{368,322}}</string>
				<key>offset</key>
				<string>{-7,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,363},{375,358}}</string>
				<key>offset</key>
				<string>{9,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,716},{390,318}}</string>
				<key>offset</key>
				<string>{2,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1064},{391,288}}</string>
				<key>offset</key>
				<string>{3,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,1116},{380,202}}</string>
				<key>offset</key>
				<string>{9,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,1498},{260,214}}</string>
				<key>offset</key>
				<string>{8,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,1714},{199,254}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1645},{216,254}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1625},{281,247}}</string>
				<key>offset</key>
				<string>{3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1347},{318,294}}</string>
				<key>offset</key>
				<string>{5,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenchong/jineng/zc/zc_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1045},{299,330}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_jn1.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_jn1.png</string>
			<key>size</key>
			<string>{2048,2041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2041</integer>
		</dict>
	</dict>
</plist>