<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1010},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1264},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1518},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1772},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1010},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1264},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1518},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1772},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,841},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1095},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1349},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1603},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/baodian/baodian_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1018},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanbaoshi/tongyongglow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{500,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shiyuanbaoshi/tongyongglow_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,506},{500,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shiyuanbaoshi/wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,764},{32,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanbaoshijh_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanbaoshijh_dh.png</string>
			<key>size</key>
			<string>{1266,2024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1266</integer>
			<key>height</key>
			<integer>2024</integer>
		</dict>
	</dict>
</plist>