<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_jinjie/10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,656},{202,185}}</string>
				<key>offset</key>
				<string>{42,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,214},{160,213}}</string>
				<key>offset</key>
				<string>{36,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,451},{197,201}}</string>
				<key>offset</key>
				<string>{40,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,2},{193,208}}</string>
				<key>offset</key>
				<string>{41,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,231},{186,216}}</string>
				<key>offset</key>
				<string>{41,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{179,225}}</string>
				<key>offset</key>
				<string>{40,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,214},{165,233}}</string>
				<key>offset</key>
				<string>{40,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,451},{144,250}}</string>
				<key>offset</key>
				<string>{38,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,656},{141,270}}</string>
				<key>offset</key>
				<string>{36,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,705},{140,216}}</string>
				<key>offset</key>
				<string>{37,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,705},{135,209}}</string>
				<key>offset</key>
				<string>{36,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
			<key>img/ani_jinjie/10017.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,451},{129,198}}</string>
				<key>offset</key>
				<string>{37,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,308}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_jinjie.png</string>
			<key>realTextureFileName</key>
			<string>ani_jinjie.png</string>
			<key>size</key>
			<string>{634,928}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>634</integer>
			<key>height</key>
			<integer>928</integer>
		</dict>
	</dict>
</plist>