<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tongyu/lizi/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,559},{1,1}}</string>
				<key>offset</key>
				<string>{149,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,467},{64,41}}</string>
				<key>offset</key>
				<string>{6,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,500},{78,56}}</string>
				<key>offset</key>
				<string>{7,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,365},{90,59}}</string>
				<key>offset</key>
				<string>{2,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,449},{100,61}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,400},{102,63}}</string>
				<key>offset</key>
				<string>{-4,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,351},{104,66}}</string>
				<key>offset</key>
				<string>{-5,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,229},{105,69}}</string>
				<key>offset</key>
				<string>{-6,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,338},{107,72}}</string>
				<key>offset</key>
				<string>{-7,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,324},{108,76}}</string>
				<key>offset</key>
				<string>{-7,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,242},{106,78}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,285},{104,79}}</string>
				<key>offset</key>
				<string>{-7,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,200},{104,81}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,315},{100,81}}</string>
				<key>offset</key>
				<string>{-8,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,368},{85,81}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,433},{84,83}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lizi/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,467},{67,77}}</string>
				<key>offset</key>
				<string>{-11,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/kp/kp_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,149},{212,41}}</string>
				<key>offset</key>
				<string>{-1,211}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,242},{204,69}}</string>
				<key>offset</key>
				<string>{-62,197}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,2},{137,68}}</string>
				<key>offset</key>
				<string>{-99,197}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,246},{93,91}}</string>
				<key>offset</key>
				<string>{-122,186}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,2},{95,153}}</string>
				<key>offset</key>
				<string>{-121,155}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,242},{74,211}}</string>
				<key>offset</key>
				<string>{-131,121}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,2},{44,214}}</string>
				<key>offset</key>
				<string>{-146,59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,320},{27,214}}</string>
				<key>offset</key>
				<string>{-155,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,2},{53,214}}</string>
				<key>offset</key>
				<string>{-142,-64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,360},{102,207}}</string>
				<key>offset</key>
				<string>{-117,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{148,149}}</string>
				<key>offset</key>
				<string>{-94,-152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,571},{170,124}}</string>
				<key>offset</key>
				<string>{-83,-165}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,360},{195,104}}</string>
				<key>offset</key>
				<string>{-71,-175}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,155},{214,83}}</string>
				<key>offset</key>
				<string>{-53,-184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/kp/kp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,86},{214,64}}</string>
				<key>offset</key>
				<string>{-26,-195}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/tongyu/gx/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,564},{1,1}}</string>
				<key>offset</key>
				<string>{149,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,559},{63,67}}</string>
				<key>offset</key>
				<string>{-69,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,406},{74,83}}</string>
				<key>offset</key>
				<string>{-67,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,315},{87,92}}</string>
				<key>offset</key>
				<string>{-60,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,143},{103,95}}</string>
				<key>offset</key>
				<string>{-50,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,101},{120,95}}</string>
				<key>offset</key>
				<string>{-39,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,59},{131,81}}</string>
				<key>offset</key>
				<string>{-27,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,144},{136,81}}</string>
				<key>offset</key>
				<string>{-11,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,59},{137,81}}</string>
				<key>offset</key>
				<string>{7,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,154},{134,84}}</string>
				<key>offset</key>
				<string>{25,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,50},{123,95}}</string>
				<key>offset</key>
				<string>{37,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,149},{105,93}}</string>
				<key>offset</key>
				<string>{46,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,341},{88,89}}</string>
				<key>offset</key>
				<string>{54,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,421},{75,81}}</string>
				<key>offset</key>
				<string>{59,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/gx/gx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,484},{63,67}}</string>
				<key>offset</key>
				<string>{61,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/lg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{201,109}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>img/tongyu/zg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,2},{185,80}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tongyu_shengji.png</string>
			<key>realTextureFileName</key>
			<string>ani_tongyu_shengji.png</string>
			<key>size</key>
			<string>{1006,743}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1006</integer>
			<key>height</key>
			<integer>743</integer>
		</dict>
	</dict>
</plist>