<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/wytxk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{145,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,124}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,876},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,251},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,83},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,165},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,333},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,415},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,497},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,579},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,661},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,743},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,825},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,907},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,247},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,83},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,165},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,329},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,411},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,493},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,575},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,657},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,739},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,821},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,903},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,247},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,83},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,165},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/guang/glow_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,329},{91,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,80}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,126},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,251},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,252},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,376},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,501},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,502},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,626},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,751},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,752},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,876},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,251},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,126},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,376},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,501},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,626},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,751},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,876},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,251},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,126},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,376},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,501},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,626},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
			<key>img/touxiangkuang/wytxk/yumao/yumao_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,751},{76,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_wuya.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_wuya.png</string>
			<key>size</key>
			<string>{660,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>660</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>