<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/hrg/hrg_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_shuijing2_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_shuijing2_dh.png</string>
			<key>size</key>
			<string>{1824,1824}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1824</integer>
			<key>height</key>
			<integer>1824</integer>
		</dict>
	</dict>
</plist>