<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhanqi/jsjj/jjjs_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,2},{196,243}}</string>
				<key>offset</key>
				<string>{-18,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,476},{190,242}}</string>
				<key>offset</key>
				<string>{-21,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,862},{150,217}}</string>
				<key>offset</key>
				<string>{-28,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,862},{83,177}}</string>
				<key>offset</key>
				<string>{-19,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,949},{61,127}}</string>
				<key>offset</key>
				<string>{9,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,624},{243,214}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,381},{309,231}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,2},{375,236}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{426,235}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,432},{426,234}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,432},{426,233}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,2},{426,231}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,381},{239,224}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,2},{232,210}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,249},{223,211}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,2},{223,211}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,842},{164,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,842},{163,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,722},{163,163}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,476},{163,163}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,229},{163,163}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,643},{162,162}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,809},{162,162}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,859},{162,166}}</string>
				<key>offset</key>
				<string>{6,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,694},{161,171}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/jsjj/jjjs_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,862},{154,150}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,300}</string>
			</dict>
			<key>img/zhanqi/st.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,949},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhanqi_jjjs.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhanqi_jjjs.png</string>
			<key>size</key>
			<string>{1393,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1393</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>