<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhangyutouxiangkuang/cs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,111},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,220},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,329},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,438},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,547},{70,105}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,656},{70,105}}</string>
				<key>offset</key>
				<string>{-47,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,875},{69,105}}</string>
				<key>offset</key>
				<string>{-47,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,2},{69,105}}</string>
				<key>offset</key>
				<string>{-47,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,441},{68,104}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,549},{68,104}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,755},{68,104}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,657},{67,105}}</string>
				<key>offset</key>
				<string>{-46,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,863},{67,105}}</string>
				<key>offset</key>
				<string>{-46,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,863},{67,104}}</string>
				<key>offset</key>
				<string>{-46,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,749},{67,104}}</string>
				<key>offset</key>
				<string>{-46,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,857},{66,105}}</string>
				<key>offset</key>
				<string>{-45,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,728},{66,105}}</string>
				<key>offset</key>
				<string>{-45,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,837},{66,105}}</string>
				<key>offset</key>
				<string>{-45,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,946},{66,105}}</string>
				<key>offset</key>
				<string>{-45,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,111},{66,105}}</string>
				<key>offset</key>
				<string>{-45,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,441},{67,106}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,551},{67,106}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,661},{67,106}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,111},{68,106}}</string>
				<key>offset</key>
				<string>{-46,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,221},{68,106}}</string>
				<key>offset</key>
				<string>{-46,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,331},{68,106}}</string>
				<key>offset</key>
				<string>{-46,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,765},{69,106}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,875},{69,106}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/cs_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,765},{69,106}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,971},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,966},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,2},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,59},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,2},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,972},{54,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,59},{53,45}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,2},{52,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,220},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,275},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,330},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,385},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,220},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,108},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,58},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/zb/zb_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,2},{51,45}}</string>
				<key>offset</key>
				<string>{-38,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,1015},{5,5}}</string>
				<key>offset</key>
				<string>{-34,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,1015},{5,6}}</string>
				<key>offset</key>
				<string>{-32,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,1014},{8,8}}</string>
				<key>offset</key>
				<string>{-29,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1015},{7,9}}</string>
				<key>offset</key>
				<string>{-28,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1009},{11,11}}</string>
				<key>offset</key>
				<string>{-26,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1009},{10,11}}</string>
				<key>offset</key>
				<string>{-24,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1009},{13,14}}</string>
				<key>offset</key>
				<string>{-23,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,972},{14,14}}</string>
				<key>offset</key>
				<string>{-22,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,728},{14,14}}</string>
				<key>offset</key>
				<string>{-22,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,972},{15,14}}</string>
				<key>offset</key>
				<string>{-23,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,991},{15,14}}</string>
				<key>offset</key>
				<string>{-23,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,728},{14,14}}</string>
				<key>offset</key>
				<string>{-24,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1009},{14,13}}</string>
				<key>offset</key>
				<string>{-26,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,728},{14,14}}</string>
				<key>offset</key>
				<string>{-28,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1009},{13,14}}</string>
				<key>offset</key>
				<string>{-30,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,992},{13,14}}</string>
				<key>offset</key>
				<string>{-31,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1009},{14,13}}</string>
				<key>offset</key>
				<string>{-30,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,992},{14,13}}</string>
				<key>offset</key>
				<string>{-28,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,728},{17,16}}</string>
				<key>offset</key>
				<string>{-27,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,972},{16,15}}</string>
				<key>offset</key>
				<string>{-26,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,732},{18,17}}</string>
				<key>offset</key>
				<string>{-25,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,728},{18,16}}</string>
				<key>offset</key>
				<string>{-25,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,732},{19,19}}</string>
				<key>offset</key>
				<string>{-26,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,732},{19,18}}</string>
				<key>offset</key>
				<string>{-26,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,732},{18,19}}</string>
				<key>offset</key>
				<string>{-26,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,732},{18,19}}</string>
				<key>offset</key>
				<string>{-26,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,984},{21,21}}</string>
				<key>offset</key>
				<string>{-27,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,984},{21,21}}</string>
				<key>offset</key>
				<string>{-27,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,985},{25,22}}</string>
				<key>offset</key>
				<string>{-27,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,984},{25,22}}</string>
				<key>offset</key>
				<string>{-27,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,985},{26,23}}</string>
				<key>offset</key>
				<string>{-27,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
			<key>img/zhangyutouxiangkuang/pp/pp_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,985},{26,23}}</string>
				<key>offset</key>
				<string>{-27,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhangyu_touxiangkuang.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhangyu_touxiangkuang.png</string>
			<key>size</key>
			<string>{484,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>484</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>