<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/lansehuo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,115},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,2},{33,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,224},{29,53}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,281},{29,53}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,57},{30,54}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,338},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,281},{30,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,336},{29,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,335},{29,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,335},{31,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,387},{29,50}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,391},{28,49}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,441},{28,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,390},{27,52}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/lansehuo_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,169},{31,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/3guang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,281},{78,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,50}</string>
			</dict>
			<key>img/ani_shijieshu1/3guang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{257,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,275}</string>
			</dict>
			<key>img/ani_shijieshu1/100010006.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,392},{28,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,52}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,281},{171,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,183}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshu1.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshu1.png</string>
			<key>size</key>
			<string>{1024,493}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>493</integer>
		</dict>
	</dict>
</plist>