<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1022},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1226},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1430},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1634},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1838},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1022},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1226},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1430},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1634},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1838},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/fz/fz_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1022},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1226},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1430},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1634},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1838},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1022},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1226},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1430},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1634},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1838},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/fazhen/lz/lz_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzcfazhen_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzcfazhen_dh.png</string>
			<key>size</key>
			<string>{2040,2040}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2040</integer>
			<key>height</key>
			<integer>2040</integer>
		</dict>
	</dict>
</plist>