<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong/xrhd/bg/wq/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,61},{73,47}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,2},{73,52}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{72,58}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,2},{72,58}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,2},{72,57}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{71,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,2},{73,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2},{74,54}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,105},{73,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,112},{73,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,63},{73,45}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,2},{73,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,2},{73,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,54},{74,47}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,58},{75,46}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,54},{74,47}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,63},{70,47}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,112},{66,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,137},{65,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,157},{65,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,64},{65,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,114},{64,47}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,133},{69,49}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,60},{69,50}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,2},{70,50}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{73,49}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2},{74,48}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,55},{74,47}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,55},{74,47}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,106},{73,47}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chunjie_yuanxiao2_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_chunjie_yuanxiao2_dh.png</string>
			<key>size</key>
			<string>{918,204}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>918</integer>
			<key>height</key>
			<integer>204</integer>
		</dict>
	</dict>
</plist>