<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/sq/sq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,510},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/touxiangkuang/sq/sq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,764},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_sq.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_sq.png</string>
			<key>size</key>
			<string>{2032,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2032</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>