<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/choukapng/huoyan/0_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,116},{60,99}}</string>
				<key>offset</key>
				<string>{-12,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{62,106}}</string>
				<key>offset</key>
				<string>{-11,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{62,113}}</string>
				<key>offset</key>
				<string>{-12,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{62,114}}</string>
				<key>offset</key>
				<string>{-11,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{61,109}}</string>
				<key>offset</key>
				<string>{-12,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{62,114}}</string>
				<key>offset</key>
				<string>{-11,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,886},{63,98}}</string>
				<key>offset</key>
				<string>{-12,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,682},{63,103}}</string>
				<key>offset</key>
				<string>{-12,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{61,111}}</string>
				<key>offset</key>
				<string>{-12,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{62,116}}</string>
				<key>offset</key>
				<string>{-11,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,215},{62,90}}</string>
				<key>offset</key>
				<string>{-12,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,0},{62,93}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,785},{63,101}}</string>
				<key>offset</key>
				<string>{-11,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,573},{63,109}}</string>
				<key>offset</key>
				<string>{-12,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/choukapng/huoyan/0_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{63,116}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka_huo.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka_huo.png</string>
			<key>size</key>
			<string>{125,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>