<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghuizhenfeng/baoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,185},{133,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,76}</string>
			</dict>
			<key>img/gonghuizhenfeng/gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{496,96}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,109}</string>
			</dict>
			<key>img/gonghuizhenfeng/h.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,2},{496,93}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,109}</string>
			</dict>
			<key>img/gonghuizhenfeng/jiangji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,189},{131,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,77}</string>
			</dict>
			<key>img/gonghuizhenfeng/jj.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,102},{192,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,79}</string>
			</dict>
			<key>img/gonghuizhenfeng/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,99},{496,93}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,109}</string>
			</dict>
			<key>img/gonghuizhenfeng/jj1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{196,83}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/gonghuizhenfeng/baoji1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,102},{154,97}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuizhenfeng_jinji.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuizhenfeng_jinji.png</string>
			<key>size</key>
			<string>{1000,268}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>268</integer>
		</dict>
	</dict>
</plist>