<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/aoshu/as2.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,2},{370,400}}</string>
				<key>offset</key>
				<string>{16,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{532,397}}</string>
				<key>offset</key>
				<string>{6,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,842},{133,142}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,552},{138,143}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{139,145}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,403},{135,148}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,403},{142,140}}</string>
				<key>offset</key>
				<string>{-9,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,555},{138,139}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,690},{134,138}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,847},{136,145}}</string>
				<key>offset</key>
				<string>{-7,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,547},{133,142}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,847},{136,145}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,699},{137,144}}</string>
				<key>offset</key>
				<string>{-11,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,699},{136,144}}</string>
				<key>offset</key>
				<string>{-12,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,547},{135,139}}</string>
				<key>offset</key>
				<string>{-12,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,698},{136,140}}</string>
				<key>offset</key>
				<string>{-11,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/6zhongzu/aoshu/as_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,847},{136,145}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_aoshu2.png</string>
			<key>realTextureFileName</key>
			<string>ani_aoshu2.png</string>
			<key>size</key>
			<string>{910,994}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>910</integer>
			<key>height</key>
			<integer>994</integer>
		</dict>
	</dict>
</plist>