<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongsuipian/posui/posui_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,983},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{196,198}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{192,194}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,204},{179,188}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,590},{167,182}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,776},{171,175}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2},{163,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,168},{153,154}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2},{142,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,326},{130,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,460},{118,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,2},{162,160}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,590},{178,179}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,402},{184,183}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,790},{187,187}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{188,189}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{190,189}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/yingxiongsuipian/posui/posui_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,596},{190,189}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxionghecheng_posui.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxionghecheng_posui.png</string>
			<key>size</key>
			<string>{676,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>676</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>