<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tiejiangpubeijing/yw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,63},{60,96}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,2},{60,97}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{61,98}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{62,99}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,50},{63,102}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,50},{63,104}}</string>
				<key>offset</key>
				<string>{10,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,2},{63,105}}</string>
				<key>offset</key>
				<string>{10,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,126},{54,94}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,156},{54,96}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,126},{54,95}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,67},{55,98}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,69},{53,100}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,68},{54,99}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2},{57,103}}</string>
				<key>offset</key>
				<string>{9,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,117},{60,106}}</string>
				<key>offset</key>
				<string>{10,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/yw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,126},{57,93}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,141}</string>
			</dict>
			<key>img/tiejiangpubeijing/y_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{192,44}}</string>
				<key>offset</key>
				<string>{224,83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tiejiangpu_fenwei.png</string>
			<key>realTextureFileName</key>
			<string>ani_tiejiangpu_fenwei.png</string>
			<key>size</key>
			<string>{718,225}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>718</integer>
			<key>height</key>
			<integer>225</integer>
		</dict>
	</dict>
</plist>