<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,2},{54,50}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,2},{54,49}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,2},{54,49}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,2},{54,49}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,55},{54,48}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,2},{54,48}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,54},{54,47}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,55},{54,47}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,105},{53,47}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,113},{53,47}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,108},{53,47}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,2},{53,48}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,59},{52,48}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,111},{52,48}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,56},{52,48}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,107},{52,48}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,2},{52,49}}</string>
				<key>offset</key>
				<string>{-32,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,2},{52,50}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,55},{52,50}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,55},{52,50}}</string>
				<key>offset</key>
				<string>{-32,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{53,51}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,2},{53,51}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,2},{53,51}}</string>
				<key>offset</key>
				<string>{-33,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/xintouxiangkuang/yy_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,2},{53,50}}</string>
				<key>offset</key>
				<string>{-33,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhounianqing_touxiangkuang2.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhounianqing_touxiangkuang2.png</string>
			<key>size</key>
			<string>{1024,168}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>168</integer>
		</dict>
	</dict>
</plist>