<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chunjie/yuanxiao/sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,205},{296,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,192}</string>
			</dict>
			<key>img/chunjie/yuanxiao/sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,415},{189,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,105}</string>
			</dict>
			<key>img/chunjie/yuanxiao/t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,2},{393,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,128}</string>
			</dict>
			<key>img/chunjie/yuanxiao/t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,205},{353,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,99}</string>
			</dict>
			<key>img/chunjie/yuanxiao/wan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,2},{422,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,199}</string>
			</dict>
			<key>img/chunjie/yuanxiao/wan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{421,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,242}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,608},{114,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,99}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,711},{111,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,92}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,807},{98,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,81}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,779},{109,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,90}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,892},{100,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,83}</string>
			</dict>
			<key>img/chunjie/yuanxiao/yx6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,892},{107,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,89}</string>
			</dict>
			<key>img/chunjie/yuanxiao/zm.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,399},{376,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,74}</string>
			</dict>
			<key>img/chunjie/yuanxiao/zm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,90},{11,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,7}</string>
			</dict>
			<key>img/chunjie/yuanxiao/zm3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,78},{13,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,8}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,167},{78,15}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,331},{80,17}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,167},{82,18}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,253},{74,19}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,86},{77,20}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,2},{80,20}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
			<key>img/chunjie/yuanxiao/bw/shuibo/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,2},{72,13}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chunjie_yuanxiao_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_chunjie_yuanxiao_dh.png</string>
			<key>size</key>
			<string>{1024,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>