<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/qianghua/shengji_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,2},{147,149}}</string>
				<key>offset</key>
				<string>{31,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,154},{183,175}}</string>
				<key>offset</key>
				<string>{13,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,2},{209,214}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{209,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,245},{209,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,488},{209,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,730},{209,222}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,2},{209,220}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,666},{158,220}}</string>
				<key>offset</key>
				<string>{-25,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,443},{158,220}}</string>
				<key>offset</key>
				<string>{-25,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,220},{158,220}}</string>
				<key>offset</key>
				<string>{-25,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,2},{158,220}}</string>
				<key>offset</key>
				<string>{-25,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,605},{158,219}}</string>
				<key>offset</key>
				<string>{-25,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,239}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,2},{148,144}}</string>
				<key>offset</key>
				<string>{36,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,765},{185,166}}</string>
				<key>offset</key>
				<string>{17,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,226},{219,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,449},{219,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,672},{219,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,220},{219,194}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,443},{219,189}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,666},{219,188}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,828},{173,188}}</string>
				<key>offset</key>
				<string>{-23,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,382},{173,188}}</string>
				<key>offset</key>
				<string>{-23,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,164},{172,188}}</string>
				<key>offset</key>
				<string>{-23,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,574},{172,187}}</string>
				<key>offset</key>
				<string>{-23,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
			<key>img/ani_ronghun/qianghua/shengji_a_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,356},{172,187}}</string>
				<key>offset</key>
				<string>{-23,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_qianghua.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_qianghua.png</string>
			<key>size</key>
			<string>{1203,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1203</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>