<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhenfatubiao/10/c_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,278},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/10/dl_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/10/h_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,368},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/10/l_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,94},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/10/LV_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,458},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhenfatubiao/10/z_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,186},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenyingbuff_07.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenyingbuff_07.png</string>
			<key>size</key>
			<string>{92,546}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>546</integer>
		</dict>
	</dict>
</plist>