<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxionghuijuan/guangan/fkg1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,2},{339,235}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fkg2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{451,362}}</string>
				<key>offset</key>
				<string>{-3,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,2},{1,1}}</string>
				<key>offset</key>
				<string>{112,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,932},{43,45}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,859},{57,55}}</string>
				<key>offset</key>
				<string>{28,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,863},{65,63}}</string>
				<key>offset</key>
				<string>{35,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,896},{67,73}}</string>
				<key>offset</key>
				<string>{39,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,846},{69,76}}</string>
				<key>offset</key>
				<string>{37,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,916},{78,76}}</string>
				<key>offset</key>
				<string>{32,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,839},{89,74}}</string>
				<key>offset</key>
				<string>{24,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,574},{100,69}}</string>
				<key>offset</key>
				<string>{18,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,458},{108,73}}</string>
				<key>offset</key>
				<string>{10,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,722},{113,79}}</string>
				<key>offset</key>
				<string>{2,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,608},{114,89}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,677},{104,94}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,647},{90,91}}</string>
				<key>offset</key>
				<string>{-18,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,775},{80,83}}</string>
				<key>offset</key>
				<string>{-21,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,751},{96,76}}</string>
				<key>offset</key>
				<string>{-12,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,678},{94,69}}</string>
				<key>offset</key>
				<string>{-11,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,844},{91,68}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,694},{86,66}}</string>
				<key>offset</key>
				<string>{-8,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gw2_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,784},{75,64}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,2},{1,1}}</string>
				<key>offset</key>
				<string>{112,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,714},{28,29}}</string>
				<key>offset</key>
				<string>{24,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,857},{35,38}}</string>
				<key>offset</key>
				<string>{30,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,647},{42,47}}</string>
				<key>offset</key>
				<string>{35,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,918},{51,55}}</string>
				<key>offset</key>
				<string>{39,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,892},{50,57}}</string>
				<key>offset</key>
				<string>{39,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,831},{61,57}}</string>
				<key>offset</key>
				<string>{33,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,919},{72,56}}</string>
				<key>offset</key>
				<string>{26,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,820},{82,53}}</string>
				<key>offset</key>
				<string>{20,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,599},{91,54}}</string>
				<key>offset</key>
				<string>{13,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,589},{104,62}}</string>
				<key>offset</key>
				<string>{5,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,457},{105,72}}</string>
				<key>offset</key>
				<string>{-3,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,746},{96,77}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,741},{82,72}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,817},{67,66}}</string>
				<key>offset</key>
				<string>{-21,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,776},{75,59}}</string>
				<key>offset</key>
				<string>{-16,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,741},{75,51}}</string>
				<key>offset</key>
				<string>{-15,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,919},{74,45}}</string>
				<key>offset</key>
				<string>{-14,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,831},{71,45}}</string>
				<key>offset</key>
				<string>{-14,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/gw/gx1_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,973},{62,44}}</string>
				<key>offset</key>
				<string>{-9,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,714},{105,139}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,350},{111,149}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,222},{105,159}}</string>
				<key>offset</key>
				<string>{-51,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,368},{84,173}}</string>
				<key>offset</key>
				<string>{-41,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,222},{48,184}}</string>
				<key>offset</key>
				<string>{-23,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,7},{1,1}}</string>
				<key>offset</key>
				<string>{112,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,538},{47,184}}</string>
				<key>offset</key>
				<string>{22,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,569},{83,173}}</string>
				<key>offset</key>
				<string>{40,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,241},{105,159}}</string>
				<key>offset</key>
				<string>{50,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,385},{111,149}}</string>
				<key>offset</key>
				<string>{53,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/ga_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,701},{105,139}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,465},{105,138}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,746},{111,148}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,350},{104,159}}</string>
				<key>offset</key>
				<string>{-51,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,368},{84,173}}</string>
				<key>offset</key>
				<string>{-41,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,2},{48,185}}</string>
				<key>offset</key>
				<string>{-23,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,7},{1,1}}</string>
				<key>offset</key>
				<string>{112,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,380},{47,185}}</string>
				<key>offset</key>
				<string>{22,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,574},{83,173}}</string>
				<key>offset</key>
				<string>{40,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,241},{105,159}}</string>
				<key>offset</key>
				<string>{50,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{111,148}}</string>
				<key>offset</key>
				<string>{53,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/y_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,568},{105,138}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,538},{105,138}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,599},{111,148}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2},{106,158}}</string>
				<key>offset</key>
				<string>{-51,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,368},{85,173}}</string>
				<key>offset</key>
				<string>{-41,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,191},{48,185}}</string>
				<key>offset</key>
				<string>{-23,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,12},{1,1}}</string>
				<key>offset</key>
				<string>{112,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,410},{47,185}}</string>
				<key>offset</key>
				<string>{22,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,545},{84,173}}</string>
				<key>offset</key>
				<string>{40,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,112},{106,158}}</string>
				<key>offset</key>
				<string>{51,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,456},{111,148}}</string>
				<key>offset</key>
				<string>{53,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/guangan/fy/z_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,458},{106,138}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxionghuijuan_guangan.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxionghuijuan_guangan.png</string>
			<key>size</key>
			<string>{1024,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>