<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_baoshijiesuotishi/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,2},{197,212}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,345}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_mijing_kaizhan.png</string>
			<key>realTextureFileName</key>
			<string>ani_mijing_kaizhan.png</string>
			<key>size</key>
			<string>{818,354}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>818</integer>
			<key>height</key>
			<integer>354</integer>
		</dict>
	</dict>
</plist>