<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,990},{25,22}}</string>
				<key>offset</key>
				<string>{-31,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,990},{29,25}}</string>
				<key>offset</key>
				<string>{-29,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,990},{35,30}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,987},{39,35}}</string>
				<key>offset</key>
				<string>{-24,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,475},{43,39}}</string>
				<key>offset</key>
				<string>{-22,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,761},{48,44}}</string>
				<key>offset</key>
				<string>{-19,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,2},{52,48}}</string>
				<key>offset</key>
				<string>{-17,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,302},{57,52}}</string>
				<key>offset</key>
				<string>{-16,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,809},{60,57}}</string>
				<key>offset</key>
				<string>{-14,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,630},{62,59}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,885},{66,60}}</string>
				<key>offset</key>
				<string>{-11,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,811},{71,64}}</string>
				<key>offset</key>
				<string>{-9,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,423},{74,68}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,2},{78,71}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,767},{79,76}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,343},{81,79}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,897},{84,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,717},{86,85}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,717},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,899},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,990},{26,22}}</string>
				<key>offset</key>
				<string>{-31,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,990},{31,25}}</string>
				<key>offset</key>
				<string>{-29,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,990},{36,30}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,987},{40,35}}</string>
				<key>offset</key>
				<string>{-24,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,980},{44,39}}</string>
				<key>offset</key>
				<string>{-22,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,761},{49,44}}</string>
				<key>offset</key>
				<string>{-20,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,77},{53,48}}</string>
				<key>offset</key>
				<string>{-18,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,363},{57,52}}</string>
				<key>offset</key>
				<string>{-16,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,873},{60,57}}</string>
				<key>offset</key>
				<string>{-14,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,563},{63,59}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,961},{68,60}}</string>
				<key>offset</key>
				<string>{-10,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,735},{72,64}}</string>
				<key>offset</key>
				<string>{-8,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,159},{75,68}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,84},{78,71}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,683},{80,76}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,260},{82,79}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,897},{84,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,807},{86,85}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,717},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,808},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/wq/w_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,899},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,990},{25,22}}</string>
				<key>offset</key>
				<string>{-31,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,990},{29,25}}</string>
				<key>offset</key>
				<string>{-29,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,990},{35,30}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,985},{39,35}}</string>
				<key>offset</key>
				<string>{-24,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,980},{44,39}}</string>
				<key>offset</key>
				<string>{-22,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,850},{49,43}}</string>
				<key>offset</key>
				<string>{-20,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,2},{53,48}}</string>
				<key>offset</key>
				<string>{-18,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,302},{57,52}}</string>
				<key>offset</key>
				<string>{-16,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,809},{60,57}}</string>
				<key>offset</key>
				<string>{-14,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,563},{62,59}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,955},{66,60}}</string>
				<key>offset</key>
				<string>{-11,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,735},{71,64}}</string>
				<key>offset</key>
				<string>{-9,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,501},{74,68}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,166},{78,71}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,897},{79,76}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,428},{81,79}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,2},{84,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,897},{86,85}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,717},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,808},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,899},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,990},{25,22}}</string>
				<key>offset</key>
				<string>{-31,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,990},{29,25}}</string>
				<key>offset</key>
				<string>{-29,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,990},{35,30}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,985},{39,35}}</string>
				<key>offset</key>
				<string>{-24,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,475},{43,39}}</string>
				<key>offset</key>
				<string>{-22,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,363},{48,44}}</string>
				<key>offset</key>
				<string>{-19,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,419},{52,48}}</string>
				<key>offset</key>
				<string>{-17,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,238},{57,52}}</string>
				<key>offset</key>
				<string>{-16,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,937},{60,57}}</string>
				<key>offset</key>
				<string>{-14,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,629},{62,59}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,423},{66,60}}</string>
				<key>offset</key>
				<string>{-11,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,886},{71,64}}</string>
				<key>offset</key>
				<string>{-9,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,579},{74,68}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,2},{78,71}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,343},{79,76}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,513},{81,79}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,88},{84,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,717},{86,85}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,717},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,808},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,899},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,990},{25,22}}</string>
				<key>offset</key>
				<string>{-31,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,990},{29,25}}</string>
				<key>offset</key>
				<string>{-29,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,990},{35,30}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,985},{39,35}}</string>
				<key>offset</key>
				<string>{-24,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,116},{44,39}}</string>
				<key>offset</key>
				<string>{-22,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,850},{49,43}}</string>
				<key>offset</key>
				<string>{-20,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,59},{53,48}}</string>
				<key>offset</key>
				<string>{-18,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,159},{57,52}}</string>
				<key>offset</key>
				<string>{-16,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,238},{60,57}}</string>
				<key>offset</key>
				<string>{-14,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,695},{62,59}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,493},{66,60}}</string>
				<key>offset</key>
				<string>{-11,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,810},{71,64}}</string>
				<key>offset</key>
				<string>{-9,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,657},{74,68}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,77},{78,71}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,260},{79,76}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,598},{81,79}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,174},{84,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,807},{86,85}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,717},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,808},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,899},{87,87}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/cike_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{622,711}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,711}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_wq.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_wq.png</string>
			<key>size</key>
			<string>{1012,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>