<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongjitan2/4/hs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,871},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,130},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,377},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,624},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,871},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,130},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,130},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,130},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,377},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,624},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,257},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,504},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,751},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,257},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,504},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,751},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,257},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,257},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,384},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,504},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,631},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,878},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,2},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,2},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,130},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,377},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,624},{243,124}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxiongjitan_4.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxiongjitan_4.png</string>
			<key>size</key>
			<string>{1010,1003}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>1003</integer>
		</dict>
	</dict>
</plist>