<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_3guo_chengchidonghua/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,651},{171,165}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,826},{171,169}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,478},{171,171}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,826},{172,168}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,653},{172,169}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,478},{172,169}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,2},{172,164}}</string>
				<key>offset</key>
				<string>{2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,191}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/guanghc.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,170},{146,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,148}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/guanghl.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,397},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/guangqiu2LS.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,123},{30,33}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/guangqiuh.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,2},{45,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,248},{121,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,34}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/hengsaoguang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,227},{9,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,121}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/hengsaoguang23.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,121},{25,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,121}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/lingxingk.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,397},{118,58}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,63}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,248},{66,70}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,114}</string>
			</dict>
			<key>img/ani_tanxianjiesuo/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/guanghl.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,170},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/hengsaoguang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,286},{9,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,121}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,322},{244,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,71}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,52},{32,49}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,2},{49,60}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,2},{50,46}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,66},{52,53}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,2},{50,53}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,105},{38,55}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,119},{44,52}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,230},{42,52}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,123},{37,41}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,175},{42,48}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,52},{45,49}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,59},{45,56}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,160},{46,56}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,175},{43,51}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,59},{45,58}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/huo_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,105},{37,57}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/ani_3guo_chengchidonghua/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,240},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_3guo_chengchi.png</string>
			<key>realTextureFileName</key>
			<string>ani_3guo_chengchi.png</string>
			<key>size</key>
			<string>{656,997}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>656</integer>
			<key>height</key>
			<integer>997</integer>
		</dict>
	</dict>
</plist>