<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{120,140}}</string>
				<key>offset</key>
				<string>{1,-194}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1800}</string>
			</dict>
			<key>img/shendianmigong/sc/fg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,892},{64,53}}</string>
				<key>offset</key>
				<string>{1,-196}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,341},{1,1}}</string>
				<key>offset</key>
				<string>{319,-567}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,555},{2,2}}</string>
				<key>offset</key>
				<string>{-22,-209}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,886},{20,7}}</string>
				<key>offset</key>
				<string>{-13,-205}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,807},{23,8}}</string>
				<key>offset</key>
				<string>{-15,-205}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,432},{52,16}}</string>
				<key>offset</key>
				<string>{-2,-202}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,825},{54,20}}</string>
				<key>offset</key>
				<string>{-2,-201}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,728},{54,26}}</string>
				<key>offset</key>
				<string>{-2,-201}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,791},{55,30}}</string>
				<key>offset</key>
				<string>{-3,-200}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,728},{59,33}}</string>
				<key>offset</key>
				<string>{-1,-196}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,302},{60,35}}</string>
				<key>offset</key>
				<string>{0,-193}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,957},{61,44}}</string>
				<key>offset</key>
				<string>{0,-193}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{61,53}}</string>
				<key>offset</key>
				<string>{0,-192}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,827},{61,57}}</string>
				<key>offset</key>
				<string>{0,-189}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,71},{61,60}}</string>
				<key>offset</key>
				<string>{0,-186}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,2},{61,65}}</string>
				<key>offset</key>
				<string>{0,-182}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,227},{61,71}}</string>
				<key>offset</key>
				<string>{0,-180}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,146},{61,77}}</string>
				<key>offset</key>
				<string>{0,-177}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,348},{61,80}}</string>
				<key>offset</key>
				<string>{0,-173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{60,93}}</string>
				<key>offset</key>
				<string>{1,-173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,146},{60,101}}</string>
				<key>offset</key>
				<string>{1,-172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,454},{52,97}}</string>
				<key>offset</key>
				<string>{5,-174}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,562},{53,100}}</string>
				<key>offset</key>
				<string>{4,-170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,348},{53,102}}</string>
				<key>offset</key>
				<string>{4,-166}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,454},{51,104}}</string>
				<key>offset</key>
				<string>{3,-162}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,747},{46,76}}</string>
				<key>offset</key>
				<string>{1,-172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,666},{46,77}}</string>
				<key>offset</key>
				<string>{1,-166}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,892},{46,61}}</string>
				<key>offset</key>
				<string>{1,-152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,957},{45,60}}</string>
				<key>offset</key>
				<string>{0,-147}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,666},{43,58}}</string>
				<key>offset</key>
				<string>{-1,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,825},{31,23}}</string>
				<key>offset</key>
				<string>{-6,-143}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,860},{31,22}}</string>
				<key>offset</key>
				<string>{-6,-138}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,786},{17,16}}</string>
				<key>offset</key>
				<string>{1,-134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,819},{16,16}}</string>
				<key>offset</key>
				<string>{2,-128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,839},{15,15}}</string>
				<key>offset</key>
				<string>{1,-121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/sc/lz_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,341},{1,1}}</string>
				<key>offset</key>
				<string>{319,-567}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shendianmigong_chizi.png</string>
			<key>realTextureFileName</key>
			<string>ani_shendianmigong_chizi.png</string>
			<key>size</key>
			<string>{189,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>