<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/aoshu/as1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,959}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/aoshu/g.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,2},{131,119}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,126}</string>
			</dict>
			<key>img/6zhongzu/aoshu/astaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,297},{259,77}}</string>
				<key>offset</key>
				<string>{0,-327}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/aoshu/aoshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{166,291}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_aoshu1.png</string>
			<key>realTextureFileName</key>
			<string>ani_aoshu1.png</string>
			<key>size</key>
			<string>{949,963}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>949</integer>
			<key>height</key>
			<integer>963</integer>
		</dict>
	</dict>
</plist>