<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_shijieshuzhihuan/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{435,140}}</string>
				<key>offset</key>
				<string>{-21,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{495,139}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,813},{513,150}}</string>
				<key>offset</key>
				<string>{19,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,653},{519,160}}</string>
				<key>offset</key>
				<string>{20,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,486},{517,167}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{516,169}}</string>
				<key>offset</key>
				<string>{23,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{509,167}}</string>
				<key>offset</key>
				<string>{24,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,319},{509,167}}</string>
				<key>offset</key>
				<string>{19,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,0},{476,160}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,160},{440,159}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{438,155}}</string>
				<key>offset</key>
				<string>{-22,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,813},{444,150}}</string>
				<key>offset</key>
				<string>{-17,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
			<key>ani_shijieshuzhihuan/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,963},{451,146}}</string>
				<key>offset</key>
				<string>{-17,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshuzhihuan.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshuzhihuan.png</string>
			<key>size</key>
			<string>{1018,1109}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>1109</integer>
		</dict>
	</dict>
</plist>