<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_fanshu/111_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,309},{274,467}}</string>
				<key>offset</key>
				<string>{17,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/ani_fanshu/111_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{303,467}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/ani_fanshu/111_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{305,467}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/ani_fanshu/111_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,473},{305,467}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_fanshu3.png</string>
			<key>realTextureFileName</key>
			<string>ani_fanshu3.png</string>
			<key>size</key>
			<string>{780,942}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>780</integer>
			<key>height</key>
			<integer>942</integer>
		</dict>
	</dict>
</plist>