<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_fashitaceng/fsct.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{164,167}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,597},{67,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,696},{67,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,366},{68,95}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,810},{68,94}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,810},{70,94}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,215},{68,95}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,532},{69,103}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,293},{69,103}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,740},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,839},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,614},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,514},{70,96}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,908},{69,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,908},{69,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,709},{69,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,599},{68,96}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,907},{67,95}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,99},{68,95}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,2},{71,93}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,713},{71,93}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,2},{68,93}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,115},{69,96}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,400},{70,96}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,500},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,391},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,267},{70,95}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,291},{70,96}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,639},{70,97}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,167},{70,96}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/huoyan_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,808},{68,95}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,129}</string>
			</dict>
			<key>img/ani_fashitaceng/guangqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,117},{46,46}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,795},{60,99}}</string>
				<key>offset</key>
				<string>{-14,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,599},{62,106}}</string>
				<key>offset</key>
				<string>{-13,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,173},{62,114}}</string>
				<key>offset</key>
				<string>{-14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,173},{62,114}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,2},{61,109}}</string>
				<key>offset</key>
				<string>{-14,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,413},{62,115}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,907},{63,99}}</string>
				<key>offset</key>
				<string>{-14,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,490},{63,103}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,2},{61,111}}</string>
				<key>offset</key>
				<string>{-14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{62,116}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,892},{62,90}}</string>
				<key>offset</key>
				<string>{-14,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,795},{62,93}}</string>
				<key>offset</key>
				<string>{-13,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,699},{63,101}}</string>
				<key>offset</key>
				<string>{-13,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,400},{63,110}}</string>
				<key>offset</key>
				<string>{-14,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
			<key>img/ani_fashitaceng/huo0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{63,116}}</string>
				<key>offset</key>
				<string>{-14,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,304}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_fashitaceng.png</string>
			<key>realTextureFileName</key>
			<string>ani_fashitaceng.png</string>
			<key>size</key>
			<string>{445,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>445</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>