<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shizijun_nanduxuanze/shan/x_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,2},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,477},{242,214}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,716},{308,231}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{374,236}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{425,235}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,2},{425,234}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,240},{425,233}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,241},{425,231}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,716},{238,224}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,695},{231,210}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shizijun_nanduxuanze_jiewei.png</string>
			<key>realTextureFileName</key>
			<string>ani_shizijun_nanduxuanze_jiewei.png</string>
			<key>size</key>
			<string>{930,956}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>930</integer>
			<key>height</key>
			<integer>956</integer>
		</dict>
	</dict>
</plist>