<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/guangming/gma.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,959}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/guangming/gz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,267},{312,177}}</string>
				<key>offset</key>
				<string>{1,-210}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/guangming/yy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,448},{198,218}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,800}</string>
			</dict>
			<key>img/6zhongzu/guangming/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{259,261}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_guangming2.png</string>
			<key>realTextureFileName</key>
			<string>ani_guangming2.png</string>
			<key>size</key>
			<string>{960,963}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>963</integer>
		</dict>
	</dict>
</plist>