<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shufaguang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,296},{129,93}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,114}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,198},{145,94}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,295},{146,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,99},{146,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,99},{146,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,99},{147,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,199},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,296},{147,92}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,198},{147,94}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,296},{147,92}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,2},{151,93}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,218},{151,92}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{151,93}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,2},{151,93}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,2},{151,95}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,118},{151,96}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,101},{148,94}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,127},{148,94}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,225},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,314},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,198},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/fuwen_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{207,112}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,127}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,118},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,43}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,2},{14,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,10}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,206},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/tanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,2},{175,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhucheng_shutan.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhucheng_shutan.png</string>
			<key>size</key>
			<string>{1024,409}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>409</integer>
		</dict>
	</dict>
</plist>