<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/shenchongshuaxin/sx/sx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_shuaxin_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_shuaxin_dh.png</string>
			<key>size</key>
			<string>{2020,2020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2020</integer>
			<key>height</key>
			<integer>2020</integer>
		</dict>
	</dict>
</plist>