<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhounianqing/txk/bc_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,276},{14,57}}</string>
				<key>offset</key>
				<string>{49,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,190},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,378},{25,37}}</string>
				<key>offset</key>
				<string>{0,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,427},{65,74}}</string>
				<key>offset</key>
				<string>{5,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,194},{78,84}}</string>
				<key>offset</key>
				<string>{10,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,5},{84,91}}</string>
				<key>offset</key>
				<string>{12,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,5},{89,95}}</string>
				<key>offset</key>
				<string>{14,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,5},{92,97}}</string>
				<key>offset</key>
				<string>{18,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,5},{98,98}}</string>
				<key>offset</key>
				<string>{22,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{104,100}}</string>
				<key>offset</key>
				<string>{26,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,5},{98,96}}</string>
				<key>offset</key>
				<string>{33,47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,5},{92,93}}</string>
				<key>offset</key>
				<string>{39,49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,104},{85,86}}</string>
				<key>offset</key>
				<string>{44,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,347},{70,72}}</string>
				<key>offset</key>
				<string>{48,51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/gp_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,279},{2,2}}</string>
				<key>offset</key>
				<string>{56,53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/zhounianqing/txk/wz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,425},{49,16}}</string>
				<key>offset</key>
				<string>{-4,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/x1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,347},{109,19}}</string>
				<key>offset</key>
				<string>{-2,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,283},{77,67}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,199},{87,74}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,111},{89,78}}</string>
				<key>offset</key>
				<string>{-8,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,198},{90,80}}</string>
				<key>offset</key>
				<string>{-8,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,97},{91,81}}</string>
				<key>offset</key>
				<string>{-9,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,97},{91,81}}</string>
				<key>offset</key>
				<string>{-9,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,5},{90,82}}</string>
				<key>offset</key>
				<string>{-8,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,190},{89,82}}</string>
				<key>offset</key>
				<string>{-9,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,203},{89,77}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,302},{88,79}}</string>
				<key>offset</key>
				<string>{-9,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,282},{88,72}}</string>
				<key>offset</key>
				<string>{-9,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,280},{90,57}}</string>
				<key>offset</key>
				<string>{-7,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,5},{92,64}}</string>
				<key>offset</key>
				<string>{-6,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,197},{90,69}}</string>
				<key>offset</key>
				<string>{-6,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,107},{86,76}}</string>
				<key>offset</key>
				<string>{-4,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,282},{77,67}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,199},{87,74}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,113},{89,78}}</string>
				<key>offset</key>
				<string>{-8,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,298},{90,80}}</string>
				<key>offset</key>
				<string>{-8,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,99},{91,81}}</string>
				<key>offset</key>
				<string>{-9,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,188},{91,81}}</string>
				<key>offset</key>
				<string>{-9,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,5},{90,82}}</string>
				<key>offset</key>
				<string>{-8,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,279},{89,82}}</string>
				<key>offset</key>
				<string>{-9,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,107},{89,77}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,107},{88,79}}</string>
				<key>offset</key>
				<string>{-9,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,115},{88,72}}</string>
				<key>offset</key>
				<string>{-9,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,282},{90,57}}</string>
				<key>offset</key>
				<string>{-7,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,276},{92,64}}</string>
				<key>offset</key>
				<string>{-6,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,201},{90,69}}</string>
				<key>offset</key>
				<string>{-6,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/lz/lz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,196},{86,76}}</string>
				<key>offset</key>
				<string>{-4,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/zhounianqing/txk/bc02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,378},{20,70}}</string>
				<key>offset</key>
				<string>{48,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhounianqing_touxiangkuang.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhounianqing_touxiangkuang.png</string>
			<key>size</key>
			<string>{1024,497}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>497</integer>
		</dict>
	</dict>
</plist>