<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,129},{62,128}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{70,123}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,261},{73,100}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,129},{73,99}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,2},{62,108}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/d11/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,2},{47,114}}</string>
				<key>offset</key>
				<string>{-1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_guaiwushuaxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_guaiwushuaxin.png</string>
			<key>size</key>
			<string>{191,363}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>191</integer>
			<key>height</key>
			<integer>363</integer>
		</dict>
	</dict>
</plist>