<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_mijing_saodang/saodanga_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,555},{183,184}}</string>
				<key>offset</key>
				<string>{-13,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,393}</string>
			</dict>
			<key>img/ani_mijing_saodang/saodangb_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{211,211}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,353}</string>
			</dict>
			<key>img/ani_mijing_saodang/10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,771},{199,178}}</string>
				<key>offset</key>
				<string>{-27,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,504},{230,137}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,572},{221,186}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{206,186}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,738},{199,178}}</string>
				<key>offset</key>
				<string>{-27,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,675},{230,137}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,382},{230,186}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,365},{260,186}}</string>
				<key>offset</key>
				<string>{19,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,184},{314,178}}</string>
				<key>offset</key>
				<string>{29,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,192},{308,137}}</string>
				<key>offset</key>
				<string>{16,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,2},{359,186}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,2},{360,186}}</string>
				<key>offset</key>
				<string>{15,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{385,178}}</string>
				<key>offset</key>
				<string>{10,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,382},{289,141}}</string>
				<key>offset</key>
				<string>{-38,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,192},{286,186}}</string>
				<key>offset</key>
				<string>{-39,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
			<key>img/ani_mijing_saodang/10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,762},{206,186}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_mijing_saodang2.png</string>
			<key>realTextureFileName</key>
			<string>ani_mijing_saodang2.png</string>
			<key>size</key>
			<string>{1013,951}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1013</integer>
			<key>height</key>
			<integer>951</integer>
		</dict>
	</dict>
</plist>