<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/anying/cj_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,546},{71,146}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,231},{73,146}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,207},{74,147}}</string>
				<key>offset</key>
				<string>{-13,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,2},{75,147}}</string>
				<key>offset</key>
				<string>{-14,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,128},{75,147}}</string>
				<key>offset</key>
				<string>{-14,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,128},{75,146}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,153},{74,146}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,278},{73,145}}</string>
				<key>offset</key>
				<string>{-15,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,285},{72,145}}</string>
				<key>offset</key>
				<string>{-15,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,937},{69,144}}</string>
				<key>offset</key>
				<string>{-16,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,845},{68,144}}</string>
				<key>offset</key>
				<string>{-15,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,595},{67,144}}</string>
				<key>offset</key>
				<string>{-15,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,696},{69,145}}</string>
				<key>offset</key>
				<string>{-15,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,551},{92,113}}</string>
				<key>offset</key>
				<string>{25,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,308},{92,114}}</string>
				<key>offset</key>
				<string>{25,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,361},{91,115}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,427},{91,115}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,456},{91,115}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,500},{91,115}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,404},{92,114}}</string>
				<key>offset</key>
				<string>{25,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,647},{92,113}}</string>
				<key>offset</key>
				<string>{25,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,917},{92,112}}</string>
				<key>offset</key>
				<string>{25,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,595},{93,111}}</string>
				<key>offset</key>
				<string>{24,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,692},{93,111}}</string>
				<key>offset</key>
				<string>{24,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,885},{93,110}}</string>
				<key>offset</key>
				<string>{24,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,743},{93,111}}</string>
				<key>offset</key>
				<string>{24,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,840},{93,111}}</string>
				<key>offset</key>
				<string>{24,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/cj_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,789},{92,112}}</string>
				<key>offset</key>
				<string>{25,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,183}</string>
			</dict>
			<key>img/6zhongzu/anying/aya.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,959}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,959}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{122,270}}</string>
				<key>offset</key>
				<string>{-48,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_anying1.png</string>
			<key>realTextureFileName</key>
			<string>ani_anying1.png</string>
			<key>size</key>
			<string>{1024,1011}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>