<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wukongtouxiangkuang/ktyw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,156},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,260},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,364},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,468},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,572},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,676},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,780},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,884},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,988},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1092},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1196},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1300},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1404},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1508},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1612},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1716},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1820},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1924},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,156},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,260},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,364},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,468},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,572},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,676},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,780},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,884},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,988},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1092},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1196},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1300},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1404},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1508},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1612},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1716},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1820},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1924},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,156},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,2},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,260},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,364},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,468},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,572},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,676},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,780},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/ktyw_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,884},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/lz/lz_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/kz/kz_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/wukongtouxiangkuang/y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2004},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>img/wukongtouxiangkuang/y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,2004},{34,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,26}</string>
			</dict>
			<key>img/wukongtouxiangkuang/y3.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,2004},{33,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_dasheng_touxiangkuang_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_dasheng_touxiangkuang_dh.png</string>
			<key>size</key>
			<string>{1460,2041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1460</integer>
			<key>height</key>
			<integer>2041</integer>
		</dict>
	</dict>
</plist>