<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_jinjie/xx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,79},{1,1}}</string>
				<key>offset</key>
				<string>{49,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,238},{7,18}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,238},{11,30}}</string>
				<key>offset</key>
				<string>{-2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,876},{17,38}}</string>
				<key>offset</key>
				<string>{-2,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,988},{22,42}}</string>
				<key>offset</key>
				<string>{-2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,989},{28,45}}</string>
				<key>offset</key>
				<string>{-2,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,938},{34,46}}</string>
				<key>offset</key>
				<string>{-2,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,938},{42,47}}</string>
				<key>offset</key>
				<string>{-2,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,876},{58,47}}</string>
				<key>offset</key>
				<string>{-2,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,802},{70,48}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{72,49}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,650},{72,52}}</string>
				<key>offset</key>
				<string>{-3,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{72,59}}</string>
				<key>offset</key>
				<string>{-3,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,498},{72,63}}</string>
				<key>offset</key>
				<string>{-3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,2},{72,65}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,161},{73,66}}</string>
				<key>offset</key>
				<string>{-3,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2},{73,67}}</string>
				<key>offset</key>
				<string>{-3,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,84},{73,71}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,340},{73,77}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,172},{73,80}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{73,81}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,87},{73,81}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{72,80}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,256},{70,79}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,421},{63,73}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,2},{68,78}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,84},{64,75}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,161},{65,74}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,249},{1,1}}</string>
				<key>offset</key>
				<string>{49,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_jinjie/xx_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,249},{1,1}}</string>
				<key>offset</key>
				<string>{49,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_jinjie_xinxing.png</string>
			<key>realTextureFileName</key>
			<string>ani_jinjie_xinxing.png</string>
			<key>size</key>
			<string>{289,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>289</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>