<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/qunxiongjijie_moshiti/lzg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,902},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,182},{20,29}}</string>
				<key>offset</key>
				<string>{-10,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,805},{23,29}}</string>
				<key>offset</key>
				<string>{-10,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,805},{23,28}}</string>
				<key>offset</key>
				<string>{-10,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,805},{24,28}}</string>
				<key>offset</key>
				<string>{-10,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,674},{25,27}}</string>
				<key>offset</key>
				<string>{-11,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,674},{25,40}}</string>
				<key>offset</key>
				<string>{-11,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,787},{39,40}}</string>
				<key>offset</key>
				<string>{-4,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,980},{41,41}}</string>
				<key>offset</key>
				<string>{-4,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,980},{41,42}}</string>
				<key>offset</key>
				<string>{-4,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,980},{42,42}}</string>
				<key>offset</key>
				<string>{-3,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,698},{50,44}}</string>
				<key>offset</key>
				<string>{1,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,650},{51,44}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,591},{52,55}}</string>
				<key>offset</key>
				<string>{1,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,970},{52,59}}</string>
				<key>offset</key>
				<string>{1,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,424},{54,62}}</string>
				<key>offset</key>
				<string>{1,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,355},{54,65}}</string>
				<key>offset</key>
				<string>{1,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,965},{54,67}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,451},{73,69}}</string>
				<key>offset</key>
				<string>{-8,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,188},{75,72}}</string>
				<key>offset</key>
				<string>{-8,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,190},{76,74}}</string>
				<key>offset</key>
				<string>{-8,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,787},{76,76}}</string>
				<key>offset</key>
				<string>{-8,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,592},{77,78}}</string>
				<key>offset</key>
				<string>{-9,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,403},{77,81}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,403},{78,83}}</string>
				<key>offset</key>
				<string>{-8,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,93},{79,85}}</string>
				<key>offset</key>
				<string>{-9,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,2},{79,87}}</string>
				<key>offset</key>
				<string>{-9,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,210},{80,88}}</string>
				<key>offset</key>
				<string>{-9,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,711},{81,90}}</string>
				<key>offset</key>
				<string>{-9,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,616},{81,91}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,813},{82,93}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,715},{82,94}}</string>
				<key>offset</key>
				<string>{-9,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,616},{83,95}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,516},{84,96}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,415},{84,97}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,313},{84,98}}</string>
				<key>offset</key>
				<string>{-9,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,210},{85,99}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,596},{60,100}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{86,100}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,488},{60,100}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,106},{86,100}}</string>
				<key>offset</key>
				<string>{-9,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,490},{62,102}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,490},{62,104}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,899},{62,105}}</string>
				<key>offset</key>
				<string>{4,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,832},{63,106}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,902},{64,109}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,528},{59,83}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,833},{65,112}}</string>
				<key>offset</key>
				<string>{3,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,715},{66,114}}</string>
				<key>offset</key>
				<string>{3,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,910},{66,115}}</string>
				<key>offset</key>
				<string>{3,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,267},{61,84}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,961},{61,89}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,361},{61,86}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,270},{62,87}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,96},{63,88}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,2},{62,88}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,270},{62,88}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,96},{63,90}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,970},{52,85}}</string>
				<key>offset</key>
				<string>{12,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,867},{64,90}}</string>
				<key>offset</key>
				<string>{5,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/lzg_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,2},{64,90}}</string>
				<key>offset</key>
				<string>{5,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,703},{73,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,128}</string>
			</dict>
			<key>img/qunxiongjijie_moshiti/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,313},{82,86}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_qunxiongjijie_moshiti.png</string>
			<key>realTextureFileName</key>
			<string>ani_qunxiongjijie_moshiti.png</string>
			<key>size</key>
			<string>{452,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>452</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>