<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/vipkefu/hg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{52,61}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/vipkefu/hgg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,2},{55,62}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/vipkefu/qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,2},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/vipkefu/reg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,41},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,51},{26,42}}</string>
				<key>offset</key>
				<string>{-60,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{46,45}}</string>
				<key>offset</key>
				<string>{-50,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,2},{67,45}}</string>
				<key>offset</key>
				<string>{-40,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,41},{79,45}}</string>
				<key>offset</key>
				<string>{-25,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,41},{76,45}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,90},{79,43}}</string>
				<key>offset</key>
				<string>{17,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,2},{68,41}}</string>
				<key>offset</key>
				<string>{38,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,47},{47,39}}</string>
				<key>offset</key>
				<string>{49,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/reg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,81},{30,34}}</string>
				<key>offset</key>
				<string>{58,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/vipkefu/rz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{138,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,35}</string>
			</dict>
			<key>img/vipkefu/wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,51},{68,20}}</string>
				<key>offset</key>
				<string>{3,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_vipkefu.png</string>
			<key>realTextureFileName</key>
			<string>ani_vipkefu.png</string>
			<key>size</key>
			<string>{538,135}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>538</integer>
			<key>height</key>
			<integer>135</integer>
		</dict>
	</dict>
</plist>