<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yaosai_zuigaoji/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,217},{1,1}}</string>
				<key>offset</key>
				<string>{149,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,733},{3,26}}</string>
				<key>offset</key>
				<string>{-23,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,644},{4,40}}</string>
				<key>offset</key>
				<string>{-23,-83}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,427},{6,58}}</string>
				<key>offset</key>
				<string>{-23,-78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,427},{7,72}}</string>
				<key>offset</key>
				<string>{-23,-73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,720},{9,83}}</string>
				<key>offset</key>
				<string>{-23,-68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,720},{9,86}}</string>
				<key>offset</key>
				<string>{-23,-63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,850},{25,95}}</string>
				<key>offset</key>
				<string>{-15,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,695},{26,110}}</string>
				<key>offset</key>
				<string>{-14,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,915},{27,124}}</string>
				<key>offset</key>
				<string>{-14,-65}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,923},{28,136}}</string>
				<key>offset</key>
				<string>{-13,-65}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,733},{29,145}}</string>
				<key>offset</key>
				<string>{-13,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,923},{29,145}}</string>
				<key>offset</key>
				<string>{-13,-56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,961},{61,147}}</string>
				<key>offset</key>
				<string>{-29,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{63,146}}</string>
				<key>offset</key>
				<string>{-30,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,939},{64,145}}</string>
				<key>offset</key>
				<string>{-30,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,870},{65,146}}</string>
				<key>offset</key>
				<string>{-31,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,695},{65,151}}</string>
				<key>offset</key>
				<string>{-31,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,626},{65,153}}</string>
				<key>offset</key>
				<string>{-31,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,946},{65,167}}</string>
				<key>offset</key>
				<string>{-31,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,651},{64,179}}</string>
				<key>offset</key>
				<string>{-31,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,956},{64,191}}</string>
				<key>offset</key>
				<string>{-31,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,652},{64,203}}</string>
				<key>offset</key>
				<string>{-31,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,959},{63,211}}</string>
				<key>offset</key>
				<string>{-32,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,2},{126,217}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,736},{126,219}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,736},{127,221}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,501},{128,231}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{128,241}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{128,250}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,223},{129,212}}</string>
				<key>offset</key>
				<string>{3,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,2},{129,211}}</string>
				<key>offset</key>
				<string>{3,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,439},{128,209}}</string>
				<key>offset</key>
				<string>{4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,437},{128,185}}</string>
				<key>offset</key>
				<string>{4,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,719},{127,192}}</string>
				<key>offset</key>
				<string>{4,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,720},{127,199}}</string>
				<key>offset</key>
				<string>{4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,439},{127,201}}</string>
				<key>offset</key>
				<string>{4,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,222},{126,201}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,695},{113,171}}</string>
				<key>offset</key>
				<string>{11,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,2},{113,169}}</string>
				<key>offset</key>
				<string>{11,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,2},{112,169}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,269},{111,167}}</string>
				<key>offset</key>
				<string>{11,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,175},{111,168}}</string>
				<key>offset</key>
				<string>{11,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,347},{111,166}}</string>
				<key>offset</key>
				<string>{11,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,416},{110,166}}</string>
				<key>offset</key>
				<string>{12,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,517},{109,165}}</string>
				<key>offset</key>
				<string>{11,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,384},{109,160}}</string>
				<key>offset</key>
				<string>{11,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,686},{108,158}}</string>
				<key>offset</key>
				<string>{12,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,497},{108,154}}</string>
				<key>offset</key>
				<string>{12,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,848},{106,149}}</string>
				<key>offset</key>
				<string>{12,61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,152},{66,113}}</string>
				<key>offset</key>
				<string>{32,53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,347},{65,109}}</string>
				<key>offset</key>
				<string>{32,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,347},{65,105}}</string>
				<key>offset</key>
				<string>{32,72}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,175},{64,101}}</string>
				<key>offset</key>
				<string>{32,82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,517},{64,98}}</string>
				<key>offset</key>
				<string>{32,91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,619},{63,95}}</string>
				<key>offset</key>
				<string>{32,102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,517},{62,90}}</string>
				<key>offset</key>
				<string>{32,111}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,384},{62,80}}</string>
				<key>offset</key>
				<string>{32,117}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,644},{3,31}}</string>
				<key>offset</key>
				<string>{3,105}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_zuigaoji/gx_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,733},{3,24}}</string>
				<key>offset</key>
				<string>{3,115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yaosai_zuigaoji.png</string>
			<key>realTextureFileName</key>
			<string>ani_yaosai_zuigaoji.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>