<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,824},{73,152}}</string>
				<key>offset</key>
				<string>{2,95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,744},{159,76}}</string>
				<key>offset</key>
				<string>{-2,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{78,172}}</string>
				<key>offset</key>
				<string>{3,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,2},{98,191}}</string>
				<key>offset</key>
				<string>{-3,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,410},{125,175}}</string>
				<key>offset</key>
				<string>{-3,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,205},{116,183}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{127,209}}</string>
				<key>offset</key>
				<string>{-11,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,205},{184,201}}</string>
				<key>offset</key>
				<string>{-9,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{187,199}}</string>
				<key>offset</key>
				<string>{-8,-61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
			<key>img/ani_tanxian_guaiwushuaixn/1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,623},{187,117}}</string>
				<key>offset</key>
				<string>{-9,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,343}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian_guaiwushuaxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian_guaiwushuaxin.png</string>
			<key>size</key>
			<string>{375,978}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>375</integer>
			<key>height</key>
			<integer>978</integer>
		</dict>
	</dict>
</plist>