<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/honse_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,110},{98,98}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,2},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,219},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,328},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,546},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,655},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,764},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,873},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/5/honse_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,110},{105,104}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_hong.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_hong.png</string>
			<key>size</key>
			<string>{981,980}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>981</integer>
			<key>height</key>
			<integer>980</integer>
		</dict>
	</dict>
</plist>