<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_jiesuoxinwanfa/123569.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,2},{78,282}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,282}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,238},{209,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,57}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/gq0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{236,232}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,445}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/guangqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,176},{45,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/htx.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,288},{333,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,60}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,287},{168,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,33}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,2},{153,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,101},{152,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,2},{153,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,35},{153,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,35},{153,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,68},{153,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,299},{154,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/jsxwf_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,68},{153,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,68}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,176},{99,107}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,173}</string>
			</dict>
			<key>img/ani_jiesuoxinwanfa/tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,2},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_jiesuoxinwanfa.png</string>
			<key>realTextureFileName</key>
			<string>ani_jiesuoxinwanfa.png</string>
			<key>size</key>
			<string>{810,350}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>810</integer>
			<key>height</key>
			<integer>350</integer>
		</dict>
	</dict>
</plist>