<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/sanzhounian/3_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/fg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,456},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/kt_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,910},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,910},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,910},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,910},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,2},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,118},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,234},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,350},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/touxiangkuang/sanzhounian/hy/hy_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,456},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_znq3.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_znq3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>