<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang_anci/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,1015},{6,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1015},{6,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1015},{7,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,788},{27,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,226},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{20,1015},{6,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,226},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,88},{15,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,226},{17,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,510},{133,42}}</string>
				<key>offset</key>
				<string>{1,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,276},{135,43}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,276},{135,43}}</string>
				<key>offset</key>
				<string>{0,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,693},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,554},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,273},{133,42}}</string>
				<key>offset</key>
				<string>{1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1},{134,43}}</string>
				<key>offset</key>
				<string>{1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1},{136,43}}</string>
				<key>offset</key>
				<string>{0,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,140},{134,44}}</string>
				<key>offset</key>
				<string>{1,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,418},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{137,44}}</string>
				<key>offset</key>
				<string>{-1,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,464},{136,44}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/hy/hy_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,137},{134,43}}</string>
				<key>offset</key>
				<string>{1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,692},{34,32}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,764},{34,32}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,764},{34,32}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,728},{34,32}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,827},{33,33}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,729},{33,33}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,826},{31,34}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,898},{31,35}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,935},{31,35}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,862},{31,35}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,154},{32,35}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,692},{32,35}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,862},{32,34}}</string>
				<key>offset</key>
				<string>{-45,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{34,33}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/pd/pd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,37},{34,33}}</string>
				<key>offset</key>
				<string>{-45,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1015},{1,1}}</string>
				<key>offset</key>
				<string>{140,-130}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,109},{16,11}}</string>
				<key>offset</key>
				<string>{-40,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,109},{17,10}}</string>
				<key>offset</key>
				<string>{-42,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,920},{20,34}}</string>
				<key>offset</key>
				<string>{-41,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,83},{21,35}}</string>
				<key>offset</key>
				<string>{-43,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,824},{22,36}}</string>
				<key>offset</key>
				<string>{-44,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,83},{21,41}}</string>
				<key>offset</key>
				<string>{-46,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,800},{22,43}}</string>
				<key>offset</key>
				<string>{-47,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,76},{23,52}}</string>
				<key>offset</key>
				<string>{-49,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,215},{23,53}}</string>
				<key>offset</key>
				<string>{-51,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,248},{23,56}}</string>
				<key>offset</key>
				<string>{-52,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,188},{25,59}}</string>
				<key>offset</key>
				<string>{-53,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,245},{25,60}}</string>
				<key>offset</key>
				<string>{-55,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,198},{26,76}}</string>
				<key>offset</key>
				<string>{-56,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,245},{25,82}}</string>
				<key>offset</key>
				<string>{-58,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,378},{25,81}}</string>
				<key>offset</key>
				<string>{-60,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,106},{51,80}}</string>
				<key>offset</key>
				<string>{-48,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{51,80}}</string>
				<key>offset</key>
				<string>{-50,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{51,85}}</string>
				<key>offset</key>
				<string>{-52,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,109},{50,87}}</string>
				<key>offset</key>
				<string>{-52,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,272},{50,92}}</string>
				<key>offset</key>
				<string>{-54,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,273},{49,103}}</string>
				<key>offset</key>
				<string>{-56,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1},{49,106}}</string>
				<key>offset</key>
				<string>{-57,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1},{47,119}}</string>
				<key>offset</key>
				<string>{-58,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,122},{45,121}}</string>
				<key>offset</key>
				<string>{-59,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,122},{44,124}}</string>
				<key>offset</key>
				<string>{-60,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,418},{49,134}}</string>
				<key>offset</key>
				<string>{-60,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,280},{51,136}}</string>
				<key>offset</key>
				<string>{-62,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,140},{51,138}}</string>
				<key>offset</key>
				<string>{-64,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{52,137}}</string>
				<key>offset</key>
				<string>{-66,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1},{52,73}}</string>
				<key>offset</key>
				<string>{-68,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,106},{38,46}}</string>
				<key>offset</key>
				<string>{-63,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,851},{39,23}}</string>
				<key>offset</key>
				<string>{-66,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,895},{41,23}}</string>
				<key>offset</key>
				<string>{-69,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,764},{43,22}}</string>
				<key>offset</key>
				<string>{-72,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,945},{47,22}}</string>
				<key>offset</key>
				<string>{-76,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,729},{47,23}}</string>
				<key>offset</key>
				<string>{-78,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,778},{47,23}}</string>
				<key>offset</key>
				<string>{-79,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,851},{42,22}}</string>
				<key>offset</key>
				<string>{-77,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,826},{43,23}}</string>
				<key>offset</key>
				<string>{-79,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,800},{45,24}}</string>
				<key>offset</key>
				<string>{-82,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,898},{45,24}}</string>
				<key>offset</key>
				<string>{-83,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,88},{13,18}}</string>
				<key>offset</key>
				<string>{-68,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,88},{14,16}}</string>
				<key>offset</key>
				<string>{-69,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/touxiangkuang_anci/tx/yumao/ym_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,226},{17,18}}</string>
				<key>offset</key>
				<string>{-71,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_anci.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_anci.png</string>
			<key>size</key>
			<string>{439,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>439</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>