<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/anniu/biaozhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{86,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,84}</string>
			</dict>
			<key>img/shenchong/anniu/scbg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,87},{49,48}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,213},{123,110}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,219},{121,110}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,325},{117,110}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,214},{119,110}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,271},{123,107}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{128,107}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1},{130,107}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,106},{131,105}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{133,105}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1},{134,103}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{135,103}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,108},{135,101}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{134,99}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,245},{133,99}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,110},{133,102}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,137},{132,103}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,110},{131,105}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,1},{130,105}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1},{129,107}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1},{128,107}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,110},{126,107}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,110},{125,108}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shenchong/anniu/zqq_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,217},{123,110}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_anniu1.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_anniu1.png</string>
			<key>size</key>
			<string>{1014,436}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>436</integer>
		</dict>
	</dict>
</plist>