<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,259},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,293},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,327},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,361},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,395},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,429},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,463},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,259},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/huoyan/hy_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,163},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,250},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,380},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,185},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,250},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,315},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,380},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,445},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb/pb_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,163},{28,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/bs1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,228},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/bs2_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>img/touxiangkuang/shengnv/pb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,139},{64,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,22}</string>
			</dict>
			<key>img/touxiangkuang/sn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{135,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_shengnv.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_shengnv.png</string>
			<key>size</key>
			<string>{137,509}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>509</integer>
		</dict>
	</dict>
</plist>