<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,178},{12,13}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,292},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,222},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,287},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,287},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,299},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,321},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,321},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,306},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi1/ss_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,333},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,250},{17,19}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,194},{23,24}}</string>
				<key>offset</key>
				<string>{0,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,263},{32,34}}</string>
				<key>offset</key>
				<string>{1,33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,360},{53,55}}</string>
				<key>offset</key>
				<string>{2,32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,234},{81,72}}</string>
				<key>offset</key>
				<string>{4,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,74},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,2},{116,118}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,124},{107,118}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,310},{69,68}}</string>
				<key>offset</key>
				<string>{2,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/baoshi2/stz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,271},{17,19}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/ls_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,124},{24,14}}</string>
				<key>offset</key>
				<string>{0,47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/lsst_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,152},{22,12}}</string>
				<key>offset</key>
				<string>{0,47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/zs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,196},{115,107}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/zsl_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,122},{117,108}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,235},{1,1}}</string>
				<key>offset</key>
				<string>{58,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,195},{66,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,191},{70,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,414},{71,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,191},{68,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,195},{66,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,417},{84,28}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,234},{102,31}}</string>
				<key>offset</key>
				<string>{0,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,242},{114,39}}</string>
				<key>offset</key>
				<string>{0,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,124},{114,42}}</string>
				<key>offset</key>
				<string>{0,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,184},{116,48}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,124},{114,56}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,124},{114,63}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,194},{113,66}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,124},{112,67}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,235},{110,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,307},{109,66}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,124},{114,66}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,196},{118,66}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,266},{118,61}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,184},{118,54}}</string>
				<key>offset</key>
				<string>{0,32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,304},{118,47}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,2},{118,42}}</string>
				<key>offset</key>
				<string>{0,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,340},{102,35}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,382},{84,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,227},{64,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,259},{64,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,223},{64,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,255},{62,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/jinbian/jinbian_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,265},{60,28}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>img/ani_vip12zhuanshu/zg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_vip12zhuanshu.png</string>
			<key>realTextureFileName</key>
			<string>ani_vip12zhuanshu.png</string>
			<key>size</key>
			<string>{1023,503}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>503</integer>
		</dict>
	</dict>
</plist>