<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xin_sc/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,819},{601,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,48}</string>
			</dict>
			<key>img/xin_sc/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,869},{601,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,48}</string>
			</dict>
			<key>img/xin_sc/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{601,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,48}</string>
			</dict>
			<key>img/xin_sc/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{618,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,369}</string>
			</dict>
			<key>img/xin_sc/db.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1},{294,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,91}</string>
			</dict>
			<key>img/xin_sc/sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,94},{264,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,94}</string>
			</dict>
			<key>img/xin_sc/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,190},{140,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,173}</string>
			</dict>
			<key>img/xin_sc/gq0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,372},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,445}</string>
			</dict>
			<key>img/xin_sc/guangqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,190},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img/xin_sc/123569.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1},{81,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,282}</string>
			</dict>
			<key>img/xin_sc/1121.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,285},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>img/xin_sc/lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,360},{187,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shouchong.png</string>
			<key>realTextureFileName</key>
			<string>ani_shouchong.png</string>
			<key>size</key>
			<string>{999,968}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>999</integer>
			<key>height</key>
			<integer>968</integer>
		</dict>
	</dict>
</plist>