<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{195,243}}</string>
				<key>offset</key>
				<string>{-18,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,475},{189,242}}</string>
				<key>offset</key>
				<string>{-21,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,721},{149,217}}</string>
				<key>offset</key>
				<string>{-28,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,896},{82,177}}</string>
				<key>offset</key>
				<string>{-18,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,942},{60,127}}</string>
				<key>offset</key>
				<string>{10,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,249},{222,211}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,2},{222,211}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,645},{163,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,812},{162,163}}</string>
				<key>offset</key>
				<string>{7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,228},{162,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,395},{162,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,228},{162,163}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,562},{161,162}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,395},{161,162}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,475},{161,166}}</string>
				<key>offset</key>
				<string>{6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,721},{160,171}}</string>
				<key>offset</key>
				<string>{7,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
			<key>img/shizijun_nanduxuanze/shan/baodian_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,2},{153,150}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenbing_jihuo2.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenbing_jihuo2.png</string>
			<key>size</key>
			<string>{689,1004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>689</integer>
			<key>height</key>
			<integer>1004</integer>
		</dict>
	</dict>
</plist>