<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_xinshoulingqu/btn_xsjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,126},{95,74}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,107}</string>
			</dict>
			<key>img/ani_xinshoulingqu/btn_xsjl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,82},{93,34}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,107}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,84},{95,75}}</string>
				<key>offset</key>
				<string>{-1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,2},{95,76}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,2},{95,76}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,218},{96,87}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,131},{96,92}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,125},{105,102}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,2},{120,120}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,2},{131,120}}</string>
				<key>offset</key>
				<string>{-3,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{139,125}}</string>
				<key>offset</key>
				<string>{-2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2},{131,119}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,126},{117,88}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,2},{97,78}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,227},{96,78}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,2},{95,77}}</string>
				<key>offset</key>
				<string>{-1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,82},{95,76}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/ani_xinshoulingqu/baoxiang_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,83},{95,76}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xinshoulingqu.png</string>
			<key>realTextureFileName</key>
			<string>ani_xinshoulingqu.png</string>
			<key>size</key>
			<string>{935,307}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>935</integer>
			<key>height</key>
			<integer>307</integer>
		</dict>
	</dict>
</plist>