<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/qz/qz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,2},{50,17}}</string>
				<key>offset</key>
				<string>{0,-394}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,302},{128,68}}</string>
				<key>offset</key>
				<string>{-4,-382}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,107},{184,92}}</string>
				<key>offset</key>
				<string>{0,-377}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,104},{186,96}}</string>
				<key>offset</key>
				<string>{0,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2},{190,98}}</string>
				<key>offset</key>
				<string>{0,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,2},{192,99}}</string>
				<key>offset</key>
				<string>{0,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,2},{195,101}}</string>
				<key>offset</key>
				<string>{-1,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{198,103}}</string>
				<key>offset</key>
				<string>{-2,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,2},{197,103}}</string>
				<key>offset</key>
				<string>{-3,-376}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,105},{197,90}}</string>
				<key>offset</key>
				<string>{-5,-384}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,105},{193,88}}</string>
				<key>offset</key>
				<string>{-7,-385}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,204},{192,79}}</string>
				<key>offset</key>
				<string>{-5,-389}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz/qz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,56},{11,71}}</string>
				<key>offset</key>
				<string>{-91,-384}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,287},{92,120}}</string>
				<key>offset</key>
				<string>{-1,-405}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1800}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shendianmigong_qizhi.png</string>
			<key>realTextureFileName</key>
			<string>ani_shendianmigong_qizhi.png</string>
			<key>size</key>
			<string>{1013,432}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1013</integer>
			<key>height</key>
			<integer>432</integer>
		</dict>
	</dict>
</plist>