<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_touxiangkuang_heifeng/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{108,123}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,521},{96,119}}</string>
				<key>offset</key>
				<string>{32,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,779},{92,119}}</string>
				<key>offset</key>
				<string>{30,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,2},{64,107}}</string>
				<key>offset</key>
				<string>{44,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,368},{76,112}}</string>
				<key>offset</key>
				<string>{22,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,386},{77,113}}</string>
				<key>offset</key>
				<string>{21,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,397},{98,120}}</string>
				<key>offset</key>
				<string>{32,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,262},{98,131}}</string>
				<key>offset</key>
				<string>{33,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,2},{67,130}}</string>
				<key>offset</key>
				<string>{49,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,514},{76,112}}</string>
				<key>offset</key>
				<string>{22,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,251},{77,113}}</string>
				<key>offset</key>
				<string>{21,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,129},{100,129}}</string>
				<key>offset</key>
				<string>{34,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,630},{76,112}}</string>
				<key>offset</key>
				<string>{22,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,118},{77,113}}</string>
				<key>offset</key>
				<string>{21,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,644},{87,131}}</string>
				<key>offset</key>
				<string>{28,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,644},{85,127}}</string>
				<key>offset</key>
				<string>{26,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,262},{76,120}}</string>
				<key>offset</key>
				<string>{22,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,96},{18,60}}</string>
				<key>offset</key>
				<string>{51,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,73},{19,61}}</string>
				<key>offset</key>
				<string>{51,47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,73},{20,62}}</string>
				<key>offset</key>
				<string>{52,51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1000},{20,64}}</string>
				<key>offset</key>
				<string>{52,56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1000},{20,64}}</string>
				<key>offset</key>
				<string>{53,61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,97},{19,64}}</string>
				<key>offset</key>
				<string>{53,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd2/dd_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1017},{1,1}}</string>
				<key>offset</key>
				<string>{59,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1017},{5,5}}</string>
				<key>offset</key>
				<string>{-37,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,746},{79,104}}</string>
				<key>offset</key>
				<string>{-18,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,775},{86,109}}</string>
				<key>offset</key>
				<string>{-22,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,902},{91,111}}</string>
				<key>offset</key>
				<string>{-25,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,521},{92,116}}</string>
				<key>offset</key>
				<string>{-24,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,902},{82,120}}</string>
				<key>offset</key>
				<string>{-20,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,879},{78,117}}</string>
				<key>offset</key>
				<string>{-19,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,129},{76,118}}</string>
				<key>offset</key>
				<string>{-17,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,641},{77,120}}</string>
				<key>offset</key>
				<string>{-17,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,888},{76,121}}</string>
				<key>offset</key>
				<string>{-17,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,765},{75,122}}</string>
				<key>offset</key>
				<string>{-18,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,844},{31,130}}</string>
				<key>offset</key>
				<string>{-40,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,970},{16,24}}</string>
				<key>offset</key>
				<string>{-45,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,96},{18,25}}</string>
				<key>offset</key>
				<string>{-44,51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,942},{19,24}}</string>
				<key>offset</key>
				<string>{-43,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,73},{19,25}}</string>
				<key>offset</key>
				<string>{-42,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,70},{21,32}}</string>
				<key>offset</key>
				<string>{-42,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,829},{23,33}}</string>
				<key>offset</key>
				<string>{-42,53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,905},{23,33}}</string>
				<key>offset</key>
				<string>{-41,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,867},{25,34}}</string>
				<key>offset</key>
				<string>{-41,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,484},{26,36}}</string>
				<key>offset</key>
				<string>{-40,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,484},{26,36}}</string>
				<key>offset</key>
				<string>{-39,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
			<key>img/ani_touxiangkuang_heifeng/sd/sd1_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,829},{27,34}}</string>
				<key>offset</key>
				<string>{-39,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_heifeng.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_heifeng.png</string>
			<key>size</key>
			<string>{420,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>420</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>