<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/main_btn/zslb/glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,64},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,1},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,127},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,190},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,253},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,316},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,379},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,442},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,64},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,127},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,190},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,253},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,316},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,379},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,442},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,64},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,127},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,190},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,253},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>img/main_btn/zslb/glow_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,316},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btn_zslb_tx.png</string>
			<key>realTextureFileName</key>
			<string>btn_zslb_tx.png</string>
			<key>size</key>
			<string>{252,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>