<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/carnival/bg_carnival_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{396,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,63}</string>
			</dict>
			<key>img/carnival/btn_carnival_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{105,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,50}</string>
			</dict>
			<key>img/carnival/btn_carnival_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,53},{105,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,50}</string>
			</dict>
			<key>img/carnival/img_carnival_day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,199},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,199},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day3.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,199},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day4.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,221},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day5.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,221},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,220},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_day7.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,220},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>img/carnival/img_carnival_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>img/carnival/wz_carnival_djs.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,155},{170,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,72}</string>
			</dict>
			<key>img/carnival/wz_carnival_day7.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1},{263,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,196}</string>
			</dict>
			<key>img/carnival/bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{589,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{589,152}</string>
			</dict>
			<key>img/carnival/caidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,229},{640,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,29}</string>
			</dict>
			<key>img/carnival/wz_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,105},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>img/carnival/wz_huan.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,105},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>img/carnival/wz_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,163},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>img/carnival/wz_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,163},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>img/public/jdt/img_loading_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{412,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,12}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>carnival.png</string>
			<key>realTextureFileName</key>
			<string>carnival.png</string>
			<key>size</key>
			<string>{996,273}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>996</integer>
			<key>height</key>
			<integer>273</integer>
		</dict>
	</dict>
</plist>