<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chat/bg_chat_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,638},{640,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,47}</string>
			</dict>
			<key>img/chat/btn_chat_page1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,471},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
			<key>img/chat/btn_chat_page2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
			<key>img/chat/img_chat_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,45},{26,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,15}</string>
			</dict>
			<key>img/chat/img_chat_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,631},{78,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,30}</string>
			</dict>
			<key>img/chat/wz_bg_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,439},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>img/chat/btn_chat_page1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,550},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
			<key>img/chat/btn_chat_page2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
			<key>img/chat/img_chat_horn.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,188},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>img/chat/wz_bg_chat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,439},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>img/chat/wz_bg_chat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,488},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>img/chat/chat_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,517},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>img/chat/chat_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,501},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>img/chat/head_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>img/chat/head_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,63},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>img/chat/head_o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,63},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>img/chat/chat_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,501},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>img/chat/chat_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,501},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>img/chat/img_zqwz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{592,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,60}</string>
			</dict>
			<key>img/chat/btn_chat_page3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,582},{79,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,47}</string>
			</dict>
			<key>img/chat/btn_chat_page3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,604},{79,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,47}</string>
			</dict>
			<key>img/chat/btn_chat_page4.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,517},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,47}</string>
			</dict>
			<key>img/chat/btn_chat_page4_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,439},{124,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,47}</string>
			</dict>
			<key>img/chat/img_chat_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,63},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>img/chat/img_sl_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,569},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>img/chat/btn_chat_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,146},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/chat/img_chat_sl_txd.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,495},{63,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,107}</string>
			</dict>
			<key>img/chat/btn_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,93},{58,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>img/chat/img_bq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,63},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_qpd.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1},{264,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,90}</string>
			</dict>
			<key>img/chat/img_bq_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,1},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/chat/img_bq_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,23},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/chat/btn_ltxz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,520},{101,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,47}</string>
			</dict>
			<key>img/chat/btn_ltxz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,563},{101,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,47}</string>
			</dict>
			<key>img/chat/img_bq10.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,63},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq11.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,93},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq12.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,93},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq13.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,133},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq14.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,165},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq15.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,165},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq16.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,189},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq17.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,195},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq18.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,195},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq19.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,267},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,267},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq20.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,235},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq21.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,235},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq22.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,297},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq23.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,297},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq24.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,337},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq25.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,337},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq27.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,195},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq28.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,291},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,297},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,297},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq30.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,369},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq4.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,393},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,369},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq7.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,399},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq8.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,399},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/img_bq9.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,399},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/chat/chat_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,520},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chat.png</string>
			<key>realTextureFileName</key>
			<string>chat.png</string>
			<key>size</key>
			<string>{1020,686}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>686</integer>
		</dict>
	</dict>
</plist>