<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/1_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,123},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,666},{112,38}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,123},{113,38}}</string>
				<key>offset</key>
				<string>{-4,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,123},{119,38}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{119,159}}</string>
				<key>offset</key>
				<string>{-1,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1},{120,161}}</string>
				<key>offset</key>
				<string>{-1,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,500},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,706},{121,164}}</string>
				<key>offset</key>
				<string>{-1,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,332},{121,166}}</string>
				<key>offset</key>
				<string>{-1,47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,163},{121,167}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,314},{121,147}}</string>
				<key>offset</key>
				<string>{-1,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,163},{121,149}}</string>
				<key>offset</key>
				<string>{-1,39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,891},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1},{125,172}}</string>
				<key>offset</key>
				<string>{-2,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,357},{126,176}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,891},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,535},{125,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,713},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,891},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,713},{124,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,175},{121,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,353},{121,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,175},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,353},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
			<key>png/1_0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,531},{120,176}}</string>
				<key>offset</key>
				<string>{-2,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ck_gz_ht.png</string>
			<key>realTextureFileName</key>
			<string>ck_gz_ht.png</string>
			<key>size</key>
			<string>{757,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>757</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>