<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/diaoyu/img_yu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,204},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>img/diaoyu/img_yu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,204},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>img/diaoyu/img_yu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,204},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>img/diaoyu/yugan_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,114},{165,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,159}</string>
			</dict>
			<key>img/diaoyu/yugan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,288},{111,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,150}</string>
			</dict>
			<key>img/diaoyu/yugan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,114},{115,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,153}</string>
			</dict>
			<key>img/diaoyu/yugan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,269},{115,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,153}</string>
			</dict>
			<key>img/diaoyu/img_yu.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,204},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>img/diaoyu/btn_bangzhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,204},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/diaoyu/btn_yufuzhijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,204},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/diaoyu/img_yufuzhijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{592,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,201}</string>
			</dict>
			<key>img/diaoyu/img_event_equal.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,235},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/diaoyu/img_event_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,262},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/diaoyu/yugan_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1},{111,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,285}</string>
			</dict>
			<key>img/diaoyu/yugan_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1},{111,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,285}</string>
			</dict>
			<key>img/diaoyu/img_wz_ye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,157},{76,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,23}</string>
			</dict>
			<key>img/diaoyu/img_wz_ye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1},{76,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,24}</string>
			</dict>
			<key>img/diaoyu/img_wz_ye3.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,79},{76,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>diaoyu.png</string>
			<key>realTextureFileName</key>
			<string>diaoyu.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>