<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duanwu/img_title01.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,931},{256,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,54}</string>
			</dict>
			<key>img/duanwu/img_lz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,795},{165,89}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,94}</string>
			</dict>
			<key>img/duanwu/img_lz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,438},{169,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,94}</string>
			</dict>
			<key>img/duanwu/img_lz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,533},{164,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,94}</string>
			</dict>
			<key>img/duanwu/img_lz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,341},{169,93}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,94}</string>
			</dict>
			<key>img/duanwu/img_title02.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,627},{154,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/duanwu/img_daoju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,662},{102,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,39}</string>
			</dict>
			<key>img/duanwu/img_daoju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,564},{102,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,82}</string>
			</dict>
			<key>img/duanwu/img_zd.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{65,656}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,656}</string>
			</dict>
			<key>img/duanwu/img_zw.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,283},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,20}</string>
			</dict>
			<key>img/duanwu/img_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,888},{400,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,39}</string>
			</dict>
			<key>img/duanwu/img_jdt_lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,725},{67,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>
			<key>img/duanwu/btn_cb.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,294},{63,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,72}</string>
			</dict>
			<key>img/duanwu/btn_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,650},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>img/duanwu/btn_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,650},{63,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,72}</string>
			</dict>
			<key>img/duanwu/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,2},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>img/duanwu/img_dw_lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,310}</string>
			</dict>
			<key>img/duanwu/img_banner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,662},{560,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,114}</string>
			</dict>
			<key>img/duanwu/img_banner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,780},{560,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,114}</string>
			</dict>
			<key>img/duanwu/img_banner3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{560,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,114}</string>
			</dict>
			<key>img/duanwu/bg_xh.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,120},{36,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,118}</string>
			</dict>
			<key>img/duanwu/img_bsjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,316},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/duanwu/img_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,242},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>img/duanwu/bg_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,795},{177,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,35}</string>
			</dict>
			<key>img/duanwu/img_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,705},{99,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,27}</string>
			</dict>
			<key>img/duanwu/img_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,736},{98,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,27}</string>
			</dict>
			<key>img/duanwu/img_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,726},{75,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,27}</string>
			</dict>
			<key>img/duanwu/img_wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,767},{98,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,27}</string>
			</dict>
			<key>img/duanwu/img_lz_qz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,370},{106,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,93}</string>
			</dict>
			<key>img/duanwu/img_lz_qz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,467},{106,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,93}</string>
			</dict>
			<key>img/duanwu/img_lz1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,231},{181,106}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>img/duanwu/img_lz2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,685},{185,106}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>img/duanwu/img_lz3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,118},{181,109}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>img/duanwu/img_lz4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,2},{185,112}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>img/duanwu/img_zw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,283},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>img/duanwu/wz_zd.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,120},{68,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>duanwu1.png</string>
			<key>realTextureFileName</key>
			<string>duanwu1.png</string>
			<key>size</key>
			<string>{1022,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>