<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duanwujie/qg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{160,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,120}</string>
			</dict>
			<key>img/duanwujie/shuibo/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,303},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,303},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,312},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,316},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,316},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,325},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/shuibo/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,329},{43,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,11}</string>
			</dict>
			<key>img/duanwujie/js/js_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,123},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,141},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,159},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,177},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,195},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,213},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,231},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,249},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,267},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/js/js_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,285},{97,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,16}</string>
			</dict>
			<key>img/duanwujie/chong/sb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,123},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,144},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,165},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,186},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,207},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,228},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,249},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,270},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chong/sb_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,291},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>img/duanwujie/chuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{170,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,176}</string>
			</dict>
			<key>img/duanwujie/chuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{170,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,176}</string>
			</dict>
			<key>img/duanwujie/chuan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{170,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,176}</string>
			</dict>
			<key>img/duanwujie/chuan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,179},{170,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>duanwu_chuan_tx1.png</string>
			<key>realTextureFileName</key>
			<string>duanwu_chuan_tx1.png</string>
			<key>size</key>
			<string>{510,356}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>510</integer>
			<key>height</key>
			<integer>356</integer>
		</dict>
	</dict>
</plist>