<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhongqiu/img_wz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,960},{177,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,35}</string>
			</dict>
			<key>img/zhongqiu/img_zq_ceby.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,1},{306,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,324}</string>
			</dict>
			<key>img/zhongqiu/img_zq_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,795},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/zhongqiu/img_zq_ybgf.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,159},{146,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,113}</string>
			</dict>
			<key>img/zhongqiu/img_zq_zqdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,851},{190,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,107}</string>
			</dict>
			<key>img/zhongqiu/img_zq_zqlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,639},{211,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,244}</string>
			</dict>
			<key>img/zhongqiu/img_zq_zqss.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,150},{90,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,134}</string>
			</dict>
			<key>img/zhongqiu/img_zq_tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,854},{637,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{637,159}</string>
			</dict>
			<key>img/zhongqiu/img_zq_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,795},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/zhongqiu/img_title_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,622},{180,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,12}</string>
			</dict>
			<key>img/zhongqiu/ing_zq_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,218}</string>
			</dict>
			<key>img/zhongqiu/img_wz_lb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,960},{201,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,30}</string>
			</dict>
			<key>img/zhongqiu/img_wz_lb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,992},{201,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,30}</string>
			</dict>
			<key>img/zhongqiu/img_wz_lb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,281},{201,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,30}</string>
			</dict>
			<key>img/zhongqiu/img_zq_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/zhongqiu/img_zqlb_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,516},{370,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,101}</string>
			</dict>
			<key>img/zhongqiu/img_zqlb_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{548,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,209}</string>
			</dict>
			<key>img/zhongqiu/img_zqdl_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,306},{60,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,49}</string>
			</dict>
			<key>img/zhongqiu/img_ceby_re.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,619},{260,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,174}</string>
			</dict>
			<key>img/zhongqiu/img_zhongqiu_yun.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{147,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,83}</string>
			</dict>
			<key>img/zhongqiu/img_zq_title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,57},{203,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,54}</string>
			</dict>
			<key>img/zhongqiu/img_ybgf_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,415},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
			<key>img/zhongqiu/img_zqss_xg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,242},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>
			<key>img/zhongqiu/img_zqss_xg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,113},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>
			<key>img/zhongqiu/img_zqss_zk.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,415},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>
			<key>img/zhongqiu/img_wz_lb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,274},{201,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,30}</string>
			</dict>
			<key>img/zhongqiu/img_card_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1},{137,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,142}</string>
			</dict>
			<key>img/zhongqiu/img_card_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,141},{137,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,142}</string>
			</dict>
			<key>img/zhongqiu/img_ytxx_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,306},{107,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,100}</string>
			</dict>
			<key>img/zhongqiu/img_ceby_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1},{156,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,137}</string>
			</dict>
			<key>img/zhongqiu/img_diaoluo.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,327},{323,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,187}</string>
			</dict>
			<key>img/zhongqiu/img_gongfan.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,852},{144,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,220}</string>
			</dict>
			<key>img/zhongqiu/img_libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,327},{258,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,293}</string>
			</dict>
			<key>img/zhongqiu/img_tuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,851},{89,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,160}</string>
			</dict>
			<key>img/zhongqiu/wz_zq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,486},{98,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,27}</string>
			</dict>
			<key>img/zhongqiu/wz_zq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,998},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>img/zhongqiu/wz_zq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,998},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>img/zhongqiu/wz_zq4.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,998},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>img/zhongqiu/wz_zq5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,997},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>img/zhongqiu/wz_zq6.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,997},{90,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,26}</string>
			</dict>
			<key>img/zhongqiu/token_5092.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,622},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhongqiu/token_5093.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,622},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhongqiu/token_5094.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,622},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhongqiu/token_5095.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,619},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhongqiu/token_5096.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,619},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhongqiu/token_5097.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,619},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event_zhongqiu.png</string>
			<key>realTextureFileName</key>
			<string>event_zhongqiu.png</string>
			<key>size</key>
			<string>{1302,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1302</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>