<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/double11/img_banner_khlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{623,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,236}</string>
			</dict>
			<key>img/double11/img_banner_khrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,483},{623,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,236}</string>
			</dict>
			<key>img/double11/img_banner_xyjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{623,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,242}</string>
			</dict>
			<key>img/double11/img_sj_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,319},{171,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,35}</string>
			</dict>
			<key>img/double11/wz_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,115},{258,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,59}</string>
			</dict>
			<key>img/double11/btn_khdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,262},{171,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,55}</string>
			</dict>
			<key>img/double11/wz_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,237},{206,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,59}</string>
			</dict>
			<key>img/double11/btn_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,115},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/double11/wz_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,176},{258,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,59}</string>
			</dict>
			<key>img/double11/img_bg_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,58},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>img/double11/wz_jc01.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,58},{345,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,55}</string>
			</dict>
			<key>img/double11/img_kj.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,115},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>
			<key>img/double11/wz_title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,298},{206,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,59}</string>
			</dict>
			<key>img/double11/img_jc_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,356},{68,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,53}</string>
			</dict>
			<key>img/double11/img_rq_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{462,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,34}</string>
			</dict>
			<key>img/double11/wz_jc02.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1},{395,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,55}</string>
			</dict>
			<key>img/double11/btn_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,189},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event_double11.png</string>
			<key>realTextureFileName</key>
			<string>event_double11.png</string>
			<key>size</key>
			<string>{1022,756}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>756</integer>
		</dict>
	</dict>
</plist>