<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/event/img_event_pfjh_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1},{640,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,287}</string>
			</dict>
			<key>img/event/img_event_pfjh_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,643},{178,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,123}</string>
			</dict>
			<key>img/event/img_event_pfjh_di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,768},{640,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,89}</string>
			</dict>
			<key>img/event/jijin_jianying.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,801},{32,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,115}</string>
			</dict>
			<key>img/event/jijin_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{640,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,48}</string>
			</dict>
			<key>img/event/img_ysq.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,768},{122,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,45}</string>
			</dict>
			<key>img/event/zhouka_wenzishuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,592},{534,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,67}</string>
			</dict>
			<key>img/event/zhouka_yuansu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{539,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,519}</string>
			</dict>
			<key>img/event/event_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,734},{65,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,89}</string>
			</dict>
			<key>img/event/btn_event_yxyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,661},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/event/btn_event_zdyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,661},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/event/btn_event_dhsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,801},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>img/event/btn_event_jfjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,872},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>img/event/btn_event_tzjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>img/event/chuanqitiaozhan_wenzishuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{527,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{527,68}</string>
			</dict>
			<key>img/event/img_event_chuanqitiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1},{562,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{562,142}</string>
			</dict>
			<key>img/event/chuanqizhaomu_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,643},{314,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,71}</string>
			</dict>
			<key>img/event/cqzm_ditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,565},{442,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{442,97}</string>
			</dict>
			<key>img/event/btn_event_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,661},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/event/btn_event_ghyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,661},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/event/img_cqzm_jfhl.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,643},{89,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event5.png</string>
			<key>realTextureFileName</key>
			<string>event5.png</string>
			<key>size</key>
			<string>{1024,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>