<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/public/jdt/bg_event_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,283},{334,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,30}</string>
			</dict>
			<key>img/public/jdt/img_event_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{322,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,18}</string>
			</dict>
			<key>img/event/img_event_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{328,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,283}</string>
			</dict>
			<key>img/event/img_event_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1},{328,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,283}</string>
			</dict>
			<key>img/event/wz_event_info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1},{520,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,121}</string>
			</dict>
			<key>img/event/wz_event_info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,283},{520,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,91}</string>
			</dict>
			<key>img/event/wz_event_info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,283},{520,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,91}</string>
			</dict>
			<key>img/event/img_event_song.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,919},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>img/event/img_event_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,805},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>img/event/btn_event_jlyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,821},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/event/btn_event_phjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,523},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/event/event_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,753},{37,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,66}</string>
			</dict>
			<key>img/event/img_event_equal.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,897},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/event/img_event_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,924},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>img/event/wz_event_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,927},{367,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{367,78}</string>
			</dict>
			<key>img/event/wz_event_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{403,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,104}</string>
			</dict>
			<key>img/event/wz_event_title0.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,821},{403,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,104}</string>
			</dict>
			<key>img/event/wz_event_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,286},{350,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,70}</string>
			</dict>
			<key>img/event/wz_event_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{534,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,78}</string>
			</dict>
			<key>img/event/img_event_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{280,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,219}</string>
			</dict>
			<key>img/event/wz_event_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{534,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,78}</string>
			</dict>
			<key>img/event/img_event_hdsmbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,523},{202,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,73}</string>
			</dict>
			<key>img/event/img_event1.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,619},{132,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event.png</string>
			<key>realTextureFileName</key>
			<string>event.png</string>
			<key>size</key>
			<string>{1024,1006}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1006</integer>
		</dict>
	</dict>
</plist>