<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong_dh/fazhen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{478,478}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huodong_dh/lizi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,534},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img/huodong_dh/shizi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event_zntz_tx.png</string>
			<key>realTextureFileName</key>
			<string>event_zntz_tx.png</string>
			<key>size</key>
			<string>{482,554}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>482</integer>
			<key>height</key>
			<integer>554</integer>
		</dict>
	</dict>
</plist>