<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/event/img_zsk_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,771},{419,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,64}</string>
			</dict>
			<key>img/event/img_zsk_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,788},{520,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,91}</string>
			</dict>
			<key>img/event/img_zsk_gm.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,88},{24,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,97}</string>
			</dict>
			<key>img/event/img_zsk_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,187},{24,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,96}</string>
			</dict>
			<key>img/event/img_zsk_jr.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,285},{86,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,24}</string>
			</dict>
			<key>img/event/btn_128fund.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,157},{63,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>img/event/btn_328fund.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,88},{65,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>img/event/img_fllb_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1018},{307,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,48}</string>
			</dict>
			<key>img/event/img_fllb_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1491},{640,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,48}</string>
			</dict>
			<key>img/event/img_card_czyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{306,383}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,384}</string>
			</dict>
			<key>img/event/img_card_zsbjk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{617,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,440}</string>
			</dict>
			<key>img/event/img_card_zzyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,386},{306,383}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,384}</string>
			</dict>
			<key>img/event/img_card_klq.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,905},{173,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,42}</string>
			</dict>
			<key>img/event/img_xslb_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1286},{640,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,203}</string>
			</dict>
			<key>img/event/img_xslb_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{611,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{611,224}</string>
			</dict>
			<key>img/event/img_xslb_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,669},{112,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,117}</string>
			</dict>
			<key>img/event/img_xslb_title01.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,837},{252,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title02.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,837},{241,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,950},{252,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{252,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title05.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,950},{252,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title06.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,881},{252,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_event_mrmg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1018},{640,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,266}</string>
			</dict>
			<key>img/event/wz_event_mrmg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,669},{427,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{427,117}</string>
			</dict>
			<key>img/event/img_event_mrmg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>img/event/img_xslb_title07.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,906},{251,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>img/event/img_xslb_title08.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,949},{251,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event7.png</string>
			<key>realTextureFileName</key>
			<string>event7.png</string>
			<key>size</key>
			<string>{1022,1540}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1540</integer>
		</dict>
	</dict>
</plist>