<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/fengkuangdijing/yx/xian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,520},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,590},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,660},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,554},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,697},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,767},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,697},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,624},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,353},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,262},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,423},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,493},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,332},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,402},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/yx/xian_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,193},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,124},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,124},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,944},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,682},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,751},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,559},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,820},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,416},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,485},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,284},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,193},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,124},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,889},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/ngz/zhi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,628},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,313},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,436},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,520},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,293},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,889},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,559},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/bz/zha_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,730},{89,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,121}</string>
			</dict>
			<key>img/fengkuangdijing/img_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{172,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,193}</string>
			</dict>
			<key>img/fengkuangdijing/img_dj.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,193},{94,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,89}</string>
			</dict>
			<key>img/fengkuangdijing/img_dl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{99,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,134}</string>
			</dict>
			<key>img/fengkuangdijing/img_lg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,196},{104,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,95}</string>
			</dict>
			<key>img/fengkuangdijing/img_lg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,196},{128,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,115}</string>
			</dict>
			<key>img/fengkuangdijing/img_dj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,853},{94,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,89}</string>
			</dict>
			<key>img/fengkuangdijing/img_lg_sui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,449},{166,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fengkuangdijing_dj_tx1.png</string>
			<key>realTextureFileName</key>
			<string>fengkuangdijing_dj_tx1.png</string>
			<key>size</key>
			<string>{563,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>563</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>