<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/png/pngxulie/gh_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,2},{1,1}}</string>
				<key>offset</key>
				<string>{137,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,696},{251,152}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,759},{257,156}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,762},{262,159}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,2},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,2},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,2},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,167},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,332},{263,160}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,167},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,167},{263,161}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,803},{263,160}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,496},{262,160}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,496},{260,158}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,536},{255,156}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,696},{253,154}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,496},{259,158}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,332},{262,160}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,332},{262,160}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,269},{263,161}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/fazhen/123_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{263,161}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fz_jssx3.png</string>
			<key>realTextureFileName</key>
			<string>fz_jssx3.png</string>
			<key>size</key>
			<string>{1007,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1007</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>