<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/png/gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/png/gq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,262},{241,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,240}</string>
			</dict>
			<key>img/png/gs10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,493},{7,12}}</string>
				<key>offset</key>
				<string>{-18,-194}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,724},{12,28}}</string>
				<key>offset</key>
				<string>{-20,-186}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,992},{16,45}}</string>
				<key>offset</key>
				<string>{-22,-177}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,699},{20,61}}</string>
				<key>offset</key>
				<string>{-24,-169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,746},{23,79}}</string>
				<key>offset</key>
				<string>{-26,-160}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,650},{25,97}}</string>
				<key>offset</key>
				<string>{-27,-151}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,650},{26,115}}</string>
				<key>offset</key>
				<string>{-27,-142}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,741},{27,134}}</string>
				<key>offset</key>
				<string>{-28,-133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,493},{28,153}}</string>
				<key>offset</key>
				<string>{-28,-123}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,459},{30,173}}</string>
				<key>offset</key>
				<string>{-29,-113}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,935},{30,189}}</string>
				<key>offset</key>
				<string>{-32,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,936},{30,202}}</string>
				<key>offset</key>
				<string>{-34,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,423},{32,215}}</string>
				<key>offset</key>
				<string>{-36,-76}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,970},{31,228}}</string>
				<key>offset</key>
				<string>{-37,-63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,936},{30,242}}</string>
				<key>offset</key>
				<string>{-38,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,970},{27,236}}</string>
				<key>offset</key>
				<string>{-40,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10017.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,969},{24,229}}</string>
				<key>offset</key>
				<string>{-41,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10018.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,997},{22,223}}</string>
				<key>offset</key>
				<string>{-42,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10019.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1001},{20,217}}</string>
				<key>offset</key>
				<string>{-43,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10020.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,423},{20,210}}</string>
				<key>offset</key>
				<string>{-43,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10021.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,493},{19,202}}</string>
				<key>offset</key>
				<string>{-44,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10022.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,719},{18,194}}</string>
				<key>offset</key>
				<string>{-44,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1005},{16,185}}</string>
				<key>offset</key>
				<string>{-45,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10024.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,954},{15,176}}</string>
				<key>offset</key>
				<string>{-46,56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10025.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,741},{14,172}}</string>
				<key>offset</key>
				<string>{-46,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10026.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,706},{14,170}}</string>
				<key>offset</key>
				<string>{-46,71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10027.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,973},{15,166}}</string>
				<key>offset</key>
				<string>{-46,79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10028.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,996},{16,161}}</string>
				<key>offset</key>
				<string>{-45,88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10029.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1005},{17,159}}</string>
				<key>offset</key>
				<string>{-45,95}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10030.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,932},{18,154}}</string>
				<key>offset</key>
				<string>{-44,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10031.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,493},{19,148}}</string>
				<key>offset</key>
				<string>{-44,111}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10032.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,973},{19,140}}</string>
				<key>offset</key>
				<string>{-44,118}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10033.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,724},{18,126}}</string>
				<key>offset</key>
				<string>{-43,125}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10034.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,746},{18,111}}</string>
				<key>offset</key>
				<string>{-43,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10035.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,768},{18,96}}</string>
				<key>offset</key>
				<string>{-43,140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10036.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,868},{16,81}}</string>
				<key>offset</key>
				<string>{-42,148}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10037.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,888},{14,66}}</string>
				<key>offset</key>
				<string>{-41,155}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10038.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,954},{11,52}}</string>
				<key>offset</key>
				<string>{-40,162}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10039.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,493},{9,37}}</string>
				<key>offset</key>
				<string>{-39,170}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10040.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,493},{6,22}}</string>
				<key>offset</key>
				<string>{-37,177}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10041.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,447},{4,8}}</string>
				<key>offset</key>
				<string>{-36,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10042.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,447},{4,8}}</string>
				<key>offset</key>
				<string>{-36,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10043.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,447},{4,8}}</string>
				<key>offset</key>
				<string>{-36,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10044.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,447},{4,8}}</string>
				<key>offset</key>
				<string>{-36,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10045.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,447},{4,8}}</string>
				<key>offset</key>
				<string>{-36,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10046.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,447},{1,1}}</string>
				<key>offset</key>
				<string>{274,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10047.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,452},{1,1}}</string>
				<key>offset</key>
				<string>{274,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gs10048.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,447},{1,1}}</string>
				<key>offset</key>
				<string>{274,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/png/gzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,413},{119,249}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,256}</string>
			</dict>
			<key>img/png/pngxulie/gh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,257},{251,152}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,773},{262,159}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,772},{255,156}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,773},{259,158}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,262},{258,157}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,459},{256,156}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,507},{262,159}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,2},{251,154}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,507},{262,160}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
			<key>img/png/pngxulie/gh_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,447},{255,154}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fz_jssx.png</string>
			<key>realTextureFileName</key>
			<string>fz_jssx.png</string>
			<key>size</key>
			<string>{1019,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>