<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/ghz_jz/nc/guang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{71,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,57}</string>
			</dict>
			<key>img/gonghui/ghz_jz/nc/paizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>img/gonghui/ghz_jz/ghz_jz_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{382,230}}</string>
				<key>offset</key>
				<string>{-19,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ghz_jz_nc.png</string>
			<key>realTextureFileName</key>
			<string>ghz_jz_nc.png</string>
			<key>size</key>
			<string>{519,232}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>519</integer>
			<key>height</key>
			<integer>232</integer>
		</dict>
	</dict>
</plist>