<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_ysq.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,481},{110,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,52}</string>
			</dict>
			<key>img/gonghui/img_qzk.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,522},{241,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,235}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,949},{154,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_dt.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,980},{46,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1001},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1001},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghkj.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,980},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1001},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghz.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,980},{76,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jgzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,980},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>img/gonghui/img_gonghui_qy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,484},{53,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,118}</string>
			</dict>
			<key>img/gonghui/img_gonghui_qy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,484},{54,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,118}</string>
			</dict>
			<key>img/gonghui/img_gonghui_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,522},{456,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,83}</string>
			</dict>
			<key>img/gonghui/img_gonghui_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,949},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,759},{169,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_ghbk.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{560,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{560,189}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{486,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,275}</string>
			</dict>
			<key>img/gonghui/bg_hei.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/gonghui/img_ygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,930},{110,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,77}</string>
			</dict>
			<key>img/gonghui/img_yqw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,484},{110,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,77}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,278},{103,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>img/gonghui/btn_ghbk.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,379},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/img_gonghui_kqbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{104,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,43}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_xbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,278},{50,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,852},{113,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,930},{85,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,278},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/bg_baoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{165,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,204}</string>
			</dict>
			<key>img/gonghui/img_guihui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,563},{182,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,60}</string>
			</dict>
			<key>img/gonghui/img_guihui_bq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,747},{182,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,60}</string>
			</dict>
			<key>img/gonghui/img_guihui_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,563},{287,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,130}</string>
			</dict>
			<key>img/gonghui/img_guihui_qt.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,539},{44,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,51}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghtb.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1001},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/wz_gonghui_ghrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,980},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/gonghui/btn_tbtz.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,759},{128,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,57}</string>
			</dict>
			<key>img/gonghui/btn_sxj.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,889},{128,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,57}</string>
			</dict>
			<key>img/gonghui/img_tbwdfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,379},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>img/gonghui/ghtb_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1},{519,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,161}</string>
			</dict>
			<key>img/gonghui/ghtb_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1},{519,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,161}</string>
			</dict>
			<key>img/gonghui/btn_shengwushangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,534},{70,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui.png</string>
			<key>realTextureFileName</key>
			<string>gonghui.png</string>
			<key>size</key>
			<string>{1007,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1007</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>