<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_ghz_alxzc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{586,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{586,169}</string>
			</dict>
			<key>img/gonghui/img_ghz_alxzc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,444},{127,143}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,144}</string>
			</dict>
			<key>img/gonghui/img_ghz_ghzf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{586,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{586,169}</string>
			</dict>
			<key>img/gonghui/img_ghz_ghzf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,172},{110,144}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,144}</string>
			</dict>
			<key>img/gonghui/ghz/bg_ghz_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,790},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/gonghui/ghz/bg_ghz_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1},{102,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,112}</string>
			</dict>
			<key>img/gonghui/ghz/bg_wz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,970},{640,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,41}</string>
			</dict>
			<key>img/gonghui/ghz/btn_ghph.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,315},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/ghz/btn_grph.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,315},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/ghz/btn_jhsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,166},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/ghz/btn_zcrz.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,622},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/ghz/btn_zczp.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,510},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,172},{69,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,175}</string>
			</dict>
			<key>img/gonghui/ghz/img_bx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,313},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>img/gonghui/ghz/img_ghz_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,949},{308,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,16}</string>
			</dict>
			<key>img/gonghui/ghz/wz_famuchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,589},{84,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>img/gonghui/ghz/wz_jrsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,166},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>img/gonghui/ghz/wz_kuangdong.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,408},{57,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>img/gonghui/ghz/wz_nongchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,408},{57,31}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>img/gonghui/ghz/wz_shoulan.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,408},{58,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>img/gonghui/ghz/wz_tiejiangpu.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,589},{85,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{450,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,172},{319,270}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,624},{344,284}}</string>
				<key>offset</key>
				<string>{-13,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jz_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,624},{344,231}}</string>
				<key>offset</key>
				<string>{0,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
			<key>img/gonghui/ghz/ghz_jz_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,624},{323,236}}</string>
				<key>offset</key>
				<string>{-10,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,330}</string>
			</dict>
			<key>img/gonghui/ghz/wz_bg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,764},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/gonghui/ghz/wz_zdl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,115},{196,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,49}</string>
			</dict>
			<key>img/gonghui/ghz/bg_wz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,967},{640,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,41}</string>
			</dict>
			<key>img/gonghui/ghz/bg_list1.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,505},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img/gonghui/ghz/bg_list2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,539},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img/gonghui/ghz/btn_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,318},{158,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,88}</string>
			</dict>
			<key>img/gonghui/ghz/img_bg_hh.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,243},{75,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>img/gonghui/ghz/bg_list3.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,389},{60,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,49}</string>
			</dict>
			<key>img/gonghui/ghz/bg_list4.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,243},{148,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,70}</string>
			</dict>
			<key>img/gonghui/ghz/wz_xygh.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,240},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>img/gonghui/ghz/ico_ghz_fmc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,1},{98,100}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>img/gonghui/ghz/ico_ghz_kd.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,529},{57,94}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>img/gonghui/ghz/ico_ghz_nc.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,440},{63,75}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>img/gonghui/ghz/ico_ghz_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,441},{77,86}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>img/gonghui/ghz/ico_ghz_tjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,441},{67,87}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>img/gonghui/ghz/wz_bg_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,696},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img/gonghui/ghz/bg_list5.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,730},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img/gonghui/ghz/wz_famuchang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,584},{23,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,67}</string>
			</dict>
			<key>img/gonghui/ghz/wz_kuangdong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,389},{24,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,67}</string>
			</dict>
			<key>img/gonghui/ghz/wz_nongchang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,389},{23,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,67}</string>
			</dict>
			<key>img/gonghui/ghz/wz_shoulian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,389},{24,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,67}</string>
			</dict>
			<key>img/gonghui/ghz/wz_tiejiangpu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,588},{24,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui_ghz.png</string>
			<key>realTextureFileName</key>
			<string>gonghui_ghz.png</string>
			<key>size</key>
			<string>{1284,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1284</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>