<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonggao/img_gonggao_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{541,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{545,64}</string>
			</dict>
			<key>img/gonggao/img_gonggao_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1},{57,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,49}</string>
			</dict>
			<key>img/gonggao/img_gg_arr.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1},{24,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,21}</string>
			</dict>
			<key>img/gonggao/img_gg_arr_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>img/gonggao/img_gg_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,65},{526,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{526,52}</string>
			</dict>
			<key>img/gonggao/img_gg_wz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,52},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonggao.png</string>
			<key>realTextureFileName</key>
			<string>gonggao.png</string>
			<key>size</key>
			<string>{684,118}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>684</integer>
			<key>height</key>
			<integer>118</integer>
		</dict>
	</dict>
</plist>