<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_ghsd_cheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,367},{417,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{417,191}</string>
			</dict>
			<key>img/gonghui/img_ghsd_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{321,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,364}</string>
			</dict>
			<key>img/gonghui/img_ghsd_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,888},{231,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,89}</string>
			</dict>
			<key>img/gonghui/img_ghsd_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{519,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,208}</string>
			</dict>
			<key>img/gonghui/btn_ghsr.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,786},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/gonghui/img_laxzp.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,786},{237,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,196}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui6.png</string>
			<key>realTextureFileName</key>
			<string>gonghui6.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>