<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huigui/img_huigui_hb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{593,809}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{593,809}</string>
			</dict>
			<key>img/huigui/img_huigui_qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1},{88,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,86}</string>
			</dict>
			<key>img/huigui/img_huigui_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,907},{407,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{407,73}</string>
			</dict>
			<key>img/huigui/img_huigui_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,812},{626,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{626,93}</string>
			</dict>
			<key>img/huigui/img_huigui_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,907},{274,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huigui.png</string>
			<key>realTextureFileName</key>
			<string>huigui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>