<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huizhang/pipeizhong/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,1},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/huizhang/pipeizhong/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,1},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/huizhang/pipeizhong/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img/huizhang/pipeizhong/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>img/huizhang/pipeizhong/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>img/huizhang/pipeizhong/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huizhang_tx_ppz.png</string>
			<key>realTextureFileName</key>
			<string>huizhang_tx_ppz.png</string>
			<key>size</key>
			<string>{156,29}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>29</integer>
		</dict>
	</dict>
</plist>