<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jianshengtulong/img_jstl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{536,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,215}</string>
			</dict>
			<key>img/jianshengtulong/img_zw.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{536,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,215}</string>
			</dict>
			<key>img/jianshengtulong/img_jstl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{536,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,215}</string>
			</dict>
			<key>img/jianshengtulong/img_jstl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,659},{536,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,215}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jianshengtulong.png</string>
			<key>realTextureFileName</key>
			<string>jianshengtulong.png</string>
			<key>size</key>
			<string>{540,876}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>540</integer>
			<key>height</key>
			<integer>876</integer>
		</dict>
	</dict>
</plist>