<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jiesuojianzhu/img_gnkq_fdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_fst.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,212},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_gh.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,420},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,628},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_sjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,4},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,4},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_szj.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,4},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,212},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_xyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,420},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_shenbing.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,628},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_mj.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,212},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_wzds.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,212},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_sddl.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,420},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_sdmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,628},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/jiesuojianzhu/img_gnkq_sdmw.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,420},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jiesuojianzhu.png</string>
			<key>realTextureFileName</key>
			<string>jiesuojianzhu.png</string>
			<key>size</key>
			<string>{832,832}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>832</integer>
			<key>height</key>
			<integer>832</integer>
		</dict>
	</dict>
</plist>