<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jingjichang/img_jjc_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,144},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,198},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,220},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,257},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,226},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,252},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/jingjichang/img_jjc_qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{615,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,111}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wzbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,206},{68,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,49}</string>
			</dict>
			<key>img/jingjichang/img_jjc_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,289},{65,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,44}</string>
			</dict>
			<key>img/jingjichang/wz_jjc_bxjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,257},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,131},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/jingjichang/img_jjc_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,233},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,54}</string>
			</dict>
			<key>img/jingjichang/ico_jingjichang_fp.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1},{141,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,141}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,138},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,233},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_jjc_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{133,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,128}</string>
			</dict>
			<key>img/jingjichang/img_jjc_bx2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,144},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/jingjichang/img_icobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,466},{498,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,90}</string>
			</dict>
			<key>img/jingjichang/ico_jingjichang_fpmc.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1},{139,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,135}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,306},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,311},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,325},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,330},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,200},{30,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,23}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,315},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/jjc_tiao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,330},{74,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,17}</string>
			</dict>
			<key>img/jingjichang/img_jjc_tgwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,306},{84,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,22}</string>
			</dict>
			<key>img/jingjichang/img_jjc_tzdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,170},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img/jingjichang/img_jjc_tzdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,131},{31,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,37}</string>
			</dict>
			<key>img/public/btn/btn_zdyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,138},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wyzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{599,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,174}</string>
			</dict>
			<key>img/jingjichang/img_jjc_wjzz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{599,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,174}</string>
			</dict>
			<key>img/jingjichang/img_icobg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,558},{498,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,90}</string>
			</dict>
			<key>img/jingjichang/img_zdjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,466},{489,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jingjichang.png</string>
			<key>realTextureFileName</key>
			<string>jingjichang.png</string>
			<key>size</key>
			<string>{1023,649}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>649</integer>
		</dict>
	</dict>
</plist>