<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/event/hd_xnkh_tx/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{126,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,135}</string>
			</dict>
			<key>img/event/hd_xnkh_tx/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,281},{101,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,90}</string>
			</dict>
			<key>img/event/hd_xnkh_tx/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,138},{67,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,141}</string>
			</dict>
			<key>img/event/hd_xnkh_tx/hd_sds_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,138},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jrdl_dx.png</string>
			<key>realTextureFileName</key>
			<string>jrdl_dx.png</string>
			<key>size</key>
			<string>{128,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>