<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/juedoushendgian/btn_xiangqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,238},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>img/juedoushendgian/btn_sdph.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,422},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{478,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,51}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,538},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>img/juedoushendgian/gonghui_smrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,259},{163,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,197}</string>
			</dict>
			<key>img/juedoushendgian/btn_chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,365},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>img/juedoushendgian/img_yzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,538},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,29}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{543,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,238}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg55.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{556,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,118}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,0},{538,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,12}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg66.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{538,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,127}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{259,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,210}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,538},{255,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,206}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,422},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>juedoushengdian2.png</string>
			<key>realTextureFileName</key>
			<string>juedoushengdian2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>