<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/juedoushendgian/btn_fllb.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{290,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,131}</string>
			</dict>
			<key>img/juedoushendgian/btn_jdbdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,296},{290,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,131}</string>
			</dict>
			<key>img/juedoushendgian/btn_jdtq.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,211},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/juedoushendgian/btn_sdph.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,287},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/juedoushendgian/btn_yxpz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,736},{277,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,249}</string>
			</dict>
			<key>img/juedoushendgian/jd_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,406}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,406}</string>
			</dict>
			<key>img/juedoushendgian/jdsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,2},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{596,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{596,147}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,412},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>img/juedoushendgian/jdsd_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,590},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>img/juedoushendgian/123.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,412},{265,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,235}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>juedoushengdian.png</string>
			<key>realTextureFileName</key>
			<string>juedoushengdian.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>