<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/juewei/ico_juewei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,245},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei10.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,842},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,397},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei3.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,549},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei5.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,415},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei6.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,676},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei7.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,415},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei8.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,567},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/ico_juewei9.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,659},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/juewei/img_jdt_juewei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1002},{126,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,17}</string>
			</dict>
			<key>img/juewei/img_juewei_arr.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,545},{42,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,28}</string>
			</dict>
			<key>img/juewei/img_juewei_dichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,291},{231,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,36}</string>
			</dict>
			<key>img/juewei/img_juewei_gongdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,942},{244,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,25}</string>
			</dict>
			<key>img/juewei/img_juewei_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,942},{290,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>img/juewei/img_juewei_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{288,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,38}</string>
			</dict>
			<key>img/juewei/img_juewei_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,245},{595,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{595,5}</string>
			</dict>
			<key>img/juewei/img_juewei_yulan.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,942},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>img/juewei/img_juewei_jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,415},{128,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,29}</string>
			</dict>
			<key>img/juewei/img_juewei_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,245},{412,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{412,219}</string>
			</dict>
			<key>img/juewei/img_juewei_hongdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,524},{207,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,36}</string>
			</dict>
			<key>img/juewei/img_juewei_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1},{388,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,242}</string>
			</dict>
			<key>img/juewei/img_juewei_landi.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,733},{207,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,36}</string>
			</dict>
			<key>img/juewei/img_juewei_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,942},{76,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,82}</string>
			</dict>
			<key>img/juewei/img_juewei_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,701},{170,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,124}</string>
			</dict>
			<key>img/juewei/img_juewei_jinshen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{588,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{588,412}</string>
			</dict>
			<key>img/juewei/btn_juewei_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,942},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/juewei/img_zk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,575},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/juewei/btn_juewei_tqlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,827},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
			<key>img/juewei/img_juewei_hz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>img/juewei/btn_juewei_jwjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,942},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>juewei.png</string>
			<key>realTextureFileName</key>
			<string>juewei.png</string>
			<key>size</key>
			<string>{1020,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>