<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_qz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,171},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,341},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,511},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,681},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,851},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
			<key>img/gonghui/img_qz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,171},{140,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,168}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist_qizhi.png</string>
			<key>realTextureFileName</key>
			<string>plist_qizhi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>