<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/public/jdt/bg_sale_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,149},{231,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,30}</string>
			</dict>
			<key>img/sale/bg_sale_jg.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,686},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
			<key>img/sale/btn_sale_shelf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,561},{270,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,163}</string>
			</dict>
			<key>img/sale/btn_sale_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,934},{146,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,74}</string>
			</dict>
			<key>img/sale/ico_sale_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,771},{84,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,68}</string>
			</dict>
			<key>img/sale/img_sale_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,500},{112,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,54}</string>
			</dict>
			<key>img/public/jdt/img_sale_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{219,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,18}</string>
			</dict>
			<key>img/sale/img_sale_pop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,149},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,266},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,383},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop4.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,500},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,617},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,734},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop7.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,149},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,383},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,523},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs5.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,149},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs6.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,805},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_zs7.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,561},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_sale_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,239},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>img/sale/bg_sale_list1.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{558,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{558,145}</string>
			</dict>
			<key>img/sale/bg_sale_list2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{558,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{558,146}</string>
			</dict>
			<key>img/sale/bg_sale_list3.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1},{558,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{558,145}</string>
			</dict>
			<key>img/sale/img_sale_flag1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,297},{161,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,45}</string>
			</dict>
			<key>img/sale/img_sale_flag2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,460},{161,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,45}</string>
			</dict>
			<key>img/sale/img_sale_flag3.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,530},{159,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,43}</string>
			</dict>
			<key>img/sale/img_sale_pop1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,266},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,639},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop3_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,639},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop4_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop5_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,289},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop6_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,928},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop7_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,726},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_privilege1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,383},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/sale/img_sale_privilege2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,826},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/sale/img_sale_privilege3.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,921},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/sale/img_sale_rmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,222},{15,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,18}</string>
			</dict>
			<key>img/sale/img_sale_wzbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,623},{61,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,31}</string>
			</dict>
			<key>img/sale/btn_sale_vip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,149},{146,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,74}</string>
			</dict>
			<key>img/sale/img_sale_pop8.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,701},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_pop8_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,780},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/sale/img_sale_zs8.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,561},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>img/sale/img_zzklb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{360,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,99}</string>
			</dict>
			<key>img/sale/wz_gztq.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,297},{194,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,27}</string>
			</dict>
			<key>img/sale/wz_gztqlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,382},{146,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,27}</string>
			</dict>
			<key>img/sale/ico_sale_vip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,756},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>img/sale/ico_sale_vip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,701},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>img/sale/ico_sale_vip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,897},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>img/sale/ico_sale_vip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,771},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>img/sale/ico_sale_vip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,869},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>img/sale/btn_sale_gzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{150,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,82}</string>
			</dict>
			<key>img/sale/btn_sale_gzx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,934},{150,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,82}</string>
			</dict>
			<key>img/sale/bg_sale_list4.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1},{558,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{558,146}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sale.png</string>
			<key>realTextureFileName</key>
			<string>sale.png</string>
			<key>size</key>
			<string>{1022,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>