<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shangdian2/zhuangshi200.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{634,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{634,91}</string>
			</dict>
			<key>img/xshangdian/shangdian_anniu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,55},{92,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,49}</string>
			</dict>
			<key>img/xshangdian/shangdian_anniu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,55},{92,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,49}</string>
			</dict>
			<key>img/xshangdian/shangdian_d_anniu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1},{144,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,52}</string>
			</dict>
			<key>img/xshangdian/shangdian_d_anniu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{144,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,52}</string>
			</dict>
			<key>img/xshangdian/zhezhao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1},{640,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shangdian2.png</string>
			<key>realTextureFileName</key>
			<string>shangdian2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>