<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_02/06/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,486},{207,196}}</string>
				<key>offset</key>
				<string>{11,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/06/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{200,201}}</string>
				<key>offset</key>
				<string>{15,77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/04/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,846},{172,154}}</string>
				<key>offset</key>
				<string>{-58,139}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/04/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{171,155}}</string>
				<key>offset</key>
				<string>{-58,139}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{247,241}}</string>
				<key>offset</key>
				<string>{1,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,242},{244,240}}</string>
				<key>offset</key>
				<string>{3,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,244},{245,239}}</string>
				<key>offset</key>
				<string>{2,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{246,239}}</string>
				<key>offset</key>
				<string>{3,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{244,241}}</string>
				<key>offset</key>
				<string>{3,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1},{245,241}}</string>
				<key>offset</key>
				<string>{1,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,243},{245,241}}</string>
				<key>offset</key>
				<string>{0,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/03/1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1},{247,240}}</string>
				<key>offset</key>
				<string>{-1,133}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,847},{154,154}}</string>
				<key>offset</key>
				<string>{-6,136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,697},{151,155}}</string>
				<key>offset</key>
				<string>{-4,138}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,484},{240,231}}</string>
				<key>offset</key>
				<string>{-5,114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,485},{232,210}}</string>
				<key>offset</key>
				<string>{-12,123}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/01/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,684},{161,172}}</string>
				<key>offset</key>
				<string>{-18,119}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/shenbing_skill_02/02/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,697},{154,172}}</string>
				<key>offset</key>
				<string>{-133,319}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_02_1.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_02_1.png</string>
			<key>size</key>
			<string>{993,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>993</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>