<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/img_sdmg_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,896},{106,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,129}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_csm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{239,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,250}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sdsw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,512},{148,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,205}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sdsw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,719},{123,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,175}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_csm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{244,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,257}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_qizi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,719},{106,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,129}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shendianmigong2.png</string>
			<key>realTextureFileName</key>
			<string>shendianmigong2.png</string>
			<key>size</key>
			<string>{246,1003}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>1003</integer>
		</dict>
	</dict>
</plist>