<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/03/0301_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,689},{45,72}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/shenbing/03/0302_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,765},{26,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/shenbing/03/0303_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{172,375}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,500}</string>
			</dict>
			<key>img/shenbing/03/0304_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,689},{104,328}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,500}</string>
			</dict>
			<key>img/shenbing/03/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{273,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_03.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_03.png</string>
			<key>size</key>
			<string>{277,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>277</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>