<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/img_sdmg_box_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,464},{64,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{348,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,352}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,395},{66,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_tmhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,316},{179,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,29}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,208},{396,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,63}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_top_tmd.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,273},{336,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,41}</string>
			</dict>
			<key>img/shendianmigong/btn_mgsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,428},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>img/shendianmigong/btn_yw.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,316},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/btn_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,316},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/ico_zdtb.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,383},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_zld.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,996},{100,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,27}</string>
			</dict>
			<key>img/shendianmigong/img_gmdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,273},{108,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,47}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_smys.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,840},{162,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,187}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{205,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,483}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,355},{205,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,483}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1},{205,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,483}</string>
			</dict>
			<key>img/shendianmigong/btn_bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,280},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/btn_lichenbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,354},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/btn_nszl.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,390},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/img_ywbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,347},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_box_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,208},{78,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,70}</string>
			</dict>
			<key>img/shendianmigong/btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,390},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/img_gmxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1004},{59,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,6}</string>
			</dict>
			<key>img/shendianmigong/btn_sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,449},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,840},{154,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,195}</string>
			</dict>
			<key>img/shendianmigong/img_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,840},{179,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,220}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1},{154,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,195}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_sz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,198},{154,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,195}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shendianmigong.png</string>
			<key>realTextureFileName</key>
			<string>shendianmigong.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>