<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/img_sdmg_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,327},{142,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,131}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,471},{105,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,142}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,994},{87,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,12}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{145,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,12}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_xzyw.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,920},{206,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,62}</string>
			</dict>
			<key>img/shendianmigong/img_sdmg_zwkq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,920},{254,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,58}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,345},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_m1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_m2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,345},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_da_m3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,689},{229,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,342}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,164},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_m1.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,242},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_m2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,483},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
			<key>img/shendianmigong/img_tz_xiao_m3.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,646},{161,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,239}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shendianmigong1.png</string>
			<key>realTextureFileName</key>
			<string>shendianmigong1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>