<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/zs100.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>img/shenbing/shenbing_diban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,267},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_yzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,643},{149,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,38}</string>
			</dict>
			<key>img/shenbing/shenbing_diban4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,799},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban5.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,946},{640,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,58}</string>
			</dict>
			<key>img/shenbing/xingxing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,927},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/xingxing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,952},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/xingxing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,978},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/xingxing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,952},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/xingxing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,977},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/img_shenbing_ydzgdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,799},{274,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,145}</string>
			</dict>
			<key>img/shenbing/img_xin_dao.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,901},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shenbing/img_xin_dunpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,901},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shenbing/img_xin_quanti.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,927},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shenbing/img_xin_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,953},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shenbing/img_xin_aixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,979},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img/shenbing/img_xin_bgditu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,643},{256,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,31}</string>
			</dict>
			<key>img/shenbing/bg_xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,977},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/shenbing_diban6.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,267},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/shenbing_diban_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,533},{224,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,264}</string>
			</dict>
			<key>img/shenbing/bg_xingxing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,643},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/bg_xingxing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,794},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/bg_xingxing3.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,819},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/bg_xingxing4.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,845},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>img/shenbing/bg_xingxing5.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,871},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing2.png</string>
			<key>realTextureFileName</key>
			<string>shenbing2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>