<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_01/FLY_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1941},{60,99}}</string>
				<key>offset</key>
				<string>{-90,312}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/FLY_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1941},{60,100}}</string>
				<key>offset</key>
				<string>{-97,325}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/FLY_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1941},{61,101}}</string>
				<key>offset</key>
				<string>{-105,339}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/FLY_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1941},{61,100}}</string>
				<key>offset</key>
				<string>{-112,352}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/FLY_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,1748},{197,357}}</string>
				<key>offset</key>
				<string>{-107,343}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/FLY_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1387},{198,357}}</string>
				<key>offset</key>
				<string>{-12,174}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{512,632}}</string>
				<key>offset</key>
				<string>{0,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1598},{473,330}}</string>
				<key>offset</key>
				<string>{10,-180}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1123},{471,338}}</string>
				<key>offset</key>
				<string>{10,-173}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1123},{476,338}}</string>
				<key>offset</key>
				<string>{12,-171}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,638},{481,339}}</string>
				<key>offset</key>
				<string>{6,-168}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1603},{480,334}}</string>
				<key>offset</key>
				<string>{6,-167}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,638},{484,306}}</string>
				<key>offset</key>
				<string>{7,-179}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1123},{469,287}}</string>
				<key>offset</key>
				<string>{7,-186}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1596},{439,266}}</string>
				<key>offset</key>
				<string>{10,-189}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,852},{431,193}}</string>
				<key>offset</key>
				<string>{9,-200}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1049},{430,193}}</string>
				<key>offset</key>
				<string>{9,-200}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,446},{375,185}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,2},{373,184}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,379},{372,183}}</string>
				<key>offset</key>
				<string>{6,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,566},{370,182}}</string>
				<key>offset</key>
				<string>{6,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,752},{369,181}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,937},{368,181}}</string>
				<key>offset</key>
				<string>{6,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,1122},{365,179}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1305},{362,179}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1488},{359,176}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,2},{356,174}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,948},{351,171}}</string>
				<key>offset</key>
				<string>{5,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,948},{343,166}}</string>
				<key>offset</key>
				<string>{4,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/shouji_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,305},{329,157}}</string>
				<key>offset</key>
				<string>{4,-199}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,1120}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1118},{213,454}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2},{213,440}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,635},{213,414}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1483},{213,346}}</string>
				<key>offset</key>
				<string>{0,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1833},{213,338}}</string>
				<key>offset</key>
				<string>{0,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,1049},{213,334}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,2},{200,299}}</string>
				<key>offset</key>
				<string>{-6,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,362},{189,276}}</string>
				<key>offset</key>
				<string>{-12,47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,642},{178,268}}</string>
				<key>offset</key>
				<string>{-17,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,2},{170,221}}</string>
				<key>offset</key>
				<string>{-21,70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,2},{162,216}}</string>
				<key>offset</key>
				<string>{-25,71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,168},{155,208}}</string>
				<key>offset</key>
				<string>{-29,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,176},{148,201}}</string>
				<key>offset</key>
				<string>{-32,75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,328},{144,195}}</string>
				<key>offset</key>
				<string>{-34,76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,176},{140,189}}</string>
				<key>offset</key>
				<string>{-36,77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>img/shenbing_skill_01/xuli_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,320},{138,182}}</string>
				<key>offset</key>
				<string>{-37,78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shengbing_skill_01.png</string>
			<key>realTextureFileName</key>
			<string>shengbing_skill_01.png</string>
			<key>size</key>
			<string>{2046,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>