<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shengdan/xiaxue/xiaxue_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1146},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1718},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2290},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2862},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3434},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2614,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{3186,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{3758,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{2614,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{3186,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{3758,574},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1146},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1718},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2290},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2862},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,3434},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/shengdan/xiaxue/xiaxue_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shengdan_xiaxue_dx.png</string>
			<key>realTextureFileName</key>
			<string>shengdan_xiaxue_dx.png</string>
			<key>size</key>
			<string>{4080,4004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4080</integer>
			<key>height</key>
			<integer>4004</integer>
		</dict>
	</dict>
</plist>