<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shilianhuodong/img_sqsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,298}</string>
			</dict>
			<key>img/shilianhuodong/img_sz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{465,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{465,54}</string>
			</dict>
			<key>img/shilianhuodong/img_jwsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{640,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,298}</string>
			</dict>
			<key>img/shilianhuodong/img_rhsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{640,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,298}</string>
			</dict>
			<key>img/shilianhuodong/img_yxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,301},{640,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,298}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shilianhuodong.png</string>
			<key>realTextureFileName</key>
			<string>shilianhuodong.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>