<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tafang/tx/jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1},{90,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,79}</string>
			</dict>
			<key>img/tafang/tx/sj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{64,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,147}</string>
			</dict>
			<key>img/tafang/tx/st.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,150},{108,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tafang_1_tx.png</string>
			<key>realTextureFileName</key>
			<string>tafang_1_tx.png</string>
			<key>size</key>
			<string>{158,219}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>219</integer>
		</dict>
	</dict>
</plist>