<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tujing/btn_hqtj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{82,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,90}</string>
			</dict>
			<key>img/tujing/btn_qhzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/tujing/btn_sjyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/tujing/btn_zhyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,197},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/tujing/img_chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,431},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_fst.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_guaji.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,344},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,387},{47,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_shichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_sjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,128},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_tjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,81},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_xyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,81},{36,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,42},{45,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_wangzhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{48,42}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/tujing/img_ronghun.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,295},{40,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tujing.png</string>
			<key>realTextureFileName</key>
			<string>tujing.png</string>
			<key>size</key>
			<string>{188,472}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>472</integer>
		</dict>
	</dict>
</plist>