<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ui_tip_rw/bg_tip_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1},{214,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,327}</string>
			</dict>
			<key>img/ui_tip_rw/bg_tip_rw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{576,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,567}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_tip_rw.png</string>
			<key>realTextureFileName</key>
			<string>ui_tip_rw.png</string>
			<key>size</key>
			<string>{794,569}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>794</integer>
			<key>height</key>
			<integer>569</integer>
		</dict>
	</dict>
</plist>