<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/vipguizhu/img_guwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,723},{274,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,199}</string>
			</dict>
			<key>img/vipguizhu/img_gz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{625,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{625,720}</string>
			</dict>
			<key>img/vipguizhu/img_kfqq.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,998},{211,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,21}</string>
			</dict>
			<key>img/vipguizhu/img_hdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,723},{242,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,311}</string>
			</dict>
			<key>img/vipguizhu/img_rzvip.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,812},{138,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,35}</string>
			</dict>
			<key>img/vipguizhu/vip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,967},{237,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,29}</string>
			</dict>
			<key>img/vipguizhu/vip02.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1},{470,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,68}</string>
			</dict>
			<key>img/vipguizhu/vip03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,998},{218,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,21}</string>
			</dict>
			<key>img/vipguizhu/vip04.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,812},{183,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,36}</string>
			</dict>
			<key>img/vipguizhu/vip06.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{174,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,225}</string>
			</dict>
			<key>img/vipguizhu/vip07.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,723},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>img/vipguizhu/vip08.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,967},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>vipguizhu.png</string>
			<key>realTextureFileName</key>
			<string>vipguizhu.png</string>
			<key>size</key>
			<string>{924,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>924</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>