<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wangzhediaoshu/btn_sh.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1},{201,66}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,91}</string>
			</dict>
			<key>img/wangzhediaoshu/btn_xhbangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/wangzhediaoshu/btn_xhjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,46},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/wangzhediaoshu/img_wzxhz.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1},{194,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,43}</string>
			</dict>
			<key>img/wangzhediaoshu/img_wzds_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,46},{61,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>img/wangzhediaoshu/img_wzwz_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{531,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{531,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wangzhediaoshu.png</string>
			<key>realTextureFileName</key>
			<string>wangzhediaoshu.png</string>
			<key>size</key>
			<string>{1024,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>