<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wangzherongyao/img_wzbq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,371},{76,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,67}</string>
			</dict>
			<key>img/wangzherongyao/img_wzbq_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,440},{76,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,67}</string>
			</dict>
			<key>img/wangzherongyao/img_wzbq_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,383},{76,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,67}</string>
			</dict>
			<key>img/wangzherongyao/jcwz_gj.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,231},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/wangzherongyao/jcwz_sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,231},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/wangzherongyao/jcwz_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,301},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/wangzherongyao/img_jcdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1},{56,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,118}</string>
			</dict>
			<key>img/wangzherongyao/img_jcdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,121},{56,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,118}</string>
			</dict>
			<key>img/wangzherongyao/img_jcdi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,241},{56,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,118}</string>
			</dict>
			<key>img/wangzherongyao/img_tmzs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,441},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>img/wangzherongyao/img_tmzs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,474},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>img/wangzherongyao/img_tmzs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,474},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>img/wangzherongyao/img_dld.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{621,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{621,230}</string>
			</dict>
			<key>img/wangzherongyao/img_wzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{625,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{625,313}</string>
			</dict>
			<key>img/wangzherongyao/img_zss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{628,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,234}</string>
			</dict>
			<key>img/wangzherongyao/img_ryjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,361},{47,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,38}</string>
			</dict>
			<key>img/wangzherongyao/ben_fz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{306,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,72}</string>
			</dict>
			<key>img/wangzherongyao/ben_fz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,75},{306,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,72}</string>
			</dict>
			<key>img/wangzherongyao/img_lan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{19,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,526}</string>
			</dict>
			<key>img/wangzherongyao/img_gdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,401},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>img/wangzherongyao/ch_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,149},{150,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img/wangzherongyao/ch_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,149},{150,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img/wangzherongyao/ch_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,231},{150,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img/wangzherongyao/img_sj_gj.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,301},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/wangzherongyao/img_sj_sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,313},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/wangzherongyao/img_sj_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,371},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wangzherongyao.png</string>
			<key>realTextureFileName</key>
			<string>wangzherongyao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>