<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wztt/btn_mrsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,103},{93,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,97}</string>
			</dict>
			<key>img/wztt/btn_pmjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,233},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/wztt/btn_ttbz.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,279},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>img/wztt/img_tt_sdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,338},{196,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,42}</string>
			</dict>
			<key>img/wztt/img_tt_xx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,185},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>img/wztt/img_tt_xx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,338},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>img/wztt/gou_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,337},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>img/wztt/img_tt_zp_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1},{408,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,260}</string>
			</dict>
			<key>img/wztt/img_tt_zp_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{456,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,335}</string>
			</dict>
			<key>img/wztt/img_zp_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,263},{393,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,73}</string>
			</dict>
			<key>img/wztt/img_tt_jd1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,338},{159,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,52}</string>
			</dict>
			<key>img/wztt/img_tt_jd1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,353},{159,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,52}</string>
			</dict>
			<key>img/wztt/img_tt_jd2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,392},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,434},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,338},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>
			<key>img/wztt/img_tt_jd3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,391},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>
			<key>img/wztt/img_tt_jd4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,444},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,407},{159,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,444},{159,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,382},{162,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,50}</string>
			</dict>
			<key>img/wztt/img_tt_jd6-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,392},{162,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,50}</string>
			</dict>
			<key>img/wztt/img_tt_xx_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,307},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>img/wztt/img_tt_jd7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,338},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>
			<key>img/wztt/item_ladderstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/wztt/btn_sqsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,307},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>wztt/wz_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,407},{174,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,27}</string>
			</dict>
			<key>img/wztt/duiwu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1},{40,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,90}</string>
			</dict>
			<key>img/wztt/duiwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,93},{40,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,90}</string>
			</dict>
			<key>img/wztt/btn_zdrz.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,202},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wztt.png</string>
			<key>realTextureFileName</key>
			<string>wztt.png</string>
			<key>size</key>
			<string>{1024,496}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>496</integer>
		</dict>
	</dict>
</plist>