<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong/xrhd/xigua/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1},{88,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,95}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,404},{83,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,89}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,404},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/jingua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,113},{96,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/lvgua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{88,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,91}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/shixianggui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{89,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,110}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/down10.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,98},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,142},{32,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>img/huodong/xrhd/xigua/up50.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,215},{47,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xrhd_tx_xigua1.png</string>
			<key>realTextureFileName</key>
			<string>xrhd_tx_xigua1.png</string>
			<key>size</key>
			<string>{181,494}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>494</integer>
		</dict>
	</dict>
</plist>