<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,53},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,53},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,67},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/bg_xuanshangrenwu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,125},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>img/xuanshangrenwu/img_xuanshangrenwu_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,53},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>img/public/jdt/bg_xuanshangrenwu_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{108,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,18}</string>
			</dict>
			<key>img/public/jdt/img_xuanshangrenwu_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1},{104,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,12}</string>
			</dict>
			<key>img/xuanshangrenwu/btn_xuanshangrenwu_tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1},{94,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,64}</string>
			</dict>
			<key>img/xuanshangrenwu/wz_xuanshangrenwu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{222,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xuanshangrenwu.png</string>
			<key>realTextureFileName</key>
			<string>xuanshangrenwu.png</string>
			<key>size</key>
			<string>{612,196}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>612</integer>
			<key>height</key>
			<integer>196</integer>
		</dict>
	</dict>
</plist>