<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xukomowang/img_mw_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,818},{388,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,20}</string>
			</dict>
			<key>img/xukomowang/img_mw_jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{420,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,30}</string>
			</dict>
			<key>img/xukomowang/img_mw_sjdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,844},{277,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,33}</string>
			</dict>
			<key>img/xukomowang/img_mw_mwwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,676},{640,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,78}</string>
			</dict>
			<key>img/xukomowang/img_mw_tz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,809},{53,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,33}</string>
			</dict>
			<key>img/xukomowang/img_mw_tz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,786},{53,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,33}</string>
			</dict>
			<key>img/xukomowang/img_tx_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,809},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>img/xukomowang/img_xk_nan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,756},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,28}</string>
			</dict>
			<key>img/xukomowang/img_xk_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,867},{80,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,87}</string>
			</dict>
			<key>img/xukomowang/img_xk_tx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,809},{78,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,100}</string>
			</dict>
			<key>img/xukomowang/img_xk_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
			<key>img/xukomowang/img_xk_yjb.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,756},{74,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,40}</string>
			</dict>
			<key>img/xukomowang/img_xk_tzjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,895},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
			<key>img/xukomowang/img_xk_boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,673}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,673}</string>
			</dict>
			<key>img/xukomowang/img_wz_mo7.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,756},{220,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,60}</string>
			</dict>
			<key>img/xukomowang/wz_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,867},{239,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,26}</string>
			</dict>
			<key>img/xukomowang/wz_222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,756},{335,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,51}</string>
			</dict>
			<key>img/xukomowang/img_wz_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,840},{287,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,25}</string>
			</dict>
			<key>img/xukomowang/img_wz_jxtz.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,896},{381,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xukomowang.png</string>
			<key>realTextureFileName</key>
			<string>xukomowang.png</string>
			<key>size</key>
			<string>{870,962}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>870</integer>
			<key>height</key>
			<integer>962</integer>
		</dict>
	</dict>
</plist>