<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhaomu/img_xb_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{111,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,97}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,368},{111,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,23}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_yxzm_tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{561,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,244}</string>
			</dict>
			<key>img/yingxiongzhaomu/yxzm_txt_jhyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,393},{86,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,20}</string>
			</dict>
			<key>img/yingxiongzhaomu/yxzm_txt_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,393},{86,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,20}</string>
			</dict>
			<key>img/yingxiongzhaomu/yxzm_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{398,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,38}</string>
			</dict>
			<key>img/yingxiongzhaomu/btn_shouchong_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,426},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/yingxiongzhaomu/btn_shouchong_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_hbfstx.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,371},{99,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,122}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_ljzh.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,287},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_xlsstx.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,495},{99,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,122}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_zstx.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,247},{100,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,122}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{137,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,74}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_yxzm_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,336},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_yxzm_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1},{589,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{589,30}</string>
			</dict>
			<key>img/yingxiongzhaomu/yxzm_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,247},{292,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,45}</string>
			</dict>
			<key>img/yingxiongzhaomu/yxzm_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,336},{165,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,30}</string>
			</dict>
			<key>img/yingxiongzhaomu/img_xlsstx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,592},{99,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongzhaomu.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongzhaomu.png</string>
			<key>size</key>
			<string>{649,715}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>649</integer>
			<key>height</key>
			<integer>715</integer>
		</dict>
	</dict>
</plist>