<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhaomu2/btn_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,62},{216,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>img/yingxiongzhaomu2/img_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{267,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,72}</string>
			</dict>
			<key>img/yingxiongzhaomu2/img_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,2},{81,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,234}</string>
			</dict>
			<key>img/yingxiongzhaomu2/btn_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,78},{66,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>img/yingxiongzhaomu2/img_xx_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,2},{338,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,56}</string>
			</dict>
			<key>img/yingxiongzhaomu2/img_yxzm_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,78},{114,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,28}</string>
			</dict>
			<key>img/yingxiongzhaomu2/img_xx_di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,130},{350,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,30}</string>
			</dict>
			<key>img/yingxiongzhaomu2/btn_yxzm.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,100},{118,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
			<key>img/yingxiongzhaomu2/btn_yxzm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,62},{118,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongzhaomu2.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongzhaomu2.png</string>
			<key>size</key>
			<string>{698,238}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>698</integer>
			<key>height</key>
			<integer>238</integer>
		</dict>
	</dict>
</plist>