<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhaomu2/tx/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,293},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,585},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,269},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,561},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,269},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,135},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,269},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,135},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,293},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,585},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,403},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,877},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,403},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,537},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,537},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,537},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
			<key>img/yingxiongzhaomu2/tx/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,585},{290,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongzhaomu2_tx.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongzhaomu2_tx.png</string>
			<key>size</key>
			<string>{1010,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>