<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhanshi/glow/gggg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,270},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,600},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,270},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,270},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,538},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/glow/gggg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,538},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongzhanshi2_dh.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongzhanshi2_dh.png</string>
			<key>size</key>
			<string>{990,928}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>990</integer>
			<key>height</key>
			<integer>928</integer>
		</dict>
	</dict>
</plist>