<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/guangyun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/guangyun5.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,366},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo5.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,338},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,674},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongyure_cs01_dh.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongyure_cs01_dh.png</string>
			<key>size</key>
			<string>{1368,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1368</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>