<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongyure/guanka/gk/gk_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,406},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,810},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,1214},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,1618},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2022},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2830},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3234},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3638},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/yingxiongyure/guanka/gk/gk_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,2426},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongyure_guankajs_dh.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongyure_guankajs_dh.png</string>
			<key>size</key>
			<string>{2020,4040}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2020</integer>
			<key>height</key>
			<integer>4040</integer>
		</dict>
	</dict>
</plist>