<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yuandan/bg_yuandan_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{450,547}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,571}</string>
			</dict>
			<key>img/yuandan/bg_yuandan_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,553},{640,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,249}</string>
			</dict>
			<key>img/yuandan/btn_ddl.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,806},{120,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,177}</string>
			</dict>
			<key>img/yuandan/btn_ddl_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,773},{120,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,177}</string>
			</dict>
			<key>img/yuandan/btn_fp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,806},{135,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,316}</string>
			</dict>
			<key>img/yuandan/btn_hl.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,806},{135,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,316}</string>
			</dict>
			<key>img/yuandan/btn_sgjz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,239},{177,159}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,176}</string>
			</dict>
			<key>img/yuandan/btn_yddl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,2},{177,157}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,176}</string>
			</dict>
			<key>img/yuandan/btn_ydlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,239},{168,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,199}</string>
			</dict>
			<key>img/yuandan/btn_ydsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,544},{168,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,199}</string>
			</dict>
			<key>img/yuandan/cai.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,897},{92,91}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/cong.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,442},{85,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/dan.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,720},{49,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/yuandan/gu.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,930},{94,92}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,945},{95,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/jiaozi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,945},{115,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,77}</string>
			</dict>
			<key>img/yuandan/kapian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,519},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,143}</string>
			</dict>
			<key>img/yuandan/kapian_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,663},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,143}</string>
			</dict>
			<key>img/yuandan/kuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,720},{48,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/yuandan/le.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,720},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/yuandan/ou.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,930},{92,92}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/pi.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,442},{90,91}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/rou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,420},{95,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,921},{89,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/yu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,921},{86,92}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/yuandan/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,720},{49,33}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/yuandan/wz_ydkl.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,520},{102,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,27}</string>
			</dict>
			<key>img/yuandan/img_denglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,550},{166,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,254}</string>
			</dict>
			<key>img/yuandan/img_fuqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,747},{170,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,161}</string>
			</dict>
			<key>img/yuandan/img_jzgf.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2},{621,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{621,233}</string>
			</dict>
			<key>img/yuandan/img_tideng.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,239},{277,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,377}</string>
			</dict>
			<key>img/yuandan/wz_jzgf.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,520},{91,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,26}</string>
			</dict>
			<key>img/yuandan/wz_xsdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,520},{91,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,26}</string>
			</dict>
			<key>img/yuandan/wz_xyyd.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,778},{91,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,24}</string>
			</dict>
			<key>img/yuandan/wz_ydhl.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,720},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>img/yuandan/wz_ydsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,520},{91,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,26}</string>
			</dict>
			<key>img/yuandan/wz_yddh.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,749},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yuandan.png</string>
			<key>realTextureFileName</key>
			<string>yuandan.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>