<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yuanxiaodenghui/img_qwdm.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1},{177,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,308}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_yxdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,311},{154,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,300}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,438},{192,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,290}</string>
			</dict>
			<key>img/yuanxiaodenghui/title_yxdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,311},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_qwdm.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{69,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,191}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_yxdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,194},{69,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,191}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,387},{69,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,191}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_cuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,801},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_dm_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{201,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,435}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_dm_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,438},{174,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,410}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_dm_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,730},{549,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{549,69}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,801},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,801},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_xx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,849},{515,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,70}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_xx_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,921},{515,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,70}</string>
			</dict>
			<key>img/yuanxiaodenghui/title_qwdm.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,367},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_xh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,613},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_xh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,677},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_xh3.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,741},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>img/yuanxiaodenghui/btn_dl.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,613},{124,134}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,159}</string>
			</dict>
			<key>img/yuanxiaodenghui/btn_dl_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,850},{248,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,159}</string>
			</dict>
			<key>img/yuanxiaodenghui/btn_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,749},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>img/yuanxiaodenghui/img_yx_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{5,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,132}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_gxdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,801},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_mrrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,801},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_mwsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,580},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>img/yuanxiaodenghui/wz_yxfl.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,801},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yuanxiaodenghui1.png</string>
			<key>realTextureFileName</key>
			<string>yuanxiaodenghui1.png</string>
			<key>size</key>
			<string>{984,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>984</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>