<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yuejijin/bg_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,0},{640,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,67}</string>
			</dict>
			<key>img/yuejijin/bg_328.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,0},{640,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,67}</string>
			</dict>
			<key>img/yuejijin/img_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,150}</string>
			</dict>
			<key>img/yuejijin/img_328.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{640,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,150}</string>
			</dict>
			<key>img/yuejijin/img_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{156,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yuejijin.png</string>
			<key>realTextureFileName</key>
			<string>yuejijin.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>