<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhishujie/btn_jshz.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,123},{110,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,116}</string>
			</dict>
			<key>img/zhishujie/btn_mfsf.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,183},{227,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,78}</string>
			</dict>
			<key>img/zhishujie/btn_sqnl.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,183},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>img/zhishujie/btn_zsfl.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,125},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/zhishujie/title_zsyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,191},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/zhishujie/title_lhzq.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,263},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/zhishujie/bg_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>
			<key>img/zhishujie/img_jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,199},{46,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,24}</string>
			</dict>
			<key>img/zhishujie/img_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,351},{502,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{502,22}</string>
			</dict>
			<key>img/zhishujie/img_nlq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/zhishujie/img_nlq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/zhishujie/img_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,303},{235,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,42}</string>
			</dict>
			<key>img/zhishujie/img_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/zhishujie/img_pz.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1},{163,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,188}</string>
			</dict>
			<key>img/zhishujie/img_cw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,241},{103,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,108}</string>
			</dict>
			<key>img/zhishujie/img_cw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,137},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>img/zhishujie/img_gs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,248},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>img/zhishujie/img_gs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>img/zhishujie/title_zsxf.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,247},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/zhishujie/img_nl.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>img/zhishujie/img_mfsf.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,319},{109,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,30}</string>
			</dict>
			<key>img/zhishujie/img_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,73},{65,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,30}</string>
			</dict>
			<key>img/zhishujie/img_sf_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/zhishujie/title_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,294},{147,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,44}</string>
			</dict>
			<key>img/zhishujie/img_mfsf_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,319},{109,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,30}</string>
			</dict>
			<key>img/zhishujie/img_sf_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,105},{65,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhishujie.png</string>
			<key>realTextureFileName</key>
			<string>zhishujie.png</string>
			<key>size</key>
			<string>{1024,411}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>411</integer>
		</dict>
	</dict>
</plist>