<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhishujie/img_cw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,128},{103,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,108}</string>
			</dict>
			<key>img/zhishujie/img_gs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,128},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/jh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,268},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/jh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,268},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/jh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,268},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/jh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,268},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/jh_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,292},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,128},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,128},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,128},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,128},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,128},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,198},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,206},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,233},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,238},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,233},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,198},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,198},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,198},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/jinhua/lizi/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,198},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/fg2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1},{113,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,121}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/fg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,128},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/fx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,233},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,292},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,292},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,324},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,325},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,333},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,341},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,325},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,324},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/lv_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,324},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,134},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,642},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,896},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/bd/bd_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,235},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,235},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,268},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,276},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,303},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,308},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,303},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,303},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/j_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,268},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/pg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{122,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,131}</string>
			</dict>
			<key>img/zhishujie/img_cw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,124},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>img/zhishujie/img_gs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,128},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,287},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,324},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,360},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,365},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,360},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,360},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,348},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,378},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/jin/sf_jin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,348},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,348},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,380},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,381},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,381},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,389},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,397},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,380},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,380},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>img/zhishujie/tx/pingguo/jieguo/shifei/lv/sf_lv_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,414},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhishujie_pgtx_1.png</string>
			<key>realTextureFileName</key>
			<string>zhishujie_pgtx_1.png</string>
			<key>size</key>
			<string>{1002,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1002</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>