<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong_dh/sg/sg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,67},{15,17}}</string>
				<key>offset</key>
				<string>{-155,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,2},{44,61}}</string>
				<key>offset</key>
				<string>{-149,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,180},{63,81}}</string>
				<key>offset</key>
				<string>{-140,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,180},{77,85}}</string>
				<key>offset</key>
				<string>{-132,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,132},{94,85}}</string>
				<key>offset</key>
				<string>{-117,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,221},{95,83}}</string>
				<key>offset</key>
				<string>{-99,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,143},{94,86}}</string>
				<key>offset</key>
				<string>{-79,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,264},{90,84}}</string>
				<key>offset</key>
				<string>{-57,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,222},{93,83}}</string>
				<key>offset</key>
				<string>{-40,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,86},{92,87}}</string>
				<key>offset</key>
				<string>{-20,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,267},{78,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,39},{92,89}}</string>
				<key>offset</key>
				<string>{20,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,131},{93,87}}</string>
				<key>offset</key>
				<string>{40,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,180},{86,86}}</string>
				<key>offset</key>
				<string>{60,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,39},{95,88}}</string>
				<key>offset</key>
				<string>{81,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,177},{96,83}}</string>
				<key>offset</key>
				<string>{102,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,180},{90,83}}</string>
				<key>offset</key>
				<string>{119,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,180},{74,84}}</string>
				<key>offset</key>
				<string>{133,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,180},{57,77}}</string>
				<key>offset</key>
				<string>{142,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,39},{32,44}}</string>
				<key>offset</key>
				<string>{152,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/sg/sg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,2},{1,1}}</string>
				<key>offset</key>
				<string>{179,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,120}</string>
			</dict>
			<key>img/huodong_dh/g_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{619,174}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,320}</string>
			</dict>
			<key>img/huodong_dh/qqq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,39},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/huodong_dh/sgg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,2},{344,33}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zp_dh.png</string>
			<key>realTextureFileName</key>
			<string>zp_dh.png</string>
			<key>size</key>
			<string>{1024,350}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>350</integer>
		</dict>
	</dict>
</plist>