<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ztl/btn_qizi_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,701},{196,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>img/ztl/btn_qizi_hdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,996},{16,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,42}</string>
			</dict>
			<key>img/ztl/btn_qizi_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,768},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>img/ztl/btn_qizi_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,701},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>img/ztl/img_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,768},{49,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,61}</string>
			</dict>
			<key>img/ztl/img_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,831},{49,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,60}</string>
			</dict>
			<key>img/ztl/img_qizi_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{418,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,48}</string>
			</dict>
			<key>img/ztl/img_qizi_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,967},{242,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,27}</string>
			</dict>
			<key>img/ztl/img_qizi_jdtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,932},{248,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,33}</string>
			</dict>
			<key>img/ztl/img_ztl_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,996},{76,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,16}</string>
			</dict>
			<key>img/ztl/img_ztl_jdt_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{18,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,76}</string>
			</dict>
			<key>img/ztl/btn_ztl_gm.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,967},{128,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,51}</string>
			</dict>
			<key>img/ztl/img_ztl_yyz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,577},{121,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,122}</string>
			</dict>
			<key>img/ztl/img_ztl_ztl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>img/ztl/img_ztl_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,899},{333,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,31}</string>
			</dict>
			<key>img/ztl/img_dian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,701},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ztl.png</string>
			<key>realTextureFileName</key>
			<string>ztl.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>