<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/btn_mingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,612},{206,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,49}</string>
			</dict>
			<key>img/shenbing/img_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{448,157}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,257}</string>
			</dict>
			<key>img/shenbing/img_tlzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,804},{409,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,68}</string>
			</dict>
			<key>img/shenbing/wz_sqms.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,874},{130,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,146}</string>
			</dict>
			<key>img/shenbing/wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,162},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,162},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,55}</string>
			</dict>
			<key>img/shenbing/btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,931},{79,72}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>img/shenbing/sq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{501,159}}</string>
				<key>offset</key>
				<string>{31,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,162}</string>
			</dict>
			<key>img/shenbing/sq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,162},{500,159}}</string>
				<key>offset</key>
				<string>{-34,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{569,162}</string>
			</dict>
			<key>img/shenbing/sq5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,664},{500,159}}</string>
				<key>offset</key>
				<string>{-34,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,162}</string>
			</dict>
			<key>img/shenbing/sq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{500,159}}</string>
				<key>offset</key>
				<string>{-34,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,162}</string>
			</dict>
			<key>img/shenbing/sq4.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,1},{501,159}}</string>
				<key>offset</key>
				<string>{31,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,162}</string>
			</dict>
			<key>img/shenbing/btn_tulongzhilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,804},{125,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,48}</string>
			</dict>
			<key>img/shenbing/btn_tanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,931},{222,72}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,85}</string>
			</dict>
			<key>img/shenbing/wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,219},{640,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing.png</string>
			<key>realTextureFileName</key>
			<string>shenbing.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>