<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/meirishilian/bg_sl_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,517},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/meirishilian/ico_sl_jbsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,709},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>img/meirishilian/ico_sl_jysl.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,383},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>img/meirishilian/ico_sl_yxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,383},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>img/meirishilian/img_qizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,483},{143,67}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,80}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,248},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,344},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,439},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,411},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,467},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,608},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,461},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,653},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd6.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,709},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd7.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,405},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd8.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,405},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_nd9.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,461},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>img/meirishilian/img_sl_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,248},{180,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,161}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,552},{52,54}}</string>
				<key>offset</key>
				<string>{-14,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,523},{53,53}}</string>
				<key>offset</key>
				<string>{-16,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,599},{54,52}}</string>
				<key>offset</key>
				<string>{-14,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,578},{52,53}}</string>
				<key>offset</key>
				<string>{-16,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,347},{56,56}}</string>
				<key>offset</key>
				<string>{-15,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,143},{68,67}}</string>
				<key>offset</key>
				<string>{-15,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,280},{68,65}}</string>
				<key>offset</key>
				<string>{-15,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz8.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,212},{67,66}}</string>
				<key>offset</key>
				<string>{-16,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz9.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1},{70,69}}</string>
				<key>offset</key>
				<string>{-14,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,517},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,552},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,613},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,383},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,648},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,440},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/bg_toper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,245}</string>
			</dict>
			<key>img/meirishilian/wz_shilian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,765},{519,26}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,30}</string>
			</dict>
			<key>img/meirishilian/wz_shilian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,796},{543,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,30}</string>
			</dict>
			<key>img/meirishilian/wz_shilian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,664},{498,26}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,30}</string>
			</dict>
			<key>img/meirishilian/bg_slxiadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,248},{118,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,189}</string>
			</dict>
			<key>img/meirishilian/btn_slzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,411},{164,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,70}</string>
			</dict>
			<key>img/meirishilian/img_slltk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{191,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,136}</string>
			</dict>
			<key>img/meirishilian/shilian_zhandouwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,470},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>img/meirishilian/xinsl_sdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{226,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,129}</string>
			</dict>
			<key>img/meirishilian/rw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{300,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,380}</string>
			</dict>
			<key>img/meirishilian/img_sl_jb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,535},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>img/meirishilian/wz_sl_wz10.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,72},{70,69}}</string>
				<key>offset</key>
				<string>{-14,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shilian.png</string>
			<key>realTextureFileName</key>
			<string>shilian.png</string>
			<key>size</key>
			<string>{1016,823}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>823</integer>
		</dict>
	</dict>
</plist>