key=英雄ID
line={"hid":"英雄ID","name":"英雄名称","zhongzu":英雄种族,"pinglunid":"评论ID","star":品质星级,"color":品质,"huijuantype":"卷轴类型","wuhun":"圣器","dingwei":"定位","job":职业,"model":"模型","heroico":"头像","tenstarmodel":"十星模型","tenstarico":"十星头像","sxhid":"升星材料","growid":"成长编号","bdskillopendjlv":被动开启等级,"normalskill":"普攻","xpskill":"怒气","xpskillname":"怒气名称","xpskillico":"怒气图标","xpskillintr":"怒气描述","bd1skill":[被动1],"bd1skillname":"被动1名称","bd1skillico":"被动1图标","bd1skillintr":"被动1描述","bd2skill":[被动2],"bd2skillname":"被动2名称","bd2skillico":"被动2图标","bd2skillintr":"被动2描述","bd3skill":[被动3],"bd3skillname":"被动3名称","bd3skillico":"被动3图标","bd3skillintr":"被动3描述","voice":[配音],"indieskillani":是否有独立的施法动画,"rate":攻击频率,"rate":攻击频率,"toweratk":塔防攻击}