key=饰品ID
line={"id":"饰品ID","color":饰品品质,"fenshu":分数,"zhanli":战力,"name":"饰品名称","ico":"饰品图标","star":饰品星级,"upid":"升星饰品ID","intr":"技能描述","upexp":"升星经验","tgexp":"分解经验","fjprize":[分解碎片数量],"buff":{饰品属性},"skill":[饰品技能],"zhongzu":"专属种族","zhongzubuff":{专属属性},"sale":[出售],"tpid":"突破饰品ID","tpneed":{"shipin":[突破需求],"num":突破数量需求},"tpbuff":{突破属性},"back":{"need":[回退消耗],"prize":[回退奖励]}}