key=技能id
line={"moveto":"主体移动到","ani":"技能动画","pos":"动画位置","animovetype":"动画移动方式","bubble":[文字泡],"hitani":"受击特效","shake":"屏幕震动等级","sound":"音效","shifaani":"施法动画","frequent":"频率","bufflayer":"层级","nots":是否特殊,"ani2":"技能动画2","hitani2":"受击特效2","action2":"是否有动作2"}