key=层数
line={"guanka":"关卡","map":"地图","bossid":"boss战斗","bossprize":boss奖励,"npcid":小怪战斗,"npcprize":小怪奖励,"name":"名字","jiemiid":解密id,"jieminame":"解密名字","randomevent":随机事件,"type":类型,"shoudong":手动挑战,"saodang":扫荡获得}