<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/3zhounian/hezi/xx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1},{107,61}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,63},{107,61}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,63},{106,62}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1},{106,61}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,63},{106,61}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,124},{106,61}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,178},{105,61}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,184},{105,61}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,247},{105,61}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,1},{105,59}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1},{106,59}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,1},{106,59}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,310},{107,59}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,186},{108,59}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,126},{109,59}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{110,58}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,187},{111,57}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,285},{111,57}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,64},{112,58}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,126},{110,58}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,123},{110,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{110,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1},{110,59}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{110,60}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,1},{110,60}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{109,60}}</string>
				<key>offset</key>
				<string>{-6,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{108,60}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,62},{108,60}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,64},{108,60}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi/xx_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1},{108,61}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/3zhounian/hezi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,63},{113,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3zn_lihe_dx.png</string>
			<key>realTextureFileName</key>
			<string>3zn_lihe_dx.png</string>
			<key>size</key>
			<string>{1207,418}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1207</integer>
			<key>height</key>
			<integer>418</integer>
		</dict>
	</dict>
</plist>