<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yaosai_xuanzhong/1_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,776},{180,145}}</string>
				<key>offset</key>
				<string>{0,-66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/2_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{180,189}}</string>
				<key>offset</key>
				<string>{0,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/3_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,281},{180,207}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/4_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,537},{169,235}}</string>
				<key>offset</key>
				<string>{-4,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/5_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{148,236}}</string>
				<key>offset</key>
				<string>{-3,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/6_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,281},{158,252}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
			<key>img/yaosai_xuanzhong/7_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,275}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yaosai_xuanzhong.png</string>
			<key>realTextureFileName</key>
			<string>ani_yaosai_xuanzhong.png</string>
			<key>size</key>
			<string>{516,958}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>516</integer>
			<key>height</key>
			<integer>958</integer>
		</dict>
	</dict>
</plist>