<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_jisifazhen/guangyun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_jisifazhen/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,796},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_jisifazhen/jsksg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,0},{279,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,340}</string>
			</dict>
			<key>img/ani_jisifazhen/jsksg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,320},{279,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,340}</string>
			</dict>
			<key>img/ani_jisifazhen/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_jisifazhen/xuanwo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_jisifazhen/zise.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,350},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>img/ani_jisifazhen/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,584},{197,212}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,345}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_jisifazhen.png</string>
			<key>realTextureFileName</key>
			<string>ani_jisifazhen.png</string>
			<key>size</key>
			<string>{971,864}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>971</integer>
			<key>height</key>
			<integer>864</integer>
		</dict>
	</dict>
</plist>