<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/dating.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{310,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,419}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,425},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,2},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,56},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,110},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,164},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,218},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,272},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,326},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,380},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi1_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,434},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,56},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,110},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,164},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,218},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,272},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,326},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,380},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,434},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,56},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,110},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,164},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,218},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/chuanshuodating1/qizhi2_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,272},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chuanshuodatingxg_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_chuanshuodatingxg_dh.png</string>
			<key>size</key>
			<string>{476,486}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>476</integer>
			<key>height</key>
			<integer>486</integer>
		</dict>
	</dict>
</plist>