<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shiping_shengji/start001_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{160,155}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,253}</string>
			</dict>
			<key>img/ani_shiping_shengji/glow001_00009_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{484,408}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,422}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiping_shengji.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiping_shengji.png</string>
			<key>size</key>
			<string>{652,412}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>652</integer>
			<key>height</key>
			<integer>412</integer>
		</dict>
	</dict>
</plist>