<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_gonghuitanbao/11_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1101},{61,100}}</string>
				<key>offset</key>
				<string>{-38,126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1446},{63,107}}</string>
				<key>offset</key>
				<string>{-37,129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1223},{63,115}}</string>
				<key>offset</key>
				<string>{-38,132}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1223},{63,115}}</string>
				<key>offset</key>
				<string>{-37,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1450},{62,110}}</string>
				<key>offset</key>
				<string>{-37,130}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1838},{63,116}}</string>
				<key>offset</key>
				<string>{-37,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,999},{64,100}}</string>
				<key>offset</key>
				<string>{-37,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1975},{64,104}}</string>
				<key>offset</key>
				<string>{-37,128}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1223},{62,112}}</string>
				<key>offset</key>
				<string>{-37,131}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1838},{63,117}}</string>
				<key>offset</key>
				<string>{-37,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,679},{63,91}}</string>
				<key>offset</key>
				<string>{-38,120}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,515},{63,94}}</string>
				<key>offset</key>
				<string>{-37,123}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,554},{64,102}}</string>
				<key>offset</key>
				<string>{-36,126}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1472},{64,111}}</string>
				<key>offset</key>
				<string>{-37,130}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/11_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1838},{64,117}}</string>
				<key>offset</key>
				<string>{-37,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_gonghuitanbao/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1064},{202,223}}</string>
				<key>offset</key>
				<string>{12,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,242}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1904},{143,195}}</string>
				<key>offset</key>
				<string>{9,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1541},{140,203}}</string>
				<key>offset</key>
				<string>{7,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1903},{135,193}}</string>
				<key>offset</key>
				<string>{8,29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,230},{127,187}}</string>
				<key>offset</key>
				<string>{7,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{117,179}}</string>
				<key>offset</key>
				<string>{7,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1644},{111,166}}</string>
				<key>offset</key>
				<string>{4,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1019},{108,165}}</string>
				<key>offset</key>
				<string>{4,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1619},{103,159}}</string>
				<key>offset</key>
				<string>{4,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1399},{99,141}}</string>
				<key>offset</key>
				<string>{5,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1841},{95,132}}</string>
				<key>offset</key>
				<string>{6,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,698},{89,124}}</string>
				<key>offset</key>
				<string>{5,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1815},{86,123}}</string>
				<key>offset</key>
				<string>{4,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,824},{81,118}}</string>
				<key>offset</key>
				<string>{4,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1459},{75,108}}</string>
				<key>offset</key>
				<string>{6,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1459},{71,99}}</string>
				<key>offset</key>
				<string>{6,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,419},{69,94}}</string>
				<key>offset</key>
				<string>{7,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,611},{66,87}}</string>
				<key>offset</key>
				<string>{7,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/waixuanwo_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,772},{60,78}}</string>
				<key>offset</key>
				<string>{7,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,1599},{92,146}}</string>
				<key>offset</key>
				<string>{-84,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1913},{126,191}}</string>
				<key>offset</key>
				<string>{-71,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1019},{157,202}}</string>
				<key>offset</key>
				<string>{-52,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1289},{201,195}}</string>
				<key>offset</key>
				<string>{-22,53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,559},{223,237}}</string>
				<key>offset</key>
				<string>{9,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,277}}</string>
				<key>offset</key>
				<string>{29,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,240},{196,264}}</string>
				<key>offset</key>
				<string>{19,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,798},{193,219}}</string>
				<key>offset</key>
				<string>{-5,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1289},{153,250}}</string>
				<key>offset</key>
				<string>{-28,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,240},{185,227}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1695},{179,216}}</string>
				<key>offset</key>
				<string>{6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,778},{145,187}}</string>
				<key>offset</key>
				<string>{14,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,679},{54,67}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,506},{49,72}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,967},{50,68}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiao_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1391},{53,70}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1747},{92,146}}</string>
				<key>offset</key>
				<string>{-84,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1913},{126,191}}</string>
				<key>offset</key>
				<string>{-71,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1019},{157,202}}</string>
				<key>offset</key>
				<string>{-52,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1492},{201,195}}</string>
				<key>offset</key>
				<string>{-22,53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1},{223,237}}</string>
				<key>offset</key>
				<string>{9,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,280},{205,277}}</string>
				<key>offset</key>
				<string>{29,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,798},{196,264}}</string>
				<key>offset</key>
				<string>{19,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,557},{193,219}}</string>
				<key>offset</key>
				<string>{-5,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1683},{153,250}}</string>
				<key>offset</key>
				<string>{-28,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1},{185,227}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1695},{179,216}}</string>
				<key>offset</key>
				<string>{6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,556},{145,187}}</string>
				<key>offset</key>
				<string>{14,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,852},{54,67}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,506},{49,72}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,967},{50,68}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xiantiaoss_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1391},{53,70}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,1599},{93,139}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1186},{99,176}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,745},{93,163}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,554},{88,142}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1164},{87,167}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1011},{97,151}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1532},{110,176}}</string>
				<key>offset</key>
				<string>{-8,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1780},{110,146}}</string>
				<key>offset</key>
				<string>{-13,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1903},{106,175}}</string>
				<key>offset</key>
				<string>{-13,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1514},{103,165}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1500},{97,143}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1288},{110,182}}</string>
				<key>offset</key>
				<string>{-8,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1287},{114,170}}</string>
				<key>offset</key>
				<string>{-10,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1538},{113,173}}</string>
				<key>offset</key>
				<string>{-8,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1287},{102,166}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,910},{99,151}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1287},{109,161}}</string>
				<key>offset</key>
				<string>{-10,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1644},{111,169}}</string>
				<key>offset</key>
				<string>{-13,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1892},{108,146}}</string>
				<key>offset</key>
				<string>{-11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/xuanwo_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1253},{99,144}}</string>
				<key>offset</key>
				<string>{-8,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,469},{85,159}}</string>
				<key>offset</key>
				<string>{39,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,254}</string>
			</dict>
			<key>img/ani_gonghuitanbao/zhuzig.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,469},{83,136}}</string>
				<key>offset</key>
				<string>{38,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,254}</string>
			</dict>
			<key>img/ani_gonghuitanbao/bbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,907},{87,90}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuitabbao.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuitabbao.png</string>
			<key>size</key>
			<string>{1171,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1171</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>