<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,576},{271,283}}</string>
				<key>offset</key>
				<string>{13,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,578},{272,285}}</string>
				<key>offset</key>
				<string>{16,104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,574},{272,285}}</string>
				<key>offset</key>
				<string>{16,104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,850},{266,281}}</string>
				<key>offset</key>
				<string>{20,102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,851},{265,283}}</string>
				<key>offset</key>
				<string>{21,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,573},{276,283}}</string>
				<key>offset</key>
				<string>{19,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,289},{281,283}}</string>
				<key>offset</key>
				<string>{16,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,2},{291,283}}</string>
				<key>offset</key>
				<string>{13,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,2},{291,283}}</string>
				<key>offset</key>
				<string>{13,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{293,283}}</string>
				<key>offset</key>
				<string>{12,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2},{293,283}}</string>
				<key>offset</key>
				<string>{11,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,2},{287,283}}</string>
				<key>offset</key>
				<string>{12,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,289},{284,283}}</string>
				<key>offset</key>
				<string>{12,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,289},{283,283}}</string>
				<key>offset</key>
				<string>{10,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,2},{277,283}}</string>
				<key>offset</key>
				<string>{11,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,853},{273,283}}</string>
				<key>offset</key>
				<string>{13,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,854},{272,283}}</string>
				<key>offset</key>
				<string>{16,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,576},{269,283}}</string>
				<key>offset</key>
				<string>{15,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,855},{259,283}}</string>
				<key>offset</key>
				<string>{18,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1118},{256,283}}</string>
				<key>offset</key>
				<string>{20,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,849},{267,283}}</string>
				<key>offset</key>
				<string>{16,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1130},{272,283}}</string>
				<key>offset</key>
				<string>{13,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,289},{282,285}}</string>
				<key>offset</key>
				<string>{10,104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,289},{283,283}}</string>
				<key>offset</key>
				<string>{11,103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,2},{286,285}}</string>
				<key>offset</key>
				<string>{10,104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,289},{281,285}}</string>
				<key>offset</key>
				<string>{7,104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,291},{278,281}}</string>
				<key>offset</key>
				<string>{10,102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,574},{277,279}}</string>
				<key>offset</key>
				<string>{9,101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,854},{278,277}}</string>
				<key>offset</key>
				<string>{9,100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/fsg/fsg_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,576},{274,283}}</string>
				<key>offset</key>
				<string>{10,103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_shuijing3_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_shuijing3_dh.png</string>
			<key>size</key>
			<string>{2048,1404}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1404</integer>
		</dict>
	</dict>
</plist>