<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wzry_shuaxin/g_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,518},{220,226}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/wzry_shuaxin/g2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,748},{220,226}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/wzry_shuaxin/Magic 00302.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_wzry_shuaxin.png</string>
			<key>realTextureFileName</key>
			<string>ani_wzry_shuaxin.png</string>
			<key>size</key>
			<string>{516,976}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>516</integer>
			<key>height</key>
			<integer>976</integer>
		</dict>
	</dict>
</plist>