<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shouchong/btn_shouchong_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,353},{131,44}}</string>
				<key>offset</key>
				<string>{19,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/ani_shouchong/btn_shouchong_qcz.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,581},{170,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/ani_shouchong/lingqu_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,636},{131,44}}</string>
				<key>offset</key>
				<string>{19,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/ani_shouchong/quchongzhi_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,630},{170,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,2},{1,1}}</string>
				<key>offset</key>
				<string>{239,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,84},{35,75}}</string>
				<key>offset</key>
				<string>{-44,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,84},{35,75}}</string>
				<key>offset</key>
				<string>{-44,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,2},{65,78}}</string>
				<key>offset</key>
				<string>{-37,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,163},{99,81}}</string>
				<key>offset</key>
				<string>{-33,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,269},{134,80}}</string>
				<key>offset</key>
				<string>{-30,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,401},{169,79}}</string>
				<key>offset</key>
				<string>{-29,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,615},{204,81}}</string>
				<key>offset</key>
				<string>{-27,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,484},{242,93}}</string>
				<key>offset</key>
				<string>{-26,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,514},{280,97}}</string>
				<key>offset</key>
				<string>{-25,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{309,108}}</string>
				<key>offset</key>
				<string>{-25,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,272},{349,126}}</string>
				<key>offset</key>
				<string>{-18,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,137},{390,131}}</string>
				<key>offset</key>
				<string>{-18,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,134},{427,131}}</string>
				<key>offset</key>
				<string>{-21,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{459,131}}</string>
				<key>offset</key>
				<string>{-11,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,2},{461,128}}</string>
				<key>offset</key>
				<string>{-10,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,370},{461,92}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,269},{461,97}}</string>
				<key>offset</key>
				<string>{-10,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,466},{461,92}}</string>
				<key>offset</key>
				<string>{-10,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
			<key>img/shouchongliuguang/wenziliuguang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,562},{461,70}}</string>
				<key>offset</key>
				<string>{-10,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shouchong_lingquchonzhi.png</string>
			<key>realTextureFileName</key>
			<string>ani_shouchong_lingquchonzhi.png</string>
			<key>size</key>
			<string>{1024,698}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>698</integer>
		</dict>
	</dict>
</plist>