<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhuangbeifumoban/fs/gz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{156,238}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,711}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1019},{1,1}}</string>
				<key>offset</key>
				<string>{74,-124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1016},{4,5}}</string>
				<key>offset</key>
				<string>{-9,62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1014},{8,8}}</string>
				<key>offset</key>
				<string>{-9,61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,999},{10,11}}</string>
				<key>offset</key>
				<string>{-9,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,999},{22,20}}</string>
				<key>offset</key>
				<string>{-4,60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,594},{26,27}}</string>
				<key>offset</key>
				<string>{-3,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,594},{28,32}}</string>
				<key>offset</key>
				<string>{-3,56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,771},{30,47}}</string>
				<key>offset</key>
				<string>{-2,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,729},{31,54}}</string>
				<key>offset</key>
				<string>{-2,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,626},{31,62}}</string>
				<key>offset</key>
				<string>{-2,51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,627},{31,68}}</string>
				<key>offset</key>
				<string>{-2,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,943},{31,73}}</string>
				<key>offset</key>
				<string>{-2,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,943},{31,76}}</string>
				<key>offset</key>
				<string>{-2,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,803},{32,82}}</string>
				<key>offset</key>
				<string>{-2,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,918},{32,91}}</string>
				<key>offset</key>
				<string>{-3,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,809},{32,99}}</string>
				<key>offset</key>
				<string>{-4,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,509},{31,107}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,965},{30,114}}</string>
				<key>offset</key>
				<string>{-5,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,966},{29,121}}</string>
				<key>offset</key>
				<string>{-6,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,934},{27,128}}</string>
				<key>offset</key>
				<string>{-7,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,244},{99,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,999},{24,13}}</string>
				<key>offset</key>
				<string>{-8,96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,999},{29,21}}</string>
				<key>offset</key>
				<string>{-8,92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,822},{34,30}}</string>
				<key>offset</key>
				<string>{-7,87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,729},{38,38}}</string>
				<key>offset</key>
				<string>{-7,83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,544},{43,46}}</string>
				<key>offset</key>
				<string>{-8,79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,839},{49,54}}</string>
				<key>offset</key>
				<string>{-8,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,954},{56,62}}</string>
				<key>offset</key>
				<string>{-8,71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,731},{67,68}}</string>
				<key>offset</key>
				<string>{-7,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,427},{78,68}}</string>
				<key>offset</key>
				<string>{-5,58}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,552},{89,67}}</string>
				<key>offset</key>
				<string>{-4,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,865},{97,67}}</string>
				<key>offset</key>
				<string>{-1,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,453},{99,67}}</string>
				<key>offset</key>
				<string>{0,33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,556},{99,67}}</string>
				<key>offset</key>
				<string>{0,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,659},{99,66}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,762},{99,66}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,659},{99,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,762},{99,65}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,865},{98,65}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,453},{95,65}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,244},{89,64}}</string>
				<key>offset</key>
				<string>{1,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,337},{86,64}}</string>
				<key>offset</key>
				<string>{1,-42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,645},{82,63}}</string>
				<key>offset</key>
				<string>{-1,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,544},{79,63}}</string>
				<key>offset</key>
				<string>{-3,-58}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,731},{74,62}}</string>
				<key>offset</key>
				<string>{-3,-67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,845},{69,59}}</string>
				<key>offset</key>
				<string>{-3,-73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,845},{64,50}}</string>
				<key>offset</key>
				<string>{-2,-78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,897},{58,42}}</string>
				<key>offset</key>
				<string>{-2,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,692},{52,33}}</string>
				<key>offset</key>
				<string>{-2,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,699},{46,25}}</string>
				<key>offset</key>
				<string>{-2,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
			<key>img/zhuangbeifumoban/fs/fsgsj_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,999},{40,16}}</string>
				<key>offset</key>
				<string>{-1,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,205}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuangbeifumo_fs.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuangbeifumo_fs.png</string>
			<key>size</key>
			<string>{377,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>377</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>