<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_baoshijiesuotishi/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{197,212}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,345}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/shuaxin_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,446},{168,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,163}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{50,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,57}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/suo1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_baoshijiesuotishi.png</string>
			<key>realTextureFileName</key>
			<string>ani_baoshijiesuotishi.png</string>
			<key>size</key>
			<string>{215,786}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>215</integer>
			<key>height</key>
			<integer>786</integer>
		</dict>
	</dict>
</plist>