<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xuanzhuankuang/anndukuang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,343},{116,57}}</string>
				<key>offset</key>
				<string>{2,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,343},{102,61}}</string>
				<key>offset</key>
				<string>{9,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,404},{88,72}}</string>
				<key>offset</key>
				<string>{16,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,459},{73,76}}</string>
				<key>offset</key>
				<string>{23,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,538},{58,77}}</string>
				<key>offset</key>
				<string>{31,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,498},{60,76}}</string>
				<key>offset</key>
				<string>{30,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,399},{75,74}}</string>
				<key>offset</key>
				<string>{22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,408},{89,67}}</string>
				<key>offset</key>
				<string>{15,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,480},{104,54}}</string>
				<key>offset</key>
				<string>{8,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,343},{118,52}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,343},{118,52}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,399},{107,56}}</string>
				<key>offset</key>
				<string>{-7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,466},{92,68}}</string>
				<key>offset</key>
				<string>{-14,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,418},{77,76}}</string>
				<key>offset</key>
				<string>{-22,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,479},{63,77}}</string>
				<key>offset</key>
				<string>{-29,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,479},{65,77}}</string>
				<key>offset</key>
				<string>{-28,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,343},{80,76}}</string>
				<key>offset</key>
				<string>{-20,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,343},{93,71}}</string>
				<key>offset</key>
				<string>{-14,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{109,58}}</string>
				<key>offset</key>
				<string>{-6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>xuanzhuankuang/anndukuang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{118,57}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,175},{200,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,175},{200,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,175},{200,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{200,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{200,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{200,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{200,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,175},{200,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
			<key>ani_tanxian_nanduxuanze/PT/dituPT_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,175},{200,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,169}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian_nanduxuanze_PT.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian_nanduxuanze_PT.png</string>
			<key>size</key>
			<string>{1020,617}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>617</integer>
		</dict>
	</dict>
</plist>