<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/diaowen/xilian/xilian01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,805},{193,35}}</string>
				<key>offset</key>
				<string>{86,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian02.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,769},{196,29}}</string>
				<key>offset</key>
				<string>{75,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian03.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,805},{193,35}}</string>
				<key>offset</key>
				<string>{76,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,735},{229,32}}</string>
				<key>offset</key>
				<string>{70,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian05.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,250},{240,33}}</string>
				<key>offset</key>
				<string>{60,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,863},{234,32}}</string>
				<key>offset</key>
				<string>{60,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian07.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,2},{240,35}}</string>
				<key>offset</key>
				<string>{47,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian08.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,246},{242,34}}</string>
				<key>offset</key>
				<string>{38,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian09.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,2},{244,33}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian10.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,2},{247,34}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian11.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,2},{245,34}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian12.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,2},{246,36}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,771},{240,30}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian14.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,735},{238,30}}</string>
				<key>offset</key>
				<string>{-20,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian15.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,494},{237,32}}</string>
				<key>offset</key>
				<string>{-29,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian16.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,251},{254,30}}</string>
				<key>offset</key>
				<string>{-35,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian17.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,494},{206,28}}</string>
				<key>offset</key>
				<string>{-41,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian18.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,704},{155,25}}</string>
				<key>offset</key>
				<string>{-43,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,2},{198,22}}</string>
				<key>offset</key>
				<string>{-58,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/xilian20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{488,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,60}</string>
			</dict>
			<key>img/diaowen/xilian/sg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,2},{310,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_diaowen_xilian.png</string>
			<key>realTextureFileName</key>
			<string>ani_diaowen_xilian.png</string>
			<key>size</key>
			<string>{1024,897}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>897</integer>
		</dict>
	</dict>
</plist>