<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/changjingfengwei/yaosai/yun/1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{828,168}}</string>
				<key>offset</key>
				<string>{-17,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{868,189}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/yun/2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,337},{342,67}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,67}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/f1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,530},{87,81}}</string>
				<key>offset</key>
				<string>{91,-265}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/f2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,784},{183,79}}</string>
				<key>offset</key>
				<string>{-34,-213}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/q1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,530},{80,123}}</string>
				<key>offset</key>
				<string>{-225,181}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/q2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,337},{246,115}}</string>
				<key>offset</key>
				<string>{104,299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/q3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,2},{230,148}}</string>
				<key>offset</key>
				<string>{-18,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/guang/yj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,174},{70,45}}</string>
				<key>offset</key>
				<string>{-167,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,587},{193,125}}</string>
				<key>offset</key>
				<string>{14,-44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,702},{199,132}}</string>
				<key>offset</key>
				<string>{12,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,496},{202,137}}</string>
				<key>offset</key>
				<string>{11,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,337},{203,143}}</string>
				<key>offset</key>
				<string>{11,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,236},{204,147}}</string>
				<key>offset</key>
				<string>{11,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,503},{187,144}}</string>
				<key>offset</key>
				<string>{19,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,694},{187,141}}</string>
				<key>offset</key>
				<string>{19,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,636},{186,145}}</string>
				<key>offset</key>
				<string>{20,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,484},{189,148}}</string>
				<key>offset</key>
				<string>{17,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,341},{191,151}}</string>
				<key>offset</key>
				<string>{16,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{186,155}}</string>
				<key>offset</key>
				<string>{18,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,174},{190,159}}</string>
				<key>offset</key>
				<string>{15,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,174},{192,159}}</string>
				<key>offset</key>
				<string>{13,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,174},{191,163}}</string>
				<key>offset</key>
				<string>{10,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,174},{192,166}}</string>
				<key>offset</key>
				<string>{10,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,683},{152,167}}</string>
				<key>offset</key>
				<string>{26,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,885},{134,122}}</string>
				<key>offset</key>
				<string>{18,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,444},{131,82}}</string>
				<key>offset</key>
				<string>{16,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,2},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yaosai_fengwei.png</string>
			<key>realTextureFileName</key>
			<string>ani_yaosai_fengwei.png</string>
			<key>size</key>
			<string>{989,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>989</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>