<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/guangyun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/guang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{257,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,275}</string>
			</dict>
			<key>img/ani_shijieshu1/guangqiu2LS.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,2},{48,53}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>img/ani_shijieshu1/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,281},{66,70}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,114}</string>
			</dict>
			<key>img/ani_shijieshu1/mohuguangquanlvse.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,355},{66,70}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,114}</string>
			</dict>
			<key>img/ani_shijieshu1/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,281},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_shijieshu1/quan1_00000lvse.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,326},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_shijieshu1/hengsaoguanghongse.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,519},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_shijieshu1/hengsaoguanglvse.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,591},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,519},{167,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,189}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshu3.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshu3.png</string>
			<key>size</key>
			<string>{1013,710}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1013</integer>
			<key>height</key>
			<integer>710</integer>
		</dict>
	</dict>
</plist>