<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,410},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,614},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,818},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/zhongdu/zd_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzczhongdu_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzczhongdu_dh.png</string>
			<key>size</key>
			<string>{1020,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>