<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongjitan2/3/j_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,161},{44,84}}</string>
				<key>offset</key>
				<string>{-83,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,254},{51,111}}</string>
				<key>offset</key>
				<string>{-81,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,129},{51,121}}</string>
				<key>offset</key>
				<string>{-81,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,276},{155,132}}</string>
				<key>offset</key>
				<string>{-27,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,300},{140,119}}</string>
				<key>offset</key>
				<string>{-20,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,369},{189,54}}</string>
				<key>offset</key>
				<string>{6,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,276},{192,56}}</string>
				<key>offset</key>
				<string>{9,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,303},{185,57}}</string>
				<key>offset</key>
				<string>{14,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,518},{80,128}}</string>
				<key>offset</key>
				<string>{66,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,433},{81,131}}</string>
				<key>offset</key>
				<string>{65,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,364},{79,127}}</string>
				<key>offset</key>
				<string>{65,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,364},{77,117}}</string>
				<key>offset</key>
				<string>{67,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/j_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,416},{77,117}}</string>
				<key>offset</key>
				<string>{67,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,447},{77,88}}</string>
				<key>offset</key>
				<string>{-75,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,472},{123,127}}</string>
				<key>offset</key>
				<string>{-55,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,161},{135,152}}</string>
				<key>offset</key>
				<string>{-50,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,2},{135,172}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,164},{160,160}}</string>
				<key>offset</key>
				<string>{-39,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,129},{188,152}}</string>
				<key>offset</key>
				<string>{-25,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2},{198,137}}</string>
				<key>offset</key>
				<string>{-4,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,2},{182,158}}</string>
				<key>offset</key>
				<string>{15,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,143},{156,167}}</string>
				<key>offset</key>
				<string>{27,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,2},{155,175}}</string>
				<key>offset</key>
				<string>{41,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,285},{144,177}}</string>
				<key>offset</key>
				<string>{48,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,141},{131,166}}</string>
				<key>offset</key>
				<string>{54,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,412},{111,141}}</string>
				<key>offset</key>
				<string>{63,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/3/yf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,328},{84,127}}</string>
				<key>offset</key>
				<string>{76,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,196}</string>
			</dict>
			<key>img/yingxiongjitan2/4/hs_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{243,123}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxiongjitan_3.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxiongjitan_3.png</string>
			<key>size</key>
			<string>{1024,600}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>600</integer>
		</dict>
	</dict>
</plist>