<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chuanshuodating/baodian/baodian_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/chuanshuodating/baodian/baodian_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chuanshuodating_baodian.png</string>
			<key>realTextureFileName</key>
			<string>ani_chuanshuodating_baodian.png</string>
			<key>size</key>
			<string>{924,924}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>924</integer>
			<key>height</key>
			<integer>924</integer>
		</dict>
	</dict>
</plist>