<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1135},{289,124}}</string>
				<key>offset</key>
				<string>{10,-165}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1336},{287,145}}</string>
				<key>offset</key>
				<string>{11,-166}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,326},{286,149}}</string>
				<key>offset</key>
				<string>{13,-160}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1142},{284,160}}</string>
				<key>offset</key>
				<string>{14,-158}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1236},{283,161}}</string>
				<key>offset</key>
				<string>{15,-150}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,945},{282,186}}</string>
				<key>offset</key>
				<string>{16,-158}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,827},{283,188}}</string>
				<key>offset</key>
				<string>{16,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,635},{284,188}}</string>
				<key>offset</key>
				<string>{16,-148}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,2},{336,211}}</string>
				<key>offset</key>
				<string>{-9,-160}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,217},{336,206}}</string>
				<key>offset</key>
				<string>{-9,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,427},{332,204}}</string>
				<key>offset</key>
				<string>{-6,-150}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{265,214}}</string>
				<key>offset</key>
				<string>{-10,-152}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,628},{268,214}}</string>
				<key>offset</key>
				<string>{-13,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,406},{268,237}}</string>
				<key>offset</key>
				<string>{-19,-161}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,406},{264,242}}</string>
				<key>offset</key>
				<string>{-25,-164}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,921},{260,217}}</string>
				<key>offset</key>
				<string>{-31,-171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,616},{262,219}}</string>
				<key>offset</key>
				<string>{-33,-165}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,326},{314,218}}</string>
				<key>offset</key>
				<string>{-8,-160}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,548},{314,184}}</string>
				<key>offset</key>
				<string>{-8,-137}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,921},{311,182}}</string>
				<key>offset</key>
				<string>{-7,-132}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,846},{299,189}}</string>
				<key>offset</key>
				<string>{-1,-136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,882},{274,194}}</string>
				<key>offset</key>
				<string>{12,-132}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1131},{276,201}}</string>
				<key>offset</key>
				<string>{12,-128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,736},{276,205}}</string>
				<key>offset</key>
				<string>{12,-124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,647},{276,206}}</string>
				<key>offset</key>
				<string>{12,-119}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,406},{271,218}}</string>
				<key>offset</key>
				<string>{15,-120}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1039},{227,212}}</string>
				<key>offset</key>
				<string>{37,-118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,406},{277,219}}</string>
				<key>offset</key>
				<string>{13,-118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,927},{282,200}}</string>
				<key>offset</key>
				<string>{12,-138}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/lz/lz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,629},{288,198}}</string>
				<key>offset</key>
				<string>{10,-130}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1163,400}}</string>
				<key>offset</key>
				<string>{-1,-107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,2800}</string>
			</dict>
			<key>img/shenchong/shenchongshuijing/sj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,2},{320,476}}</string>
				<key>offset</key>
				<string>{-6,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_shuijing_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_shuijing_dh.png</string>
			<key>size</key>
			<string>{1987,1521}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1987</integer>
			<key>height</key>
			<integer>1521</integer>
		</dict>
	</dict>
</plist>