<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/jugg/bs_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,472},{95,103}}</string>
				<key>offset</key>
				<string>{-48,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/z_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,177},{27,31}}</string>
				<key>offset</key>
				<string>{41,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,2},{44,82}}</string>
				<key>offset</key>
				<string>{-46,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,63},{47,99}}</string>
				<key>offset</key>
				<string>{-47,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,63},{52,114}}</string>
				<key>offset</key>
				<string>{-45,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,228},{70,125}}</string>
				<key>offset</key>
				<string>{-36,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,228},{90,118}}</string>
				<key>offset</key>
				<string>{-25,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{97,113}}</string>
				<key>offset</key>
				<string>{-21,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,119},{104,105}}</string>
				<key>offset</key>
				<string>{-16,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,2},{113,95}}</string>
				<key>offset</key>
				<string>{-12,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,350},{118,84}}</string>
				<key>offset</key>
				<string>{-7,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,350},{123,72}}</string>
				<key>offset</key>
				<string>{-3,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,343},{128,62}}</string>
				<key>offset</key>
				<string>{2,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,282},{128,57}}</string>
				<key>offset</key>
				<string>{5,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,220},{128,58}}</string>
				<key>offset</key>
				<string>{8,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/dg/dg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2},{124,57}}</string>
				<key>offset</key>
				<string>{11,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,409},{25,12}}</string>
				<key>offset</key>
				<string>{-52,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,2},{24,29}}</string>
				<key>offset</key>
				<string>{-52,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,298},{32,32}}</string>
				<key>offset</key>
				<string>{-50,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,177},{29,31}}</string>
				<key>offset</key>
				<string>{-50,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,2},{26,29}}</string>
				<key>offset</key>
				<string>{-50,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,239},{20,25}}</string>
				<key>offset</key>
				<string>{-53,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd1/sd1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,91},{17,22}}</string>
				<key>offset</key>
				<string>{-53,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,177},{29,27}}</string>
				<key>offset</key>
				<string>{-47,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,302},{35,72}}</string>
				<key>offset</key>
				<string>{-48,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,426},{39,134}}</string>
				<key>offset</key>
				<string>{-51,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,302},{37,135}}</string>
				<key>offset</key>
				<string>{-48,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,189},{27,85}}</string>
				<key>offset</key>
				<string>{-48,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,189},{27,114}}</string>
				<key>offset</key>
				<string>{-46,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd2/sd2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,184},{23,42}}</string>
				<key>offset</key>
				<string>{-46,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,35},{52,47}}</string>
				<key>offset</key>
				<string>{-29,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{85,57}}</string>
				<key>offset</key>
				<string>{-10,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,113},{91,59}}</string>
				<key>offset</key>
				<string>{-5,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,50},{106,59}}</string>
				<key>offset</key>
				<string>{5,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,211},{116,59}}</string>
				<key>offset</key>
				<string>{5,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,119},{114,61}}</string>
				<key>offset</key>
				<string>{5,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,119},{115,66}}</string>
				<key>offset</key>
				<string>{6,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sd3/sd3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,114},{116,59}}</string>
				<key>offset</key>
				<string>{11,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,343},{1,1}}</string>
				<key>offset</key>
				<string>{99,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,282},{13,17}}</string>
				<key>offset</key>
				<string>{-55,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,282},{11,15}}</string>
				<key>offset</key>
				<string>{-57,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,176},{24,23}}</string>
				<key>offset</key>
				<string>{-49,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,239},{23,24}}</string>
				<key>offset</key>
				<string>{-50,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,282},{10,12}}</string>
				<key>offset</key>
				<string>{-44,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,282},{12,19}}</string>
				<key>offset</key>
				<string>{-46,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,209},{25,26}}</string>
				<key>offset</key>
				<string>{-51,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,282},{16,20}}</string>
				<key>offset</key>
				<string>{-50,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,177},{28,27}}</string>
				<key>offset</key>
				<string>{-50,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/jugg/sdq/sdq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,2},{27,25}}</string>
				<key>offset</key>
				<string>{-50,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_jugg_pf.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_jugg_pf.png</string>
			<key>size</key>
			<string>{590,577}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>590</integer>
			<key>height</key>
			<integer>577</integer>
		</dict>
	</dict>
</plist>