<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,2},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,769},{201,87}}</string>
				<key>offset</key>
				<string>{148,297}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,723},{205,88}}</string>
				<key>offset</key>
				<string>{146,297}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,684},{209,89}}</string>
				<key>offset</key>
				<string>{144,297}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,597},{214,91}}</string>
				<key>offset</key>
				<string>{143,298}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,545},{220,91}}</string>
				<key>offset</key>
				<string>{140,298}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,738},{223,92}}</string>
				<key>offset</key>
				<string>{138,298}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,692},{187,92}}</string>
				<key>offset</key>
				<string>{156,298}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,587},{210,93}}</string>
				<key>offset</key>
				<string>{145,299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,500},{217,93}}</string>
				<key>offset</key>
				<string>{141,299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,579},{223,93}}</string>
				<key>offset</key>
				<string>{138,299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,492},{227,92}}</string>
				<key>offset</key>
				<string>{136,299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,492},{230,91}}</string>
				<key>offset</key>
				<string>{134,299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,308},{233,91}}</string>
				<key>offset</key>
				<string>{132,299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,500},{234,90}}</string>
				<key>offset</key>
				<string>{132,298}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,806},{195,89}}</string>
				<key>offset</key>
				<string>{151,299}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,932},{193,85}}</string>
				<key>offset</key>
				<string>{151,299}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,932},{180,76}}</string>
				<key>offset</key>
				<string>{142,302}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,500},{49,39}}</string>
				<key>offset</key>
				<string>{120,296}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/2_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,7},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,12},{1,1}}</string>
				<key>offset</key>
				<string>{319,-699}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,262},{234,123}}</string>
				<key>offset</key>
				<string>{-203,-638}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,2},{256,134}}</string>
				<key>offset</key>
				<string>{-192,-633}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,160},{345,144}}</string>
				<key>offset</key>
				<string>{-148,-628}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,2},{350,154}}</string>
				<key>offset</key>
				<string>{-145,-623}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{357,164}}</string>
				<key>offset</key>
				<string>{-142,-618}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2},{313,160}}</string>
				<key>offset</key>
				<string>{-164,-620}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,170},{316,157}}</string>
				<key>offset</key>
				<string>{-162,-621}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,331},{252,165}}</string>
				<key>offset</key>
				<string>{-194,-617}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,319},{256,172}}</string>
				<key>offset</key>
				<string>{-192,-614}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/changjingfengwei/yaosai/wuqi/3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,308},{262,180}}</string>
				<key>offset</key>
				<string>{-189,-610}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yaosai_fengwei2.png</string>
			<key>realTextureFileName</key>
			<string>ani_yaosai_fengwei2.png</string>
			<key>size</key>
			<string>{1022,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>