<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/4/44/csg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,134},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,266},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,288},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,266},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,266},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,266},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,266},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,272},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,398},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,420},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,442},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,398},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/csg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,398},{150,128}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,2},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,110},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,110},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,110},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,218},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,245},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,398},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,398},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,425},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,452},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,479},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,426},{104,23}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,2},{101,12}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/4/44/xw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,107},{101,12}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_shuicheng.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_shuicheng.png</string>
			<key>size</key>
			<string>{1021,594}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>594</integer>
		</dict>
	</dict>
</plist>