<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxianchangjing05/fudao_hou.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,577},{115,41}}</string>
				<key>offset</key>
				<string>{38,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/fudao_qian.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,493},{120,80}}</string>
				<key>offset</key>
				<string>{40,-130}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/fudao_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,353},{96,136}}</string>
				<key>offset</key>
				<string>{148,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/fudao_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,760},{92,152}}</string>
				<key>offset</key>
				<string>{-67,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/guangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,353},{49,403}}</string>
				<key>offset</key>
				<string>{28,272}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/zhongjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{243,347}}</string>
				<key>offset</key>
				<string>{73,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
			<key>img/ani_tanxianchangjing05/guang/zhongjian_guang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,353},{66,113}}</string>
				<key>offset</key>
				<string>{43,-118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1039,946}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian8.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian8.png</string>
			<key>size</key>
			<string>{247,914}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>247</integer>
			<key>height</key>
			<integer>914</integer>
		</dict>
	</dict>
</plist>