<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,2},{7,7}}</string>
				<key>offset</key>
				<string>{34,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2000,1025},{49,36}}</string>
				<key>offset</key>
				<string>{42,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,671},{106,69}}</string>
				<key>offset</key>
				<string>{33,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,822},{202,95}}</string>
				<key>offset</key>
				<string>{13,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,548},{265,119}}</string>
				<key>offset</key>
				<string>{22,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,843},{275,145}}</string>
				<key>offset</key>
				<string>{40,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,510},{335,170}}</string>
				<key>offset</key>
				<string>{14,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{334,189}}</string>
				<key>offset</key>
				<string>{17,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,290},{336,216}}</string>
				<key>offset</key>
				<string>{19,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,798},{341,244}}</string>
				<key>offset</key>
				<string>{18,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,2},{357,264}}</string>
				<key>offset</key>
				<string>{15,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,2},{368,284}}</string>
				<key>offset</key>
				<string>{16,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{365,287}}</string>
				<key>offset</key>
				<string>{17,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2},{361,267}}</string>
				<key>offset</key>
				<string>{18,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,2},{358,264}}</string>
				<key>offset</key>
				<string>{21,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,270},{354,265}}</string>
				<key>offset</key>
				<string>{23,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,270},{340,266}}</string>
				<key>offset</key>
				<string>{20,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,273},{339,271}}</string>
				<key>offset</key>
				<string>{22,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,540},{336,254}}</string>
				<key>offset</key>
				<string>{25,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tm/tm_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,539},{339,262}}</string>
				<key>offset</key>
				<string>{27,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,343},{337,224}}</string>
				<key>offset</key>
				<string>{3,-74}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,684},{337,224}}</string>
				<key>offset</key>
				<string>{3,-74}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,1025},{337,222}}</string>
				<key>offset</key>
				<string>{3,-75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,2},{337,203}}</string>
				<key>offset</key>
				<string>{3,-84}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,486},{337,184}}</string>
				<key>offset</key>
				<string>{3,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,674},{337,165}}</string>
				<key>offset</key>
				<string>{3,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,684},{337,146}}</string>
				<key>offset</key>
				<string>{3,-113}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,684},{337,126}}</string>
				<key>offset</key>
				<string>{3,-123}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,992},{330,107}}</string>
				<key>offset</key>
				<string>{0,-132}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,671},{309,88}}</string>
				<key>offset</key>
				<string>{-11,-142}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,548},{309,69}}</string>
				<key>offset</key>
				<string>{-11,-151}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,510},{308,50}}</string>
				<key>offset</key>
				<string>{-11,-161}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,539},{252,30}}</string>
				<key>offset</key>
				<string>{-37,-171}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/shenchong/fuhuazhong/jiesuo/tt/tt_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,273},{19,11}}</string>
				<key>offset</key>
				<string>{28,-180}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_gaojijiesuo_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_gaojijiesuo_dh.png</string>
			<key>size</key>
			<string>{2047,1364}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1364</integer>
		</dict>
	</dict>
</plist>