<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/baoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,1989},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/baoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,2023},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,27}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1905},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1905},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1905},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1905},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1757},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1841},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1841},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1757},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1841},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1841},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1522},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1522},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1676},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1830},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,306},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/fuwen_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2},{80,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,385},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,689},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,993},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1297},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1601},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,385},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,689},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,993},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1297},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1601},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/liefeng_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/shiyuanzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{305,379}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,379}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/shiyuanzca.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1989},{47,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,22}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/shiyuanzcb.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1522},{183,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,231}</string>
			</dict>
			<key>img/chuanshuodating/zhujiemianfw/shiyuanzhanchang/shiyuanzcc.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,306},{73,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzcxg_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzcxg_dh.png</string>
			<key>size</key>
			<string>{1066,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1066</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>