<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{626,963}}</string>
				<key>offset</key>
				<string>{-2,219}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{637,956}}</string>
				<key>offset</key>
				<string>{0,222}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,956},{630,956}}</string>
				<key>offset</key>
				<string>{5,222}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,0},{607,950}}</string>
				<key>offset</key>
				<string>{16,225}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,0},{561,945}}</string>
				<key>offset</key>
				<string>{39,228}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/choukapng/chongji/chouchouchou/chong_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,945},{590,963}}</string>
				<key>offset</key>
				<string>{25,219}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chouka7.png</string>
			<key>realTextureFileName</key>
			<string>ani_chouka7.png</string>
			<key>size</key>
			<string>{1846,1919}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1846</integer>
			<key>height</key>
			<integer>1919</integer>
		</dict>
	</dict>
</plist>