<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,660},{28,28}}</string>
				<key>offset</key>
				<string>{15,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,552},{30,32}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2},{36,37}}</string>
				<key>offset</key>
				<string>{14,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,438},{43,40}}</string>
				<key>offset</key>
				<string>{10,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,975},{51,45}}</string>
				<key>offset</key>
				<string>{9,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,780},{54,49}}</string>
				<key>offset</key>
				<string>{9,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,657},{59,53}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,77},{64,58}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,87},{71,62}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,87},{77,66}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,922},{82,70}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,935},{85,72}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,947},{87,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,2},{87,76}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,854},{89,78}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,387},{90,80}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,879},{92,81}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,391},{95,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,700},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,394},{98,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/yf/y_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,291},{99,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,692},{28,28}}</string>
				<key>offset</key>
				<string>{15,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,411},{29,32}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,2},{35,37}}</string>
				<key>offset</key>
				<string>{14,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,384},{43,40}}</string>
				<key>offset</key>
				<string>{10,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,444},{50,45}}</string>
				<key>offset</key>
				<string>{10,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,955},{53,49}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,719},{57,53}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,2},{62,57}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,162},{70,62}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,168},{77,66}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,274},{81,70}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,661},{83,72}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,947},{87,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,184},{86,76}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,481},{88,78}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,575},{89,79}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,2},{91,80}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,588},{93,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,796},{96,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,801},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/yf_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,902},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,660},{28,28}}</string>
				<key>offset</key>
				<string>{15,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,411},{29,32}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,258},{35,37}}</string>
				<key>offset</key>
				<string>{14,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,211},{43,40}}</string>
				<key>offset</key>
				<string>{10,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,384},{50,45}}</string>
				<key>offset</key>
				<string>{10,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,955},{53,49}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,833},{57,53}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,145},{62,57}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,236},{70,62}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,444},{77,66}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,359},{81,70}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,748},{83,72}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,753},{87,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,573},{86,76}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,287},{88,78}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,668},{89,79}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,97},{91,80}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,685},{93,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,896},{96,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,291},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/yf_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,392},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,624},{28,28}}</string>
				<key>offset</key>
				<string>{15,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,588},{30,32}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,299},{35,37}}</string>
				<key>offset</key>
				<string>{14,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,145},{43,40}}</string>
				<key>offset</key>
				<string>{10,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,975},{51,45}}</string>
				<key>offset</key>
				<string>{9,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,525},{53,49}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,657},{58,53}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,525},{62,57}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,2},{71,62}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,249},{77,66}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,471},{82,70}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,573},{84,72}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,753},{87,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,93},{87,76}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,854},{89,78}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,481},{90,79}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,291},{92,80}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,490},{94,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,493},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,496},{98,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/yf_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,598},{98,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,724},{28,28}}</string>
				<key>offset</key>
				<string>{15,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,624},{29,32}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,340},{35,37}}</string>
				<key>offset</key>
				<string>{14,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,68},{43,40}}</string>
				<key>offset</key>
				<string>{10,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,498},{50,45}}</string>
				<key>offset</key>
				<string>{10,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,582},{53,49}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,894},{57,53}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,591},{62,57}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,310},{70,62}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,330},{77,66}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,2},{81,70}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,835},{83,72}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,844},{87,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,663},{86,76}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,379},{88,78}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,761},{89,79}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,192},{91,80}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,782},{93,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,291},{96,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,594},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/wf_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,695},{97,81}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{271,285}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_yf.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_yf.png</string>
			<key>size</key>
			<string>{719,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>719</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>