<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,75},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,148},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,294},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,367},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,2},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,134},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,207},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,280},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,353},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,426},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,61},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,120},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,193},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,266},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,339},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,412},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/shuansongmen/chuansongmen_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,120},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzccsm_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzccsm_dh.png</string>
			<key>size</key>
			<string>{497,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>497</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>