<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhuchengjianzu/img_city_shijieshu_0000_minwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,478},{189,150}}</string>
				<key>offset</key>
				<string>{17,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_shijieshu_0001_shuijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,497},{150,76}}</string>
				<key>offset</key>
				<string>{16,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,246}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{418,296}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,348}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_shizijun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{187,191}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,212}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_tiejiangpu.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{328,268}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,268}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_tiejiangpu2_0002_chuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,302},{35,42}}</string>
				<key>offset</key>
				<string>{45,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,268}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_tiejiangpu2_0002_chuang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,322},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_tiejiangpu2_0002_chuang23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,339},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_tiejiangpu2_0003_chuanughu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,274},{103,80}}</string>
				<key>offset</key>
				<string>{52,-69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,268}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_yingxiongjitan.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,212},{187,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,229}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_zahuodian.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,2},{252,206}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,225}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,984},{30,28}}</string>
				<key>offset</key>
				<string>{6,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,783},{40,41}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,718},{41,61}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,615},{43,80}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,445},{44,81}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,530},{44,81}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,525},{43,80}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,660},{41,70}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,391},{32,50}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,749},{22,30}}</string>
				<key>offset</key>
				<string>{4,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,806},{37,47}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,734},{37,68}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,699},{38,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,782},{38,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,507},{38,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,590},{38,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,783},{38,63}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,577},{33,43}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,984},{29,31}}</string>
				<key>offset</key>
				<string>{-5,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jinshuzy_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,865},{22,21}}</string>
				<key>offset</key>
				<string>{-8,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,643},{56,78}}</string>
				<key>offset</key>
				<string>{7,208}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,511}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,509},{53,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,595},{52,82}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,497},{52,81}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,550},{52,81}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,812},{51,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,582},{51,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,550},{51,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,634},{50,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,635},{49,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,666},{49,79}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,577},{49,79}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,83}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation01.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,274},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation02.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,313},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation03.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,352},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,497},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,575},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,653},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,692},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,770},{21,34}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation12.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,589},{20,34}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{21,34}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation16.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,627},{19,34}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation17.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,550},{20,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/minwenshit-animation25gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,731},{21,35}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,569},{66,70}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,114}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shizijunshineguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,274},{194,200}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shizijunwaikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,302},{187,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,191}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,861},{150,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,48}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,865},{90,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,34}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,913},{183,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,67}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,419},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,472},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,348},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,401},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,454},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,649},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,702},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,755},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,808},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,497},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,725},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,772},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,819},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,866},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,624},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,671},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,792},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,792},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,719},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/shuizuoyou_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,766},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yanchong.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,358},{91,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,57}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yanminguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,497},{95,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,49}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yanqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,643},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yanqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,710},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yezi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,896},{22,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,8}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yezi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,443},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,8}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/yueliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,577},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zahuadian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,777},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zahuodian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,984},{44,34}}</string>
				<key>offset</key>
				<string>{-53,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,123}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zhucheng_xuanshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,649},{146,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,189}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zhucheng_xuanshang_0000_baoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,984},{56,30}}</string>
				<key>offset</key>
				<string>{16,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,171}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zhucheng_xuanshang_0002_luoxuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,749},{42,39}}</string>
				<key>offset</key>
				<string>{-52,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,171}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/zhucheng_xuanshang_0003_weiyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,984},{35,33}}</string>
				<key>offset</key>
				<string>{-38,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,171}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jsfzyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,322},{58,117}}</string>
				<key>offset</key>
				<string>{54,151}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,511}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/jsfzzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,443},{53,122}}</string>
				<key>offset</key>
				<string>{-46,156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,511}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/guangmen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,445},{179,200}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/yanquan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,609},{45,75}}</string>
				<key>offset</key>
				<string>{-83,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/yanquan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,725},{51,83}}</string>
				<key>offset</key>
				<string>{-107,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/yanquan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,419},{56,86}}</string>
				<key>offset</key>
				<string>{-129,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/yanquan_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,212},{72,106}}</string>
				<key>offset</key>
				<string>{-149,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuchengjianzu2.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuchengjianzu2.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>