<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/1/11/sl_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,246},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,133},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,246},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,264},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,377},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,400},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,395},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,508},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/sl_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,526},{150,127}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,133},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,153},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,2},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,2},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,2},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,124},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,124},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,124},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,124},{118,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,193},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,213},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,133},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,153},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/1/11/xw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,173},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_shuilan.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_shuilan.png</string>
			<key>size</key>
			<string>{1014,678}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>678</integer>
		</dict>
	</dict>
</plist>