<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shizijun/guangqiuLAN.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,355},{46,46}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>img/ani_shizijun/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,382},{241,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,68}</string>
			</dict>
			<key>img/ani_shizijun/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{197,212}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,345}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0001_rongyan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{452,379}}</string>
				<key>offset</key>
				<string>{-249,-259}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0002_rongyan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{341,214}}</string>
				<key>offset</key>
				<string>{274,-98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0003_rongyan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,452},{134,109}}</string>
				<key>offset</key>
				<string>{35,-338}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0004_yuanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,477},{226,41}}</string>
				<key>offset</key>
				<string>{5,148}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0005_rongyan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,217},{250,113}}</string>
				<key>offset</key>
				<string>{-323,-430}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0006_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{25,21}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,53}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0007_rongyan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,417},{158,67}}</string>
				<key>offset</key>
				<string>{-314,-254}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/shizijunry_0008_rongyan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,477},{114,38}}</string>
				<key>offset</key>
				<string>{-245,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,355},{166,120}}</string>
				<key>offset</key>
				<string>{-397,-285}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,332},{243,83}}</string>
				<key>offset</key>
				<string>{-312,-442}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0002_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,217},{77,132}}</string>
				<key>offset</key>
				<string>{-151,-386}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0003_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,215},{192,138}}</string>
				<key>offset</key>
				<string>{-69,-496}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0004_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,417},{134,59}}</string>
				<key>offset</key>
				<string>{79,-559}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0005_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,351},{75,75}}</string>
				<key>offset</key>
				<string>{166,-551}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0006_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,478},{125,50}}</string>
				<key>offset</key>
				<string>{214,-502}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
			<key>img/ani_shizijun/sizijunyuanzheng_0007_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,382},{134,111}}</string>
				<key>offset</key>
				<string>{224,-468}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shizijun.png</string>
			<key>realTextureFileName</key>
			<string>ani_shizijun.png</string>
			<key>size</key>
			<string>{1023,562}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>562</integer>
		</dict>
	</dict>
</plist>