<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghejitan/png/yhg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,255},{448,199}}</string>
				<key>offset</key>
				<string>{-4,-150}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_ronghejitan/png/yhg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,2},{500,249}}</string>
				<key>offset</key>
				<string>{0,-125}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_ronghejitan/png/yhg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{500,286}}</string>
				<key>offset</key>
				<string>{0,-107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghe_yuanhuan2.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghe_yuanhuan2.png</string>
			<key>size</key>
			<string>{1008,456}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>456</integer>
		</dict>
	</dict>
</plist>