<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{36,37}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,2},{36,37}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,2},{36,37}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,2},{46,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{48,46}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,2},{48,46}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,2},{48,46}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,2},{46,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2},{36,37}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tanxian_nanduxuanze/SW/dituSW_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,2},{36,37}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian_nanduxuanze_SW.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian_nanduxuanze_SW.png</string>
			<key>size</key>
			<string>{456,50}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>456</integer>
			<key>height</key>
			<integer>50</integer>
		</dict>
	</dict>
</plist>