<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_jinjieqianghua/10024.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,687},{224,184}}</string>
				<key>offset</key>
				<string>{49,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10025.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,254},{220,212}}</string>
				<key>offset</key>
				<string>{48,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,528},{221,201}}</string>
				<key>offset</key>
				<string>{42,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10027.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,250},{239,215}}</string>
				<key>offset</key>
				<string>{40,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10028.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,2},{248,227}}</string>
				<key>offset</key>
				<string>{41,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10029.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,248},{252,238}}</string>
				<key>offset</key>
				<string>{43,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10030.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,2},{255,244}}</string>
				<key>offset</key>
				<string>{42,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,267},{257,254}}</string>
				<key>offset</key>
				<string>{42,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{252,261}}</string>
				<key>offset</key>
				<string>{42,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10033.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{242,268}}</string>
				<key>offset</key>
				<string>{43,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10035.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,470},{154,203}}</string>
				<key>offset</key>
				<string>{47,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10037.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,771},{151,216}}</string>
				<key>offset</key>
				<string>{47,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,733},{168,224}}</string>
				<key>offset</key>
				<string>{49,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10041.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,490},{193,231}}</string>
				<key>offset</key>
				<string>{49,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/10043.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,875},{193,108}}</string>
				<key>offset</key>
				<string>{49,73}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/ani_jinjieqianghua/bggg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,875},{96,174}}</string>
				<key>offset</key>
				<string>{4,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_jinjieqianghua/gz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,469},{155,298}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_jinjieqianghua.png</string>
			<key>realTextureFileName</key>
			<string>ani_jinjieqianghua.png</string>
			<key>size</key>
			<string>{1018,989}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>989</integer>
		</dict>
	</dict>
</plist>