<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_tanxian01/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,190},{100,49}}</string>
				<key>offset</key>
				<string>{13,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,76},{104,55}}</string>
				<key>offset</key>
				<string>{12,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,55},{108,55}}</string>
				<key>offset</key>
				<string>{12,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,2},{128,70}}</string>
				<key>offset</key>
				<string>{0,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,135},{76,72}}</string>
				<key>offset</key>
				<string>{-29,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,84},{78,73}}</string>
				<key>offset</key>
				<string>{-29,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,114},{79,72}}</string>
				<key>offset</key>
				<string>{-29,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,114},{79,72}}</string>
				<key>offset</key>
				<string>{-29,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,211},{61,73}}</string>
				<key>offset</key>
				<string>{-21,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,161},{62,75}}</string>
				<key>offset</key>
				<string>{-22,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,135},{63,77}}</string>
				<key>offset</key>
				<string>{-23,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,2},{120,78}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,2},{121,49}}</string>
				<key>offset</key>
				<string>{3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ani_tanxian01/youbianyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{618,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,227}</string>
			</dict>
			<key>ani_tanxian01/zuobianyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,233},{414,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxianbeijing.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxianbeijing.png</string>
			<key>size</key>
			<string>{1020,386}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>386</integer>
		</dict>
	</dict>
</plist>