<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xianshizhaomu_taizi/bg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,201},{102,49}}</string>
				<key>offset</key>
				<string>{247,-203}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,284},{60,102}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,218},{62,108}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,135},{62,116}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,69},{62,118}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,151},{61,112}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,69},{62,118}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,265},{63,101}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,216},{63,107}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,151},{61,115}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,2},{63,120}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{62,93}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,347},{63,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,281},{63,103}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,151},{63,111}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,2},{63,119}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,2},{63,119}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,283},{60,104}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,151},{62,110}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,135},{62,116}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,125},{62,118}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,216},{61,113}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,69},{62,119}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,201},{63,102}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,218},{63,109}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,135},{62,116}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{63,121}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,348},{62,93}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,348},{63,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,285},{63,103}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/h_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,151},{63,112}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xianshizhaomu_taizi/tz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{546,145}}</string>
				<key>offset</key>
				<string>{12,-288}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xianshizhaomu_taizi.png</string>
			<key>realTextureFileName</key>
			<string>ani_xianshizhaomu_taizi.png</string>
			<key>size</key>
			<string>{989,416}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>989</integer>
			<key>height</key>
			<integer>416</integer>
		</dict>
	</dict>
</plist>