<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/juedou/kuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,125},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,217},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,309},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,401},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,93},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,185},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,277},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,369},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,93},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,185},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,277},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,369},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,93},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,185},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,277},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,369},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,93},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,185},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,277},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,369},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/juedou/kuang_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,93},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>img/touxiangkuang/jdsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{118,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_jdsd.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_jdsd.png</string>
			<key>size</key>
			<string>{553,492}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>553</integer>
			<key>height</key>
			<integer>492</integer>
		</dict>
	</dict>
</plist>