<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhengjilingqu/huadongxian_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,676},{239,235}}</string>
				<key>offset</key>
				<string>{-48,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/huadongxian_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,676},{356,299}}</string>
				<key>offset</key>
				<string>{-53,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/huadongxian_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,345},{416,328}}</string>
				<key>offset</key>
				<string>{-85,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/huadongxian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,2},{458,337}}</string>
				<key>offset</key>
				<string>{-110,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/huadongxian_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{461,339}}</string>
				<key>offset</key>
				<string>{-122,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/huadongxian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,343},{423,329}}</string>
				<key>offset</key>
				<string>{-143,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,2},{51,60}}</string>
				<key>offset</key>
				<string>{-399,205}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,473},{102,104}}</string>
				<key>offset</key>
				<string>{-394,207}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,343},{128,126}}</string>
				<key>offset</key>
				<string>{-402,199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,677},{165,150}}</string>
				<key>offset</key>
				<string>{-404,192}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,677},{205,127}}</string>
				<key>offset</key>
				<string>{-406,216}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{145,163}}</string>
				<key>offset</key>
				<string>{-384,221}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>zhengjilingqu/pengzhuang_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,831},{145,135}}</string>
				<key>offset</key>
				<string>{-384,192}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhenjilingqu.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhenjilingqu.png</string>
			<key>size</key>
			<string>{1024,977}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>977</integer>
		</dict>
	</dict>
</plist>