<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchongjianzhu/222.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{110,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,138}</string>
			</dict>
			<key>img/shenchongjianzhu/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{110,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_jianzhu.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_jianzhu.png</string>
			<key>size</key>
			<string>{114,276}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>276</integer>
		</dict>
	</dict>
</plist>