<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shiyuanzcbaoxiang/bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1691},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1122},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/glow_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,560},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,814},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1068},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1322},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1576},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,306},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,560},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,814},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1068},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1322},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1576},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/jinbi/jinbi_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1830},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1830},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1830},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,510},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,714},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,918},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1122},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1326},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1530},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1734},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,510},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,714},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/xishou/xishou_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,918},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1817},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1265},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1933},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1408},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1938},{104,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,125}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1938},{107,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,100}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1122},{109,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,97}</string>
			</dict>
			<key>img/shiyuanzcbaoxiang/bx5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1551},{117,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzcbx1_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzcbx1_dh.png</string>
			<key>size</key>
			<string>{971,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>971</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>