<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhihuanyinxiong/sanguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,263},{271,221}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,225}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/zise.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,2},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/guanghc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{405,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,339}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/mohuguangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,345},{197,212}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,345}</string>
			</dict>
			<key>img/ani_baoshijiesuotishi/quan1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,281},{215,234}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,306}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/zquan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,488},{220,222}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/zquan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,2},{258,257}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/zquan_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,2},{275,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/2233_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,528},{171,178}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/2233_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,519},{171,179}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/2233_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,702},{171,177}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>img/ani_zhihuanyinxiong/2233_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,345},{172,179}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhihuanyinxiong.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhihuanyinxiong.png</string>
			<key>size</key>
			<string>{1012,881}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>881</integer>
		</dict>
	</dict>
</plist>