<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tanxianshouyi/xiu_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,612},{230,269}}</string>
				<key>offset</key>
				<string>{-205,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1180}</string>
			</dict>
			<key>tanxianshouyi/xiu_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,307},{409,301}}</string>
				<key>offset</key>
				<string>{-116,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1180}</string>
			</dict>
			<key>tanxianshouyi/xiu_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{523,301}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1180}</string>
			</dict>
			<key>tanxianshouyi/xiu_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,2},{420,301}}</string>
				<key>offset</key>
				<string>{110,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1180}</string>
			</dict>
			<key>tanxianshouyi/xiu_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,612},{238,245}}</string>
				<key>offset</key>
				<string>{201,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxianshouyi.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxianshouyi.png</string>
			<key>size</key>
			<string>{951,883}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>951</integer>
			<key>height</key>
			<integer>883</integer>
		</dict>
	</dict>
</plist>