<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshu1/guangyun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,350}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,326},{78,90}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,326},{78,85}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,391},{78,92}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,420},{78,80}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,424},{78,79}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,504},{78,78}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,487},{78,75}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,506},{78,73}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,424},{78,78}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,417},{78,82}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,503},{78,80}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,415},{78,85}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,326},{78,92}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,326},{78,87}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,292},{78,95}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/ryg_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,292},{54,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,420}</string>
			</dict>
			<key>img/ani_shijieshu1/xuanwo_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{332,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,327}</string>
			</dict>
			<key>img/ani_shijieshu1/zouweigae.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{276,226}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,226}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/lianzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,2},{21,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,111}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,117},{16,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,37}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,232},{146,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,57}</string>
			</dict>
			<key>img/ani_shijieshu1/xinshijieshu/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,232},{167,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshu5.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshu5.png</string>
			<key>size</key>
			<string>{1021,585}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>585</integer>
		</dict>
	</dict>
</plist>