<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,990},{32,26}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,990},{35,30}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,345},{39,34}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,977},{43,38}}</string>
				<key>offset</key>
				<string>{-10,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,980},{48,41}}</string>
				<key>offset</key>
				<string>{-9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,527},{53,47}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,658},{60,52}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,940},{67,57}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,316},{71,63}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,237},{75,67}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,246},{78,72}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,323},{78,74}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,714},{78,76}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,248},{78,78}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,84},{78,80}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,891},{78,82}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,893},{79,83}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,717},{79,84}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,717},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/zs/tk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,899},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,990},{32,26}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,990},{36,30}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,383},{39,34}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,166},{43,38}}</string>
				<key>offset</key>
				<string>{-10,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,980},{48,41}}</string>
				<key>offset</key>
				<string>{-9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,857},{53,47}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,714},{60,52}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,960},{68,57}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,647},{72,63}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,243},{76,67}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,565},{78,72}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,401},{78,74}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,714},{78,76}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,330},{78,78}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,84},{78,80}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,2},{78,82}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,717},{78,83}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,804},{78,84}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,717},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,808},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/yx/tk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,899},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,990},{32,26}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,990},{35,30}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,421},{39,34}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,213},{43,38}}</string>
				<key>offset</key>
				<string>{-10,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,980},{48,41}}</string>
				<key>offset</key>
				<string>{-9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,914},{53,47}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,645},{60,52}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,796},{67,57}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,469},{71,63}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,398},{75,67}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,401},{78,72}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,483},{78,74}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,796},{78,76}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,412},{78,78}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,84},{78,80}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,2},{78,82}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,717},{79,83}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,805},{79,84}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,717},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,808},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ms/tk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,899},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,990},{33,26}}</string>
				<key>offset</key>
				<string>{-13,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,990},{36,30}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,307},{40,34}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,977},{44,38}}</string>
				<key>offset</key>
				<string>{-10,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,980},{48,42}}</string>
				<key>offset</key>
				<string>{-9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,469},{54,47}}</string>
				<key>offset</key>
				<string>{-8,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,658},{61,52}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,796},{68,57}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,166},{73,63}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,565},{76,67}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,322},{78,72}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,565},{78,74}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,878},{78,76}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,494},{78,78}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,84},{78,80}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,2},{78,82}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,892},{78,83}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,892},{78,84}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,717},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,808},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fs/tk/t_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,899},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,990},{32,26}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,990},{36,30}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,459},{39,34}}</string>
				<key>offset</key>
				<string>{-11,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,260},{43,38}}</string>
				<key>offset</key>
				<string>{-10,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,979},{48,41}}</string>
				<key>offset</key>
				<string>{-9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,857},{53,47}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,584},{60,52}}</string>
				<key>offset</key>
				<string>{-7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,868},{68,57}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,647},{72,63}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,166},{76,67}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,483},{78,72}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,714},{78,74}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,166},{78,76}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,576},{78,78}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,166},{78,80}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,2},{78,82}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,804},{78,83}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,804},{78,84}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,717},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,808},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/ck/tk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,899},{79,87}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhuangbeifumoqianghua/fashi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{622,711}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,711}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_tk.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuangbeifumo_qianghua_tk.png</string>
			<key>size</key>
			<string>{1023,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>