<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,351},{105,159}}</string>
				<key>offset</key>
				<string>{-51,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,241},{2,209}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,454},{105,159}}</string>
				<key>offset</key>
				<string>{50,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,563},{104,158}}</string>
				<key>offset</key>
				<string>{-51,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,241},{2,209}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,476},{105,159}}</string>
				<key>offset</key>
				<string>{50,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,368},{112,148}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,241},{106,159}}</string>
				<key>offset</key>
				<string>{-51,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,599},{86,174}}</string>
				<key>offset</key>
				<string>{-41,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,256},{48,184}}</string>
				<key>offset</key>
				<string>{-23,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,256},{2,209}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,444},{48,184}}</string>
				<key>offset</key>
				<string>{23,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,241},{106,159}}</string>
				<key>offset</key>
				<string>{51,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,368},{112,148}}</string>
				<key>offset</key>
				<string>{54,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,752},{105,139}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,368},{111,149}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,813},{84,173}}</string>
				<key>offset</key>
				<string>{-41,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,585},{48,184}}</string>
				<key>offset</key>
				<string>{-23,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,786},{47,184}}</string>
				<key>offset</key>
				<string>{22,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,671},{83,173}}</string>
				<key>offset</key>
				<string>{40,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,460},{111,149}}</string>
				<key>offset</key>
				<string>{53,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/fy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,711},{105,139}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,848},{105,138}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,585},{111,148}}</string>
				<key>offset</key>
				<string>{-54,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,671},{84,173}}</string>
				<key>offset</key>
				<string>{-41,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,632},{48,184}}</string>
				<key>offset</key>
				<string>{-23,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,813},{47,184}}</string>
				<key>offset</key>
				<string>{22,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,820},{83,173}}</string>
				<key>offset</key>
				<string>{40,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{111,148}}</string>
				<key>offset</key>
				<string>{53,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/y_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,848},{105,138}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,671},{106,138}}</string>
				<key>offset</key>
				<string>{-51,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,777},{85,174}}</string>
				<key>offset</key>
				<string>{40,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fy/z_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,600},{107,138}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,854},{106,137}}</string>
				<key>offset</key>
				<string>{-51,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,484},{112,146}}</string>
				<key>offset</key>
				<string>{-54,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,256},{106,158}}</string>
				<key>offset</key>
				<string>{-51,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,575},{85,173}}</string>
				<key>offset</key>
				<string>{-42,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,599},{48,183}}</string>
				<key>offset</key>
				<string>{-23,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,575},{48,183}}</string>
				<key>offset</key>
				<string>{23,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,700},{84,173}}</string>
				<key>offset</key>
				<string>{41,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,366},{106,158}}</string>
				<key>offset</key>
				<string>{51,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,521},{112,146}}</string>
				<key>offset</key>
				<string>{54,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/fy/fy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,773},{106,137}}</string>
				<key>offset</key>
				<string>{51,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fs1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,2},{339,235}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/fs2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{451,362}}</string>
				<key>offset</key>
				<string>{-3,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/yingxionghuijuan/aoshu/gm_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2},{218,250}}</string>
				<key>offset</key>
				<string>{16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxionghuijuan_aoshu.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxionghuijuan_aoshu.png</string>
			<key>size</key>
			<string>{1020,999}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>999</integer>
		</dict>
	</dict>
</plist>