<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_yingxiongjinjie/lg10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,115},{109,100}}</string>
				<key>offset</key>
				<string>{-147,82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,2},{156,109}}</string>
				<key>offset</key>
				<string>{-123,78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{166,112}}</string>
				<key>offset</key>
				<string>{-117,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{148,113}}</string>
				<key>offset</key>
				<string>{-102,70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,118},{97,89}}</string>
				<key>offset</key>
				<string>{-78,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,118},{51,55}}</string>
				<key>offset</key>
				<string>{-55,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>img/ani_yingxiongjinjie/lg10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,211},{69,70}}</string>
				<key>offset</key>
				<string>{-167,97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yingxiongjinjie2.png</string>
			<key>realTextureFileName</key>
			<string>ani_yingxiongjinjie2.png</string>
			<key>size</key>
			<string>{482,283}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>482</integer>
			<key>height</key>
			<integer>283</integer>
		</dict>
	</dict>
</plist>