<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/denglu/gongjianshou/4_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,213},{84,104}}</string>
				<key>offset</key>
				<string>{29,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,423},{84,104}}</string>
				<key>offset</key>
				<string>{29,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{85,105}}</string>
				<key>offset</key>
				<string>{28,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{86,104}}</string>
				<key>offset</key>
				<string>{29,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{87,105}}</string>
				<key>offset</key>
				<string>{28,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1},{87,104}}</string>
				<key>offset</key>
				<string>{28,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,213},{87,104}}</string>
				<key>offset</key>
				<string>{28,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{88,103}}</string>
				<key>offset</key>
				<string>{28,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{87,103}}</string>
				<key>offset</key>
				<string>{28,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,637},{87,102}}</string>
				<key>offset</key>
				<string>{28,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,530},{87,102}}</string>
				<key>offset</key>
				<string>{28,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,319},{85,102}}</string>
				<key>offset</key>
				<string>{28,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,424},{85,103}}</string>
				<key>offset</key>
				<string>{28,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,107},{84,103}}</string>
				<key>offset</key>
				<string>{29,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/4_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,212},{84,103}}</string>
				<key>offset</key>
				<string>{29,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,818},{74,65}}</string>
				<key>offset</key>
				<string>{38,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,885},{75,64}}</string>
				<key>offset</key>
				<string>{37,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,818},{75,64}}</string>
				<key>offset</key>
				<string>{37,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,884},{74,64}}</string>
				<key>offset</key>
				<string>{38,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,726},{73,64}}</string>
				<key>offset</key>
				<string>{38,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,927},{72,64}}</string>
				<key>offset</key>
				<string>{39,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,860},{71,65}}</string>
				<key>offset</key>
				<string>{39,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,792},{70,66}}</string>
				<key>offset</key>
				<string>{40,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,950},{70,67}}</string>
				<key>offset</key>
				<string>{40,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,951},{70,68}}</string>
				<key>offset</key>
				<string>{40,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,951},{70,68}}</string>
				<key>offset</key>
				<string>{40,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{71,68}}</string>
				<key>offset</key>
				<string>{39,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,91},{72,68}}</string>
				<key>offset</key>
				<string>{39,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,45},{73,67}}</string>
				<key>offset</key>
				<string>{38,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/5_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,114},{74,66}}</string>
				<key>offset</key>
				<string>{38,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,103},{83,100}}</string>
				<key>offset</key>
				<string>{33,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,211},{83,101}}</string>
				<key>offset</key>
				<string>{33,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,107},{84,102}}</string>
				<key>offset</key>
				<string>{33,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,317},{84,101}}</string>
				<key>offset</key>
				<string>{33,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1},{85,100}}</string>
				<key>offset</key>
				<string>{32,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{85,97}}</string>
				<key>offset</key>
				<string>{32,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,741},{86,94}}</string>
				<key>offset</key>
				<string>{32,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,837},{86,91}}</string>
				<key>offset</key>
				<string>{32,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,930},{86,89}}</string>
				<key>offset</key>
				<string>{32,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,529},{85,88}}</string>
				<key>offset</key>
				<string>{32,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,727},{85,89}}</string>
				<key>offset</key>
				<string>{32,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,634},{84,90}}</string>
				<key>offset</key>
				<string>{33,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,634},{84,91}}</string>
				<key>offset</key>
				<string>{33,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,741},{83,94}}</string>
				<key>offset</key>
				<string>{33,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/gongjianshou/6_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,837},{83,97}}</string>
				<key>offset</key>
				<string>{33,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>
			<key>img/denglu/saer/7_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,314},{128,53}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,475},{128,52}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,258},{128,50}}</string>
				<key>offset</key>
				<string>{-24,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,100},{128,47}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{128,44}}</string>
				<key>offset</key>
				<string>{-24,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{128,42}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,47},{129,42}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,197},{129,44}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,149},{129,46}}</string>
				<key>offset</key>
				<string>{-24,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,258},{129,47}}</string>
				<key>offset</key>
				<string>{-24,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,369},{129,49}}</string>
				<key>offset</key>
				<string>{-24,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,310},{129,49}}</string>
				<key>offset</key>
				<string>{-24,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,205},{129,51}}</string>
				<key>offset</key>
				<string>{-24,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,420},{129,53}}</string>
				<key>offset</key>
				<string>{-24,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/7_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,936},{128,54}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,112}</string>
			</dict>
			<key>img/denglu/saer/zuoshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,619},{62,60}}</string>
				<key>offset</key>
				<string>{8,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_denglu_renwu.png</string>
			<key>realTextureFileName</key>
			<string>ani_denglu_renwu.png</string>
			<key>size</key>
			<string>{700,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>700</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>