<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zajindan/cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,232},{74,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,87}</string>
			</dict>
			<key>img/zajindan/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,2},{138,159}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/zajindan/dk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,214},{41,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>img/zajindan/dk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,232},{44,54}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/zajindan/dk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,144},{66,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>img/zajindan/dk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,303},{63,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>img/zajindan/dk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,144},{112,99}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>img/zajindan/bz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,226},{95,64}}</string>
				<key>offset</key>
				<string>{-6,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,226},{107,73}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,149},{123,83}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,134},{136,94}}</string>
				<key>offset</key>
				<string>{-11,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,118},{149,104}}</string>
				<key>offset</key>
				<string>{-13,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,2},{139,112}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2},{152,128}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{165,143}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,2},{173,160}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
			<key>img/zajindan/bz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{183,168}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,168}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_huodong_zajindan.png</string>
			<key>realTextureFileName</key>
			<string>ani_huodong_zajindan.png</string>
			<key>size</key>
			<string>{1015,368}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>368</integer>
		</dict>
	</dict>
</plist>