<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chuanshuo/1_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,962},{58,255}}</string>
				<key>offset</key>
				<string>{-142,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1600}</string>
			</dict>
			<key>img/chuanshuo/2_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,664},{105,109}}</string>
				<key>offset</key>
				<string>{-45,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1600}</string>
			</dict>
			<key>img/chuanshuo/bs_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,667},{129,125}}</string>
				<key>offset</key>
				<string>{4,152}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1600}</string>
			</dict>
			<key>img/chuanshuo/fb_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{638,810}}</string>
				<key>offset</key>
				<string>{1,104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1600}</string>
			</dict>
			<key>img/chuanshuo/wfg_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2},{640,661}}</string>
				<key>offset</key>
				<string>{0,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1600}</string>
			</dict>
			<key>img/chuanshuo/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,2},{259,261}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuo/xw_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,267},{243,251}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,667},{133,142}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,816},{138,143}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,816},{139,145}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,816},{135,148}}</string>
				<key>offset</key>
				<string>{-10,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,816},{142,140}}</string>
				<key>offset</key>
				<string>{-9,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,667},{138,139}}</string>
				<key>offset</key>
				<string>{-10,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,522},{134,138}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,667},{136,145}}</string>
				<key>offset</key>
				<string>{-7,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,804},{133,142}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,816},{136,145}}</string>
				<key>offset</key>
				<string>{-9,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,816},{137,144}}</string>
				<key>offset</key>
				<string>{-11,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,816},{136,144}}</string>
				<key>offset</key>
				<string>{-12,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,800},{135,139}}</string>
				<key>offset</key>
				<string>{-12,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,810},{136,140}}</string>
				<key>offset</key>
				<string>{-11,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/chuanshuo/ld/ld_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,667},{136,145}}</string>
				<key>offset</key>
				<string>{-10,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_chuanshuo2.png</string>
			<key>realTextureFileName</key>
			<string>ani_chuanshuo2.png</string>
			<key>size</key>
			<string>{1549,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1549</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>