<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,464},{224,184}}</string>
				<key>offset</key>
				<string>{49,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,251},{220,212}}</string>
				<key>offset</key>
				<string>{48,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,245},{221,201}}</string>
				<key>offset</key>
				<string>{42,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,247},{239,215}}</string>
				<key>offset</key>
				<string>{40,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1},{248,227}}</string>
				<key>offset</key>
				<string>{41,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{252,238}}</string>
				<key>offset</key>
				<string>{43,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1},{255,244}}</string>
				<key>offset</key>
				<string>{42,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,264},{257,254}}</string>
				<key>offset</key>
				<string>{42,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{252,261}}</string>
				<key>offset</key>
				<string>{42,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_jinjieqianghua/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1},{242,268}}</string>
				<key>offset</key>
				<string>{43,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,385}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,245},{65,11}}</string>
				<key>offset</key>
				<string>{-12,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,368},{84,29}}</string>
				<key>offset</key>
				<string>{-14,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,650},{133,53}}</string>
				<key>offset</key>
				<string>{-11,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,421},{133,62}}</string>
				<key>offset</key>
				<string>{-13,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,785},{147,72}}</string>
				<key>offset</key>
				<string>{-12,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,746},{161,79}}</string>
				<key>offset</key>
				<string>{-14,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,636},{171,86}}</string>
				<key>offset</key>
				<string>{-13,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,677},{181,89}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,565},{184,94}}</string>
				<key>offset</key>
				<string>{-12,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,465},{186,98}}</string>
				<key>offset</key>
				<string>{-13,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,575},{184,100}}</string>
				<key>offset</key>
				<string>{-15,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,468},{187,105}}</string>
				<key>offset</key>
				<string>{-16,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,650},{181,94}}</string>
				<key>offset</key>
				<string>{-21,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,465},{169,80}}</string>
				<key>offset</key>
				<string>{-10,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,556},{154,53}}</string>
				<key>offset</key>
				<string>{-10,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10017.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,258},{161,53}}</string>
				<key>offset</key>
				<string>{-10,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
			<key>img/kaogu/xiangzi/ani_lingqujinbi/10018.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,251},{115,23}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_kaogu_xiangzi_tx.png</string>
			<key>realTextureFileName</key>
			<string>ani_kaogu_xiangzi_tx.png</string>
			<key>size</key>
			<string>{1024,933}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>933</integer>
		</dict>
	</dict>
</plist>