<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendiandilao/sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,2},{152,66}}</string>
				<key>offset</key>
				<string>{-1,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,328}</string>
			</dict>
			<key>img/shendiandilao/pz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{191,95}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,328}</string>
			</dict>
			<key>img/shendiandilao/ytg.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,2},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shendiandilao_paizi.png</string>
			<key>realTextureFileName</key>
			<string>ani_shendiandilao_paizi.png</string>
			<key>size</key>
			<string>{448,99}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>448</integer>
			<key>height</key>
			<integer>99</integer>
		</dict>
	</dict>
</plist>