<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_yaosai_shanguang/sg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,405},{1,1}}</string>
				<key>offset</key>
				<string>{89,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,399},{49,25}}</string>
				<key>offset</key>
				<string>{23,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{56,33}}</string>
				<key>offset</key>
				<string>{24,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,2},{62,40}}</string>
				<key>offset</key>
				<string>{25,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,256},{66,49}}</string>
				<key>offset</key>
				<string>{26,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,332},{69,55}}</string>
				<key>offset</key>
				<string>{25,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,256},{72,59}}</string>
				<key>offset</key>
				<string>{26,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,428},{70,62}}</string>
				<key>offset</key>
				<string>{27,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,355},{69,63}}</string>
				<key>offset</key>
				<string>{27,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,428},{68,63}}</string>
				<key>offset</key>
				<string>{27,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,502},{67,64}}</string>
				<key>offset</key>
				<string>{26,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,332},{63,60}}</string>
				<key>offset</key>
				<string>{26,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,256},{57,56}}</string>
				<key>offset</key>
				<string>{26,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,68},{49,49}}</string>
				<key>offset</key>
				<string>{26,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,121},{40,40}}</string>
				<key>offset</key>
				<string>{26,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,165},{28,29}}</string>
				<key>offset</key>
				<string>{25,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/sg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,410},{1,1}}</string>
				<key>offset</key>
				<string>{89,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,300}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/g2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{95,63}}</string>
				<key>offset</key>
				<string>{17,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,400}</string>
			</dict>
			<key>img/ani_yaosai_shanguang/ysg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{180,250}}</string>
				<key>offset</key>
				<string>{0,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_yaosai_shanguang.png</string>
			<key>realTextureFileName</key>
			<string>ani_yaosai_shanguang.png</string>
			<key>size</key>
			<string>{265,571}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>265</integer>
			<key>height</key>
			<integer>571</integer>
		</dict>
	</dict>
</plist>