<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_choukajuese/jbpiaodai1_0000_jbpiaodai.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,0},{71,119}}</string>
				<key>offset</key>
				<string>{28,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0000s_0000_toufa5.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,242},{39,75}}</string>
				<key>offset</key>
				<string>{39,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0000s_0001_toufa5yzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,295},{37,69}}</string>
				<key>offset</key>
				<string>{42,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0001_xiaoshou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,170},{53,34}}</string>
				<key>offset</key>
				<string>{-33,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0002_shou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,192},{34,20}}</string>
				<key>offset</key>
				<string>{-54,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0003_meimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,173},{70,19}}</string>
				<key>offset</key>
				<string>{-13,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0004_toufa1.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,174},{78,68}}</string>
				<key>offset</key>
				<string>{-40,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0005_toufa2.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,242},{52,53}}</string>
				<key>offset</key>
				<string>{-39,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0006_toufa3.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,120},{36,86}}</string>
				<key>offset</key>
				<string>{-14,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0007_dashoubi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,246},{31,58}}</string>
				<key>offset</key>
				<string>{-4,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0008_erduo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,132},{103,69}}</string>
				<key>offset</key>
				<string>{-91,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0009_maozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,0},{212,136}}</string>
				<key>offset</key>
				<string>{-8,92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0010_toufa4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,119},{60,68}}</string>
				<key>offset</key>
				<string>{0,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0011_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,136},{75,34}}</string>
				<key>offset</key>
				<string>{25,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0012_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,132},{90,47}}</string>
				<key>offset</key>
				<string>{21,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0013_meimao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,179},{62,54}}</string>
				<key>offset</key>
				<string>{75,64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0014_lian.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,120},{106,104}}</string>
				<key>offset</key>
				<string>{17,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0015_toufa6.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,187},{45,73}}</string>
				<key>offset</key>
				<string>{64,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0016_toufa7.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,100},{58,74}}</string>
				<key>offset</key>
				<string>{79,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0017_maozi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,120},{118,96}}</string>
				<key>offset</key>
				<string>{-55,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0018_erduo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{230,203}}</string>
				<key>offset</key>
				<string>{-15,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0019_xiong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,206},{33,32}}</string>
				<key>offset</key>
				<string>{28,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0020_xiong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,179},{24,28}}</string>
				<key>offset</key>
				<string>{48,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0021_pd01.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,0},{67,100}}</string>
				<key>offset</key>
				<string>{-26,-107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0022_pd02.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,179},{40,32}}</string>
				<key>offset</key>
				<string>{-14,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0023_pd03.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,216},{65,80}}</string>
				<key>offset</key>
				<string>{87,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0024_pd04.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,211},{34,17}}</string>
				<key>offset</key>
				<string>{73,-72}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0025_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{214,248}}</string>
				<key>offset</key>
				<string>{-14,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0026_toufa8.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,136},{65,43}}</string>
				<key>offset</key>
				<string>{50,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0027_jbpiaodai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,136},{70,37}}</string>
				<key>offset</key>
				<string>{87,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0028_maozi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{195,132}}</string>
				<key>offset</key>
				<string>{7,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0029_weichun.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,0},{264,120}}</string>
				<key>offset</key>
				<string>{11,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0030_shou12.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,216},{52,30}}</string>
				<key>offset</key>
				<string>{64,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0031_dashoubi123.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,192},{29,18}}</string>
				<key>offset</key>
				<string>{53,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
			<key>img/ani_choukajuese/jbpiaodai1_0032_shou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,187},{21,18}}</string>
				<key>offset</key>
				<string>{86,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,334}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_choukajuese.png</string>
			<key>realTextureFileName</key>
			<string>ani_choukajuese.png</string>
			<key>size</key>
			<string>{1023,451}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>451</integer>
		</dict>
	</dict>
</plist>