<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dianzan/aixinkong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>
			<key>img/dianzan/aixinman.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>
			<key>img/dianzan/aixinmandddd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_dianzan.png</string>
			<key>realTextureFileName</key>
			<string>ani_dianzan.png</string>
			<key>size</key>
			<string>{256,64}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
</plist>