<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,995},{1,1}}</string>
				<key>offset</key>
				<string>{249,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,2},{302,299}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,324},{303,302}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,673},{304,305}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,673},{307,312}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,351},{310,318}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,673},{310,318}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,351},{310,318}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/baiyin/by_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,2},{310,318}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/gonghuizhenfeng_xunzhang/byg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{341,345}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_gonghuizhenfeng_baiyin.png</string>
			<key>realTextureFileName</key>
			<string>ani_gonghuizhenfeng_baiyin.png</string>
			<key>size</key>
			<string>{962,998}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>962</integer>
			<key>height</key>
			<integer>998</integer>
		</dict>
	</dict>
</plist>