<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/tianti/sg/sg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,213},{13,14}}</string>
				<key>offset</key>
				<string>{20,39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,213},{17,16}}</string>
				<key>offset</key>
				<string>{22,39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,93},{20,18}}</string>
				<key>offset</key>
				<string>{24,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,457},{24,20}}</string>
				<key>offset</key>
				<string>{26,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,485},{27,23}}</string>
				<key>offset</key>
				<string>{27,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,485},{31,25}}</string>
				<key>offset</key>
				<string>{29,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,457},{34,26}}</string>
				<key>offset</key>
				<string>{31,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,428},{37,27}}</string>
				<key>offset</key>
				<string>{32,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,371},{39,28}}</string>
				<key>offset</key>
				<string>{33,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,402},{41,30}}</string>
				<key>offset</key>
				<string>{34,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,191},{42,32}}</string>
				<key>offset</key>
				<string>{35,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{42,36}}</string>
				<key>offset</key>
				<string>{35,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,225},{42,42}}</string>
				<key>offset</key>
				<string>{35,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,42},{42,49}}</string>
				<key>offset</key>
				<string>{35,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,136},{42,53}}</string>
				<key>offset</key>
				<string>{35,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,146},{42,64}}</string>
				<key>offset</key>
				<string>{35,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,434},{41,66}}</string>
				<key>offset</key>
				<string>{35,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,438},{41,67}}</string>
				<key>offset</key>
				<string>{35,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,440},{41,70}}</string>
				<key>offset</key>
				<string>{35,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,435},{41,74}}</string>
				<key>offset</key>
				<string>{35,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,65},{40,79}}</string>
				<key>offset</key>
				<string>{36,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,137},{40,86}}</string>
				<key>offset</key>
				<string>{36,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,276},{39,93}}</string>
				<key>offset</key>
				<string>{36,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,274},{38,95}}</string>
				<key>offset</key>
				<string>{37,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,269},{37,93}}</string>
				<key>offset</key>
				<string>{37,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,42},{43,92}}</string>
				<key>offset</key>
				<string>{34,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,294},{46,89}}</string>
				<key>offset</key>
				<string>{33,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,53},{47,82}}</string>
				<key>offset</key>
				<string>{32,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,294},{48,81}}</string>
				<key>offset</key>
				<string>{32,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/sg/sg_00068.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,65},{46,79}}</string>
				<key>offset</key>
				<string>{31,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,451},{1,1}}</string>
				<key>offset</key>
				<string>{113,-113}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,135},{26,30}}</string>
				<key>offset</key>
				<string>{26,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,93},{37,40}}</string>
				<key>offset</key>
				<string>{26,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,225},{44,47}}</string>
				<key>offset</key>
				<string>{26,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,385},{51,53}}</string>
				<key>offset</key>
				<string>{26,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,454},{56,57}}</string>
				<key>offset</key>
				<string>{26,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,231},{61,61}}</string>
				<key>offset</key>
				<string>{26,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,146},{66,65}}</string>
				<key>offset</key>
				<string>{27,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,1},{69,67}}</string>
				<key>offset</key>
				<string>{27,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,157},{73,69}}</string>
				<key>offset</key>
				<string>{27,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,233},{76,70}}</string>
				<key>offset</key>
				<string>{28,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,380},{78,72}}</string>
				<key>offset</key>
				<string>{29,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{80,72}}</string>
				<key>offset</key>
				<string>{28,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{82,74}}</string>
				<key>offset</key>
				<string>{28,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{84,76}}</string>
				<key>offset</key>
				<string>{28,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{83,76}}</string>
				<key>offset</key>
				<string>{28,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{80,71}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,380},{79,69}}</string>
				<key>offset</key>
				<string>{28,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00068.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,305},{77,67}}</string>
				<key>offset</key>
				<string>{28,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,79},{74,65}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00070.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{72,62}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,451},{69,58}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00072.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,454},{66,55}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{62,50}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00074.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,229},{58,45}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00075.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{54,39}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00076.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,402},{49,34}}</string>
				<key>offset</key>
				<string>{29,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,401},{41,25}}</string>
				<key>offset</key>
				<string>{29,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00078.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,213},{30,16}}</string>
				<key>offset</key>
				<string>{30,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/xt/xt_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,374},{2,2}}</string>
				<key>offset</key>
				<string>{37,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>img/touxiangkuang/tianti/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,402},{50,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,31}</string>
			</dict>
			<key>img/touxiangkuang/tianti/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,377},{114,23}}</string>
				<key>offset</key>
				<string>{0,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_tt.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_tt.png</string>
			<key>size</key>
			<string>{431,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>431</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>