<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_meirishilian/sllizi_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,163},{146,157}}</string>
				<key>offset</key>
				<string>{99,161}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,350},{147,157}}</string>
				<key>offset</key>
				<string>{99,164}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,189},{148,157}}</string>
				<key>offset</key>
				<string>{100,167}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,2},{148,157}}</string>
				<key>offset</key>
				<string>{100,170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,189},{149,183}}</string>
				<key>offset</key>
				<string>{100,159}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,2},{150,183}}</string>
				<key>offset</key>
				<string>{101,162}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,596},{151,183}}</string>
				<key>offset</key>
				<string>{100,165}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,409},{152,183}}</string>
				<key>offset</key>
				<string>{101,168}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,797},{152,183}}</string>
				<key>offset</key>
				<string>{101,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,611},{153,182}}</string>
				<key>offset</key>
				<string>{101,174}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,797},{153,181}}</string>
				<key>offset</key>
				<string>{101,177}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{152,200}}</string>
				<key>offset</key>
				<string>{102,170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{152,199}}</string>
				<key>offset</key>
				<string>{102,173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,409},{151,198}}</string>
				<key>offset</key>
				<string>{102,175}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/ani_meirishilian/sllizi_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{145,157}}</string>
				<key>offset</key>
				<string>{99,158}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_meirishilian.png</string>
			<key>realTextureFileName</key>
			<string>ani_meirishilian.png</string>
			<key>size</key>
			<string>{611,982}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>611</integer>
			<key>height</key>
			<integer>982</integer>
		</dict>
	</dict>
</plist>