<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tubiao/daizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,199},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tubiao/huan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tubiao/shouchong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1001},{73,21}}</string>
				<key>offset</key>
				<string>{0,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,128},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,74},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,364},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,2},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,949},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,362},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,74},{45,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,260},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,199},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,415},{47,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,412},{46,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,199},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,462},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,123},{44,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,466},{47,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,260},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,313},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,517},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,568},{47,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,619},{47,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,512},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,562},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,2},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,74},{48,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,612},{46,39}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,419},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,2},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,662},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,670},{47,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,472},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,128},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,126},{48,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,721},{47,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,2},{45,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,712},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,312},{48,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,578},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,631},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,762},{46,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,812},{46,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{45,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,301},{44,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,772},{47,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,684},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,74},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,823},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,874},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,862},{46,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,912},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,251},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,737},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,925},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,260},{47,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,843},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,896},{49,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,199},{46,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/guang_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,311},{47,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,995},{1,1}}</string>
				<key>offset</key>
				<string>{62,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,182},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,995},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,973},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,990},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1007},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,178},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,54},{53,13}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,181},{54,14}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,56},{54,14}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,976},{55,15}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,56},{55,14}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,349},{53,13}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,406},{52,13}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,349},{52,11}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,405},{50,11}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1012},{48,9}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1012},{46,8}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,962},{45,7}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,251},{44,5}}</string>
				<key>offset</key>
				<string>{3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,995},{1,1}}</string>
				<key>offset</key>
				<string>{62,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,215},{8,14}}</string>
				<key>offset</key>
				<string>{4,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,232},{9,16}}</string>
				<key>offset</key>
				<string>{4,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,488},{11,20}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,249},{11,20}}</string>
				<key>offset</key>
				<string>{5,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,453},{13,22}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,378},{14,23}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,405},{16,24}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,433},{16,24}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,349},{18,25}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,504},{20,25}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,459},{19,25}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,378},{17,23}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,405},{17,21}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,430},{15,18}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,195},{14,16}}</string>
				<key>offset</key>
				<string>{7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,215},{12,13}}</string>
				<key>offset</key>
				<string>{7,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,195},{10,10}}</string>
				<key>offset</key>
				<string>{7,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,273},{7,7}}</string>
				<key>offset</key>
				<string>{6,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/shouchonghaoli/gx_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,251},{3,3}}</string>
				<key>offset</key>
				<string>{5,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>img/ani_tubiao/g_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,462},{38,18}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/ani_tubiao/shanguang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{121,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_xiaotubiao_shouchonghaoli.png</string>
			<key>realTextureFileName</key>
			<string>ani_xiaotubiao_shouchonghaoli.png</string>
			<key>size</key>
			<string>{287,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>287</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>