<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting1u.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting2d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,210},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting2u.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,2},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting3d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,418},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting3u.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,210},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting4d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,626},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting4u.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,418},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting5d.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,2},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting5u.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,626},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting6d.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,204}</string>
			</dict>
			<key>shiyuanzhanchang/xiaoguo/wuping/feiting6u.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,210},{176,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,204}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shiyuanzcfeiting_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_shiyuanzcfeiting_dh.png</string>
			<key>size</key>
			<string>{924,832}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>924</integer>
			<key>height</key>
			<integer>832</integer>
		</dict>
	</dict>
</plist>