<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenchong/shenchongdan/lan/lan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,561},{187,120}}</string>
				<key>offset</key>
				<string>{0,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/lan/lan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,735},{59,74}}</string>
				<key>offset</key>
				<string>{64,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/lan/lan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,862},{88,106}}</string>
				<key>offset</key>
				<string>{-45,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/lan/lan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,392},{112,73}}</string>
				<key>offset</key>
				<string>{28,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/lan/lan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,878},{109,90}}</string>
				<key>offset</key>
				<string>{-1,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{188,122}}</string>
				<key>offset</key>
				<string>{-3,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,228}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,469},{59,74}}</string>
				<key>offset</key>
				<string>{61,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,228}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,392},{87,106}}</string>
				<key>offset</key>
				<string>{-49,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,228}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,619},{112,73}}</string>
				<key>offset</key>
				<string>{25,78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,228}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,878},{108,89}}</string>
				<key>offset</key>
				<string>{-4,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,228}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,200},{188,121}}</string>
				<key>offset</key>
				<string>{0,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,547},{59,74}}</string>
				<key>offset</key>
				<string>{64,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,750},{88,106}}</string>
				<key>offset</key>
				<string>{-46,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,673},{113,73}}</string>
				<key>offset</key>
				<string>{27,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,561},{108,89}}</string>
				<key>offset</key>
				<string>{-1,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,2},{188,121}}</string>
				<key>offset</key>
				<string>{0,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,610},{59,74}}</string>
				<key>offset</key>
				<string>{64,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,860},{88,106}}</string>
				<key>offset</key>
				<string>{-46,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,502},{113,73}}</string>
				<key>offset</key>
				<string>{27,75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,750},{108,89}}</string>
				<key>offset</key>
				<string>{-1,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,752},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>img/shenchong/shenchongdan/yjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,972},{36,35}}</string>
				<key>offset</key>
				<string>{13,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,972},{44,51}}</string>
				<key>offset</key>
				<string>{19,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{164,194}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,268}</string>
			</dict>
			<key>img/shenchong/shenchongdan/ggj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,392},{139,165}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>
			<key>img/shenchong/shenchongdan/lan/lan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,813},{57,64}}</string>
				<key>offset</key>
				<string>{-32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,268}</string>
			</dict>
			<key>img/shenchong/shenchongdan/zi/zi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,688},{57,64}}</string>
				<key>offset</key>
				<string>{-32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,268}</string>
			</dict>
			<key>img/shenchong/shenchongdan/jin/jin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,881},{57,64}}</string>
				<key>offset</key>
				<string>{-32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,268}</string>
			</dict>
			<key>img/shenchong/shenchongdan/hong/hong_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,949},{57,64}}</string>
				<key>offset</key>
				<string>{-32,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,268}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenchong_dan.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenchong_dan.png</string>
			<key>size</key>
			<string>{435,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>435</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>