<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,284},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,390},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,496},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,549},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,602},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,655},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,708},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,814},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,867},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,920},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,231},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,143},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,284},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,337},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,390},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,443},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,496},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,549},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,602},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,655},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,708},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,761},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,814},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,867},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/lz/lz_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,920},{51,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,34}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/chg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,143},{86,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,49}</string>
			</dict>
			<key>img/touxiangkuang/zhishujie/kt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_zsj.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_zsj.png</string>
			<key>size</key>
			<string>{142,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>142</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>