<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/guangmu/bt/pd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,57},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,61},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,89},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,93},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,93},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,33},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,33},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,65},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,69},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,65},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bt/pd_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,74},{30,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,71}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,57},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,101},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,111},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,126},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,121},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,97},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,97},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,97},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,147},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,122},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,134},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,151},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/gx/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,147},{23,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,52}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,101},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,121},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,121},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,141},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,147},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,167},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,187},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,141},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,134},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,155},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,169},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,148},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,162},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,151},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/yj/yjg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,151},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/bs_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,97},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/jkk_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,58}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/t_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{101,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,54}</string>
			</dict>
			<key>img/touxiangkuang/guangmu/xx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_guangmu_touxiangkuang_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_guangmu_touxiangkuang_dh.png</string>
			<key>size</key>
			<string>{508,206}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>508</integer>
			<key>height</key>
			<integer>206</integer>
		</dict>
	</dict>
</plist>