<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongdiaoxiang/img_city_diaoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,2},{172,158}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>
			<key>img/yingxiongdiaoxiang/img_city_diaoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{173,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhucheng_yingxiongdiaoxiang.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhucheng_yingxiongdiaoxiang.png</string>
			<key>size</key>
			<string>{353,167}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>353</integer>
			<key>height</key>
			<integer>167</integer>
		</dict>
	</dict>
</plist>