<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/guangfa/huang/huang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,126},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,126},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,126},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,148},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,151},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,148},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,148},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,159},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,170},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,173},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,170},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,170},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,181},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,192},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,195},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,207},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,207},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,269},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,192},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,192},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,203},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,214},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,217},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,214},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,214},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,225},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/huang/huang_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,236},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,239},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,239},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,236},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,258},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,258},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,264},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,264},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,282},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,291},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,291},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,236},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,236},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,236},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,236},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/lvbaoshi/lv_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,247},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,26},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,26},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,26},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,26},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,51},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,51},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,51},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,51},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,76},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,76},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,76},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,76},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,80},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,80},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,101},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,101},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,101},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,101},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,126},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,128},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,128},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,128},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/piaodai/piaodai_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,178},{23,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,77}</string>
			</dict>
			<key>img/touxiangkuang/guangfa/guangfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{129,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_guangfa_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_guangfa_dh.png</string>
			<key>size</key>
			<string>{510,315}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>510</integer>
			<key>height</key>
			<integer>315</integer>
		</dict>
	</dict>
</plist>