<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_tanxian04/chuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,285},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>img/ani_tanxian04/chuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,327},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>img/ani_tanxian04/chuan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,2},{195,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,55}</string>
			</dict>
			<key>img/ani_tanxian04/chuan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,201},{92,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,80}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,149},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,149},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,149},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,149},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,295},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,337},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,295},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,2},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,2},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,149},{184,143}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,295},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/ani_tanxian04/xuanwo_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,295},{184,142}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_tanxian4.png</string>
			<key>realTextureFileName</key>
			<string>ani_tanxian4.png</string>
			<key>size</key>
			<string>{999,523}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>999</integer>
			<key>height</key>
			<integer>523</integer>
		</dict>
	</dict>
</plist>