<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/denglu/xulie/lanlizi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,418},{316,328}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,350}</string>
			</dict>
			<key>img/denglu/xulie/lanlizi_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,443},{316,302}}</string>
				<key>offset</key>
				<string>{-2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,350}</string>
			</dict>
			<key>img/denglu/gongjianshou/gongjianshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{265,437}}</string>
				<key>offset</key>
				<string>{-165,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/denglu/danzhang/jinji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,412}}</string>
				<key>offset</key>
				<string>{0,-494}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/denglu/saer/saer.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,722},{285,304}}</string>
				<key>offset</key>
				<string>{177,281}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/denglu/danzhang/huo.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,418},{320,300}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/denglu/danzhang/chengbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,750},{230,212}}</string>
				<key>offset</key>
				<string>{-21,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_denglu2.png</string>
			<key>realTextureFileName</key>
			<string>ani_denglu2.png</string>
			<key>size</key>
			<string>{964,1028}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>964</integer>
			<key>height</key>
			<integer>1028</integer>
		</dict>
	</dict>
</plist>