<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendianmigong/boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{143,211}}</string>
				<key>offset</key>
				<string>{-27,374}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1800}</string>
			</dict>
			<key>img/shendianmigong/boss/gggg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,217},{125,124}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>img/shendianmigong/boss/gx_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,346},{140,62}}</string>
				<key>offset</key>
				<string>{-23,425}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,828},{33,18}}</string>
				<key>offset</key>
				<string>{-78,429}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,980},{41,45}}</string>
				<key>offset</key>
				<string>{-78,442}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,919},{51,57}}</string>
				<key>offset</key>
				<string>{-79,449}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,853},{57,62}}</string>
				<key>offset</key>
				<string>{-78,450}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,785},{60,64}}</string>
				<key>offset</key>
				<string>{-77,452}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,638},{60,69}}</string>
				<key>offset</key>
				<string>{-77,455}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{60,70}}</string>
				<key>offset</key>
				<string>{-77,455}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,564},{60,70}}</string>
				<key>offset</key>
				<string>{-76,456}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,711},{58,70}}</string>
				<key>offset</key>
				<string>{-76,456}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,711},{53,68}}</string>
				<key>offset</key>
				<string>{-74,458}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,919},{44,60}}</string>
				<key>offset</key>
				<string>{-74,459}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,980},{31,45}}</string>
				<key>offset</key>
				<string>{-78,463}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,953},{26,30}}</string>
				<key>offset</key>
				<string>{-78,457}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/h1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,987},{26,29}}</string>
				<key>offset</key>
				<string>{-78,458}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,968},{13,14}}</string>
				<key>offset</key>
				<string>{29,436}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,899},{16,29}}</string>
				<key>offset</key>
				<string>{29,444}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,907},{21,35}}</string>
				<key>offset</key>
				<string>{28,448}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,912},{24,37}}</string>
				<key>offset</key>
				<string>{28,449}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,852},{26,39}}</string>
				<key>offset</key>
				<string>{27,450}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,967},{26,42}}</string>
				<key>offset</key>
				<string>{26,451}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,853},{26,42}}</string>
				<key>offset</key>
				<string>{26,451}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,783},{26,42}}</string>
				<key>offset</key>
				<string>{25,452}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,783},{25,41}}</string>
				<key>offset</key>
				<string>{24,453}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,850},{24,38}}</string>
				<key>offset</key>
				<string>{24,454}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,829},{19,35}}</string>
				<key>offset</key>
				<string>{23,455}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,895},{13,29}}</string>
				<key>offset</key>
				<string>{25,457}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,892},{11,18}}</string>
				<key>offset</key>
				<string>{25,454}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>img/shendianmigong/boss/xhh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,946},{11,18}}</string>
				<key>offset</key>
				<string>{25,454}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shendianmigong_boss.png</string>
			<key>realTextureFileName</key>
			<string>ani_shendianmigong_boss.png</string>
			<key>size</key>
			<string>{175,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>