<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhounianqing/laz/laz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{61,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,67},{61,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,262},{59,60}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,262},{59,61}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,453},{57,61}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,324},{57,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,389},{57,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,324},{57,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,197},{59,60}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,326},{59,60}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,390},{59,59}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,261},{59,59}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,327},{61,59}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,392},{61,59}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,197},{61,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhounianqing/laz/laz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,132},{61,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhounianqing_lazhu.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhounianqing_lazhu.png</string>
			<key>size</key>
			<string>{248,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>