<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_ronghun/2/22/sl_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,168},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,372},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,576},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,780},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,168},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,390},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,168},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,594},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,798},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,386},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,590},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,794},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,386},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,168},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,590},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,794},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,372},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,168},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/sl_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,538},{200,162}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,984},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,984},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,168},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,334},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,360},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,334},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,360},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,984},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,964},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,990},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,334},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,360},{107,22}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,168},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,279},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,279},{107,23}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/ani_ronghun/2/22/xw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,964},{118,16}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_ronghun_shuilv.png</string>
			<key>realTextureFileName</key>
			<string>ani_ronghun_shuilv.png</string>
			<key>size</key>
			<string>{1020,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>