<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/jjc/kuang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{168,150}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,444},{164,149}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,458},{162,149}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,305},{168,149}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,153},{170,148}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,2},{174,147}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,150},{176,145}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,305},{176,142}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,156},{178,140}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,451},{178,137}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,611},{178,135}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,734},{180,131}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,817},{180,131}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,626},{180,131}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,442},{180,132}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,442},{180,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,579},{180,132}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,673},{180,132}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,489},{180,133}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,597},{180,133}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,633},{180,133}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,793},{180,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,305},{180,136}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,300},{180,138}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,299},{178,141}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,2},{178,144}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{176,146}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,148}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,154},{172,147}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/touxiangkuang/jjc/kuang_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,152},{170,149}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_jjc.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_jjc.png</string>
			<key>size</key>
			<string>{996,999}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>996</integer>
			<key>height</key>
			<integer>999</integer>
		</dict>
	</dict>
</plist>