<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/6zhongzu/anying/ha_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,257},{121,267}}</string>
				<key>offset</key>
				<string>{-39,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,788},{79,75}}</string>
				<key>offset</key>
				<string>{-7,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,650},{87,78}}</string>
				<key>offset</key>
				<string>{-1,74}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,655},{91,83}}</string>
				<key>offset</key>
				<string>{2,78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,916},{91,89}}</string>
				<key>offset</key>
				<string>{3,82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,922},{91,93}}</string>
				<key>offset</key>
				<string>{3,85}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,528},{118,92}}</string>
				<key>offset</key>
				<string>{21,87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,662},{125,92}}</string>
				<key>offset</key>
				<string>{27,91}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,528},{130,91}}</string>
				<key>offset</key>
				<string>{33,94}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,791},{127,82}}</string>
				<key>offset</key>
				<string>{32,94}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,791},{121,69}}</string>
				<key>offset</key>
				<string>{31,95}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,871},{60,60}}</string>
				<key>offset</key>
				<string>{3,96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,741},{43,43}}</string>
				<key>offset</key>
				<string>{0,98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/anying/ha_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,650},{1,1}}</string>
				<key>offset</key>
				<string>{159,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,500}</string>
			</dict>
			<key>img/6zhongzu/guangming/hengsaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,750},{121,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,34}</string>
			</dict>
			<key>img/6zhongzu/anying/xway_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{243,251}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_anying3.png</string>
			<key>realTextureFileName</key>
			<string>ani_anying3.png</string>
			<key>size</key>
			<string>{268,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>