<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wakuang/kuanggong/jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/jz01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,151},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/jz02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,300},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/lp01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,449},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/lp02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,598},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/lp03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,747},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/lp04.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/ls.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/zt.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,2},{131,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,145}</string>
			</dict>
			<key>img/wakuang/kuanggong/ssss.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,896},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_wakuang_kuanggong.png</string>
			<key>realTextureFileName</key>
			<string>ani_wakuang_kuanggong.png</string>
			<key>size</key>
			<string>{880,934}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>880</integer>
			<key>height</key>
			<integer>934</integer>
		</dict>
	</dict>
</plist>