<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/guangci_pf/bs_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,2},{50,53}}</string>
				<key>offset</key>
				<string>{1,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/bsg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,41},{21,23}}</string>
				<key>offset</key>
				<string>{51,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/bsx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,41},{32,25}}</string>
				<key>offset</key>
				<string>{0,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,56},{50,23}}</string>
				<key>offset</key>
				<string>{0,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2},{69,25}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,35},{86,30}}</string>
				<key>offset</key>
				<string>{0,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,2},{103,39}}</string>
				<key>offset</key>
				<string>{-1,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2},{113,50}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{121,60}}</string>
				<key>offset</key>
				<string>{-1,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,2},{126,67}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,2},{123,70}}</string>
				<key>offset</key>
				<string>{-1,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/zk2/zk22_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{124,73}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,110},{28,19}}</string>
				<key>offset</key>
				<string>{-1,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,75},{42,24}}</string>
				<key>offset</key>
				<string>{-2,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,121},{47,27}}</string>
				<key>offset</key>
				<string>{-1,47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,56},{69,29}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,2},{90,29}}</string>
				<key>offset</key>
				<string>{0,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/touxiangkuang/guangci_pf/gyzk/zk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,2},{106,35}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_guangci_pf.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_guangci_pf.png</string>
			<key>size</key>
			<string>{1024,170}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>170</integer>
		</dict>
	</dict>
</plist>