<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buffpiaozi/baojilvjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/baojilvzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/baoshangjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/baoshangzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,148},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/bingdong.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,127},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/chenmo.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,127},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/chixuhuifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,33},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/diaoxue.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,127},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/fangyujiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,171},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/fangyuzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,71},{73,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,19}</string>
			</dict>
			<key>img/buffpiaozi/jingzhunjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,33},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/jingzhunzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,104},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/jinmo.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,150},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/liuxue.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,150},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/miankong.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,173},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/miankongjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/miankongzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,94},{73,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,19}</string>
			</dict>
			<key>img/buffpiaozi/pojiajiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,71},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/pojiazengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,71},{73,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,19}</string>
			</dict>
			<key>img/buffpiaozi/ranshao.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,150},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/shangjianjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,56},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/shangjianzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,104},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/shangzengjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,79},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/shangzengzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/shihua.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,173},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/sudujiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/suduzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,71},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/xuanyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,173},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/zhongdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,71},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/gongjijiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/gongjizengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,94},{73,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,19}</string>
			</dict>
			<key>img/buffpiaozi/jishangjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,27}</string>
			</dict>
			<key>img/buffpiaozi/jishangzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/zhiliaoliangjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/zhiliaoliangzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/gedangjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/gedanglvjiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/gedanglvzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,2},{93,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,19}</string>
			</dict>
			<key>img/buffpiaozi/gedangzengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/jishangjaingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/liuxueshangzeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/ranshaoshangzeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zhongdushangzeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/xuruo.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,71},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/yingyanyinji.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/fengyinbeidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/fuhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,150},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/bihu.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,71},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/nuqihuifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/undercurepro.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,2},{110,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,19}</string>
			</dict>
			<key>img/buffpiaozi/undercureprop.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,2},{111,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,19}</string>
			</dict>
			<key>img/buffpiaozi/nilin.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,150},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/zhanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,173},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/suoxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,191},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/shayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,194},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/jimobiaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,48},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/jimozuzhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,48},{74,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/jumobiaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,2},{76,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,19}</string>
			</dict>
			<key>img/buffpiaozi/jumozuzhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/touqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,127},{39,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,19}</string>
			</dict>
			<key>img/buffpiaozi/reflectarmer.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/resistarmer.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/emosign.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/uncontrolhudun.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,48},{74,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zmlj.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,48},{74,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/yuren.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,25},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/aysh.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,127},{73,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zyzz.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,104},{74,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/baozou.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,194},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/chaofeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,71},{37,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,19}</string>
			</dict>
			<key>img/buffpiaozi/jhsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,104},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zrbh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,217},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,19}</string>
			</dict>
			<key>img/buffpiaozi/heianzhihun.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,112},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zhenshishanghai.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,48},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/elft.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,71},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>img/buffpiaozi/zysh.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,126},{74,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>img/buffpiaozi/zysp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,125},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_buff_piaozi.png</string>
			<key>realTextureFileName</key>
			<string>ani_buff_piaozi.png</string>
			<key>size</key>
			<string>{1007,238}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1007</integer>
			<key>height</key>
			<integer>238</integer>
		</dict>
	</dict>
</plist>