<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_shijieshulizi/shijieshu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1395},{402,465}}</string>
				<key>offset</key>
				<string>{-16,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,465}}</string>
				<key>offset</key>
				<string>{-18,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,457},{406,439}}</string>
				<key>offset</key>
				<string>{-18,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1395},{406,457}}</string>
				<key>offset</key>
				<string>{-18,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{403,457}}</string>
				<key>offset</key>
				<string>{-17,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1334},{403,438}}</string>
				<key>offset</key>
				<string>{-17,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,0},{406,438}}</string>
				<key>offset</key>
				<string>{-19,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,896},{404,438}}</string>
				<key>offset</key>
				<string>{-17,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,465},{405,465}}</string>
				<key>offset</key>
				<string>{-18,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/ani_shijieshulizi/shijieshu_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{405,465}}</string>
				<key>offset</key>
				<string>{-18,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shijieshulizi.png</string>
			<key>realTextureFileName</key>
			<string>ani_shijieshulizi.png</string>
			<key>size</key>
			<string>{1214,1860}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1214</integer>
			<key>height</key>
			<integer>1860</integer>
		</dict>
	</dict>
</plist>