<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/shengji/shengji_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,671},{203,185}}</string>
				<key>offset</key>
				<string>{5,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,583},{161,208}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,2},{198,201}}</string>
				<key>offset</key>
				<string>{4,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,222},{194,208}}</string>
				<key>offset</key>
				<string>{5,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,2},{187,216}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,792},{180,225}}</string>
				<key>offset</key>
				<string>{4,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,434},{166,233}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,434},{145,250}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,671},{142,267}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,878},{141,216}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,795},{136,209}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/shengji/shengji_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,207},{130,198}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/shenbing/jihuo/jihuo_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,266},{160,259}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/shenbing/jihuo/jihuo_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,529},{160,259}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>img/shenbing/jihuo/jihuo_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{160,260}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shenbing_shengji.png</string>
			<key>realTextureFileName</key>
			<string>ani_shenbing_shengji.png</string>
			<key>size</key>
			<string>{690,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>690</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>