<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/xz/kt/kt_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,473},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,683},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,796},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,909},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,942},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,975},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,683},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,796},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,683},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,586},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,619},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,796},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,652},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,765},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,878},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,911},{31,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,911},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,652},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,765},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,652},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,765},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,119},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,232},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,345},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,114},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,227},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,340},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/kt/kt_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,453},{30,111}}</string>
				<key>offset</key>
				<string>{-43,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{1,1}}</string>
				<key>offset</key>
				<string>{149,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,473},{55,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,119},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,709},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,827},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,119},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,237},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,355},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,473},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,591},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,709},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,827},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,119},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,237},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,355},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,473},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,591},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,709},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,827},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,945},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,119},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,237},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/sx/sx_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,355},{56,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/bs_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,591},{69,90}}</string>
				<key>offset</key>
				<string>{-4,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/touxiangkuang/xz/xz_txk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{115,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,116}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_xz.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_xz.png</string>
			<key>size</key>
			<string>{414,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>414</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>