<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/touxiangkuang/ailin/db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{109,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,119}</string>
			</dict>
			<key>img/touxiangkuang/ailin/kt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,279},{109,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,119}</string>
			</dict>
			<key>img/touxiangkuang/ailin/td.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{109,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,119}</string>
			</dict>
			<key>img/touxiangkuang/ailin/wfg_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,941},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,941},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,468},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,938},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,314},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,106},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,260},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,2},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,56},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,56},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,626},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,780},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,626},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,522},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,368},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,368},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,314},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,210},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,56},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lzx/lz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,135},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,135},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,2},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,971},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,971},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,522},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,447},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,813},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,867},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,813},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,921},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,867},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,921},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,576},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb2/2_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,501},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,56},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,56},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,2},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,780},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,859},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,81},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,576},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,655},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,734},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,813},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,892},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,576},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,655},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,368},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/cb/1_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,734},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,629},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,733},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,837},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,525},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,629},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,733},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,837},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,156},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,260},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,364},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,106},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,210},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,314},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,522},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,418},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,106},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,210},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,314},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,626},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,730},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,834},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,522},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,418},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,106},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/touxiangkuang/ailin/lz2/lz2_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,210},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_touxiangkuang_ailin_dh.png</string>
			<key>realTextureFileName</key>
			<string>ani_touxiangkuang_ailin_dh.png</string>
			<key>size</key>
			<string>{1011,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1011</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>