<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shendiandilao/q_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,256},{230,261}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/22_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,2},{250,276}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/22_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,710},{251,293}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/g_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{169,163}}</string>
				<key>offset</key>
				<string>{6,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/g_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,710},{319,284}}</string>
				<key>offset</key>
				<string>{14,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/g_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/g_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shendiandilao/bs_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,998},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_shendiandilao_qiang2.png</string>
			<key>realTextureFileName</key>
			<string>ani_shendiandilao_qiang2.png</string>
			<key>size</key>
			<string>{858,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>858</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>