<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buff/atkdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,454},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/atkpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baojidrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,498},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baojipro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,520},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baojisign.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,542},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baoshangdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,564},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baoshangpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,586},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/bingdong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,608},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/chenmo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,630},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/defdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/defpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,674},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/defpro-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,696},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/diaoxue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,718},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,740},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,762},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/gedangdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,784},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/gedangpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,806},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/guanxingsign.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,828},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/hpback.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,850},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jingzhundrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,872},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jingzhunpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,894},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jinmo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,916},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job1dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,938},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job1dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job2dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,982},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job2dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1004},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job3dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,454},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job3dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,74},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job4dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,2},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job4dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,24},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job5dpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,46},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/job5dpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,96},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/liuxue.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,118},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/miankongdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,140},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/miankongpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,162},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/pojiadrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,184},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/pojiapro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,206},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/roundsign.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,228},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/shandiansign.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,250},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/shihua.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,272},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/skilldpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,294},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/skilldpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,316},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/speeddrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,338},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/speedpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,360},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/uncontrol.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,382},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/undpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,404},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/undpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,426},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/xuanyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,476},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zhongdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,498},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zhuoshao.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,520},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/liuxuedpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,542},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zhongdudpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,564},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/curedrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,586},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/curepro.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,608},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zhuoshaodpsdrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,630},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zhuoshaodpspro.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,652},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/hudun.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,674},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/deathsign.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,696},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/xuruo.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,718},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/yingyanyinji.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,740},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/fuhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,762},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/unpassive.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,784},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/protect.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,806},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/undercurepro.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,828},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/undercureprop.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,850},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/steal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,212},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/trollcurse.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,872},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/kongju.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,894},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/nilin.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,916},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/suoxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,938},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,960},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/shayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,982},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/junhengsign.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,1004},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>img/buff/reflectarmer.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,448},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/resistarmer.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,68},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/emosign.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,2},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/uncontrolhudun.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,24},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zmlj.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,46},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/yuren.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,234},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/aysh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zyzz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,278},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/baozou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,300},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/chaofeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,322},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jhsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zrbh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/lightpower.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/lightseal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,26},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/realinjurypro.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,50},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/heianzhihun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,388},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/soulpower.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/ymyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,432},{19,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/elft.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zrzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,97},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zysh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,120},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/zysp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,143},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/bianyang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,166},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/buff/jingxingready.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,189},{19,19}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff.png</string>
			<key>realTextureFileName</key>
			<string>buff.png</string>
			<key>size</key>
			<string>{68,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>