<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/png/gxiang_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,487},{154,154}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1535},{175,185}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,289},{194,196}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1305},{214,215}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1305},{230,230}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1712},{249,257}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1264},{271,261}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{286,270}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,963},{299,269}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1712},{310,270}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,963},{323,269}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,963},{340,270}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,372},{355,270}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1},{369,270}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1712},{380,270}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>img/png/gxiang_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1527},{194,135}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,135}</string>
			</dict>
			<key>img/png/gxiang_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,487},{189,135}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,135}</string>
			</dict>
			<key>img/png/jt_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1964},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>img/png/jt_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{282,968}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,968}</string>
			</dict>
			<key>img/png/qiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,289},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>img/png/qiuqiu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1288},{245,245}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/png/qq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,767},{117,86}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/qq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,643},{116,85}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/qq03.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,643},{122,86}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/qq04.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1964},{126,82}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/qq06.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1963},{120,82}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/qq07.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1963},{117,84}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>img/png/xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,729},{134,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,439}</string>
			</dict>
			<key>img/png/yan_292.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,971},{570,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{570,320}</string>
			</dict>
			<key>img/png/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,865},{96,594}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,597}</string>
			</dict>
			<key>img/png/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1964},{66,264}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,265}</string>
			</dict>
			<key>img/png/jt_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2032},{15,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,383}</string>
			</dict>
			<key>img/png/jt_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1964},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>img/png/jt_002_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1543},{167,985}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,985}</string>
			</dict>
			<key>img/png/FWAF2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1712},{505,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chouka_dh2.png</string>
			<key>realTextureFileName</key>
			<string>chouka_dh2.png</string>
			<key>size</key>
			<string>{1420,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1420</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>