<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/chunjiehuodong/btn_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,518},{73,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,66}</string>
			</dict>
			<key>img/chunjiehuodong/img_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,2},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,50}</string>
			</dict>
			<key>img/chunjiehuodong/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,687},{550,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,99}</string>
			</dict>
			<key>img/chunjiehuodong/img_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,194},{103,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,105}</string>
			</dict>
			<key>img/chunjiehuodong/img_phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,2},{254,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,188}</string>
			</dict>
			<key>img/chunjiehuodong/img_wz_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,519},{88,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,22}</string>
			</dict>
			<key>img/chunjiehuodong/jdt_cj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,2},{23,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,512}</string>
			</dict>
			<key>img/chunjiehuodong/sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,441},{132,137}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,378},{132,137}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/sz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,335},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/sz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,476},{132,137}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/sz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,194},{139,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/sz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,300},{139,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>
			<key>img/chunjiehuodong/wz_ghxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,588},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xcsp.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,646},{229,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,37}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xcsp_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,503},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xnfd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,619},{229,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,37}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xnyh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,660},{229,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,37}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xnyh_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,561},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xrtz.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,675},{229,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,37}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xrtz_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,617},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xysz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,701},{229,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,37}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xysz_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,503},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/chunjiehuodong/wz_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,201},{43,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,32}</string>
			</dict>
			<key>img/chunjiehuodong/wz_kuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,237},{44,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,31}</string>
			</dict>
			<key>img/chunjiehuodong/wz_le.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,93},{46,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,32}</string>
			</dict>
			<key>img/chunjiehuodong/wz_nian.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,56},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,129},{46,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,32}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xin.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,165},{44,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,32}</string>
			</dict>
			<key>img/chunjiehuodong/wz_xnfd_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,561},{205,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,54}</string>
			</dict>
			<key>img/chunjiehuodong/img_zf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{483,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,497}</string>
			</dict>
			<key>img/chunjiehuodong/btn_yjzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,303},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>img/chunjiehuodong/img_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,2},{178,294}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,297}</string>
			</dict>
			<key>img/chunjiehuodong/img_hhsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,996},{640,195}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,214}</string>
			</dict>
			<key>img/chunjiehuodong/img_hhsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{640,202}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,214}</string>
			</dict>
			<key>img/chunjiehuodong/img_wdhhks.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1394},{640,189}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,214}</string>
			</dict>
			<key>img/chunjiehuodong/img_wdhhsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1195},{640,195}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chunjiehuodong.png</string>
			<key>realTextureFileName</key>
			<string>chunjiehuodong.png</string>
			<key>size</key>
			<string>{1020,1585}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1585</integer>
		</dict>
	</dict>
</plist>