<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/pifushangcheng/btn_gm_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,887},{179,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,62}</string>
			</dict>
			<key>img/pifushangcheng/img_rim_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{528,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{528,445}</string>
			</dict>
			<key>img/pifushangcheng/img_shop_basket.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,475},{240,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,207}</string>
			</dict>
			<key>img/pifushangcheng/img_shop_cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,684},{320,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,136}</string>
			</dict>
			<key>img/pifushangcheng/img_shop_rim.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{556,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,472}</string>
			</dict>
			<key>img/pifushangcheng/img_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{410,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,96}</string>
			</dict>
			<key>img/pifushangcheng/wz_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,822},{339,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,63}</string>
			</dict>
			<key>img/pifushangcheng/img_shop_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,741},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>img/pifushangcheng/btn_price_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,951},{137,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,58}</string>
			</dict>
			<key>img/pifushangcheng/btn_price_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,951},{137,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,58}</string>
			</dict>
			<key>img/pifushangcheng/img_cash_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,922},{293,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,90}</string>
			</dict>
			<key>img/pifushangcheng/img_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,75},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,149},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,223},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,297},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1014},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>img/pifushangcheng/img_sz0.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,371},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,445},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,519},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz8.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,593},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
			<key>img/pifushangcheng/img_sz9.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,667},{37,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event_xspf.png</string>
			<key>realTextureFileName</key>
			<string>event_xspf.png</string>
			<key>size</key>
			<string>{1024,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>