<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/event/wz_event_title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{464,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{464,143}</string>
			</dict>
			<key>img/event/wz_event_title5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{310,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,66}</string>
			</dict>
			<key>img/event/wz_event_title6.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,849},{387,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,105}</string>
			</dict>
			<key>img/event/wz_event_title7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,467},{387,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,105}</string>
			</dict>
			<key>img/event/wz_event_title8.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,467},{387,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,105}</string>
			</dict>
			<key>img/event/wz_event_title9.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,459},{388,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,105}</string>
			</dict>
			<key>img/event/wz_event_title12.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{388,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,105}</string>
			</dict>
			<key>img/event/wz_event_title11.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,391},{388,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,105}</string>
			</dict>
			<key>img/event/wz_event_title10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,849},{388,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,105}</string>
			</dict>
			<key>img/event/wz_event_info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1},{456,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,102}</string>
			</dict>
			<key>img/event/img_bufenjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,210}</string>
			</dict>
			<key>img/event/wz_event_jrdl_bx.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,849},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event3.png</string>
			<key>realTextureFileName</key>
			<string>event3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>