<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/fengbaozhanchang/baoxiang_4xiaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,232},{83,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
			<key>img/fengbaozhanchang/baoxiang_dituy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{500,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,92}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_di100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{484,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,3}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_di101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,372},{550,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,41}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_fengbaozhanchangditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{640,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,49}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_fengbaozhanchangditu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1},{225,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,179}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_jindudi202.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{369,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,24}</string>
			</dict>
			<key>img/fengbaozhanchang/bg_jindutiao203.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,413},{369,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,24}</string>
			</dict>
			<key>img/fengbaozhanchang/btn_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,336},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/fengbaozhanchang/btn_baozang.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,336},{77,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>
			<key>img/fengbaozhanchang/btn_fengbaoshangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,140},{77,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>
			<key>img/fengbaozhanchang/btn_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,145},{44,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,51}</string>
			</dict>
			<key>img/fengbaozhanchang/btn_zhandourizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,140},{77,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>
			<key>img/fengbaozhanchang/gou_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,198},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>img/fengbaozhanchang/gou_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,286},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>img/fengbaozhanchang/img_baoxiangjishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,95},{303,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,43}</string>
			</dict>
			<key>img/fengbaozhanchang/img_guanka.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1},{262,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,131}</string>
			</dict>
			<key>img/fengbaozhanchang/img_hw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{145,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,12}</string>
			</dict>
			<key>img/fengbaozhanchang/img_ketianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,134},{99,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,96}</string>
			</dict>
			<key>img/fengbaozhanchang/img_ketianjia_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,134},{99,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,96}</string>
			</dict>
			<key>img/fengbaozhanchang/img_tanxian_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,244},{98,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,32}</string>
			</dict>
			<key>img/fengbaozhanchang/list_ditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,412},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/fengbaozhanchang/baoxiang_12xiaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,140},{80,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,69}</string>
			</dict>
			<key>img/fengbaozhanchang/baoxiang_8xiaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,262},{83,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
			<key>img/fengbaozhanchang/fengbao_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,211},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/fengbaozhanchang/fengbao_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,211},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/fengbaozhanchang/fengbao_box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,223},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,134},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,95},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,95},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,182},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,182},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,182},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_yaosai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,232},{70,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,126}</string>
			</dict>
			<key>img/fengbaozhanchang/img_ketianjia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,232},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/fengbaozhanchang/img_fengbao_qudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,95},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>img/fengbaozhanchang/baoxiang_24xiaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,306},{83,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fengbaozhanchang.png</string>
			<key>realTextureFileName</key>
			<string>fengbaozhanchang.png</string>
			<key>size</key>
			<string>{1021,483}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>483</integer>
		</dict>
	</dict>
</plist>