<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/ghztx/dz_bg_guang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,108}</string>
			</dict>
			<key>img/gonghui/ghztx/dz_bg_yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{121,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ghz_ditu_bgtx1.png</string>
			<key>realTextureFileName</key>
			<string>ghz_ditu_bgtx1.png</string>
			<key>size</key>
			<string>{285,110}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>110</integer>
		</dict>
	</dict>
</plist>