<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/ghztx/bowen/bowen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/bowen/bowen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,46}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,31},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,31},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,31},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,31},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,31},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,49},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,61},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/lizi/lizi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,61},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,31},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
			<key>img/gonghui/ghztx/shuibo/shuibo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,31},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ghz_ditu_bgtx.png</string>
			<key>realTextureFileName</key>
			<string>ghz_ditu_bgtx.png</string>
			<key>size</key>
			<string>{1010,104}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>104</integer>
		</dict>
	</dict>
</plist>