<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/ljwz_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,646},{218,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,183}</string>
			</dict>
			<key>img/gonghui/ljwz_zs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{342,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,288}</string>
			</dict>
			<key>img/gonghui/ljwz_zs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,329},{256,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,224}</string>
			</dict>
			<key>img/gonghui/ljwz_qi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,555},{169,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,288}</string>
			</dict>
			<key>img/gonghui/ljwz_qi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,555},{169,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,244}</string>
			</dict>
			<key>img/gonghui/ljwz_qi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,801},{169,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,211}</string>
			</dict>
			<key>img/gonghui/wz_xwyi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,947},{134,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,33}</string>
			</dict>
			<key>img/gonghui/wz_xwyi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>img/gonghui/wz_xwyi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,982},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>img/gonghui/img_huizhang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,642},{292,303}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,356}</string>
			</dict>
			<key>img/gonghui/img_huizhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,325},{310,319}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,356}</string>
			</dict>
			<key>img/gonghui/img_huizhang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{332,322}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,356}</string>
			</dict>
			<key>img/gonghui/img_huizhang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,349}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,356}</string>
			</dict>
			<key>img/gonghui/img_mc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,57},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,25}</string>
			</dict>
			<key>img/gonghui/img_mc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>
			<key>img/gonghui/img_mc3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,29},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>
			<key>img/gonghui/img_huizhang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{314,326}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,356}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui3.png</string>
			<key>realTextureFileName</key>
			<string>gonghui3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>