<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gongxihuode/bsctk.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,953},{114,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,29}</string>
			</dict>
			<key>img/gongxihuode/dtkz.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,953},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/dtsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,785},{92,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>img/gongxihuode/dtzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,986},{94,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,29}</string>
			</dict>
			<key>img/gongxihuode/dtzy.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,986},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/fytk.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,953},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/gxhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,908},{298,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,97}</string>
			</dict>
			<key>img/gongxihuode/hpkz.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,946},{93,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,28}</string>
			</dict>
			<key>img/gongxihuode/hpsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,817},{92,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,28}</string>
			</dict>
			<key>img/gongxihuode/hpzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,914},{94,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,28}</string>
			</dict>
			<key>img/gongxihuode/hpzy.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,978},{93,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,28}</string>
			</dict>
			<key>img/gongxihuode/ico_zz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,817},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>img/gongxihuode/k.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,785},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>
			<key>img/gongxihuode/kctk.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,986},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/mzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,908},{41,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,253}</string>
			</dict>
			<key>img/gongxihuode/qpkz.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,849},{92,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,28}</string>
			</dict>
			<key>img/gongxihuode/qpsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,913},{91,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,28}</string>
			</dict>
			<key>img/gongxihuode/qpzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,785},{93,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,28}</string>
			</dict>
			<key>img/gongxihuode/qpzy.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,881},{92,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,28}</string>
			</dict>
			<key>img/gongxihuode/qtkz.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,785},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/qtsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,881},{92,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>img/gongxihuode/qtzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,986},{94,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,29}</string>
			</dict>
			<key>img/gongxihuode/qtzy.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,785},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>img/gongxihuode/tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,785},{373,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,119}</string>
			</dict>
			<key>img/gongxihuode/xxxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,945},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/dp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{637,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{637,306}</string>
			</dict>
			<key>img/ani_xinhuode_wuxing/hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,643},{640,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gongxihuode_ui_dh.png</string>
			<key>realTextureFileName</key>
			<string>gongxihuode_ui_dh.png</string>
			<key>size</key>
			<string>{789,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>789</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>