<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_gonghui_jxzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,370},{88,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,51}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{206,457}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,463},{206,456}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,2},{206,456}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,426},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,923},{148,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,84}</string>
			</dict>
			<key>img/public/jdt/bg_gonghuijuanxian_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,130},{276,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,21}</string>
			</dict>
			<key>img/public/jdt/img_gonghuijuanxian_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,410},{275,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,17}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,2},{137,124}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,462},{156,150}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,645},{170,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,829},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,923},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,921},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,212},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,829},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,319},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,921},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,829},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,829},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj5_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,922},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,130},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,238},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,346},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,454},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,562},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/img_gonghui_kjzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,475},{46,35}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,212},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,170},{155,199}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/img_gonghui_fbzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,921},{56,58}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,69}</string>
			</dict>
			<key>img/gonghui/img_gonghui_zdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,426},{45,38}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,42}</string>
			</dict>
			<key>img/public/jdt/bg_gonghui_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,686},{139,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,16}</string>
			</dict>
			<key>img/public/jdt/img_gonghui_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,130},{135,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,12}</string>
			</dict>
			<key>img/public/jdt/bg_gonghui_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,329},{276,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,21}</string>
			</dict>
			<key>img/public/jdt/img_gonghui_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,410},{272,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,17}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2},{164,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,212},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,329},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,829},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,829},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,487},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_jy.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,829},{46,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,51}</string>
			</dict>
			<key>img/gonghui/img_ditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,370},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui1.png</string>
			<key>realTextureFileName</key>
			<string>gonghui1.png</string>
			<key>size</key>
			<string>{1024,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>