<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gvg/1/sg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{249,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,237}</string>
			</dict>
			<key>img/gvg/1/ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,2},{305,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,137}</string>
			</dict>
			<key>img/gvg/1/yg.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,2},{33,63}}</string>
				<key>offset</key>
				<string>{78,53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,237}</string>
			</dict>
			<key>img/gvg/1/dggg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,2},{56,40}}</string>
				<key>offset</key>
				<string>{-5,98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,237}</string>
			</dict>
			<key>img/gvg/1/g1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,2},{43,72}}</string>
				<key>offset</key>
				<string>{81,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,237}</string>
			</dict>
			<key>img/gvg/1/g2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,2},{188,54}}</string>
				<key>offset</key>
				<string>{-10,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gvg_01_dh.png</string>
			<key>realTextureFileName</key>
			<string>gvg_01_dh.png</string>
			<key>size</key>
			<string>{957,241}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>957</integer>
			<key>height</key>
			<integer>241</integer>
		</dict>
	</dict>
</plist>