<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,862},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,143},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,284},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,425},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,566},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,707},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,848},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,2},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,143},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,284},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,425},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,566},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh1/hh_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,707},{126,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,137}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,217},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,432},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,647},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,217},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,432},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,647},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,2},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,217},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,432},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,647},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,2},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,217},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,432},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,647},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,217},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,432},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>img/huodong/xrhd/xrhl/yh2/yh_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,647},{176,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hd_xrhl_bgtx.png</string>
			<key>realTextureFileName</key>
			<string>hd_xrhl_bgtx.png</string>
			<key>size</key>
			<string>{1160,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1160</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>