<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huizhang/jiangjie/jiangji_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,899},{123,86}}</string>
				<key>offset</key>
				<string>{2,99}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,425},{199,178}}</string>
				<key>offset</key>
				<string>{-6,53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,263},{267,256}}</string>
				<key>offset</key>
				<string>{-5,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,606},{291,290}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,624},{289,328}}</string>
				<key>offset</key>
				<string>{-5,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1},{287,334}}</string>
				<key>offset</key>
				<string>{-6,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,667},{286,334}}</string>
				<key>offset</key>
				<string>{-8,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,667},{286,334}}</string>
				<key>offset</key>
				<string>{-9,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{309,333}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{314,331}}</string>
				<key>offset</key>
				<string>{3,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,669},{309,331}}</string>
				<key>offset</key>
				<string>{-1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,334},{291,331}}</string>
				<key>offset</key>
				<string>{-9,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,290},{286,332}}</string>
				<key>offset</key>
				<string>{-5,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{284,334}}</string>
				<key>offset</key>
				<string>{-4,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{274,332}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,287},{278,331}}</string>
				<key>offset</key>
				<string>{-2,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,277},{278,327}}</string>
				<key>offset</key>
				<string>{-3,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,1},{260,310}}</string>
				<key>offset</key>
				<string>{-10,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,1},{230,284}}</string>
				<key>offset</key>
				<string>{0,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,233},{190,242}}</string>
				<key>offset</key>
				<string>{-9,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
			<key>img/huizhang/jiangjie/jiangji_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,899},{112,157}}</string>
				<key>offset</key>
				<string>{3,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huizhang_tx_jj.png</string>
			<key>realTextureFileName</key>
			<string>huizhang_tx_jj.png</string>
			<key>size</key>
			<string>{1954,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1954</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>