<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong/qixi/wfg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,494},{113,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,105}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,510},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,764},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,256},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,510},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,764},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,256},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,510},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,764},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,256},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,510},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,764},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,256},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,510},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,764},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,2},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,248},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,502},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,756},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,248},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,248},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,494},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
			<key>img/huodong/qixi/gx/gx_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,748},{250,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,242}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huodong_qxtx_xz.png</string>
			<key>realTextureFileName</key>
			<string>huodong_qxtx_xz.png</string>
			<key>size</key>
			<string>{1992,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1992</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>