<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jinqiu/dh/yangguang/yg/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1146},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1718},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2290},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2862},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3434},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2614,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3186,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{3758,2},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2614,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3186,326},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{3758,574},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1146},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1718},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2290},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,2862},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,3434},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/yangguang/yg/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2614,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3186,650},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2366,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2938,974},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3510,1146},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1298},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1298},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,1298},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2118,1298},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2690,1298},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{3262,1470},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1622},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1870},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,1622},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2118,1622},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2690,1622},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{3262,1794},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1946},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,2442},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,3014},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,3586},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,2518},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,3090},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,3414},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1946},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,2518},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>img/jinqiu/dh/luoye/yz/yz_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,3090},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jinqiuxunbao2_dh.png</string>
			<key>realTextureFileName</key>
			<string>jinqiuxunbao2_dh.png</string>
			<key>size</key>
			<string>{4080,4004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4080</integer>
			<key>height</key>
			<integer>4004</integer>
		</dict>
	</dict>
</plist>