<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/pipei/guang/glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,309},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,321},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,629},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,321},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,1},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,629},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,309},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,617},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/guang/glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,309},{320,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,306}</string>
			</dict>
			<key>img/pipei/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,636},{806,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{806,201}</string>
			</dict>
			<key>img/pipei/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{633,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{633,293}</string>
			</dict>
			<key>img/pipei/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,839},{496,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,175}</string>
			</dict>
			<key>img/pipei/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{317,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,318}</string>
			</dict>
			<key>img/pipei/fdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,910},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>img/pipei/wz_dsppz.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,989},{218,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,25}</string>
			</dict>
			<key>img/pipei/js1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,617},{336,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,268}</string>
			</dict>
			<key>img/pipei/wz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,839},{344,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>juedou_pp_dh.png</string>
			<key>realTextureFileName</key>
			<string>juedou_pp_dh.png</string>
			<key>size</key>
			<string>{2038,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2038</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>