<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/kaifukuanghuan/img_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,526},{560,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,142}</string>
			</dict>
			<key>img/kaifukuanghuan/img_bq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,821},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>img/kaifukuanghuan/img_bq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,821},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>img/kaifukuanghuan/img_banner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,672},{560,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,142}</string>
			</dict>
			<key>img/kaifukuanghuan/btn_qy01.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,657},{437,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,49}</string>
			</dict>
			<key>img/kaifukuanghuan/btn_qy02.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,604},{438,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,49}</string>
			</dict>
			<key>img/kaifukuanghuan/img_banner3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,818},{560,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,142}</string>
			</dict>
			<key>img/kaifukuanghuan/img_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,2},{54,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,164}</string>
			</dict>
			<key>img/kaifukuanghuan/img_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,964},{390,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,49}</string>
			</dict>
			<key>img/kaifukuanghuan/bg_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,710},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>img/kaifukuanghuan/bg_jl_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,964},{94,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,22}</string>
			</dict>
			<key>img/kaifukuanghuan/img_jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>img/kaifukuanghuan/bg_jl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,710},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>img/kaifukuanghuan/btn_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,170},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>img/kaifukuanghuan/img_kfkh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{616,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,258}</string>
			</dict>
			<key>img/kaifukuanghuan/img_kfkh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,264},{616,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,258}</string>
			</dict>
			<key>img/kaifukuanghuan/img_kfkh3.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,2},{313,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,258}</string>
			</dict>
			<key>img/kaifukuanghuan/img_kfkh4.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,264},{313,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,258}</string>
			</dict>
			<key>img/kaifukuanghuan/wz_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,526},{373,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,74}</string>
			</dict>
			<key>img/kaifukuanghuan/img_kfkh_tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,710},{204,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,107}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kaifukuanghuan.png</string>
			<key>realTextureFileName</key>
			<string>kaifukuanghuan.png</string>
			<key>size</key>
			<string>{1020,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>