<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/kaogu_jnsj/baodian/bom_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,260},{66,68}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,260},{78,79}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1},{90,89}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,165},{92,93}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,369},{96,97}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,369},{98,98}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,166},{100,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,268},{99,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,166},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,268},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/baodian/bom_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1},{100,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{1,1}}</string>
				<key>offset</key>
				<string>{49,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,472},{36,35}}</string>
				<key>offset</key>
				<string>{5,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,469},{43,42}}</string>
				<key>offset</key>
				<string>{8,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,63},{47,45}}</string>
				<key>offset</key>
				<string>{11,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,204},{50,49}}</string>
				<key>offset</key>
				<string>{14,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,147},{52,55}}</string>
				<key>offset</key>
				<string>{16,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1},{52,60}}</string>
				<key>offset</key>
				<string>{17,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,93},{52,66}}</string>
				<key>offset</key>
				<string>{17,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,159},{51,70}}</string>
				<key>offset</key>
				<string>{17,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,103},{54,73}}</string>
				<key>offset</key>
				<string>{15,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/xian/qx_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,103},{60,75}}</string>
				<key>offset</key>
				<string>{12,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/kaogu_jnsj/qq_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{163,163}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kaogu_jnsj_tx.png</string>
			<key>realTextureFileName</key>
			<string>kaogu_jnsj_tx.png</string>
			<key>size</key>
			<string>{432,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>