<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/kaogu/img_kg_jl_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{640,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,44}</string>
			</dict>
			<key>img/kaogu/kgdx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,529},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/kgdx_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>img/kaogu/img_kg_jlyl_zwjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{344,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,58}</string>
			</dict>
			<key>img/kaogu/img_jlyl_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,927},{56,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kaogu3.png</string>
			<key>realTextureFileName</key>
			<string>kaogu3.png</string>
			<key>size</key>
			<string>{994,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>994</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>