<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/kaogu/img_kg_yq_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,238},{253,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,363}</string>
			</dict>
			<key>img/kaogu/img_kg_yq_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{257,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,363}</string>
			</dict>
			<key>img/kaogu/img_kg_fzyq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,493},{79,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,120}</string>
			</dict>
			<key>img/kaogu/img_kg_fzyq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,870},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,113}</string>
			</dict>
			<key>img/kaogu/img_kg_yq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,734},{131,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,140}</string>
			</dict>
			<key>img/kaogu/btn_kg_jn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,734},{73,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,61}</string>
			</dict>
			<key>img/kaogu/btn_kg_jn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,797},{73,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,61}</string>
			</dict>
			<key>img/kaogu/btn_kg_jn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,802},{73,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,61}</string>
			</dict>
			<key>img/kaogu/img_kg_jn_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,469},{554,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{554,42}</string>
			</dict>
			<key>img/kaogu/img_kg_jn_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,117},{117,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,7}</string>
			</dict>
			<key>img/kaogu/btn_kg_zlg_wwbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,818},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>
			<key>img/kaogu/btn_kg_zlg_wwbj.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,992},{133,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,30}</string>
			</dict>
			<key>img/kaogu/btn_kg_zlg_xgyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,962},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>
			<key>img/kaogu/btn_kg_zlg_yl.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,609},{133,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,30}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,493},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,235}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_ksx.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,802},{73,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,34}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,999},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,876},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,493},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,622},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_xxd.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,999},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>img/kaogu/img_kg_jianbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,238},{245,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,229}</string>
			</dict>
			<key>img/kaogu/img_kg_jldi.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,349},{494,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,108}</string>
			</dict>
			<key>img/kaogu/img_kg_xhzl_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,985},{102,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,38}</string>
			</dict>
			<key>img/kaogu/img_kg_xhzl_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,260},{540,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,42}</string>
			</dict>
			<key>img/kaogu/btn_djsr_bq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,825},{100,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,43}</string>
			</dict>
			<key>img/kaogu/btn_djsr_bq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,260},{101,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,43}</string>
			</dict>
			<key>img/kaogu/btn_djsr_bq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{100,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,43}</string>
			</dict>
			<key>img/kaogu/img_djsr_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,469},{182,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,263}</string>
			</dict>
			<key>img/kaogu/img_kg_djsr_di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,876},{131,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,125}</string>
			</dict>
			<key>img/kaogu/img_kg_tx_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,1},{114,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,12}</string>
			</dict>
			<key>img/kaogu/img_kg_tx_jdtdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,469},{118,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,16}</string>
			</dict>
			<key>img/kaogu/img_kaogu_dbdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,845},{276,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,152}</string>
			</dict>
			<key>img/kaogu/img_kg_xhzl_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,260},{540,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,42}</string>
			</dict>
			<key>img/kaogu/img_ww_atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,344},{111,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,115}</string>
			</dict>
			<key>img/kaogu/img_ww_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,457},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>
			<key>img/kaogu/img_kg_ymj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,802},{179,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,36}</string>
			</dict>
			<key>img/kaogu/img_kg_ymj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,615},{179,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,36}</string>
			</dict>
			<key>img/kaogu/img_kg_ymj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,615},{208,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,42}</string>
			</dict>
			<key>img/kaogu/img_tanxian_gk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,734},{66,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/kaogu/img_kg_jy_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,260},{108,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,26}</string>
			</dict>
			<key>img/kaogu/dijing_duihuakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,260},{200,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>img/kaogu/img_kg_xgzl_fd.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,238},{109,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,26}</string>
			</dict>
			<key>img/kaogu/btn_djsr_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,840},{161,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,120}</string>
			</dict>
			<key>img/kaogu/img_ww_atkpro.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,570},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>
			<key>img/kaogu/img_ww_hppro.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,683},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>
			<key>img/kaogu/img_kg_yxs.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,370},{466,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,33}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,720},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>img/kaogu/img_kg_zlg_z1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kaogu2.png</string>
			<key>realTextureFileName</key>
			<string>kaogu2.png</string>
			<key>size</key>
			<string>{1021,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>