<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/public/jdt/bg_loading_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,28}</string>
			</dict>
			<key>img/public/jdt/img_loading_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>loading.png</string>
			<key>realTextureFileName</key>
			<string>loading.png</string>
			<key>size</key>
			<string>{670,28}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>670</integer>
			<key>height</key>
			<integer>28</integer>
		</dict>
	</dict>
</plist>