<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/mainmenu/wz_main_fst.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,983},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,983},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_jsfz.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,955},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_mrsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,983},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_rhjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,830},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_sjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,858},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_szj.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,896},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_tjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,924},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,952},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_xyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,980},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_zhs.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,862},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_yxjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,890},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/btn_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,700},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_hy.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,650},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_jchd.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,781},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_kfkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,804},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_lt.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,726},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_mrrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,622},{87,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>img/mainmenu/btn_schl.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,2},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,802},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_xshd.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,2},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,878},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_xslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,94},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,83},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,713},{87,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>img/mainmenu/btn_zhphb.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,2},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/bg_gonghui_bqhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,739},{154,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/mainmenu/bg_xsbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,622},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>img/mainmenu/btn_czjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,186},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/wz_wyzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,918},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/bg_gonghui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,897},{154,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/mainmenu/btn_crdls.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,164},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_srlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,370},{83,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,70}</string>
			</dict>
			<key>img/mainmenu/wz_main_dmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,942},{84,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_swzmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,955},{110,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,24}</string>
			</dict>
			<key>img/mainmenu/btn_mrsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,245},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_xianshizhaomu.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,326},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_vipguizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,435},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/wz_main_wzds.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,946},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/btn_blzq.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,516},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_mxxg.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,278},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_jrqd.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,597},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/public/btn_slrk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{130,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,151}</string>
			</dict>
			<key>img/public/btn_slrk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,157},{130,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,151}</string>
			</dict>
			<key>img/public/btn_slrk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,312},{130,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,151}</string>
			</dict>
			<key>img/public/btn_slrk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,467},{130,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,151}</string>
			</dict>
			<key>img/mainmenu/btn_crdls1.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,678},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_wzgl.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,759},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/wz_main_scsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,974},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/btn_kaogu.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,868},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_cqzm.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,435},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_mjkg.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,516},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_2zhounian.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,597},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_zhongqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,678},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_double11.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,759},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/wz_jdsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,407},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/btn_yuandan.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,840},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_zslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,921},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yuanxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,2},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_rqzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,83},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_zhishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,164},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_niudan.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,245},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_wuyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,326},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/wz_yjxw.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,840},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>img/mainmenu/btn_duanwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,2},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_xrqd.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,83},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_qixi.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,164},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_znq.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,739},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>img/mainmenu/btn_jqxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,245},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_blsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,326},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yxyr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,407},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_sdqx.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,488},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yuandan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,569},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_ghxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,457},{77,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,73}</string>
			</dict>
			<key>img/mainmenu/btn_xnyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,538},{77,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,73}</string>
			</dict>
			<key>img/mainmenu/btn_xnjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,619},{77,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mainmenu.png</string>
			<key>realTextureFileName</key>
			<string>mainmenu.png</string>
			<key>size</key>
			<string>{634,1009}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>634</integer>
			<key>height</key>
			<integer>1009</integer>
		</dict>
	</dict>
</plist>