<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/scsj/btn_scsj_sctj.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,2},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>img/scsj/btn_scsj_sctq.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,312},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>img/scsj/img_scsj_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2},{399,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,24}</string>
			</dict>
			<key>img/scsj/img_scsj_jdt_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,440},{399,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,24}</string>
			</dict>
			<key>img/scsj/img_scsj_jdt_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,843},{49,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,41}</string>
			</dict>
			<key>img/scsj/img_scsj_sj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,148},{160,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,29}</string>
			</dict>
			<key>img/scsj/img_scsj_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,843},{65,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,37}</string>
			</dict>
			<key>img/scsj/img_sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,912},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>img/scsj/btn_scsj_hqtj.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,405},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
			<key>img/scsj/img_scsj_ts_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,181},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img/scsj/img_scsj_cg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,462}</string>
			</dict>
			<key>img/scsj/img_scsj_ciban.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{568,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,117}</string>
			</dict>
			<key>img/scsj/img_scsj_cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,148},{88,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,33}</string>
			</dict>
			<key>img/scsj/img_scsj_dan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,466},{226,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,158}</string>
			</dict>
			<key>img/scsj/img_scsj_hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,970},{88,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,33}</string>
			</dict>
			<key>img/scsj/img_scsj_ls.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,970},{88,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,33}</string>
			</dict>
			<key>img/scsj/img_scsj_mfz.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,2},{460,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,124}</string>
			</dict>
			<key>img/scsj/img_scsj_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,843},{172,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,119}</string>
			</dict>
			<key>img/scsj/img_scsj_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,916},{88,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,33}</string>
			</dict>
			<key>img/scsj/btn_scsj_jjyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,843},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>img/scsj/img_cw.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,843},{123,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>
			<key>img/scsj/img_scsj_xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,440},{98,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,6}</string>
			</dict>
			<key>img/scsj/btn_jiesuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,240},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/scsj/btn_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,953},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/scsj/img_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,148},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>
			<key>img/scsj/btn_scsj_scsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,75},{71,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scsj.png</string>
			<key>realTextureFileName</key>
			<string>scsj.png</string>
			<key>size</key>
			<string>{1023,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>