<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huimiezhiren1/baodian/baodian_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,718},{241,130}}</string>
				<key>offset</key>
				<string>{22,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,2},{264,183}}</string>
				<key>offset</key>
				<string>{11,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,2},{285,172}}</string>
				<key>offset</key>
				<string>{4,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,2},{300,160}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,393},{300,158}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,306},{300,157}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,2},{300,160}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,632},{288,159}}</string>
				<key>offset</key>
				<string>{6,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,467},{300,156}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,328},{300,152}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,697},{292,145}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/baodian/baodian_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,166},{297,145}}</string>
				<key>offset</key>
				<string>{-2,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,855},{412,425}}</string>
				<key>offset</key>
				<string>{5,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,855},{414,418}}</string>
				<key>offset</key>
				<string>{5,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,430},{416,421}}</string>
				<key>offset</key>
				<string>{6,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{417,424}}</string>
				<key>offset</key>
				<string>{6,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1284},{414,420}}</string>
				<key>offset</key>
				<string>{6,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,430},{388,391}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,428},{286,286}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,2},{324,326}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/heidong/dong_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,2},{356,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,166},{145,49}}</string>
				<key>offset</key>
				<string>{-87,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,332},{247,57}}</string>
				<key>offset</key>
				<string>{-44,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,362},{352,61}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,362},{300,62}}</string>
				<key>offset</key>
				<string>{35,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,270},{199,54}}</string>
				<key>offset</key>
				<string>{75,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/tuowei/tra_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,219},{58,38}}</string>
				<key>offset</key>
				<string>{108,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>img/huimiezhiren1/dao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,261},{123,131}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/huimiezhiren1/dao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,852},{165,171}}</string>
				<key>offset</key>
				<string>{-12,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_01.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_01.png</string>
			<key>size</key>
			<string>{1940,1706}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1940</integer>
			<key>height</key>
			<integer>1706</integer>
		</dict>
	</dict>
</plist>