<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shengridangao/img_srdg_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,897},{47,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,94}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,568},{80,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,113}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{96,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,105}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,683},{84,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,104}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,789},{70,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,107}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{81,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,117}</string>
			</dict>
			<key>img/shengridangao/img_srdg_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,789},{62,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,106}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,897},{47,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,96}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{81,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,113}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{96,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,105}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m4.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,568},{84,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,104}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,898},{70,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,107}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{81,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,117}</string>
			</dict>
			<key>img/shengridangao/img_srdg_m7.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,674},{62,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shengridaogao.png</string>
			<key>realTextureFileName</key>
			<string>shengridaogao.png</string>
			<key>size</key>
			<string>{170,1006}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>1006</integer>
		</dict>
	</dict>
</plist>