<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{175,337}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{175,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{175,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1},{175,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,343},{175,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/baofa_a/baofa_a_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,685},{173,333}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,350}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1},{27,27}}</string>
				<key>offset</key>
				<string>{-1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,515},{83,78}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1},{108,101}}</string>
				<key>offset</key>
				<string>{-1,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,331},{110,110}}</string>
				<key>offset</key>
				<string>{-1,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,331},{110,118}}</string>
				<key>offset</key>
				<string>{-1,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,541},{110,132}}</string>
				<key>offset</key>
				<string>{-1,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,541},{110,141}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,680},{110,161}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1},{110,178}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,181},{110,178}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/fazhangchuxian_a/fazhangchuxian_a_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,361},{110,178}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,685},{258,168}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,855},{234,168}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,855},{223,166}}</string>
				<key>offset</key>
				<string>{14,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,165},{214,164}}</string>
				<key>offset</key>
				<string>{19,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,608},{210,161}}</string>
				<key>offset</key>
				<string>{16,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/juqi/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1},{202,162}}</string>
				<key>offset</key>
				<string>{18,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,175}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,145},{155,28}}</string>
				<key>offset</key>
				<string>{18,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,951},{195,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,624},{189,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,235},{188,51}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,288},{184,49}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,339},{171,45}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,434},{168,44}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanzhuan1_n/yanzhuan1_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,104},{159,39}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,61}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,834},{58,40}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,451},{120,62}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,531},{160,75}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,453},{163,76}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,541},{165,81}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,771},{168,61}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,175},{169,58}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/yanshitou_n/yanshitou_n_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,386},{162,46}}</string>
				<key>offset</key>
				<string>{-6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/shenbing_skill_03/lizixunhuan_a/lizixunhuan_a_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1},{93,164}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,210}</string>
			</dict>
			<key>img/shenbing_skill_03/lizixunhuan_a/lizixunhuan_a_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1},{86,157}}</string>
				<key>offset</key>
				<string>{-10,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,210}</string>
			</dict>
			<key>img/shenbing_skill_03/lizixunhuan_a/lizixunhuan_a_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,160},{75,148}}</string>
				<key>offset</key>
				<string>{-16,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,210}</string>
			</dict>
			<key>img/shenbing_skill_03/lizixunhuan_a/lizixunhuan_a_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,310},{54,141}}</string>
				<key>offset</key>
				<string>{-26,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,210}</string>
			</dict>
			<key>img/shenbing_skill_03/lizixunhuan_a/lizixunhuan_a_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,771},{104,178}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_03_1.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_03_1.png</string>
			<key>size</key>
			<string>{1017,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>