<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_shengbing/shengbing_a/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,552},{44,84}}</string>
				<key>offset</key>
				<string>{-121,99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,943},{48,115}}</string>
				<key>offset</key>
				<string>{-84,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,879},{64,140}}</string>
				<key>offset</key>
				<string>{-59,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,879},{71,190}}</string>
				<key>offset</key>
				<string>{-25,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,947},{67,126}}</string>
				<key>offset</key>
				<string>{25,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,954},{65,149}}</string>
				<key>offset</key>
				<string>{69,-73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,954},{68,157}}</string>
				<key>offset</key>
				<string>{91,-91}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,879},{60,136}}</string>
				<key>offset</key>
				<string>{124,-101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,681},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,354},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,552},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,750},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,200},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,2},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,398},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,200},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/a_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,2},{194,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,474}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/yu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,995},{20,20}}</string>
				<key>offset</key>
				<string>{-7,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/yu_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,552},{48,48}}</string>
				<key>offset</key>
				<string>{-6,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/yu_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,354},{311,323}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
			<key>ani_shengbing/shengbing_a/yu_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{348,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,340}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_05.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_05.png</string>
			<key>size</key>
			<string>{1778,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1778</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>