<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/bz/bz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,839},{104,168}}</string>
				<key>offset</key>
				<string>{-34,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{224,333}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{224,237}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,2},{224,237}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,339},{224,333}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,2},{224,237}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,230},{224,237}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,676},{224,333}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,839},{128,135}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,699},{133,136}}</string>
				<key>offset</key>
				<string>{0,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,699},{135,116}}</string>
				<key>offset</key>
				<string>{4,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,838},{116,111}}</string>
				<key>offset</key>
				<string>{6,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/bz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2},{62,86}}</string>
				<key>offset</key>
				<string>{-2,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
			<key>img/bz/gx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,471},{224,224}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,489}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenzhuang_jinjie.png</string>
			<key>realTextureFileName</key>
			<string>shenzhuang_jinjie.png</string>
			<key>size</key>
			<string>{1017,1011}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>