<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing/02/04_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2},{17,60}}</string>
				<key>offset</key>
				<string>{92,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,91},{47,101}}</string>
				<key>offset</key>
				<string>{78,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,128},{83,116}}</string>
				<key>offset</key>
				<string>{60,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,118},{98,126}}</string>
				<key>offset</key>
				<string>{42,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,104},{89,152}}</string>
				<key>offset</key>
				<string>{16,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,2},{85,184}}</string>
				<key>offset</key>
				<string>{-13,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,2},{98,164}}</string>
				<key>offset</key>
				<string>{-41,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,2},{112,158}}</string>
				<key>offset</key>
				<string>{-67,69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,2},{122,158}}</string>
				<key>offset</key>
				<string>{-91,70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/04_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,91},{105,146}}</string>
				<key>offset</key>
				<string>{-109,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/shenbing/02/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{311,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,323}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_04.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_04.png</string>
			<key>size</key>
			<string>{1016,290}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>290</integer>
		</dict>
	</dict>
</plist>