<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shenbing_skill_06/02/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,588},{328,209}}</string>
				<key>offset</key>
				<string>{-62,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,2},{436,327}}</string>
				<key>offset</key>
				<string>{-5,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{433,332}}</string>
				<key>offset</key>
				<string>{-6,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,333},{436,260}}</string>
				<key>offset</key>
				<string>{-4,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,338},{409,246}}</string>
				<key>offset</key>
				<string>{-14,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,597},{268,194}}</string>
				<key>offset</key>
				<string>{-25,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,801},{262,209}}</string>
				<key>offset</key>
				<string>{-13,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,801},{274,217}}</string>
				<key>offset</key>
				<string>{-7,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/shenbing_skill_06/02/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,795},{271,224}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shenbing_skill_06.png</string>
			<key>realTextureFileName</key>
			<string>shenbing_skill_06.png</string>
			<key>size</key>
			<string>{877,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>877</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>