<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shiyuanzhanchang1/img_c1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,238},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,474},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,710},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,946},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1182},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1418},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1654},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,238},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,474},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_c6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,710},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1890},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1890},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1890},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_dl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,946},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_dl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1182},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_dl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1418},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_dl4.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1654},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_dl5.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,2},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,238},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,474},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,710},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,946},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1182},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_jz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1418},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1654},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,238},{228,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,232}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1890},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1890},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,474},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,630},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,786},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_zk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,942},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1811},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1098},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1098},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1241},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1224},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_bx3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1384},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,139}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_shs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1527},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_shs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1669},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_shs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1811},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_shs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1527},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>
			<key>img/shiyuanzhanchang1/img_shs5.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1669},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shiyuanzhanchang1.png</string>
			<key>realTextureFileName</key>
			<string>shiyuanzhanchang1.png</string>
			<key>size</key>
			<string>{1012,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>