<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shizhijun/btn_xznd.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1},{278,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,106}</string>
			</dict>
			<key>img/shizhijun/img_szj_ndxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,109},{286,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,86}</string>
			</dict>
			<key>img/shizhijun/img_szj_suo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{248,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,70}</string>
			</dict>
			<key>img/shizhijun/img_szj_suo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,197},{249,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,70}</string>
			</dict>
			<key>img/shizhijun/img_szj_suo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,269},{249,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,70}</string>
			</dict>
			<key>img/shizhijun/img_szj_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{597,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,305}</string>
			</dict>
			<key>img/shizhijun/img_szj_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{597,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,305}</string>
			</dict>
			<key>img/shizhijun/img_szj_xz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,615},{597,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,305}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shizhijun.png</string>
			<key>realTextureFileName</key>
			<string>shizhijun.png</string>
			<key>size</key>
			<string>{887,993}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>887</integer>
			<key>height</key>
			<integer>993</integer>
		</dict>
	</dict>
</plist>