<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xintafang/img_bg_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,96},{98,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,35}</string>
			</dict>
			<key>img/xintafang/img_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,50},{34,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>img/xintafang/img_sj.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,2},{108,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,147}</string>
			</dict>
			<key>img/xintafang/img_tf_fw.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{266,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,266}</string>
			</dict>
			<key>img/xintafang/img_xl.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,2},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>img/xintafang/btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,2},{122,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,55}</string>
			</dict>
			<key>img/xintafang/btn_tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,117},{166,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,55}</string>
			</dict>
			<key>img/xintafang/img_jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,92},{42,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,28}</string>
			</dict>
			<key>img/xintafang/img_dqjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,61},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>
			<key>img/xintafang/img_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,50},{32,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,37}</string>
			</dict>
			<key>img/xintafang/img_gd.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,2},{182,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,111}</string>
			</dict>
			<key>img/xintafang/img_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,2},{101,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,90}</string>
			</dict>
			<key>img/tafang/btn_zhandou_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,2},{146,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,44}</string>
			</dict>
			<key>img/tafang/btn_zhandou_js2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,50},{146,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tafang_1.png</string>
			<key>realTextureFileName</key>
			<string>tafang_1.png</string>
			<key>size</key>
			<string>{1023,270}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>270</integer>
		</dict>
	</dict>
</plist>