<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tanbao/img_tanbaodi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,991},{113,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,26}</string>
			</dict>
			<key>img/tanbao/img_tanbaodi04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{343,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,48}</string>
			</dict>
			<key>img/tanbao/btn_tanbao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,750},{103,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,100}</string>
			</dict>
			<key>img/tanbao/img_tanbao_s01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/tanbao/img_tanbao_s02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>img/tanbao/btn_event_tblb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/sale/tiaoguo_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,931},{123,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,28}</string>
			</dict>
			<key>img/sale/tiaoguo_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,961},{123,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tanbao.png</string>
			<key>realTextureFileName</key>
			<string>tanbao.png</string>
			<key>size</key>
			<string>{202,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>202</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>