<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tanxian/bg_tanxian_rwk.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,491},{68,82}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,84}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,575},{72,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_sjdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,790},{71,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_tgjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,723},{72,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_cheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{165,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,57}</string>
			</dict>
			<key>img/tanxian/ico_tanxian_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,877},{45,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,970},{46,29}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,877},{49,32}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,934},{66,37}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,86}</string>
			</dict>
			<key>img/tanxian/img_halx.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,487},{194,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,172}</string>
			</dict>
			<key>img/tanxian/img_halx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,168},{194,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,172}</string>
			</dict>
			<key>img/tanxian/img_hydx.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,716},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>img/tanxian/img_hydx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,866},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>img/tanxian/img_lhsm.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,493},{200,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,221}</string>
			</dict>
			<key>img/tanxian/img_lhsm_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{200,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,221}</string>
			</dict>
			<key>img/tanxian/img_lrzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{227,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,212}</string>
			</dict>
			<key>img/tanxian/img_lrzj_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,215},{227,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,212}</string>
			</dict>
			<key>img/tanxian/img_lydx.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,661},{189,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,174}</string>
			</dict>
			<key>img/tanxian/img_lydx_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,837},{189,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,174}</string>
			</dict>
			<key>img/tanxian/img_shzt.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,224},{214,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,165}</string>
			</dict>
			<key>img/tanxian/img_shzt_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1},{214,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,165}</string>
			</dict>
			<key>img/tanxian/img_ttzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{199,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,245}</string>
			</dict>
			<key>img/tanxian/img_ttzd_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{199,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,245}</string>
			</dict>
			<key>img/tanxian/img_wlbl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{257,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,189}</string>
			</dict>
			<key>img/tanxian/img_wlbl_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,686},{257,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,189}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,911},{65,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,429},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,429},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,391},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,455},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,342},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,519},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,583},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,647},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu3_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,711},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,406},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,342},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu4_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,168},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,232},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu5_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,65},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,129},{34,70}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,866},{90,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk2_zs_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,201},{34,70}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/img_tanxian_gk3_zs_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,391},{90,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,94}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,649},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img/tanxian/img_tanxian_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,862},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img/tanxian/wz_tanxian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,973},{66,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,24}</string>
			</dict>
			<key>img/tanxian/ico_woyaobianqiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,796},{70,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,470},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,534},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,598},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,662},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,726},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/img_sqjdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,991},{114,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,15}</string>
			</dict>
			<key>img/tanxian/img_sqjdtbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,999},{41,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,23}</string>
			</dict>
			<key>img/tanxian/img_ylq_tghl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,991},{92,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,32}</string>
			</dict>
			<key>img/tanxian/btn_tanxian_nandu6_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,930},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>img/tanxian/bg_tanxian_rwk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,296},{68,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,84}</string>
			</dict>
			<key>img/tanxian/bg_tanxian_rwk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,406},{88,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tanxian.png</string>
			<key>realTextureFileName</key>
			<string>tanxian.png</string>
			<key>size</key>
			<string>{1018,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>