<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wabao/lazhu/lazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,138}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,141},{32,60}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,141},{32,61}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,69},{32,65}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{32,66}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,136},{32,65}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{32,65}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,141},{32,64}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wabao/lazhu/huo/hg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,203},{32,57}}</string>
				<key>offset</key>
				<string>{4,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wabao_lazhu.png</string>
			<key>realTextureFileName</key>
			<string>wabao_lazhu.png</string>
			<key>size</key>
			<string>{186,261}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>186</integer>
			<key>height</key>
			<integer>261</integer>
		</dict>
	</dict>
</plist>