<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wangzherongyao/img_dld_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,316},{621,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{621,230}</string>
			</dict>
			<key>img/wangzherongyao/img_wzs_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{625,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{625,313}</string>
			</dict>
			<key>img/wangzherongyao/img_zss_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{628,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{628,234}</string>
			</dict>
			<key>img/wangzherongyao/btn_jtwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,642},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>img/wangzherongyao/btn_jcwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,572},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,68}</string>
			</dict>
			<key>img/wangzherongyao/ybm.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,917},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,72}</string>
			</dict>
			<key>img/wangzherongyao/btn_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,515},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/wangzherongyao/btn_lijiewangzhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,823},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/wangzherongyao/btn_paimingjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,747},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/wangzherongyao/ry_jy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,946},{306,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,52}</string>
			</dict>
			<key>img/wangzherongyao/btn_paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,747},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>img/wangzherongyao/img_csdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{512,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,358}</string>
			</dict>
			<key>img/wangzherongyao/img_hdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1000},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/wangzherongyao/img_ldian.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,1000},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img/wangzherongyao/img_suolian.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{387,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,22}</string>
			</dict>
			<key>img/wangzherongyao/ben_fz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,939},{257,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,82}</string>
			</dict>
			<key>img/wangzherongyao/ben_fz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,316},{257,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,82}</string>
			</dict>
			<key>img/wangzherongyao/btn_ghzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,898},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>img/wangzherongyao/ico_fdj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,697},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img/wangzherongyao/ico_zdl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,786},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/wangzherongyao/img_nl.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,634},{182,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,111}</string>
			</dict>
			<key>img/wangzherongyao/img_nldi.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,575},{179,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,221}</string>
			</dict>
			<key>img/wangzherongyao/img_txk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,917},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/wangzherongyao/img_wzdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,316},{254,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,38}</string>
			</dict>
			<key>img/wangzherongyao/img_zhandou_vs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,749},{59,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,35}</string>
			</dict>
			<key>img/wangzherongyao/wz_bg_zdl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,390},{131,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,30}</string>
			</dict>
			<key>img/wangzherongyao/img_nl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,798},{182,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,117}</string>
			</dict>
			<key>img/wangzherongyao/img_nl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,515},{182,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,117}</string>
			</dict>
			<key>img/wangzherongyao/img_heidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,316},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>img/wangzherongyao/img_gdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,429},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wangzherongyao2.png</string>
			<key>realTextureFileName</key>
			<string>wangzherongyao2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>