<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xianshizhaomu/btn_paihangjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,609},{69,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>
			<key>img/xianshizhaomu/btn_xianshizhaomu.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,1},{171,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,20}</string>
			</dict>
			<key>img/xianshizhaomu/zhaomu_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,527},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>img/xianshizhaomu/btn_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,174},{171,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,20}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,608},{49,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_bx1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,473},{52,62}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,396}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,527},{422,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,79}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,523},{84,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,68}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{84,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,17}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t4.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,643},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_t5.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,347},{86,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,68}</string>
			</dict>
			<key>img/xianshizhaomu/img_xszm_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,585},{61,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>img/xianshizhaomu/bg_xszh_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{640,310}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,316}</string>
			</dict>
			<key>img/xianshizhaomu/zhaomutaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,399},{388,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,108}</string>
			</dict>
			<key>img/xianshizhaomu/btn_xs_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,399},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/xianshizhaomu/zhaomutaizi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,680},{617,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{617,136}</string>
			</dict>
			<key>img/xianshizhaomu/zhaomutaizi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1},{271,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,25}</string>
			</dict>
			<key>img/xianshizhaomu/btn_yongzhekz.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,435},{86,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xianshizhaomu.png</string>
			<key>realTextureFileName</key>
			<string>xianshizhaomu.png</string>
			<key>size</key>
			<string>{1024,817}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>817</integer>
		</dict>
	</dict>
</plist>