<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xinnianhuodong/bg_hx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,920},{346,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,60}</string>
			</dict>
			<key>img/xinnianhuodong/btn_yyrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,613},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/xinnianhuodong/img_tz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,804},{204,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,114}</string>
			</dict>
			<key>img/xinnianhuodong/title_dzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,557},{306,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,54}</string>
			</dict>
			<key>img/xinnianhuodong/img_hxjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,982},{122,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,33}</string>
			</dict>
			<key>img/xinnianhuodong/img_jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,646},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>img/xinnianhuodong/img_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{274,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,15}</string>
			</dict>
			<key>img/xinnianhuodong/img_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,867},{99,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,31}</string>
			</dict>
			<key>img/xinnianhuodong/img_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,975},{81,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,31}</string>
			</dict>
			<key>img/xinnianhuodong/btn_mrlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,687},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/xinnianhuodong/btn_yyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,793},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/xinnianhuodong/btn_yyfl.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,793},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/xinnianhuodong/img_1st.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{213,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,307}</string>
			</dict>
			<key>img/xinnianhuodong/img_2st.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{171,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,245}</string>
			</dict>
			<key>img/xinnianhuodong/img_3st.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,557},{171,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,245}</string>
			</dict>
			<key>img/xinnianhuodong/img_4st.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,310},{171,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,245}</string>
			</dict>
			<key>img/xinnianhuodong/img_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,613},{66,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,31}</string>
			</dict>
			<key>img/xinnianhuodong/btn_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,901},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/xinnianhuodong/bg_blzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,761},{121,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,30}</string>
			</dict>
			<key>img/xinnianhuodong/img_zjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,867},{92,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xinnianhuodong1.png</string>
			<key>realTextureFileName</key>
			<string>xinnianhuodong1.png</string>
			<key>size</key>
			<string>{483,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>483</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>