<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/huodong/xrhd/bg/bx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,132},{138,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,91}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,187},{110,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,77}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,250},{45,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,78}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,330},{45,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,72}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,250},{207,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,187}</string>
			</dict>
			<key>img/huodong/xrhd/bg/bx7.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,226},{180,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,84}</string>
			</dict>
			<key>img/huodong/xrhd/bg/haoli1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1},{218,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,223}</string>
			</dict>
			<key>img/huodong/xrhd/bg/qiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,266},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>img/huodong/xrhd/bg/qiu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,301},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>img/huodong/xrhd/bg/shangpu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,196},{265,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,165}</string>
			</dict>
			<key>img/huodong/xrhd/bg/shangpu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1},{270,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,193}</string>
			</dict>
			<key>img/huodong/xrhd/bg/shangpu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{270,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,247}</string>
			</dict>
			<key>img/huodong/xrhd/bg/shuibo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,301},{34,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,11}</string>
			</dict>
			<key>img/huodong/xrhd/bg/shuibo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,473},{65,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,38}</string>
			</dict>
			<key>img/huodong/xrhd/bg/yazi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,226},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>img/huodong/xrhd/bg/yazi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,296},{26,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,12}</string>
			</dict>
			<key>img/huodong/xrhd/bg/yazi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,261},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>img/huodong/xrhd/bg/yongquan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,261},{51,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,38}</string>
			</dict>
			<key>img/huodong/xrhd/bg/yongquan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,225},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,63},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,125},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,225},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,266},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,287},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,328},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,336},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,312},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,312},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,349},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,390},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,398},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,398},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,363},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,363},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,363},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,374},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,374},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,411},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,452},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,460},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,460},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,425},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,439},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,425},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,425},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,436},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>img/huodong/xrhd/bg/wq/wq_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,436},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xrhd_tx_bg1.png</string>
			<key>realTextureFileName</key>
			<string>xrhd_tx_bg1.png</string>
			<key>size</key>
			<string>{1019,521}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>521</integer>
		</dict>
	</dict>
</plist>