<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xslb/img_xslb_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{616,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,454}</string>
			</dict>
			<key>img/xslb/img_xslb_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,139},{120,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,62}</string>
			</dict>
			<key>img/xslb/img_xslb_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,203},{116,45}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,62}</string>
			</dict>
			<key>img/xslb/img_xslb_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1},{385,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,74}</string>
			</dict>
			<key>img/xslb/img_xslb_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{444,408}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{444,434}</string>
			</dict>
			<key>img/xslb/img_xslb_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,77},{248,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,217},{247,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,147},{248,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,287},{246,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,939},{266,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,44}</string>
			</dict>
			<key>img/xslb/btn_lb_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,77},{151,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,60}</string>
			</dict>
			<key>img/xslb/btn_lb_ygm.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,867},{179,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,70}</string>
			</dict>
			<key>img/xslb/img_xslb_wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,357},{246,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,427},{246,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,68}</string>
			</dict>
			<key>img/xslb/img_xslb_wz8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{309,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,39}</string>
			</dict>
			<key>img/xslb/img_xslb_wz9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,867},{310,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xslb.png</string>
			<key>realTextureFileName</key>
			<string>xslb.png</string>
			<key>size</key>
			<string>{1021,984}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>984</integer>
		</dict>
	</dict>
</plist>