<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongzhanshi/22222_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,332},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,662},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,332},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,662},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,332},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,662},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,332},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,662},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,2},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
			<key>img/yingxiongzhanshi/22222_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,270},{326,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,264}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongzhanshi_dh.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongzhanshi_dh.png</string>
			<key>size</key>
			<string>{2000,990}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2000</integer>
			<key>height</key>
			<integer>990</integer>
		</dict>
	</dict>
</plist>