<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/yingxiongyure/jiesuo/js_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1218},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/yingxiongyure/jiesuo/js_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1522},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yingxiongyure_jiesuo_dh.png</string>
			<key>realTextureFileName</key>
			<string>yingxiongyure_jiesuo_dh.png</string>
			<key>size</key>
			<string>{1824,1824}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1824</integer>
			<key>height</key>
			<integer>1824</integer>
		</dict>
	</dict>
</plist>