<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guajishouyi/ym/ym_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,2},{390,275}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,2},{392,277}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,2},{394,279}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,2},{396,281}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,285},{385,249}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{402,287}}</string>
				<key>offset</key>
				<string>{10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,281},{389,253}}</string>
				<key>offset</key>
				<string>{2,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,829},{346,255}}</string>
				<key>offset</key>
				<string>{25,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,827},{347,258}}</string>
				<key>offset</key>
				<string>{25,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,559},{348,259}}</string>
				<key>offset</key>
				<string>{26,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,538},{349,261}}</string>
				<key>offset</key>
				<string>{25,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,560},{350,263}}</string>
				<key>offset</key>
				<string>{26,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,561},{348,264}}</string>
				<key>offset</key>
				<string>{28,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{351,264}}</string>
				<key>offset</key>
				<string>{27,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,538},{353,268}}</string>
				<key>offset</key>
				<string>{27,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,287},{353,269}}</string>
				<key>offset</key>
				<string>{26,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,283},{355,272}}</string>
				<key>offset</key>
				<string>{26,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,810},{329,274}}</string>
				<key>offset</key>
				<string>{12,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/guajishouyi/ym/ym_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1088},{314,258}}</string>
				<key>offset</key>
				<string>{20,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>yumao.png</string>
			<key>realTextureFileName</key>
			<string>yumao.png</string>
			<key>size</key>
			<string>{1994,1348}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1994</integer>
			<key>height</key>
			<integer>1348</integer>
		</dict>
	</dict>
</plist>