<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhandou/img_zhandou_mvp_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1},{263,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,124}</string>
			</dict>
			<key>img/zhandou/img_zhandou_tmd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{422,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,242}</string>
			</dict>
			<key>img/zhandou/img_zhandou_tmd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{422,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,242}</string>
			</dict>
			<key>img/zhandou/bg_zhandou_txk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/zhandou/bg_zhandou_txk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,245},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/zhandou/daojishi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,245},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>img/zhandou/img__bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{85,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,22}</string>
			</dict>
			<key>img/zhandou/img_wztx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,245},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
			<key>img/zhandou/img_wztx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,245},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
			<key>img/zhandou/img_wztx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,245},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
			<key>img/zhandou/img_wztx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,245},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
			<key>img/zhandou/img_wztx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,245},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
			<key>img/zhandou/img_wztx6.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,266},{108,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhandou2.png</string>
			<key>realTextureFileName</key>
			<string>zhandou2.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>