<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhandou/bg_zhandou_hh.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,733},{148,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,32}</string>
			</dict>
			<key>img/zhandou/bg_zhandou_htx.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,578},{260,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,110}</string>
			</dict>
			<key>img/zhandou/bg_zhandou_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,749},{75,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,8}</string>
			</dict>
			<key>img/zhandou/bg_zhandou_ltx.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,690},{260,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,110}</string>
			</dict>
			<key>img/zhandou/btn_zhandou_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,802},{202,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,44}</string>
			</dict>
			<key>img/zhandou/btn_zhandou_tg.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,512},{99,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,44}</string>
			</dict>
			<key>img/zhandou/img_zhandou_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,749},{73,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,6}</string>
			</dict>
			<key>img/zhandou/img_zhandou_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,737},{87,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,10}</string>
			</dict>
			<key>img/zhandou/img_zhandou_jdt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,757},{73,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,4}</string>
			</dict>
			<key>img/zhandou/img_zhandou_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,675},{62,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,38}</string>
			</dict>
			<key>img/zhandou/img_zhandou_zzkz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,446},{468,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,289}</string>
			</dict>
			<key>img/zhandou/zhandoushibai/bg_zhandou_sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,224},{640,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,220}</string>
			</dict>
			<key>img/zhandou/zhandoushibai/img_zhandou_sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,122},{235,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,150}</string>
			</dict>
			<key>img/zhandou/zhandoushibai/img_zhandou_sb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,633},{104,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,40}</string>
			</dict>
			<key>img/zhandou/zhandoushibai/wz_zhandou_sb.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,446},{119,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,64}</string>
			</dict>
			<key>img/zhandou/zhandoushengli/bg_zhandou_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,221}</string>
			</dict>
			<key>img/zhandou/zhandoushengli/img_zhandou_cb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,737},{311,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,79}</string>
			</dict>
			<key>img/zhandou/zhandoushengli/img_zhandou_cb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{379,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,119}</string>
			</dict>
			<key>img/zhandou/zhandoushengli/img_zhandou_hg.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,452},{102,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,66}</string>
			</dict>
			<key>img/zhandou/zhandoushengli/wz_zhandou_sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,274},{138,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,74}</string>
			</dict>
			<key>img/zhandou/wz_zd_gd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,715},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>img/zhandou/wz_zd_gd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,730},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>img/zhandou/wz_zd_gd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,747},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>img/zhandou/wz_zd_gd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,762},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>img/zhandou/img_zhandou_zxkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,321},{75,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,71}</string>
			</dict>
			<key>img/zhandou/img_zhandou_zxkuanghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,596},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>img/zhandou/h_nld.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,604},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>img/zhandou/l_nld.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,625},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>img/zhandou/nengliangdikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,646},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>img/zhandou/sq_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,848},{231,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,21}</string>
			</dict>
			<key>img/zhandou/sq_jdtdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,767},{306,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,45}</string>
			</dict>
			<key>img/zhandou/btn_zhandou_js2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,814},{202,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,44}</string>
			</dict>
			<key>img/zhandou/img_mvp.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,604},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>img/zhandou/img_zdsh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,446},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>img/zhandou/img_sljb.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,654},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>img/zhandou/zhandou_zdl_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,871},{640,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,50}</string>
			</dict>
			<key>img/zhandou/zhandou_zdl_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,593},{111,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,38}</string>
			</dict>
			<key>img/zhandou/img_sqdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,350},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhandou/img_sqdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,122},{59,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,206}</string>
			</dict>
			<key>img/zhandou/img_zzdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,675},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>img/zhandou/img_zzdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,491},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>img/zhandou/img_zfzddi.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,350},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>img/zhandou/img_zdxdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,206},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>img/zhandou/img_zz_jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,480},{71,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,62}</string>
			</dict>
			<key>img/zhandou/btn_sq_zx.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,544},{117,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,47}</string>
			</dict>
			<key>img/zhandou/img_sqdi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,206},{4,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,103}</string>
			</dict>
			<key>img/zhandou/img_zdtx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,330},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdtx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,392},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdtx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,454},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdtx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,458},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdtx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,516},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdtx6.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,534},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>img/zhandou/img_zdjdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,274},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>img/zhandou/img_zdjdtdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,366},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>img/zhandou/btn_bf.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,520},{176,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,56}</string>
			</dict>
			<key>img/zhandou/btn_ywan.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,206},{51,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,113}</string>
			</dict>
			<key>img/zhandou/img_zhandou_tiao_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,779},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,37}</string>
			</dict>
			<key>img/zhandou/img_zhandou_tiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,794},{56,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,17}</string>
			</dict>
			<key>img/zhandou/img_zhandou_tiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,818},{193,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,13}</string>
			</dict>
			<key>img/zhandou/btn_scsj_sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,394},{86,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,84}</string>
			</dict>
			<key>img/zhandou/img_sqjn_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,452},{35,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,33}</string>
			</dict>
			<key>img/zhandou/img_sqjn_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,387},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img/zhandou/img_zhandou_wj.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,122},{78,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,82}</string>
			</dict>
			<key>img/zhandou/img_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,660},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>img/zhandou/btn_zhandou_tg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,558},{99,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,44}</string>
			</dict>
			<key>img/zhandou/btn_zhandou_js3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,818},{202,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,44}</string>
			</dict>
			<key>img/zhandou/realinjurypro.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,712},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhandou.png</string>
			<key>realTextureFileName</key>
			<string>zhandou.png</string>
			<key>size</key>
			<string>{1023,922}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>922</integer>
		</dict>
	</dict>
</plist>