<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/jianqiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/jiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/nz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qigan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,188},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/sb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,376},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/st.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,564},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/t.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,752},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/tf.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,188},{174,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,188}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,376},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,476},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,576},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,676},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,776},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,876},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,376},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,476},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,576},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,676},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,776},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/zhucheng_xiaodonghua/jiansheng/qz/qz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,876},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhucheng_xiaodonghua_jiansheng_dh.png</string>
			<key>realTextureFileName</key>
			<string>zhucheng_xiaodonghua_jiansheng_dh.png</string>
			<key>size</key>
			<string>{622,976}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>622</integer>
			<key>height</key>
			<integer>976</integer>
		</dict>
	</dict>
</plist>