<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dk/02/bc_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,264},{33,20}}</string>
				<key>offset</key>
				<string>{-15,-105}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,411},{72,37}}</string>
				<key>offset</key>
				<string>{-4,-96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,302},{105,66}}</string>
				<key>offset</key>
				<string>{10,-82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,541},{160,94}}</string>
				<key>offset</key>
				<string>{14,-68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,264},{188,94}}</string>
				<key>offset</key>
				<string>{0,-68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,456},{216,144}}</string>
				<key>offset</key>
				<string>{-14,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,301},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,442},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,520},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,661},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,521},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,739},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/02/bc_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,740},{216,215}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/dm1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,250},{283,188}}</string>
				<key>offset</key>
				<string>{-2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/jgy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,676},{128,128}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/kkkk_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,2},{258,97}}</string>
				<key>offset</key>
				<string>{-2,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/ks_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,808},{197,193}}</string>
				<key>offset</key>
				<string>{-26,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/lf_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,442},{236,52}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/lf2_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,301},{236,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/lf3_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,295}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/lf4_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,296}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/wq_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{244,289}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_boss_wllz02.png</string>
			<key>realTextureFileName</key>
			<string>ani_boss_wllz02.png</string>
			<key>size</key>
			<string>{1017,1007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1007</integer>
		</dict>
	</dict>
</plist>