<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/daluosi/dahuo/guiji_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,569},{110,182}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/daluosi/dahuo/guiji_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,648},{110,176}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/daluosi/dahuo/guiji_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,416},{110,195}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,2},{260,170}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,2},{260,162}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{260,171}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,2},{264,163}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,316},{199,134}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,315},{216,135}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,176},{219,136}}</string>
				<key>offset</key>
				<string>{-3,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,169},{213,142}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,266},{206,146}}</string>
				<key>offset</key>
				<string>{-5,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,454},{177,147}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,331},{179,149}}</string>
				<key>offset</key>
				<string>{8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{183,150}}</string>
				<key>offset</key>
				<string>{10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,416},{187,149}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{189,129}}</string>
				<key>offset</key>
				<string>{12,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,454},{190,128}}</string>
				<key>offset</key>
				<string>{14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,454},{190,126}}</string>
				<key>offset</key>
				<string>{14,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,586},{190,123}}</string>
				<key>offset</key>
				<string>{14,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,615},{155,117}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,683},{155,117}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,774},{143,115}}</string>
				<key>offset</key>
				<string>{2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/daluosi/dahuo/jizhong_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,804},{143,114}}</string>
				<key>offset</key>
				<string>{2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_boss_dls01.png</string>
			<key>realTextureFileName</key>
			<string>ani_boss_dls01.png</string>
			<key>size</key>
			<string>{1012,920}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>920</integer>
		</dict>
	</dict>
</plist>