<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dk/06/wqks_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,2},{1,1}}</string>
				<key>offset</key>
				<string>{149,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,452},{159,82}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,351},{172,97}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,306},{176,96}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,200},{183,102}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,211},{184,105}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,210},{187,106}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,320},{186,88}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,320},{186,88}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,352},{186,88}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/06/wqks_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,406},{186,88}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,200},{148,150}}</string>
				<key>offset</key>
				<string>{43,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,2},{183,168}}</string>
				<key>offset</key>
				<string>{24,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,2},{198,194}}</string>
				<key>offset</key>
				<string>{16,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,2},{213,204}}</string>
				<key>offset</key>
				<string>{7,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{217,205}}</string>
				<key>offset</key>
				<string>{4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2},{199,194}}</string>
				<key>offset</key>
				<string>{-4,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,189},{158,165}}</string>
				<key>offset</key>
				<string>{-24,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/dk/04/gxxj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,452},{148,111}}</string>
				<key>offset</key>
				<string>{-29,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_boss_wllz04.png</string>
			<key>realTextureFileName</key>
			<string>ani_boss_wllz04.png</string>
			<key>size</key>
			<string>{1020,613}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>613</integer>
		</dict>
	</dict>
</plist>