<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/aoshumoshushi/skill/qq/quan_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,243},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,725},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,966},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1207},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1448},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1689},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_117.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_118.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,2},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_119.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,483},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,724},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,965},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1206},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_124.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1447},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_125.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1688},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_126.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_127.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_130.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,242},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_132.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,482},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_133.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,723},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_134.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,964},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_135.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1205},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>img/aoshumoshushi/skill/qq/quan_136.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1446},{236,237}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aoshumoshushi_jn.png</string>
			<key>realTextureFileName</key>
			<string>aoshumoshushi_jn.png</string>
			<key>size</key>
			<string>{1927,1928}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1927</integer>
			<key>height</key>
			<integer>1928</integer>
		</dict>
	</dict>
</plist>