<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{152,90}}</string>
				<key>offset</key>
				<string>{72,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,93},{150,90}}</string>
				<key>offset</key>
				<string>{73,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1},{151,90}}</string>
				<key>offset</key>
				<string>{72,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,93},{151,90}}</string>
				<key>offset</key>
				<string>{72,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{153,90}}</string>
				<key>offset</key>
				<string>{71,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd1/zrds_attack_zd1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,90}}</string>
				<key>offset</key>
				<string>{71,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1},{152,90}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,93},{150,90}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,93},{151,90}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,93},{151,90}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1},{153,90}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
			<key>img/zhurudashi/attack/zd2/zrds_attack_zd2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{154,90}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_zrds_jndd.png</string>
			<key>realTextureFileName</key>
			<string>atk_zrds_jndd.png</string>
			<key>size</key>
			<string>{1022,184}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>184</integer>
		</dict>
	</dict>
</plist>