<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,458},{185,187}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{244,247}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1},{244,247}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1},{248,247}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{249,247}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,247},{243,246}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,247},{242,249}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,250},{237,251}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
			<key>img/zhurudashi/attack/bd/zrds_attack_hit_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,250},{206,206}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,277}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_zrds_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_zrds_jnbd.png</string>
			<key>size</key>
			<string>{1000,644}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>644</integer>
		</dict>
	</dict>
</plist>