<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/pgsj/pgsj_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/pgsj/pgsj_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atk_lxmr_pgbd.png</string>
			<key>realTextureFileName</key>
			<string>atk_lxmr_pgbd.png</string>
			<key>size</key>
			<string>{912,1216}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>912</integer>
			<key>height</key>
			<integer>1216</integer>
		</dict>
	</dict>
</plist>