<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranshouren/buff/buff_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{176,170}}</string>
				<key>offset</key>
				<string>{-130,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{181,167}}</string>
				<key>offset</key>
				<string>{-128,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{181,164}}</string>
				<key>offset</key>
				<string>{-128,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,0},{180,164}}</string>
				<key>offset</key>
				<string>{-127,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,486},{168,164}}</string>
				<key>offset</key>
				<string>{-122,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,488},{165,163}}</string>
				<key>offset</key>
				<string>{-122,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{165,163}}</string>
				<key>offset</key>
				<string>{-123,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,0},{164,162}}</string>
				<key>offset</key>
				<string>{-123,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,0},{163,161}}</string>
				<key>offset</key>
				<string>{-124,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,0},{162,160}}</string>
				<key>offset</key>
				<string>{-124,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,160},{160,160}}</string>
				<key>offset</key>
				<string>{-125,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,0},{160,161}}</string>
				<key>offset</key>
				<string>{-125,-88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,161},{159,160}}</string>
				<key>offset</key>
				<string>{-126,-88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,162},{158,159}}</string>
				<key>offset</key>
				<string>{-126,-88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,318},{158,160}}</string>
				<key>offset</key>
				<string>{-126,-88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,160},{158,161}}</string>
				<key>offset</key>
				<string>{-127,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{168,162}}</string>
				<key>offset</key>
				<string>{-123,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,327},{172,163}}</string>
				<key>offset</key>
				<string>{-122,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,164},{174,163}}</string>
				<key>offset</key>
				<string>{-122,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,161},{176,161}}</string>
				<key>offset</key>
				<string>{-123,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{178,161}}</string>
				<key>offset</key>
				<string>{-124,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,158},{179,160}}</string>
				<key>offset</key>
				<string>{-125,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,170},{180,158}}</string>
				<key>offset</key>
				<string>{-124,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,0},{182,158}}</string>
				<key>offset</key>
				<string>{-124,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,327},{177,159}}</string>
				<key>offset</key>
				<string>{-127,-85}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,328},{175,160}}</string>
				<key>offset</key>
				<string>{-128,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,0},{175,162}}</string>
				<key>offset</key>
				<string>{-128,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,318},{174,162}}</string>
				<key>offset</key>
				<string>{-128,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,164},{175,163}}</string>
				<key>offset</key>
				<string>{-129,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/ziranshouren/buff/buff_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{176,169}}</string>
				<key>offset</key>
				<string>{-129,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bf_zrck_sx.png</string>
			<key>realTextureFileName</key>
			<string>bf_zrck_sx.png</string>
			<key>size</key>
			<string>{1903,661}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1903</integer>
			<key>height</key>
			<integer>661</integer>
		</dict>
	</dict>
</plist>