<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/buffbaoji/bj0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,94},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,186},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,278},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,370},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,462},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>img/buffbaoji/bj0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,554},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_baoji.png</string>
			<key>realTextureFileName</key>
			<string>buff_baoji.png</string>
			<key>size</key>
			<string>{92,644}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>644</integer>
		</dict>
	</dict>
</plist>