<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhongdu/du_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,183},{57,78}}</string>
				<key>offset</key>
				<string>{204,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,104},{65,81}}</string>
				<key>offset</key>
				<string>{202,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,63},{65,86}}</string>
				<key>offset</key>
				<string>{202,67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,60},{65,89}}</string>
				<key>offset</key>
				<string>{202,70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,68},{62,92}}</string>
				<key>offset</key>
				<string>{201,71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,57},{60,97}}</string>
				<key>offset</key>
				<string>{200,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{60,101}}</string>
				<key>offset</key>
				<string>{200,75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1},{60,103}}</string>
				<key>offset</key>
				<string>{200,77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{65,106}}</string>
				<key>offset</key>
				<string>{202,78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1},{57,112}}</string>
				<key>offset</key>
				<string>{198,80}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{54,115}}</string>
				<key>offset</key>
				<string>{197,82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,171},{58,75}}</string>
				<key>offset</key>
				<string>{200,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,130},{58,77}}</string>
				<key>offset</key>
				<string>{200,63}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,127},{63,75}}</string>
				<key>offset</key>
				<string>{203,62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{58,78}}</string>
				<key>offset</key>
				<string>{201,64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
			<key>img/zhongdu/du_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,119},{62,82}}</string>
				<key>offset</key>
				<string>{204,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1400,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_zhongdu.png</string>
			<key>realTextureFileName</key>
			<string>buff_zhongdu.png</string>
			<key>size</key>
			<string>{506,241}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>506</integer>
			<key>height</key>
			<integer>241</integer>
		</dict>
	</dict>
</plist>