<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tuteng/tt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,130},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,517},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,775},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,130},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,259},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,388},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,517},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,646},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,775},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,904},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,110},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,239},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,368},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,497},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,626},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,755},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,884},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,110},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,219},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,348},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,477},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
			<key>img/tuteng/tt_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,606},{107,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_tuteng.png</string>
			<key>realTextureFileName</key>
			<string>buff_tuteng.png</string>
			<key>size</key>
			<string>{476,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>476</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>