<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranzhiling/xunhuan/zhi_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,2},{315,311}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,303},{315,292}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,2},{315,297}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,2},{315,296}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{315,313}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,599},{315,283}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,600},{315,280}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,594},{315,286}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,303},{315,287}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,2},{315,300}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,319},{315,288}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,306},{315,290}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,317},{315,290}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,302},{315,293}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
			<key>img/ziranzhiling/xunhuan/zhi_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,2},{315,297}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,315}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buff_jiaxue.png</string>
			<key>realTextureFileName</key>
			<string>buff_jiaxue.png</string>
			<key>size</key>
			<string>{1914,884}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1914</integer>
			<key>height</key>
			<integer>884</integer>
		</dict>
	</dict>
</plist>