<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heianyouxia/fuhuo/axfh_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,213},{166,92}}</string>
				<key>offset</key>
				<string>{-119,-161}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,364},{293,254}}</string>
				<key>offset</key>
				<string>{-120,-99}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1104},{293,359}}</string>
				<key>offset</key>
				<string>{-121,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1},{294,361}}</string>
				<key>offset</key>
				<string>{-121,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{293,363}}</string>
				<key>offset</key>
				<string>{-121,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{291,366}}</string>
				<key>offset</key>
				<string>{-121,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,734},{286,368}}</string>
				<key>offset</key>
				<string>{-120,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,734},{276,362}}</string>
				<key>offset</key>
				<string>{-120,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,364},{256,346}}</string>
				<key>offset</key>
				<string>{-116,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1},{183,210}}</string>
				<key>offset</key>
				<string>{-120,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{173,202}}</string>
				<key>offset</key>
				<string>{-126,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1465},{163,205}}</string>
				<key>offset</key>
				<string>{-126,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1465},{169,167}}</string>
				<key>offset</key>
				<string>{-124,-111}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/heianyouxia/fuhuo/axfh_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1672},{174,171}}</string>
				<key>offset</key>
				<string>{-121,-109}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_hayx_fh.png</string>
			<key>realTextureFileName</key>
			<string>sk_hayx_fh.png</string>
			<key>size</key>
			<string>{949,1847}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>949</integer>
			<key>height</key>
			<integer>1847</integer>
		</dict>
	</dict>
</plist>