<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/heianyouxia/buff/buff_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,274},{116,136}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,275},{116,137}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{116,137}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,275},{117,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{117,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,551},{117,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_117.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{117,137}}</string>
				<key>offset</key>
				<string>{5,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_119.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{118,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{118,137}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{118,135}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_125.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,412},{117,135}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_127.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,826},{117,136}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,137},{116,137}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{116,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/heianyouxia/buff/buff_133.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,0},{114,138}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_hayx_buff.png</string>
			<key>realTextureFileName</key>
			<string>sk_hayx_buff.png</string>
			<key>size</key>
			<string>{349,1099}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>349</integer>
			<key>height</key>
			<integer>1099</integer>
		</dict>
	</dict>
</plist>