<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranmushi/jnbaodian/hua_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3716},{252,268}}</string>
				<key>offset</key>
				<string>{236,-203}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,2},{356,407}}</string>
				<key>offset</key>
				<string>{236,-181}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,575},{468,544}}</string>
				<key>offset</key>
				<string>{258,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{473,569}}</string>
				<key>offset</key>
				<string>{247,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1123},{454,465}}</string>
				<key>offset</key>
				<string>{250,-138}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1123},{451,471}}</string>
				<key>offset</key>
				<string>{242,-131}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1598},{458,461}}</string>
				<key>offset</key>
				<string>{240,-136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,575},{465,411}}</string>
				<key>offset</key>
				<string>{240,-162}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,2},{411,350}}</string>
				<key>offset</key>
				<string>{249,-192}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,2},{419,350}}</string>
				<key>offset</key>
				<string>{245,-193}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,413},{420,344}}</string>
				<key>offset</key>
				<string>{245,-190}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,2},{416,349}}</string>
				<key>offset</key>
				<string>{247,-192}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2483},{410,348}}</string>
				<key>offset</key>
				<string>{250,-194}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,2063},{411,346}}</string>
				<key>offset</key>
				<string>{249,-194}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,422},{419,346}}</string>
				<key>offset</key>
				<string>{245,-195}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1592},{420,338}}</string>
				<key>offset</key>
				<string>{245,-193}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2063},{416,343}}</string>
				<key>offset</key>
				<string>{247,-195}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2897},{410,343}}</string>
				<key>offset</key>
				<string>{250,-196}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3311},{401,334}}</string>
				<key>offset</key>
				<string>{247,-193}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
			<key>img/ziranmushi/jnbaodian/hua_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,845},{397,182}}</string>
				<key>offset</key>
				<string>{243,-268}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_zrms_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>sk_zrms_jnbd.png</string>
			<key>size</key>
			<string>{1959,3986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1959</integer>
			<key>height</key>
			<integer>3986</integer>
		</dict>
	</dict>
</plist>