<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,2334},{178,185}}</string>
				<key>offset</key>
				<string>{26,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1731},{205,245}}</string>
				<key>offset</key>
				<string>{25,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,3713},{313,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2047},{313,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,2805},{313,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,2809},{314,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2809},{315,448}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3713},{315,447}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3261},{315,448}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,3261},{314,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,3257},{313,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,3709},{313,448}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{311,448}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,454},{310,447}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,905},{310,446}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2499},{302,439}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,4026},{65,65}}</string>
				<key>offset</key>
				<string>{14,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/jnjiguang/jiguang/zxg_skill_jg_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,4032},{71,61}}</string>
				<key>offset</key>
				<string>{13,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,464}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1731},{257,256}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{404,405}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,411},{404,405}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,820},{404,405}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1229},{404,405}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1638},{404,405}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2047},{377,376}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2428},{377,376}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1355},{372,371}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
			<key>img/zhixingguan/baokai/baoda/zxg_skill_bd_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1980},{350,350}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,438}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_zxg_jnjg.png</string>
			<key>realTextureFileName</key>
			<string>sk_zxg_jnjg.png</string>
			<key>size</key>
			<string>{1355,4095}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1355</integer>
			<key>height</key>
			<integer>4095</integer>
		</dict>
	</dict>
</plist>