<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ziranshouren/baodian/baodian_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1938},{80,79}}</string>
				<key>offset</key>
				<string>{147,-71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{358,390}}</string>
				<key>offset</key>
				<string>{141,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{389,426}}</string>
				<key>offset</key>
				<string>{125,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{398,383}}</string>
				<key>offset</key>
				<string>{121,-56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1214},{280,289}}</string>
				<key>offset</key>
				<string>{140,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1503},{235,264}}</string>
				<key>offset</key>
				<string>{164,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/dao/dao_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1503},{113,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,239}</string>
			</dict>
			<key>img/ziranshouren/xuli2/xuli2_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1368},{160,117}}</string>
				<key>offset</key>
				<string>{141,321}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/xuli2/xuli2_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1742},{149,142}}</string>
				<key>offset</key>
				<string>{165,309}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/xuli2/xuli2_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1767},{163,201}}</string>
				<key>offset</key>
				<string>{156,274}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/xuli2/xuli2_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1968},{73,165}}</string>
				<key>offset</key>
				<string>{113,247}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1214},{148,154}}</string>
				<key>offset</key>
				<string>{149,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
			<key>img/ziranshouren/baodian/baodian_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1767},{166,171}}</string>
				<key>offset</key>
				<string>{150,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sk_zrck_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>sk_zrck_jnbd.png</string>
			<key>size</key>
			<string>{471,2041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>471</integer>
			<key>height</key>
			<integer>2041</integer>
		</dict>
	</dict>
</plist>