<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dijing/atk/jg/ji_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,138},{141,127}}</string>
				<key>offset</key>
				<string>{-104,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,773},{230,127}}</string>
				<key>offset</key>
				<string>{-59,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,458},{317,127}}</string>
				<key>offset</key>
				<string>{-16,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{316,132}}</string>
				<key>offset</key>
				<string>{-16,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,2},{316,132}}</string>
				<key>offset</key>
				<string>{-16,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,138},{316,127}}</string>
				<key>offset</key>
				<string>{-16,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,779},{317,127}}</string>
				<key>offset</key>
				<string>{-16,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,458},{317,127}}</string>
				<key>offset</key>
				<string>{-16,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2},{316,132}}</string>
				<key>offset</key>
				<string>{-16,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,138},{316,132}}</string>
				<key>offset</key>
				<string>{-16,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,458},{311,127}}</string>
				<key>offset</key>
				<string>{-19,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,283},{119,127}}</string>
				<key>offset</key>
				<string>{-115,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dijing/atk/jg/ji_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,283},{119,127}}</string>
				<key>offset</key>
				<string>{-115,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_dijing_pifu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_dijing_pifu1.png</string>
			<key>size</key>
			<string>{960,1005}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>1005</integer>
		</dict>
	</dict>
</plist>