<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anfa/gongji/0_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,166},{295,101}}</string>
				<key>offset</key>
				<string>{-14,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,2},{351,135}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{352,159}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,2},{331,156}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,358},{328,151}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,357},{325,135}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{322,97}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,2},{326,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,2},{94,92}}</string>
				<key>offset</key>
				<string>{-110,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,98},{64,64}}</string>
				<key>offset</key>
				<string>{-111,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>img/anfa/gongji/0_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,271},{64,64}}</string>
				<key>offset</key>
				<string>{-111,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anfa_ptgj.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anfa_ptgj.png</string>
			<key>size</key>
			<string>{991,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>991</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>