<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shixianggui/pgdandao/dandao_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{131,78}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,200}</string>
			</dict>
			<key>img/shixianggui/pgdandao/dandao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,0},{131,77}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,200}</string>
			</dict>
			<key>img/shixianggui/pgdandao/dandao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{131,77}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,200}</string>
			</dict>
			<key>img/shixianggui/pgdandao/dandao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{126,78}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,200}</string>
			</dict>
			<key>img/shixianggui/pgdandao/dandao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{131,78}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shixianggui_pgdandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shixianggui_pgdandao.png</string>
			<key>size</key>
			<string>{650,78}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>650</integer>
			<key>height</key>
			<integer>78</integer>
		</dict>
	</dict>
</plist>