<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anyingcike/jnbaodian/baodian_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{73,109}}</string>
				<key>offset</key>
				<string>{-6,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1},{121,116}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,118},{132,115}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1},{135,116}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{141,115}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1},{113,121}}</string>
				<key>offset</key>
				<string>{12,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1},{91,120}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>img/anyingcike/jnbaodian/baodian_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1},{84,65}}</string>
				<key>offset</key>
				<string>{8,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anyingcike_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anyingcike_jnbaodian.png</string>
			<key>size</key>
			<string>{845,234}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>845</integer>
			<key>height</key>
			<integer>234</integer>
		</dict>
	</dict>
</plist>