<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wukong/gj/gj_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,2},{1,1}}</string>
				<key>offset</key>
				<string>{249,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,457},{223,149}}</string>
				<key>offset</key>
				<string>{68,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,2},{260,184}}</string>
				<key>offset</key>
				<string>{68,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,190},{211,168}}</string>
				<key>offset</key>
				<string>{65,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,190},{232,173}}</string>
				<key>offset</key>
				<string>{62,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,256},{218,173}}</string>
				<key>offset</key>
				<string>{59,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,280},{199,173}}</string>
				<key>offset</key>
				<string>{68,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,367},{214,165}}</string>
				<key>offset</key>
				<string>{68,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,405},{224,157}}</string>
				<key>offset</key>
				<string>{68,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,433},{223,151}}</string>
				<key>offset</key>
				<string>{68,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,2},{170,100}}</string>
				<key>offset</key>
				<string>{71,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/gj_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,2},{1,1}}</string>
				<key>offset</key>
				<string>{249,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/dg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,2},{253,250}}</string>
				<key>offset</key>
				<string>{-82,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/dg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{351,274}}</string>
				<key>offset</key>
				<string>{-21,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/dg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,536},{195,150}}</string>
				<key>offset</key>
				<string>{29,59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/wukong/gj/dg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{1,1}}</string>
				<key>offset</key>
				<string>{249,-249}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_duoluodoushenggongji.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_duoluodoushenggongji.png</string>
			<key>size</key>
			<string>{1023,688}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>688</integer>
		</dict>
	</dict>
</plist>