<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingfashi/pgbaodian/pgbaodian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{157,157}}</string>
				<key>offset</key>
				<string>{72,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/wanglingfashi/pgbaodian/pgbaodian_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,172},{175,169}}</string>
				<key>offset</key>
				<string>{71,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/wanglingfashi/pgbaodian/pgbaodian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{188,178}}</string>
				<key>offset</key>
				<string>{77,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/wanglingfashi/pgbaodian/pgbaodian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{195,182}}</string>
				<key>offset</key>
				<string>{81,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
			<key>img/wanglingfashi/pgbaodian/pgbaodian_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1},{198,169}}</string>
				<key>offset</key>
				<string>{82,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,796}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_wanglingfashi_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_wanglingfashi_pgbaodian.png</string>
			<key>size</key>
			<string>{587,343}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>587</integer>
			<key>height</key>
			<integer>343</integer>
		</dict>
	</dict>
</plist>