<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/lengxuedujun/jnbaodian/baodian_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1},{59,67}}</string>
				<key>offset</key>
				<string>{21,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,431},{94,105}}</string>
				<key>offset</key>
				<string>{18,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,589},{141,146}}</string>
				<key>offset</key>
				<string>{20,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,431},{216,169}}</string>
				<key>offset</key>
				<string>{29,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{242,160}}</string>
				<key>offset</key>
				<string>{29,-86}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{246,206}}</string>
				<key>offset</key>
				<string>{29,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1},{237,213}}</string>
				<key>offset</key>
				<string>{38,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,210},{219,220}}</string>
				<key>offset</key>
				<string>{26,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,418},{224,190}}</string>
				<key>offset</key>
				<string>{25,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,216},{225,200}}</string>
				<key>offset</key>
				<string>{24,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,216},{233,200}}</string>
				<key>offset</key>
				<string>{25,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{237,207}}</string>
				<key>offset</key>
				<string>{26,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1},{233,213}}</string>
				<key>offset</key>
				<string>{31,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{232,216}}</string>
				<key>offset</key>
				<string>{33,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/lengxuedujun/jnbaodian/baodian_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,418},{218,169}}</string>
				<key>offset</key>
				<string>{32,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_lengxuedujun_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_lengxuedujun_jnbaodian.png</string>
			<key>size</key>
			<string>{1022,731}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>731</integer>
		</dict>
	</dict>
</plist>