<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anfa/longjuan/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,356},{264,169}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,268},{264,173}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,789},{264,176}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{263,182}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,521},{264,176}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,2},{264,173}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,445},{264,173}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,179},{264,173}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,789},{264,175}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,521},{264,177}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,2},{262,180}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,624},{262,171}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,2},{264,170}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,713},{264,170}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,356},{264,170}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,576},{220,169}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,576},{225,169}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,172},{229,169}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,176},{236,169}}</string>
				<key>offset</key>
				<string>{-12,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>img/anfa/longjuan/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,2},{238,166}}</string>
				<key>offset</key>
				<string>{-13,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,198}</string>
			</dict>
			<key>baodian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,349},{178,223}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>baodian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,805},{210,180}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>baodian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,269},{248,193}}</string>
				<key>offset</key>
				<string>{13,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>baodian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,800},{186,167}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>baodian_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,2},{163,164}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anfa_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anfa_jn.png</string>
			<key>size</key>
			<string>{1315,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1315</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>