<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xuexinfaqiu_zidan/xq_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,152},{263,144}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/xuexinfaqiu_zidan/xq_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{267,146}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/xuexinfaqiu_zidan/xq_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,2},{268,144}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/xuexinfaqiu_zidan/xq_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,2},{264,144}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
			<key>img/xuexinfaqiu_zidan/xq_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,150},{264,144}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,166}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xuetuan1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xuetuan1.png</string>
			<key>size</key>
			<string>{811,298}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>811</integer>
			<key>height</key>
			<integer>298</integer>
		</dict>
	</dict>
</plist>