<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{89,92}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2},{69,81}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{98,87}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,2},{98,87}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,93},{77,77}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>img/anyingleidianqiu_zidan/dianqiu_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,93},{89,79}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anyingleidian1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anyingleidian1.png</string>
			<key>size</key>
			<string>{370,174}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>370</integer>
			<key>height</key>
			<integer>174</integer>
		</dict>
	</dict>
</plist>