<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anci_pifu/baodian/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,321},{327,321}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{334,327}}</string>
				<key>offset</key>
				<string>{8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1},{333,322}}</string>
				<key>offset</key>
				<string>{-5,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,330},{321,322}}</string>
				<key>offset</key>
				<string>{-6,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,325},{319,325}}</string>
				<key>offset</key>
				<string>{7,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,646},{306,330}}</string>
				<key>offset</key>
				<string>{3,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1},{318,335}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
			<key>img/anci_pifu/baodian/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,644},{309,335}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,358}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ancipf_jnbd.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ancipf_jnbd.png</string>
			<key>size</key>
			<string>{1008,954}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>954</integer>
		</dict>
	</dict>
</plist>