<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shengjiehujiao/jnbaodian/bd_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,645},{94,121}}</string>
				<key>offset</key>
				<string>{3,136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,645},{94,179}}</string>
				<key>offset</key>
				<string>{3,79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1873},{94,205}}</string>
				<key>offset</key>
				<string>{3,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1048},{93,221}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1048},{93,228}}</string>
				<key>offset</key>
				<string>{3,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1531},{340,296}}</string>
				<key>offset</key>
				<string>{12,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,558},{233,237}}</string>
				<key>offset</key>
				<string>{4,-85}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1267},{253,316}}</string>
				<key>offset</key>
				<string>{9,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{272,393}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,396},{269,396}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1197},{263,394}}</string>
				<key>offset</key>
				<string>{4,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1593},{263,393}}</string>
				<key>offset</key>
				<string>{9,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1143},{262,386}}</string>
				<key>offset</key>
				<string>{13,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,246},{247,393}}</string>
				<key>offset</key>
				<string>{12,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1},{243,401}}</string>
				<key>offset</key>
				<string>{14,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,396},{247,404}}</string>
				<key>offset</key>
				<string>{12,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,794},{252,408}}</string>
				<key>offset</key>
				<string>{10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1604},{256,409}}</string>
				<key>offset</key>
				<string>{8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1197},{259,405}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1604},{262,398}}</string>
				<key>offset</key>
				<string>{5,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,794},{265,401}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1},{267,372}}</string>
				<key>offset</key>
				<string>{2,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,958},{269,307}}</string>
				<key>offset</key>
				<string>{1,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1522},{269,306}}</string>
				<key>offset</key>
				<string>{1,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,246},{269,310}}</string>
				<key>offset</key>
				<string>{1,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,641},{265,315}}</string>
				<key>offset</key>
				<string>{0,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1},{224,286}}</string>
				<key>offset</key>
				<string>{12,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
			<key>img/shengjiehujiao/jnbaodian/bd_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1873},{205,157}}</string>
				<key>offset</key>
				<string>{8,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shengjiehujiao_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shengjiehujiao_jnbaodian.png</string>
			<key>size</key>
			<string>{1356,2031}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1356</integer>
			<key>height</key>
			<integer>2031</integer>
		</dict>
	</dict>
</plist>