<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhangyunv/pg_gj/b_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,426},{69,198}}</string>
				<key>offset</key>
				<string>{11,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,353},{69,199}}</string>
				<key>offset</key>
				<string>{11,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,206},{98,198}}</string>
				<key>offset</key>
				<string>{26,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,408},{155,198}}</string>
				<key>offset</key>
				<string>{54,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,2},{138,200}}</string>
				<key>offset</key>
				<string>{46,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,283},{380,272}}</string>
				<key>offset</key>
				<string>{106,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{465,347}}</string>
				<key>offset</key>
				<string>{110,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,2},{407,277}}</string>
				<key>offset</key>
				<string>{111,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,559},{236,217}}</string>
				<key>offset</key>
				<string>{95,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,589},{246,225}}</string>
				<key>offset</key>
				<string>{100,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,559},{253,232}}</string>
				<key>offset</key>
				<string>{102,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
			<key>img/zhangyunv/pg_gj/b_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,353},{254,232}}</string>
				<key>offset</key>
				<string>{103,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1200,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_zhangyu_pggj.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_zhangyu_pggj.png</string>
			<key>size</key>
			<string>{1022,816}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>816</integer>
		</dict>
	</dict>
</plist>