<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/liuxinghuoyu/lxhy_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,436},{68,85}}</string>
				<key>offset</key>
				<string>{-115,209}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,436},{66,86}}</string>
				<key>offset</key>
				<string>{-81,148}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,670},{137,224}}</string>
				<key>offset</key>
				<string>{-83,156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{171,250}}</string>
				<key>offset</key>
				<string>{-66,109}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1},{174,258}}</string>
				<key>offset</key>
				<string>{-28,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,347},{224,357}}</string>
				<key>offset</key>
				<string>{-39,90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,347},{209,337}}</string>
				<key>offset</key>
				<string>{-47,100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,686},{193,324}}</string>
				<key>offset</key>
				<string>{-39,82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,339},{162,262}}</string>
				<key>offset</key>
				<string>{-23,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{234,344}}</string>
				<key>offset</key>
				<string>{-34,96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,706},{226,309}}</string>
				<key>offset</key>
				<string>{-38,76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,686},{192,252}}</string>
				<key>offset</key>
				<string>{-25,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1},{152,170}}</string>
				<key>offset</key>
				<string>{-8,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,329},{113,105}}</string>
				<key>offset</key>
				<string>{10,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,896},{127,101}}</string>
				<key>offset</key>
				<string>{4,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,237},{116,90}}</string>
				<key>offset</key>
				<string>{12,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1},{118,88}}</string>
				<key>offset</key>
				<string>{13,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,940},{120,82}}</string>
				<key>offset</key>
				<string>{14,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,940},{120,80}}</string>
				<key>offset</key>
				<string>{14,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,261},{120,80}}</string>
				<key>offset</key>
				<string>{14,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,261},{123,76}}</string>
				<key>offset</key>
				<string>{12,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,603},{117,74}}</string>
				<key>offset</key>
				<string>{7,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,253},{118,74}}</string>
				<key>offset</key>
				<string>{7,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,603},{118,65}}</string>
				<key>offset</key>
				<string>{7,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,173},{118,62}}</string>
				<key>offset</key>
				<string>{7,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,173},{118,62}}</string>
				<key>offset</key>
				<string>{7,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
			<key>img/liuxinghuoyu/lxhy_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,91},{107,46}}</string>
				<key>offset</key>
				<string>{12,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,537}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_liuxingyu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_liuxingyu1.png</string>
			<key>size</key>
			<string>{859,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>859</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>