<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anyingleidianqiu_shouji/baodian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,180},{148,145}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,177},{159,152}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{196,186}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2},{171,174}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,2},{171,174}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{171,174}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,2},{168,171}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{156,132}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,2},{123,128}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,328},{153,128}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,264},{126,126}}</string>
				<key>offset</key>
				<string>{9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,134},{117,126}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,180},{152,120}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,301},{114,120}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,180},{122,117}}</string>
				<key>offset</key>
				<string>{-20,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,180},{77,117}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
			<key>img/anyingleidianqiu_shouji/baodian_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,192},{12,14}}</string>
				<key>offset</key>
				<string>{-75,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anyingleidian0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anyingleidian0.png</string>
			<key>size</key>
			<string>{1024,458}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>458</integer>
		</dict>
	</dict>
</plist>