<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/duye/putonggongji/ptgj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,789},{223,148}}</string>
				<key>offset</key>
				<string>{3,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{232,179}}</string>
				<key>offset</key>
				<string>{3,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{260,183}}</string>
				<key>offset</key>
				<string>{3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,2},{282,164}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,189},{211,167}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,178},{228,173}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,2},{232,172}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,170},{225,172}}</string>
				<key>offset</key>
				<string>{-10,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,185},{218,172}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,793},{197,172}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,514},{199,172}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,815},{209,163}}</string>
				<key>offset</key>
				<string>{3,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,346},{214,164}}</string>
				<key>offset</key>
				<string>{3,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,361},{219,162}}</string>
				<key>offset</key>
				<string>{3,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,360},{224,156}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,355},{223,168}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,588},{223,150}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,539},{171,145}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,690},{170,99}}</string>
				<key>offset</key>
				<string>{6,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,690},{157,95}}</string>
				<key>offset</key>
				<string>{11,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,400},{135,77}}</string>
				<key>offset</key>
				<string>{0,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,170},{90,51}}</string>
				<key>offset</key>
				<string>{3,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,264},{64,16}}</string>
				<key>offset</key>
				<string>{7,-52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,264},{64,16}}</string>
				<key>offset</key>
				<string>{7,-52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,332},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,332},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/duye/putonggongji/ptgj_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,355},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_duyeshouji.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_duyeshouji.png</string>
			<key>size</key>
			<string>{1022,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>