<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengmushi/pg_baodian/c_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{235,188}}</string>
				<key>offset</key>
				<string>{243,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
			<key>img/xienengmushi/pg_baodian/c_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,2},{223,160}}</string>
				<key>offset</key>
				<string>{240,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
			<key>img/xienengmushi/pg_baodian/c_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,2},{252,150}}</string>
				<key>offset</key>
				<string>{241,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
			<key>img/xienengmushi/pg_baodian/c_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,156},{263,129}}</string>
				<key>offset</key>
				<string>{241,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
			<key>img/xienengmushi/pg_baodian/c_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,194},{252,128}}</string>
				<key>offset</key>
				<string>{245,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
			<key>img/xienengmushi/pg_baodian/c_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,156},{49,66}}</string>
				<key>offset</key>
				<string>{212,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengmushi_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengmushi_pgbaodian.png</string>
			<key>size</key>
			<string>{722,448}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>722</integer>
			<key>height</key>
			<integer>448</integer>
		</dict>
	</dict>
</plist>