<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shixianggui/jnbaodian/baodian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,744},{242,205}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,673},{242,207}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,536},{253,208}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,462},{257,211}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{256,218}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,462},{258,229}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,231},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,231},{268,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,268},{268,226}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{268,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
			<key>img/shixianggui/jnbaodian/baodian_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,691},{214,148}}</string>
				<key>offset</key>
				<string>{14,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,231}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_shixianggui_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_shixianggui_jnbaodian.png</string>
			<key>size</key>
			<string>{1020,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>