<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,164},{115,63}}</string>
				<key>offset</key>
				<string>{-135,-158}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,162},{123,66}}</string>
				<key>offset</key>
				<string>{-141,-157}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,155},{127,68}}</string>
				<key>offset</key>
				<string>{-143,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,84},{129,69}}</string>
				<key>offset</key>
				<string>{-143,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2},{136,73}}</string>
				<key>offset</key>
				<string>{-140,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2},{134,73}}</string>
				<key>offset</key>
				<string>{-141,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,2},{139,74}}</string>
				<key>offset</key>
				<string>{-144,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2},{138,76}}</string>
				<key>offset</key>
				<string>{-143,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,81},{136,77}}</string>
				<key>offset</key>
				<string>{-142,-154}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,83},{135,77}}</string>
				<key>offset</key>
				<string>{-140,-153}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,2},{133,78}}</string>
				<key>offset</key>
				<string>{-140,-153}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{145,77}}</string>
				<key>offset</key>
				<string>{-142,-154}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2},{144,75}}</string>
				<key>offset</key>
				<string>{-142,-154}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,82},{143,72}}</string>
				<key>offset</key>
				<string>{-143,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,79},{134,73}}</string>
				<key>offset</key>
				<string>{-141,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,80},{130,71}}</string>
				<key>offset</key>
				<string>{-140,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,157},{130,63}}</string>
				<key>offset</key>
				<string>{-139,-158}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,158},{127,64}}</string>
				<key>offset</key>
				<string>{-140,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,157},{121,53}}</string>
				<key>offset</key>
				<string>{-137,-153}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/skilljson_huoyanmodaoshi1/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,231},{98,44}}</string>
				<key>offset</key>
				<string>{-127,-150}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_huoyanmodaoshi1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_huoyanmodaoshi1.png</string>
			<key>size</key>
			<string>{997,289}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>997</integer>
			<key>height</key>
			<integer>289</integer>
		</dict>
	</dict>
</plist>