<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/diyuquanshi/jn/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,2},{605,483}}</string>
				<key>offset</key>
				<string>{-10,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
			<key>img/diyuquanshi/jn/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{564,522}}</string>
				<key>offset</key>
				<string>{11,-57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
			<key>img/diyuquanshi/jn/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2},{526,522}}</string>
				<key>offset</key>
				<string>{-5,-57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
			<key>img/diyuquanshi/jn/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,532},{462,476}}</string>
				<key>offset</key>
				<string>{19,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
			<key>img/diyuquanshi/jn/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,532},{460,454}}</string>
				<key>offset</key>
				<string>{18,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
			<key>img/diyuquanshi/jn/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,570},{92,134}}</string>
				<key>offset</key>
				<string>{168,-114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,889}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_diyuquanshijineng2.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_diyuquanshijineng2.png</string>
			<key>size</key>
			<string>{1937,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1937</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>