<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ruanniguai/dandao/dan_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1929},{250,57}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,130}</string>
			</dict>
			<key>img/ruanniguai/dandao/dan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1929},{248,58}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,130}</string>
			</dict>
			<key>img/ruanniguai/dandao/dan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1866},{254,59}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,130}</string>
			</dict>
			<key>img/ruanniguai/dandao/dan_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1990},{254,56}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,130}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,549},{540,541}}</string>
				<key>offset</key>
				<string>{0,-209}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{540,543}}</string>
				<key>offset</key>
				<string>{0,-208}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1495},{367,305}}</string>
				<key>offset</key>
				<string>{-6,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1094},{397,296}}</string>
				<key>offset</key>
				<string>{-3,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,940},{277,294}}</string>
				<key>offset</key>
				<string>{-9,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,291},{286,286}}</string>
				<key>offset</key>
				<string>{-4,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,633},{298,303}}</string>
				<key>offset</key>
				<string>{-6,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1094},{319,305}}</string>
				<key>offset</key>
				<string>{-9,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,319},{310,296}}</string>
				<key>offset</key>
				<string>{-11,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,2},{320,285}}</string>
				<key>offset</key>
				<string>{-10,-96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1417},{318,305}}</string>
				<key>offset</key>
				<string>{-13,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,2},{313,294}}</string>
				<key>offset</key>
				<string>{-14,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
			<key>img/ruanniguai/jizhong/ni_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1739},{318,296}}</string>
				<key>offset</key>
				<string>{-13,-85}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,960}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ruanniguai_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ruanniguai_jn.png</string>
			<key>size</key>
			<string>{1166,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1166</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>