<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/niutoujijia/pgdandao/dandao_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,136},{333,131}}</string>
				<key>offset</key>
				<string>{-99,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1},{336,131}}</string>
				<key>offset</key>
				<string>{-100,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,134},{341,131}}</string>
				<key>offset</key>
				<string>{-103,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,339},{335,131}}</string>
				<key>offset</key>
				<string>{-100,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{343,133}}</string>
				<key>offset</key>
				<string>{-104,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1},{342,130}}</string>
				<key>offset</key>
				<string>{-103,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>img/niutoujijia/pgdandao/dandao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,131}}</string>
				<key>offset</key>
				<string>{-107,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_niutoujijia_pgdandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_niutoujijia_pgdandao.png</string>
			<key>size</key>
			<string>{962,675}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>962</integer>
			<key>height</key>
			<integer>675</integer>
		</dict>
	</dict>
</plist>