<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dahuo/guiji_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,483},{110,182}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/dahuo/guiji_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,438},{110,176}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/dahuo/guiji_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,315},{110,195}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,214}</string>
			</dict>
			<key>img/dahuo/jizhong_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,2},{260,170}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,169},{260,162}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{260,171}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,2},{264,163}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,335},{199,134}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,176},{216,135}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,298},{219,136}}</string>
				<key>offset</key>
				<string>{-3,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,2},{213,142}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,148},{206,146}}</string>
				<key>offset</key>
				<string>{-5,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,469},{177,147}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,330},{179,149}}</string>
				<key>offset</key>
				<string>{8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,315},{183,150}}</string>
				<key>offset</key>
				<string>{10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{187,149}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,438},{189,129}}</string>
				<key>offset</key>
				<string>{12,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,473},{190,128}}</string>
				<key>offset</key>
				<string>{14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,571},{190,126}}</string>
				<key>offset</key>
				<string>{14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,605},{190,123}}</string>
				<key>offset</key>
				<string>{14,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,620},{155,117}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,701},{155,117}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,732},{143,115}}</string>
				<key>offset</key>
				<string>{2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
			<key>img/dahuo/jizhong_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,741},{143,114}}</string>
				<key>offset</key>
				<string>{2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,190}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_haohuoqiu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_haohuoqiu1.png</string>
			<key>size</key>
			<string>{1015,857}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>857</integer>
		</dict>
	</dict>
</plist>