<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dk/ptgj/pg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,783},{400,203}}</string>
				<key>offset</key>
				<string>{51,-176}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,301},{325,168}}</string>
				<key>offset</key>
				<string>{69,-174}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,2},{213,112}}</string>
				<key>offset</key>
				<string>{117,-175}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,358},{126,113}}</string>
				<key>offset</key>
				<string>{104,-174}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,587},{146,126}}</string>
				<key>offset</key>
				<string>{104,-178}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,219},{113,135}}</string>
				<key>offset</key>
				<string>{98,-178}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,301},{478,273}}</string>
				<key>offset</key>
				<string>{81,-124}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{453,318}}</string>
				<key>offset</key>
				<string>{93,-145}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,2},{445,295}}</string>
				<key>offset</key>
				<string>{80,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,630},{386,258}}</string>
				<key>offset</key>
				<string>{29,-175}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,324},{399,259}}</string>
				<key>offset</key>
				<string>{28,-172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,783},{318,230}}</string>
				<key>offset</key>
				<string>{42,-148}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,587},{154,142}}</string>
				<key>offset</key>
				<string>{125,-123}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,587},{146,142}}</string>
				<key>offset</key>
				<string>{123,-123}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,488},{120,107}}</string>
				<key>offset</key>
				<string>{136,-138}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/ptgj/pg_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,717},{120,57}}</string>
				<key>offset</key>
				<string>{136,-118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_dk_pifu.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_dk_pifu.png</string>
			<key>size</key>
			<string>{1023,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>