<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/faqiugongji_dandao/fq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,2},{192,109}}</string>
				<key>offset</key>
				<string>{-22,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,158}</string>
			</dict>
			<key>img/faqiugongji_dandao/fq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{198,109}}</string>
				<key>offset</key>
				<string>{-25,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,158}</string>
			</dict>
			<key>img/faqiugongji_dandao/fq03.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,2},{182,109}}</string>
				<key>offset</key>
				<string>{-17,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,158}</string>
			</dict>
			<key>img/faqiugongji_dandao/fq04.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,2},{197,109}}</string>
				<key>offset</key>
				<string>{-25,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_huiqiu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_huiqiu1.png</string>
			<key>size</key>
			<string>{785,113}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>785</integer>
			<key>height</key>
			<integer>113</integer>
		</dict>
	</dict>
</plist>