<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zirannvshen/pgdandao/00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1},{161,85}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,85}</string>
			</dict>
			<key>img/zirannvshen/pgdandao/00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1},{175,85}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,85}</string>
			</dict>
			<key>img/zirannvshen/pgdandao/00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{178,85}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,85}</string>
			</dict>
			<key>img/zirannvshen/pgdandao/00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,85}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_zirannvshen_pgdandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_zirannvshen_pgdandao.png</string>
			<key>size</key>
			<string>{702,87}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>702</integer>
			<key>height</key>
			<integer>87</integer>
		</dict>
	</dict>
</plist>