<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,142},{114,115}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{155,151}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{155,151}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{144,156}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1},{144,158}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1},{139,152}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{134,134}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>img/aoshuyouxia/pgbaodian/baodian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,137},{132,132}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_aoshuyouxia_pgbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_aoshuyouxia_pgbaodian.png</string>
			<key>size</key>
			<string>{922,270}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>922</integer>
			<key>height</key>
			<integer>270</integer>
		</dict>
	</dict>
</plist>