<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xuexinfaqiu_shouji/hit_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,306},{127,118}}</string>
				<key>offset</key>
				<string>{-7,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,2},{169,168}}</string>
				<key>offset</key>
				<string>{-11,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,183},{192,191}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2},{215,181}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{228,177}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{166,157}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,2},{167,161}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,163},{158,143}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,167},{147,139}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,174},{136,128}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,187},{129,122}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,313},{119,122}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,187},{118,122}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,313},{114,123}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,378},{113,113}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,439},{112,113}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,310},{106,104}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,495},{108,104}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,310},{108,101}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
			<key>img/xuexinfaqiu_shouji/hit_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,310},{107,98}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,221}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xuetuan0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xuetuan0.png</string>
			<key>size</key>
			<string>{965,601}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>965</integer>
			<key>height</key>
			<integer>601</integer>
		</dict>
	</dict>
</plist>