<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangmu/skill/bao_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,807},{211,261}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,277},{254,261}}</string>
				<key>offset</key>
				<string>{-6,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,519},{224,261}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,784},{222,261}}</string>
				<key>offset</key>
				<string>{-7,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,791},{231,261}}</string>
				<key>offset</key>
				<string>{-4,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,542},{246,261}}</string>
				<key>offset</key>
				<string>{-1,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,542},{247,261}}</string>
				<key>offset</key>
				<string>{-2,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,277},{247,259}}</string>
				<key>offset</key>
				<string>{-3,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,267},{255,248}}</string>
				<key>offset</key>
				<string>{-6,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,2},{230,235}}</string>
				<key>offset</key>
				<string>{8,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,807},{86,237}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,267},{219,261}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{271,261}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,2},{225,261}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,526},{233,261}}</string>
				<key>offset</key>
				<string>{-5,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,2},{237,261}}</string>
				<key>offset</key>
				<string>{-6,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,2},{244,261}}</string>
				<key>offset</key>
				<string>{-2,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,540},{245,260}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,2},{241,258}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,267},{241,248}}</string>
				<key>offset</key>
				<string>{1,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
			<key>img/guangmu/skill/bao_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,807},{225,180}}</string>
				<key>offset</key>
				<string>{13,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skillani_guangmu_jn.png</string>
			<key>realTextureFileName</key>
			<string>skillani_guangmu_jn.png</string>
			<key>size</key>
			<string>{1462,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1462</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>