<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ailin_pifu/baodian/bao_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,199},{185,188}}</string>
				<key>offset</key>
				<string>{-7,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,160},{153,149}}</string>
				<key>offset</key>
				<string>{-7,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2},{156,154}}</string>
				<key>offset</key>
				<string>{-4,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,2},{169,171}}</string>
				<key>offset</key>
				<string>{-2,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{176,178}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,2},{191,193}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,226},{202,197}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{209,201}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
			<key>img/ailin_pifu/baodian/bao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{220,209}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_ailinpifu_baodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_ailinpifu_baodian.png</string>
			<key>size</key>
			<string>{921,437}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>921</integer>
			<key>height</key>
			<integer>437</integer>
		</dict>
	</dict>
</plist>