<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,97},{47,89}}</string>
				<key>offset</key>
				<string>{50,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,2},{52,91}}</string>
				<key>offset</key>
				<string>{51,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,626},{118,118}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,748},{120,120}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,2},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,128},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,254},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,380},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,418},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,506},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,544},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,506},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,622},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,632},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,632},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,670},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,758},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,758},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,884},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00070.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,748},{122,122}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00072.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,626},{120,120}}</string>
				<key>offset</key>
				<string>{49,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,418},{200,200}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,2},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00080.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,210},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00082.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,210},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00083.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,210},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00085.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,2},{206,204}}</string>
				<key>offset</key>
				<string>{57,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00086.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{207,204}}</string>
				<key>offset</key>
				<string>{57,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00088.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,2},{205,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00089.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,210},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00091.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,418},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
			<key>img/jianshengyaogun/jnbaodian/skill_bz_00092.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,418},{204,204}}</string>
				<key>offset</key>
				<string>{56,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill_jianshengyaogun_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skill_jianshengyaogun_jnbaodian.png</string>
			<key>size</key>
			<string>{1020,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>