<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/guangci/ptgj/pg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{352,189}}</string>
				<key>offset</key>
				<string>{-13,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,5},{352,189}}</string>
				<key>offset</key>
				<string>{-13,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,204},{273,189}}</string>
				<key>offset</key>
				<string>{27,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,5},{320,172}}</string>
				<key>offset</key>
				<string>{51,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,382},{267,172}}</string>
				<key>offset</key>
				<string>{77,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,513},{267,172}}</string>
				<key>offset</key>
				<string>{77,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,204},{278,168}}</string>
				<key>offset</key>
				<string>{78,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,335},{278,168}}</string>
				<key>offset</key>
				<string>{78,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,695},{278,155}}</string>
				<key>offset</key>
				<string>{78,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,488},{227,150}}</string>
				<key>offset</key>
				<string>{68,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,860},{227,150}}</string>
				<key>offset</key>
				<string>{68,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,403},{227,150}}</string>
				<key>offset</key>
				<string>{68,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,204},{132,142}}</string>
				<key>offset</key>
				<string>{52,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,346},{132,142}}</string>
				<key>offset</key>
				<string>{52,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>img/guangci/ptgj/pg_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,563},{132,142}}</string>
				<key>offset</key>
				<string>{52,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_guangci_ptgj.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_guangci_ptgj.png</string>
			<key>size</key>
			<string>{1011,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1011</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>