<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/wanglingfashi/qiu/qiu_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,387},{169,176}}</string>
				<key>offset</key>
				<string>{-2,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/qiu/qiu_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,558},{158,176}}</string>
				<key>offset</key>
				<string>{0,73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/qiu/qiu_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,569},{147,178}}</string>
				<key>offset</key>
				<string>{1,71}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/qiu/qiu_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,387},{137,175}}</string>
				<key>offset</key>
				<string>{3,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/qiu/qiu_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,569},{136,171}}</string>
				<key>offset</key>
				<string>{3,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/qiu/qiu_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,718},{131,174}}</string>
				<key>offset</key>
				<string>{-1,66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,381},{318,159}}</string>
				<key>offset</key>
				<string>{-4,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00081.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,194},{318,191}}</string>
				<key>offset</key>
				<string>{-4,-72}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00083.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,386},{322,181}}</string>
				<key>offset</key>
				<string>{-2,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00085.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{325,191}}</string>
				<key>offset</key>
				<string>{-1,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00087.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,191},{327,188}}</string>
				<key>offset</key>
				<string>{0,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00089.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1},{330,188}}</string>
				<key>offset</key>
				<string>{2,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00091.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1},{333,191}}</string>
				<key>offset</key>
				<string>{3,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
			<key>img/wanglingfashi/baozha/baozha_00093.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{335,190}}</string>
				<key>offset</key>
				<string>{4,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_wanglingfashi_jn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_wanglingfashi_jn.png</string>
			<key>size</key>
			<string>{1004,850}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1004</integer>
			<key>height</key>
			<integer>850</integer>
		</dict>
	</dict>
</plist>