<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zirancike/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{57,256}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_zirancike_pgdd.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_zirancike_pgdd.png</string>
			<key>size</key>
			<string>{61,260}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>260</integer>
		</dict>
	</dict>
</plist>