<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengmushi/dandao_jn/b_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,171},{333,167}}</string>
				<key>offset</key>
				<string>{-79,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,166},{369,162}}</string>
				<key>offset</key>
				<string>{-55,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{419,160}}</string>
				<key>offset</key>
				<string>{-46,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,2},{413,146}}</string>
				<key>offset</key>
				<string>{-16,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,2},{395,165}}</string>
				<key>offset</key>
				<string>{-27,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,171},{384,85}}</string>
				<key>offset</key>
				<string>{-11,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
			<key>img/xienengmushi/dandao_jn/b_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,419},{375,56}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{960,682}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengmushi_jndandao.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengmushi_jndandao.png</string>
			<key>size</key>
			<string>{972,796}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>972</integer>
			<key>height</key>
			<integer>796</integer>
		</dict>
	</dict>
</plist>