<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/pikanpugong_shouji/dimian_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,667},{223,148}}</string>
				<key>offset</key>
				<string>{3,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{232,179}}</string>
				<key>offset</key>
				<string>{3,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{260,183}}</string>
				<key>offset</key>
				<string>{3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{282,164}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{211,167}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,186},{228,173}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,167},{232,172}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{225,172}}</string>
				<key>offset</key>
				<string>{-10,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,175},{218,172}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,510},{197,172}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,505},{199,172}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{209,163}}</string>
				<key>offset</key>
				<string>{3,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,349},{214,164}}</string>
				<key>offset</key>
				<string>{3,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,341},{219,162}}</string>
				<key>offset</key>
				<string>{3,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,352},{224,156}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,182},{223,168}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,515},{223,150}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,679},{171,145}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,695},{170,99}}</string>
				<key>offset</key>
				<string>{6,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,796},{157,95}}</string>
				<key>offset</key>
				<string>{11,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{135,77}}</string>
				<key>offset</key>
				<string>{0,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,510},{90,51}}</string>
				<key>offset</key>
				<string>{3,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,349},{64,16}}</string>
				<key>offset</key>
				<string>{7,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,367},{64,16}}</string>
				<key>offset</key>
				<string>{7,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,385},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,402},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
			<key>img/pikanpugong_shouji/dimian_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,419},{64,15}}</string>
				<key>offset</key>
				<string>{7,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,241}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_pikanattack0.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_pikanattack0.png</string>
			<key>size</key>
			<string>{1007,971}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1007</integer>
			<key>height</key>
			<integer>971</integer>
		</dict>
	</dict>
</plist>