<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/bingjianyu/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,902},{55,96}}</string>
				<key>offset</key>
				<string>{-12,240}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,657},{62,135}}</string>
				<key>offset</key>
				<string>{-6,214}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,449},{99,206}}</string>
				<key>offset</key>
				<string>{-12,184}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,180},{109,267}}</string>
				<key>offset</key>
				<string>{-6,155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,514},{109,288}}</string>
				<key>offset</key>
				<string>{-1,137}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,600},{136,300}}</string>
				<key>offset</key>
				<string>{21,121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,343},{155,340}}</string>
				<key>offset</key>
				<string>{31,118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,286},{135,312}}</string>
				<key>offset</key>
				<string>{26,123}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,343},{166,345}}</string>
				<key>offset</key>
				<string>{15,116}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,204},{129,308}}</string>
				<key>offset</key>
				<string>{21,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,685},{185,248}}</string>
				<key>offset</key>
				<string>{42,70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{182,333}}</string>
				<key>offset</key>
				<string>{33,122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,700},{169,317}}</string>
				<key>offset</key>
				<string>{27,130}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{172,340}}</string>
				<key>offset</key>
				<string>{25,118}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{182,362}}</string>
				<key>offset</key>
				<string>{32,99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{157,283}}</string>
				<key>offset</key>
				<string>{34,94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,700},{209,244}}</string>
				<key>offset</key>
				<string>{20,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1},{157,201}}</string>
				<key>offset</key>
				<string>{35,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,804},{160,182}}</string>
				<key>offset</key>
				<string>{34,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1},{167,177}}</string>
				<key>offset</key>
				<string>{30,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
			<key>img/bingjianyu/1_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1},{170,159}}</string>
				<key>offset</key>
				<string>{27,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,576}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_bingjianyu1.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_bingjianyu1.png</string>
			<key>size</key>
			<string>{1017,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>