<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{196,190}}</string>
				<key>offset</key>
				<string>{132,-160}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{202,197}}</string>
				<key>offset</key>
				<string>{132,-156}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{191,212}}</string>
				<key>offset</key>
				<string>{130,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1},{189,205}}</string>
				<key>offset</key>
				<string>{129,-152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,419},{189,202}}</string>
				<key>offset</key>
				<string>{132,-154}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,419},{186,200}}</string>
				<key>offset</key>
				<string>{132,-155}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
			<key>img/xianzhi-pifu/jn-baodian/bao_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,208},{188,197}}</string>
				<key>offset</key>
				<string>{129,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,510}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xianzhipf_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xianzhipf_jnbaodian.png</string>
			<key>size</key>
			<string>{389,820}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>389</integer>
			<key>height</key>
			<integer>820</integer>
		</dict>
	</dict>
</plist>