<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/anfa/baodian1/3_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,2},{260,243}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{385,368}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,2},{360,346}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,374},{321,308}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,352},{320,313}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,669},{315,309}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,686},{312,308}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,431},{300,301}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>img/anfa/baodian1/3_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,249},{242,178}}</string>
				<key>offset</key>
				<string>{14,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_anfa_ptgj_sj.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_anfa_ptgj_sj.png</string>
			<key>size</key>
			<string>{1018,996}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>996</integer>
		</dict>
	</dict>
</plist>