<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xienengzhanshi/jn/jn_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,306},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/xienengzhanshi/jn/jn_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,610},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_xienengzhanshijn.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_xienengzhanshijn.png</string>
			<key>size</key>
			<string>{1824,912}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1824</integer>
			<key>height</key>
			<integer>912</integer>
		</dict>
	</dict>
</plist>