<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/dk/jn/jn_00093.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,337},{171,129}}</string>
				<key>offset</key>
				<string>{110,-187}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00094.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,0},{349,337}}</string>
				<key>offset</key>
				<string>{133,-96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00095.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1620},{373,350}}</string>
				<key>offset</key>
				<string>{125,-96}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00096.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1620},{382,360}}</string>
				<key>offset</key>
				<string>{129,-91}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00097.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{385,363}}</string>
				<key>offset</key>
				<string>{127,-90}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00098.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,337},{327,262}}</string>
				<key>offset</key>
				<string>{112,-142}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00099.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,0},{327,262}}</string>
				<key>offset</key>
				<string>{112,-142}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00100.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,536},{333,267}}</string>
				<key>offset</key>
				<string>{111,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00101.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,0},{335,268}}</string>
				<key>offset</key>
				<string>{109,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00102.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,268},{335,268}}</string>
				<key>offset</key>
				<string>{109,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00103.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,803},{331,267}}</string>
				<key>offset</key>
				<string>{104,-139}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00104.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,803},{326,266}}</string>
				<key>offset</key>
				<string>{103,-139}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,763},{326,266}}</string>
				<key>offset</key>
				<string>{103,-139}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1089},{322,259}}</string>
				<key>offset</key>
				<string>{108,-137}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1411},{300,250}}</string>
				<key>offset</key>
				<string>{106,-135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1089},{300,250}}</string>
				<key>offset</key>
				<string>{106,-135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00109.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,0},{296,197}}</string>
				<key>offset</key>
				<string>{115,-114}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00110.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,296},{282,107}}</string>
				<key>offset</key>
				<string>{107,-156}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00111.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,559},{282,107}}</string>
				<key>offset</key>
				<string>{107,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00112.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,666},{283,97}}</string>
				<key>offset</key>
				<string>{107,-151}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/jn/jn_00113.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,296},{263,89}}</string>
				<key>offset</key>
				<string>{102,-149}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/j_00090.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1138},{482,1019}}</string>
				<key>offset</key>
				<string>{79,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
			<key>img/dk/mh_00092.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{482,1138}}</string>
				<key>offset</key>
				<string>{79,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_dk_pifu2.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_dk_pifu2.png</string>
			<key>size</key>
			<string>{1630,2005}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1630</integer>
			<key>height</key>
			<integer>2005</integer>
		</dict>
	</dict>
</plist>