<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zirannvshen/jnbaodian/baodian_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,417},{64,64}}</string>
				<key>offset</key>
				<string>{-25,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,505},{130,105}}</string>
				<key>offset</key>
				<string>{-18,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,505},{166,105}}</string>
				<key>offset</key>
				<string>{-35,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,437},{208,104}}</string>
				<key>offset</key>
				<string>{-36,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,726},{254,128}}</string>
				<key>offset</key>
				<string>{-13,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,741},{254,140}}</string>
				<key>offset</key>
				<string>{-13,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,270},{253,145}}</string>
				<key>offset</key>
				<string>{-13,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,249},{254,150}}</string>
				<key>offset</key>
				<string>{-9,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1},{246,158}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,741},{227,160}}</string>
				<key>offset</key>
				<string>{12,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,505},{219,152}}</string>
				<key>offset</key>
				<string>{17,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{234,212}}</string>
				<key>offset</key>
				<string>{12,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{270,267}}</string>
				<key>offset</key>
				<string>{4,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1},{270,267}}</string>
				<key>offset</key>
				<string>{4,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1},{270,267}}</string>
				<key>offset</key>
				<string>{4,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,270},{190,172}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,462},{190,166}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,270},{165,152}}</string>
				<key>offset</key>
				<string>{-6,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img/zirannvshen/jnbaodian/baodian_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,270},{134,137}}</string>
				<key>offset</key>
				<string>{5,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skilljson_zirannvshen_jnbaodian.png</string>
			<key>realTextureFileName</key>
			<string>skilljson_zirannvshen_jnbaodian.png</string>
			<key>size</key>
			<string>{1021,996}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>996</integer>
		</dict>
	</dict>
</plist>