<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/meidusha/baodian/bao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,374},{176,182}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,560},{172,182}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{179,184}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,746},{172,182}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,190},{180,179}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,560},{175,174}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,374},{182,156}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,2},{184,146}}</string>
				<key>offset</key>
				<string>{7,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,739},{185,148}}</string>
				<key>offset</key>
				<string>{7,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,739},{186,149}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,190},{161,149}}</string>
				<key>offset</key>
				<string>{13,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
			<key>img/meidusha/baodian/bao_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,2},{131,149}}</string>
				<key>offset</key>
				<string>{-3,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,306}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skillani_meidusha_baodian.png</string>
			<key>realTextureFileName</key>
			<string>skillani_meidusha_baodian.png</string>
			<key>size</key>
			<string>{481,930}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>481</integer>
			<key>height</key>
			<integer>930</integer>
		</dict>
	</dict>
</plist>