<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/fumo/btn_bangzhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,740},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>img/fumo/btn_fumodashi.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,814},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>img/fumo/fumo_mfz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{526,501}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{526,501}</string>
			</dict>
			<key>img/fumo/fumo_tm.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,602},{279,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,36}</string>
			</dict>
			<key>img/fumo/fumo_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{106,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,14}</string>
			</dict>
			<key>img/fumo/fumo_tiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,109},{31,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,15}</string>
			</dict>
			<key>img/fumo/fumo_fy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1},{604,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{604,156}</string>
			</dict>
			<key>img/fumo/fumo_fy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{599,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{599,155}</string>
			</dict>
			<key>img/fumo/fumo_fywz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{499,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,39}</string>
			</dict>
			<key>img/fumo/fumo_wp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,924},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/fumo/fumo_wp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,924},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/fumo/fumo_wp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,924},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/fumo/fumo_wp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,924},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/fumo/fumo_ct1.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,842},{108,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,122}</string>
			</dict>
			<key>img/fumo/fumo_ct2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,883},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>img/fumo/fumo_ct3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,719},{121,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,126}</string>
			</dict>
			<key>img/fumo/fumo_ct4.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,602},{137,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,115}</string>
			</dict>
			<key>img/fumo/fumo_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,924},{97,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,112}</string>
			</dict>
			<key>img/fumo/fumo_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,740},{113,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,111}</string>
			</dict>
			<key>img/fumo/fumo_xz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,602},{136,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,137}</string>
			</dict>
			<key>img/fumo/fumo_xz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,883},{133,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,107}</string>
			</dict>
			<key>img/fumo/fumo_fy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1},{599,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{599,152}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fumo.png</string>
			<key>realTextureFileName</key>
			<string>fumo.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>