<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/fuwuqi/bg_fuwuqi_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{586,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{586,662}</string>
			</dict>
			<key>img/fuwuqi/bg_fuwuqi_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,665},{222,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,64}</string>
			</dict>
			<key>img/fuwuqi/img_fuwuqi_zt.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,43},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img/fuwuqi/img_fuwuqi_zt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,71},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img/fuwuqi/img_fuwuqi_zt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,99},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img/fuwuqi/img_fuwuqi_zt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,127},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img/fuwuqi/btn_fuwuqi_xzfwq_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,665},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/fuwuqi/btn_fuwuqi_xzfwq_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,717},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>img/fuwuqi/img_fuwuqi_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,63},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>img/fuwuqi/bg_fwq.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,665},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>
			<key>img/fuwuqi/bg_fwq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img/fuwuqi/bg_fwq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,1},{382,717}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,717}</string>
			</dict>
			<key>img/fuwuqi/btn_fwq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{178,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,54}</string>
			</dict>
			<key>img/fuwuqi/btn_fwq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,720},{178,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,54}</string>
			</dict>
			<key>img/fuwuqi/img_fwq6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,43},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>img/public/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,665},{74,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fuwuqi.png</string>
			<key>realTextureFileName</key>
			<string>fuwuqi.png</string>
			<key>size</key>
			<string>{1022,786}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>786</integer>
		</dict>
	</dict>
</plist>