<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/main/img_city_fashita.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,756},{155,204}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,344}</string>
			</dict>
			<key>img/main/img_city_jingjichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,170},{140,175}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,176}</string>
			</dict>
			<key>img/main/img_city_jisifazhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{372,518}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,542}</string>
			</dict>
			<key>img/main/img_city_ronghejitan.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,501},{113,182}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,184}</string>
			</dict>
			<key>img/main/img_city_shijieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,756},{170,179}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,179}</string>
			</dict>
			<key>img/main/img_city_shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,777},{277,196}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,202}</string>
			</dict>
			<key>img/main/img_city_shizijun.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,170},{149,137}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,152}</string>
			</dict>
			<key>img/main/img_city_tiejiangpu.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,524},{223,228}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,228}</string>
			</dict>
			<key>img/main/img_city_xuanshangrenwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,349},{148,140}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,150}</string>
			</dict>
			<key>img/main/img_city_xuyuanchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,939},{145,82}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,168}</string>
			</dict>
			<key>img/main/img_city_yingxiongjitan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,524},{249,226}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,227}</string>
			</dict>
			<key>img/main/img_city_zahuodian.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2},{161,164}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,165}</string>
			</dict>
			<key>img/main/img_city_damijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,2},{131,152}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,166}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main1.png</string>
			<key>realTextureFileName</key>
			<string>main1.png</string>
			<key>size</key>
			<string>{676,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>676</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>