<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/sale/bg_sale_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,524},{71,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,14}</string>
			</dict>
			<key>img/sale/img_sale_dot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,524},{14,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>img/sale/bg_sale_xb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,257},{97,75}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/bg_sale_xb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,336},{97,75}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/bg_sale_xb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,211},{97,75}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>img/sale/wz_sale_mxzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_sjslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,116},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_txzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,230},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/wz_sale_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,344},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>img/sale/img_sale_mxzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,312},{89,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/img_sale_txzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,405},{85,78}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/img_sale_yxlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,405},{86,76}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/img_sale_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,458},{62,59}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,60}</string>
			</dict>
			<key>img/sale/img_sale_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,307},{81,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>img/sale/img_sale_floor.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,569},{143,197}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,200}</string>
			</dict>
			<key>img/sale/bg_sale_banner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,2},{560,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/bg_sale_banner6.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{563,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/bg_sale_banner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{568,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,155}</string>
			</dict>
			<key>img/sale/img_sale_sjslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,458},{93,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>img/sale/btn_sale_tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,566},{260,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,119}</string>
			</dict>
			<key>img/sale/img_sale_ygm.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,258},{143,45}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,45}</string>
			</dict>
			<key>img/sale/img_sale_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,494},{74,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>img/sale/img_sale_zlv.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,494},{75,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>img/sale/img_ysk.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,172},{90,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,81}</string>
			</dict>
			<key>img/sale/bg_sale_jg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,2},{166,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,82}</string>
			</dict>
			<key>img/sale/bg_sale_tqqz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,161},{46,542}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,543}</string>
			</dict>
			<key>img/sale/img_sale_dot3.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,555},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>img/sale/img_sale_flag4.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,211},{159,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sale2.png</string>
			<key>realTextureFileName</key>
			<string>sale2.png</string>
			<key>size</key>
			<string>{1024,768}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
		</dict>
	</dict>
</plist>