<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/xinshouyindao/img_xinshou_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,106},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,531},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{228,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,102}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,531},{74,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,82}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_guangyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,427},{152,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,153}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,55},{51,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,49}</string>
			</dict>
			<key>img/xinshouyindao/img_xinshou_rw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{288,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,424}</string>
			</dict>
			<key>img/xinshouyindao/btn_xstg.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{133,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xinshouyindao.png</string>
			<key>realTextureFileName</key>
			<string>xinshouyindao.png</string>
			<key>size</key>
			<string>{425,676}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>425</integer>
			<key>height</key>
			<integer>676</integer>
		</dict>
	</dict>
</plist>