<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/mainmenu/wz_main_fst.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,174},{75,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,82},{56,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_jsfz.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,149},{76,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_rhjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,195},{75,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_sjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,149},{76,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_szj.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,105},{56,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_tjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,128},{56,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,195},{75,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_xyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,149},{76,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_zhs.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,149},{56,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_yxjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,151},{76,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/btn_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,2},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_hy.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,76},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_jchd.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,75},{75,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_kfkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,113},{81,70}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_lt.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,149},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_mrrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,59},{76,76}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>img/mainmenu/btn_schl.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2},{76,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,138},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_xshd.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,2},{75,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,149},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/btn_xslb.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,2},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,261},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,59},{74,75}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>img/mainmenu/btn_zhphb.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,150},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>img/mainmenu/bg_gonghui_bqhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,2},{146,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/mainmenu/bg_xsbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{108,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>img/mainmenu/btn_czjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,2},{77,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>img/mainmenu/wz_wyzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,172},{76,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/bg_gonghui_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,2},{146,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>img/mainmenu/btn_crdls.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,59},{77,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,70}</string>
			</dict>
			<key>img/mainmenu/btn_srlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,2},{83,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,70}</string>
			</dict>
			<key>img/mainmenu/wz_main_dmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,59},{57,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_swzmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,195},{76,15}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/btn_mrsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,214},{67,67}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_xianshizhaomu.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,76},{75,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_vipguizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,139},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/wz_main_wzds.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,172},{76,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/wz_main_mrsl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,172},{76,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>img/mainmenu/btn_jrqd.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,76},{73,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_wzgl.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,76},{72,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_mjkg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,206},{73,66}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_cqzm.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,76},{74,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_qixi.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,213},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_xrqd.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,133},{76,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yuandan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,187},{74,70}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_yuanxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,2},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>img/mainmenu/btn_zhishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,76},{74,69}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mainmenu.png</string>
			<key>realTextureFileName</key>
			<string>mainmenu.png</string>
			<key>size</key>
			<string>{1023,332}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>332</integer>
		</dict>
	</dict>
</plist>