<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/td/jn/ji_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{373,306}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,567},{285,211}}</string>
				<key>offset</key>
				<string>{-37,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,495},{290,225}}</string>
				<key>offset</key>
				<string>{-34,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,255},{300,238}}</string>
				<key>offset</key>
				<string>{-29,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{306,248}}</string>
				<key>offset</key>
				<string>{-26,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,251},{306,246}}</string>
				<key>offset</key>
				<string>{-26,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1},{303,252}}</string>
				<key>offset</key>
				<string>{-28,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{276,256}}</string>
				<key>offset</key>
				<string>{-39,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,499},{275,213}}</string>
				<key>offset</key>
				<string>{-38,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,714},{194,198}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{1,1}}</string>
				<key>offset</key>
				<string>{193,-170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
			<key>img/td/jn/ji_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1},{1,1}}</string>
				<key>offset</key>
				<string>{193,-170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,341}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>teshuwanfa_td_bd_dh.png</string>
			<key>realTextureFileName</key>
			<string>teshuwanfa_td_bd_dh.png</string>
			<key>size</key>
			<string>{994,913}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>994</integer>
			<key>height</key>
			<integer>913</integer>
		</dict>
	</dict>
</plist>