<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/niao/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,470},{31,47}}</string>
				<key>offset</key>
				<string>{-11,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,265},{40,56}}</string>
				<key>offset</key>
				<string>{-11,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,105},{52,70}}</string>
				<key>offset</key>
				<string>{-8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,214},{47,54}}</string>
				<key>offset</key>
				<string>{-3,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,424},{35,42}}</string>
				<key>offset</key>
				<string>{-9,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,370},{40,50}}</string>
				<key>offset</key>
				<string>{-5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,161},{49,57}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,200},{54,73}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img/niao/yun_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,370},{170,90}}</string>
				<key>offset</key>
				<string>{-223,109}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,105},{175,91}}</string>
				<key>offset</key>
				<string>{-222,109}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,98},{179,91}}</string>
				<key>offset</key>
				<string>{-221,108}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{182,94}}</string>
				<key>offset</key>
				<string>{-218,107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{182,96}}</string>
				<key>offset</key>
				<string>{-216,107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,101},{173,99}}</string>
				<key>offset</key>
				<string>{-219,107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,2},{172,100}}</string>
				<key>offset</key>
				<string>{-216,106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,2},{171,99}}</string>
				<key>offset</key>
				<string>{-213,107}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,285},{178,87}}</string>
				<key>offset</key>
				<string>{-215,115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,193},{179,88}}</string>
				<key>offset</key>
				<string>{-214,116}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,187},{179,89}}</string>
				<key>offset</key>
				<string>{-213,116}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,2},{181,90}}</string>
				<key>offset</key>
				<string>{-212,115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{182,92}}</string>
				<key>offset</key>
				<string>{-212,114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{183,93}}</string>
				<key>offset</key>
				<string>{-214,114}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yun_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,2},{183,95}}</string>
				<key>offset</key>
				<string>{-216,113}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,320}</string>
			</dict>
			<key>img/niao/yy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,200},{22,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,8}</string>
			</dict>
			<key>img/niao/yy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,2},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhucheng_changjing.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhucheng_changjing.png</string>
			<key>size</key>
			<string>{1024,542}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>542</integer>
		</dict>
	</dict>
</plist>