<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/gonghui/img_gonghui_jxzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,487},{88,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,51}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{206,457}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,460},{206,456}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_jx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{206,456}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,459}</string>
			</dict>
			<key>img/gonghui/bg_gonghui_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,365},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,918},{148,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,84}</string>
			</dict>
			<key>img/public/jdt/bg_gonghuijuanxian_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,209},{276,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,21}</string>
			</dict>
			<key>img/public/jdt/img_gonghuijuanxian_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1004},{275,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,17}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,632},{116,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,507},{156,150}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/img_gonghui_jxbx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,480},{170,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,152}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,918},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,365},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,632},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,365},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,671},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,489},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,697},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,580},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,659},{88,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_kj5_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,632},{103,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,89}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,483},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,365},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,750},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,590},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_kj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,483},{104,105}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img/gonghui/img_gonghui_kjzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,600},{46,35}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,167},{155,199}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/img_gonghui_fbzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,431},{56,58}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,69}</string>
			</dict>
			<key>img/gonghui/img_gonghui_zdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,560},{45,38}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,42}</string>
			</dict>
			<key>img/public/jdt/bg_gonghui_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,209},{139,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,16}</string>
			</dict>
			<key>img/public/jdt/img_gonghui_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,209},{135,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,12}</string>
			</dict>
			<key>img/public/jdt/bg_gonghui_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,209},{276,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,21}</string>
			</dict>
			<key>img/public/jdt/img_gonghui_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,209},{272,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,17}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{164,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,176},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,209},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,209},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,324},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/btn_gonghui_fb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,351},{154,173}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,200}</string>
			</dict>
			<key>img/gonghui/ico_gonghui_jy.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,507},{46,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,51}</string>
			</dict>
			<key>img/gonghui/img_ditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,324},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gonghui1.png</string>
			<key>realTextureFileName</key>
			<string>gonghui1.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>