<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0000_ronghejitanxuanfu.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,2},{65,125}}</string>
				<key>offset</key>
				<string>{-4,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0000_ronghejitanxuanfu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,2},{65,125}}</string>
				<key>offset</key>
				<string>{-4,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,2},{146,187}}</string>
				<key>offset</key>
				<string>{1,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,2},{154,188}}</string>
				<key>offset</key>
				<string>{0,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0002_ronghejitanliushui.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,450},{52,40}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0003_ronghejitanshuichi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,422},{38,21}}</string>
				<key>offset</key>
				<string>{-23,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0004_ronghejitanshuichi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,420},{28,21}}</string>
				<key>offset</key>
				<string>{34,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/songhejitan_0005_ronghejitan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{184,165}}</string>
				<key>offset</key>
				<string>{0,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,238}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,301},{33,101}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,279},{35,101}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,384},{33,102}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,279},{37,102}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,2},{39,136}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/sandian0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{39,136}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,138}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/mohuguangquanls.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,142},{66,70}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,114}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0001_xuyuanchi_quan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,216},{77,59}}</string>
				<key>offset</key>
				<string>{0,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0002_xuyuanchi_xiaodunpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,142},{18,23}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0003_xuyuanchi_dadunpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,384},{22,31}}</string>
				<key>offset</key>
				<string>{1,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0004_xuyuanchi_shuijinggg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,419},{22,23}}</string>
				<key>offset</key>
				<string>{1,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0005_xuyuanchi_shuijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,446},{22,23}}</string>
				<key>offset</key>
				<string>{1,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0006_xuyuanchi_shangzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,393},{73,39}}</string>
				<key>offset</key>
				<string>{2,66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0007_xuyuanchi_dizuoshangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,447},{36,11}}</string>
				<key>offset</key>
				<string>{2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0008_xuyuanchi_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,498},{48,26}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi_0009_xuyuanchi_beimianshangliuguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,393},{28,23}}</string>
				<key>offset</key>
				<string>{1,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/hengsaoguang24.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,240},{25,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,121}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/guangqiu2Lans.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,385},{30,33}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,335},{112,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,378},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,413},{113,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,341},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,362},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,383},{115,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,392},{115,17}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,398},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,418},{112,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,357},{112,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,425},{113,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/bw_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,404},{114,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,28}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/img_city_xuyuanchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,171},{175,160}}</string>
				<key>offset</key>
				<string>{2,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,209}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,345},{39,45}}</string>
				<key>offset</key>
				<string>{15,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,394},{48,52}}</string>
				<key>offset</key>
				<string>{10,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,406},{55,49}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,445},{47,45}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,436},{50,48}}</string>
				<key>offset</key>
				<string>{-9,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,490},{55,36}}</string>
				<key>offset</key>
				<string>{-10,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/dian0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,473},{22,21}}</string>
				<key>offset</key>
				<string>{-25,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,301},{114,47}}</string>
				<key>offset</key>
				<string>{-96,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,233},{127,47}}</string>
				<key>offset</key>
				<string>{-91,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,131},{131,47}}</string>
				<key>offset</key>
				<string>{-90,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,182},{130,47}}</string>
				<key>offset</key>
				<string>{-90,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,241},{129,46}}</string>
				<key>offset</key>
				<string>{-91,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,240},{127,47}}</string>
				<key>offset</key>
				<string>{-91,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,291},{126,46}}</string>
				<key>offset</key>
				<string>{-90,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,284},{122,47}}</string>
				<key>offset</key>
				<string>{-90,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,291},{119,47}}</string>
				<key>offset</key>
				<string>{-90,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,335},{117,45}}</string>
				<key>offset</key>
				<string>{-91,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,352},{116,45}}</string>
				<key>offset</key>
				<string>{-91,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,401},{114,44}}</string>
				<key>offset</key>
				<string>{-92,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,345},{114,44}}</string>
				<key>offset</key>
				<string>{-93,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,384},{114,45}}</string>
				<key>offset</key>
				<string>{-94,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/qiliu/qiliu_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,342},{114,46}}</string>
				<key>offset</key>
				<string>{-95,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,2},{146,47}}</string>
				<key>offset</key>
				<string>{-86,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,2},{145,47}}</string>
				<key>offset</key>
				<string>{-88,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,53},{144,47}}</string>
				<key>offset</key>
				<string>{-87,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,103},{144,46}}</string>
				<key>offset</key>
				<string>{-88,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,53},{145,46}}</string>
				<key>offset</key>
				<string>{-88,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,153},{145,45}}</string>
				<key>offset</key>
				<string>{-88,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,193},{144,44}}</string>
				<key>offset</key>
				<string>{-86,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,251},{143,43}}</string>
				<key>offset</key>
				<string>{-86,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,194},{142,42}}</string>
				<key>offset</key>
				<string>{-83,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,298},{139,43}}</string>
				<key>offset</key>
				<string>{-83,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,253},{138,44}}</string>
				<key>offset</key>
				<string>{-82,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,202},{140,45}}</string>
				<key>offset</key>
				<string>{-82,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,204},{139,45}}</string>
				<key>offset</key>
				<string>{-83,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,154},{142,46}}</string>
				<key>offset</key>
				<string>{-84,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>img/ani_zhuchengjianzu/xinqiliu/qiliu_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,104},{143,46}}</string>
				<key>offset</key>
				<string>{-86,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhuchengjianzu3.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhuchengjianzu3.png</string>
			<key>size</key>
			<string>{1024,528}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>528</integer>
		</dict>
	</dict>
</plist>