<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shufaguang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,308},{129,93}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,114}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,188},{145,94}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,281},{146,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,93},{146,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,93},{146,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,93},{147,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,189},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,282},{147,92}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,188},{147,94}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,282},{147,92}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{151,93}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{151,92}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{151,93}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,0},{151,93}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{151,95}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{151,96}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,95},{148,94}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,121},{148,94}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,215},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/xuliezhen/shandian_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,188},{147,93}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,119}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/fuwen_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{207,112}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,127}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,112},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,43}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,112},{14,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,10}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/shui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,196},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>img/ani_zhucheng_shutan/tanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{175,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ani_zhucheng_shutan.png</string>
			<key>realTextureFileName</key>
			<string>ani_zhucheng_shutan.png</string>
			<key>size</key>
			<string>{986,401}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>986</integer>
			<key>height</key>
			<integer>401</integer>
		</dict>
	</dict>
</plist>