group=英雄ID
key=英雄星级
line={"atkpro":攻击系数,"defpro":防御系数,"hppro":生命系数,"speedpro":速度系数,"staratkpro":攻击百分比,"starhppro":生命百分比,"diaowenchacao":雕文插槽,"maxlv":最大等级,"need":升星材料,"extneed":额外材料,"bd1skill":[被动1],"bd1skillname":"被动1名称","bd1skillintr":"被动1描述","bd2skill":[被动2],"bd2skillname":"被动2名称","bd2skillintr":"被动2描述","bd3skill":[被动3],"bd3skillname":"被动3名称","bd3skillintr":"被动3描述","xpskill":"怒气","xpskillname":"怒气名称","xpskillintr":"怒气描述"}